<section id="cultural-heritage">
    <h2>우리 지역의 문화유산</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사06-01] 지역의 문화유산을 통해
                                        문화유산의
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="유형"
                                            aria-label="유형"
                                            placeholder="정답"
                                        />을 알아보고, 문화유산의
                                        <input
                                            data-answer="가치"
                                            aria-label="가치"
                                            placeholder="정답"
                                        />를 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사06-01]은 문화유산에 관한 기본 지식
                                        및 가치를 지역의 문화유산을 통해
                                        이해하도록 설정한 것이다. 지역
                                        문화유산을 통해 문화유산의
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="유형"
                                            aria-label="유형"
                                            placeholder="정답"
                                        />을 알아보고, 이를 토대로 옛날 사람들의
                                        <input
                                            data-answer="생활 모습"
                                            aria-label="생활 모습"
                                            placeholder="정답"
                                        />을
                                        <input
                                            data-answer="추론"
                                            aria-label="추론"
                                            placeholder="정답"
                                        />하며
                                        <input
                                            data-answer="과거"
                                            aria-label="과거"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="현재"
                                            aria-label="현재"
                                            placeholder="정답"
                                        />를 이어주는 귀중한 자료로서 문화유산의
                                        <input
                                            data-answer="가치"
                                            aria-label="가치"
                                            placeholder="정답"
                                        />를 파악한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사06-02] 지역의
                                        <input
                                            data-answer="박물관"
                                            aria-label="박물관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="기념관"
                                            aria-label="기념관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="유적지"
                                            aria-label="유적지"
                                            placeholder="정답"
                                        />
                                        등을 체험하고 지역의
                                        <input
                                            data-answer="역사"
                                            aria-label="역사"
                                            placeholder="정답"
                                        />를 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사06-02]는 지역에 있는
                                        <input
                                            data-answer="박물관"
                                            aria-label="박물관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="기념관"
                                            aria-label="기념관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="유적지"
                                            aria-label="유적지"
                                            placeholder="정답"
                                        />
                                        등을 방문하여 지역의
                                        <input
                                            data-answer="역사"
                                            aria-label="역사"
                                            placeholder="정답"
                                        />를 이해하기 위해 설정한 것이다.
                                        <input
                                            data-answer="박물관"
                                            aria-label="박물관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="기념관"
                                            aria-label="기념관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="유적지"
                                            aria-label="유적지"
                                            placeholder="정답"
                                        />
                                        등을 온오프라인으로 방문하여 학생이
                                        주도적으로 지역의 역사에 관한 지식을
                                        습득하고 해석하며 표현한다. 그리고
                                        지역의 역사를 보존하고 실천하는 태도를
                                        기른다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 문화유산의 의미와 특징을
                                    <input
                                        data-answer="역사적"
                                        aria-label="역사적"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="과학적"
                                        aria-label="과학적"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="심미적"
                                        aria-label="심미적"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="생태환경적"
                                        aria-label="생태환경적"
                                        placeholder="정답"
                                    />
                                    측면에서 파악한다.
                                </div>

                                <div class="overview-question">
                                    • 지역의 역사는
                                    <input
                                        data-answer="고유성"
                                        aria-label="고유성"
                                        placeholder="정답"
                                    />을 지니며 지역에 따라
                                    <input
                                        data-answer="다양성"
                                        aria-label="다양성"
                                        placeholder="정답"
                                    />을 드러낸다는 사실을 이해한다.
                                </div>

                                <div class="overview-question">
                                    • 지역의 박물관, 기념관, 유적지를 체험할 때
                                    학생이
                                    <input
                                        data-answer="질문"
                                        aria-label="질문"
                                        placeholder="정답"
                                    />을 만들고 답을 찾아가는 과정을 경험하도록
                                    한다. 전시물을 통해 옛날 사람들의 생활
                                    모습을
                                    <input
                                        data-answer="재현"
                                        aria-label="재현"
                                        placeholder="정답"
                                    />하고 기억⋅기념하는 장소로서 박물관,
                                    기념관, 유적지를 살펴본다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
