<section id="democracy-autonomy">
    <h2>민주주의와 자치</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사08-01]
                                        <input
                                            data-answer="학교 자치 사례"
                                            aria-label="학교 자치 사례"
                                            placeholder="정답"
                                        />를 통하여
                                        <input
                                            data-answer="민주주의"
                                            aria-label="민주주의"
                                            placeholder="정답"
                                        />의 의미를 이해하고, 학교생활에서
                                        <input
                                            data-answer="민주주의"
                                            aria-label="민주주의"
                                            placeholder="정답"
                                        />를 실천하는 능력을 기른다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사08-01]은
                                        <input
                                            data-answer="학교 자치 사례"
                                            aria-label="학교 자치 사례"
                                            placeholder="정답"
                                        />를 통해
                                        <input
                                            data-answer="민주주의"
                                            aria-label="민주주의"
                                            placeholder="정답"
                                        />의 의미를 이해하고, 이를 바탕으로
                                        학교생활에서
                                        <input
                                            data-answer="학교 자치"
                                            aria-label="학교 자치"
                                            placeholder="정답"
                                        />를 실천할 수 있도록 설정한 것이다.
                                        여기서는 학생이
                                        <input
                                            data-answer="학교 자치"
                                            aria-label="학교 자치"
                                            placeholder="정답"
                                        />를 통해
                                        <input
                                            data-answer="민주주의"
                                            aria-label="민주주의"
                                            placeholder="정답"
                                        />를
                                        <input
                                            data-answer="실천"
                                            aria-label="실천"
                                            placeholder="정답"
                                        />하고
                                        <input
                                            data-answer="참여"
                                            aria-label="참여"
                                            placeholder="정답"
                                        />할 수 있는 능력을 기르는 데 초점을
                                        맞춘다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사08-02] 지역에서 이루어지는 민주주의
                                        사례를 통해
                                        <input
                                            data-answer="주민 자치"
                                            aria-label="주민 자치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="주민 참여"
                                            aria-label="주민 참여"
                                            placeholder="정답"
                                        />의 중요성을 파악하고, 지역사회의
                                        <input
                                            data-answer="문제 해결"
                                            aria-label="문제 해결"
                                            placeholder="정답"
                                        />에 참여하는 태도를 기른다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사08-02]는 민주주의의 의미에
                                        기초하여 마을이나 지역에서 이루어지는
                                        <input
                                            data-answer="주민 자치"
                                            aria-label="주민 자치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="참여"
                                            aria-label="참여"
                                            placeholder="정답"
                                        />의 중요성을 파악하도록 설정한 것이다.
                                        여기서는 마을이나 지역사회에서
                                        이루어지는 민주주의의 사례를 통해
                                        <input
                                            data-answer="주민 자치"
                                            aria-label="주민 자치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="주민 참여"
                                            aria-label="주민 참여"
                                            placeholder="정답"
                                        />의 중요성을 이해하고 지역사회의
                                        <input
                                            data-answer="문제 해결"
                                            aria-label="문제 해결"
                                            placeholder="정답"
                                        />에 관심을 갖고 참여하는 태도를 기르는
                                        것에 초점을 맞춘다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="지방 자치 기관"
                                        aria-label="지방 자치 기관"
                                        placeholder="정답"
                                    />의 권한이나 역할 같은 어려운 내용을
                                    다루기보다는 지역사회에서 민주주의가
                                    실현되는 사례를 통하여
                                    <input
                                        data-answer="주민 자치"
                                        aria-label="주민 자치"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="주민 참여"
                                        aria-label="주민 참여"
                                        placeholder="정답"
                                    />의 중요성을 인식하고, 지역사회의 문제 해결
                                    과정에 적극 참여하는
                                    <input
                                        data-answer="시민"
                                        aria-label="시민"
                                        placeholder="정답"
                                    />
                                    역량을 기르는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="학교 자치 조례"
                                        aria-label="학교 자치 조례"
                                        placeholder="정답"
                                    />의 내용을 설명하기보다는 학교생활에서
                                    이루어지는 학급회장 및 학생회장
                                    <input
                                        data-answer="선거"
                                        aria-label="선거"
                                        placeholder="정답"
                                    />, 학급 생활 규칙의
                                    <input
                                        data-answer="제⋅개정"
                                        aria-label="제⋅개정"
                                        placeholder="정답"
                                    />, 학생 행사의
                                    <input
                                        data-answer="주체적"
                                        aria-label="주체적"
                                        placeholder="정답"
                                    />
                                    운영처럼 학생이 학교생활과 관련된
                                    <input
                                        data-answer="의사 결정"
                                        aria-label="의사 결정"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="운영"
                                        aria-label="운영"
                                        placeholder="정답"
                                    />에 참여하는 기회를 제공하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 학생이 학교의 주체로서 학교생활 속에서
                                    민주주의를 실천하는 방안을 토론하는 과정 및
                                    <input
                                        data-answer="학교 자치"
                                        aria-label="학교 자치"
                                        placeholder="정답"
                                    />
                                    활동에 참여하는 과정을 평가하도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
