<section id="environment-life">
    <h2>다양한 환경과 삶의 모습</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사10-01] 여러 지역의
                                        <input
                                            data-answer="자연환경"
                                            aria-label="자연환경"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="인문환경"
                                            aria-label="인문환경"
                                            placeholder="정답"
                                        />의 특징을 살펴보고, 환경의
                                        <input
                                            data-answer="이용"
                                            aria-label="이용"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="개발"
                                            aria-label="개발"
                                            placeholder="정답"
                                        />에 따른 변화를 탐구한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사10-01]은 우리 지역과 다른
                                        <input
                                            data-answer="자연환경"
                                            aria-label="자연환경"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="인문환경"
                                            aria-label="인문환경"
                                            placeholder="정답"
                                        />이 나타나는 곳을 살펴보고, 환경의
                                        <input
                                            data-answer="이용"
                                            aria-label="이용"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="개발"
                                            aria-label="개발"
                                            placeholder="정답"
                                        />로 변화한 모습을 탐구하도록 설정한
                                        것이다. 여기서는 다양한 환경 특성을
                                        파악하고, 개발로 인해 나타난 긍정적,
                                        부정적 변화 모습을 균형 잡힌 관점으로
                                        파악하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사10-02] 사례에서 도시의
                                        <input
                                            data-answer="인구"
                                            aria-label="인구"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="교통"
                                            aria-label="교통"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="산업"
                                            aria-label="산업"
                                            placeholder="정답"
                                        />
                                        등의 특징을 탐구하고, 도시에서의 삶의
                                        모습을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사10-02]는 우리나라 여러 도시의
                                        특징을 탐구하면서 도시에서 나타나는 삶의
                                        모습을 종합적으로 이해하도록 설정한
                                        것이다. 사례에서 도시의
                                        <input
                                            data-answer="경관"
                                            aria-label="경관"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="인구"
                                            aria-label="인구"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="교통"
                                            aria-label="교통"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="산업"
                                            aria-label="산업"
                                            placeholder="정답"
                                        />, 생활방식의 특징을 이해하고 도시
                                        생활의 좋은 점과 문제들을 파악하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 환경의 이용과 개발로
                                    <input
                                        data-answer="촌락"
                                        aria-label="촌락"
                                        placeholder="정답"
                                    />이었던 곳에도 도시적 요소가 나타나는
                                    <input
                                        data-answer="도시화"
                                        aria-label="도시화"
                                        placeholder="정답"
                                    />의 과정에 중점을 두어 지역 변화를
                                    살펴본다. 이때,
                                    <input
                                        data-answer="촌락"
                                        aria-label="촌락"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="도시"
                                        aria-label="도시"
                                        placeholder="정답"
                                    />를
                                    <input
                                        data-answer="이분법적"
                                        aria-label="이분법적"
                                        placeholder="정답"
                                    />으로 구분하는 것을 지양하며
                                    <input
                                        data-answer="촌락"
                                        aria-label="촌락"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="도시"
                                        aria-label="도시"
                                        placeholder="정답"
                                    />에 고정 관념이나 편견을 갖거나,
                                    <input
                                        data-answer="환경 결정론"
                                        aria-label="환경 결정론"
                                        placeholder="정답"
                                    />적 인식이 발생하지 않도록 주의한다.
                                </div>

                                <div class="overview-question">
                                    • 환경의 이용과 개발에 따른 변화를 다룰 때는
                                    시간의 흐름에 따른
                                    <input
                                        data-answer="경관"
                                        aria-label="경관"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="토지 이용"
                                        aria-label="토지 이용"
                                        placeholder="정답"
                                    />의 변화를 나타낸 사진 등과 같은 시각
                                    자료뿐 아니라 통계 자료, 보도 자료,
                                    영상자료, 지도 등을 활용할 수 있다. 또한
                                    이러한 변화에서 환경과 인간의 상호 작용을
                                    탐색하고
                                    <input
                                        data-answer="생태시민"
                                        aria-label="생태시민"
                                        placeholder="정답"
                                    />으로서
                                    <input
                                        data-answer="환경 감수성"
                                        aria-label="환경 감수성"
                                        placeholder="정답"
                                    />을 지니도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 산업과 기능에 따른 우리나라 여러 도시의
                                    사례에서 도시의
                                    <input
                                        data-answer="경관"
                                        aria-label="경관"
                                        placeholder="정답"
                                    />뿐 아니라
                                    <input
                                        data-answer="인구"
                                        aria-label="인구"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="교통"
                                        aria-label="교통"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="산업"
                                        aria-label="산업"
                                        placeholder="정답"
                                    />
                                    등을 전반적으로 탐색하면서 도시에서의 삶을
                                    이해하도록 한다. 이때 인간의 생활공간에 대한
                                    이해를 도모하고 다양한 생활공간을 파악하는
                                    데 주안점을 둔다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
