<section id="living-place" class="active">
    <h2>우리가 사는 곳</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사01–01] 주변 여러 장소에서의 경험과
                                        느낌을 다양한 방식으로 표현하고,
                                        <input
                                            data-answer="장소감"
                                            aria-label="장소감"
                                            placeholder="정답"
                                        />을 나누며 서로 존중하는 태도를 지닌다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사01-01]은 학생들의 생활이
                                        이루어지는 주변 여러 장소에서의 경험과
                                        느낌을 글, 그림,
                                        <input
                                            data-answer="심상지도"
                                            aria-label="심상지도"
                                            placeholder="정답"
                                        />
                                        등의 다양한 방식으로 표현하고, 이를 통해
                                        사람마다
                                        <input
                                            data-answer="장소감"
                                            aria-label="장소감"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="차이"
                                            aria-label="차이"
                                            placeholder="정답"
                                        />가 나타날 수 있음을 이해하도록 설정한
                                        것이다.
                                        <input
                                            data-answer="장소감"
                                            aria-label="장소감"
                                            placeholder="정답"
                                        />이란 장소에 대한 인지, 감정, 태도,
                                        행동을 포괄하는 것으로 개인이나 집단이
                                        장소에 부여하는 의미나 관심을 뜻한다.
                                        장소 경험을 공유하는 과정에서
                                        <input
                                            data-answer="장소감"
                                            aria-label="장소감"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="차이"
                                            aria-label="차이"
                                            placeholder="정답"
                                        />를 이해하고 서로 존중하며, 주변의
                                        장소를 알아가면서 이에 대한 관심을
                                        심화시키는 데 초점을 맞춘다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사01–02] 주변의 여러 장소를 살펴보고,
                                        우리가 사는 곳을 더 살기 좋은 곳으로
                                        만드는 방안을 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사01-02]는 학생들이 생활하는 데
                                        편익을 제공하는 주요 장소 및 시설이나
                                        기관을 살펴보고, 우리가 사는 곳을 더
                                        살기 좋은 곳으로 만드는 방안을
                                        찾아보도록 설정한 것이다. 특히, 우리가
                                        사는 곳의 놀이⋅여가, 안전, 교육⋅문화,
                                        건강⋅의료 등과 관련 있는 장소를 조사하여
                                        좋은 점, 불편한 점 등을 확인하고,
                                        학생들의 관점에서 살기 좋은 곳의
                                        <input
                                            data-answer="조건"
                                            aria-label="조건"
                                            placeholder="정답"
                                        />을 생각하면서 우리가 사는 곳에 관심을
                                        가지도록 하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 우리가 사는 곳의 범위는
                                    <input
                                        data-answer="생활권"
                                        aria-label="생활권"
                                        placeholder="정답"
                                    />을 기반으로 하되 여가, 쇼핑을 위한 이동 및
                                    학생의 경험 등 일상생활이 이루어지는 공간
                                    범위를 고려하여
                                    <input
                                        data-answer="탄력적"
                                        aria-label="탄력적"
                                        placeholder="정답"
                                    />으로 설정할 수 있다. 1-2학년군 통합 교과의
                                    '동네', '마을'과는 차별적으로
                                    <input
                                        data-answer="차량"
                                        aria-label="차량"
                                        placeholder="정답"
                                    />을 이용하여 자주 방문하는 장소도 포함할 수
                                    있다.
                                </div>

                                <div class="overview-question">
                                    • 삶의 터전에 관심을 가지고 학생의 생활과
                                    관련이 깊은 주변의 장소를 탐색하는 데 중점을
                                    둔다. 또한 우리가 사는 곳의 좋은 점, 불편한
                                    점 등을 살펴보면서 살기 좋은 삶터를 만드는
                                    방안을 생각해보고, 이를 알리는 활동을 수행할
                                    수 있다.
                                </div>

                                <div class="overview-question">
                                    • 우리가 사는 곳의 여러 장소를 탐색할 때는
                                    <input
                                        data-answer="디지털 영상지도"
                                        aria-label="디지털 영상지도"
                                        placeholder="정답"
                                    />, 사진 등의 자료나 현장답사 등으로 실제
                                    모습을 파악하는 활동을 수행할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 장소감을 표현하고 이를 공유하는 과정에서
                                    장소에 대한 관심 정도 및 의사소통 능력과
                                    태도를 평가할 수 있으며, 이때 장소에 대한
                                    감정과 같은 정의적 영역뿐만 아니라
                                    <input
                                        data-answer="인지적"
                                        aria-label="인지적"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="행동적"
                                        aria-label="행동적"
                                        placeholder="정답"
                                    />
                                    영역을 고려한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
