<section id="map-region">
    <h2>지도로 만나는 우리 지역</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사05-01] 우리 지역을 표현한 다양한
                                        종류의 지도를 찾아보고, 지도의
                                        <input
                                            data-answer="요소"
                                            aria-label="요소"
                                            placeholder="정답"
                                        />를 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사05-01]은 우리 지역을 표현한 다양한
                                        종류의 지도를 탐색하고, 우리 지역의
                                        지도를 활용하여
                                        <input
                                            data-answer="방위"
                                            aria-label="방위"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="기호와 범례"
                                            aria-label="기호와 범례"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="축척"
                                            aria-label="축척"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="높낮이 표현 방식"
                                            aria-label="높낮이 표현 방식"
                                            placeholder="정답"
                                        />
                                        등 지도 제작에 필요한 요소를 파악하도록
                                        설정한 것이다. 여기서는 지도의 요소를
                                        이해하여 일상생활에서 지도를
                                        <input
                                            data-answer="활용"
                                            aria-label="활용"
                                            placeholder="정답"
                                        />하는 데 초점을 맞춘다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사05-02] 지도에서 우리 지역의
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />를 파악하고, 우리 지역의
                                        <input
                                            data-answer="지리 정보"
                                            aria-label="지리 정보"
                                            placeholder="정답"
                                        />를 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사05-02]는
                                        <input
                                            data-answer="행정구역"
                                            aria-label="행정구역"
                                            placeholder="정답"
                                        />을 나타낸 지도에서 지역의
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />를 파악하고, 지역의 지리 정보를
                                        바탕으로 지역의 특징을 탐구하도록 설정한
                                        것이다. 우리나라 지도에서
                                        <input
                                            data-answer="시⋅도"
                                            aria-label="시⋅도"
                                            placeholder="정답"
                                        />
                                        단위의 행정구역을 파악하면서 우리
                                        지역(<input
                                            data-answer="시⋅군⋅구"
                                            aria-label="시⋅군⋅구"
                                            placeholder="정답"
                                        />)의 위치를 확인하고, 지역의
                                        <input
                                            data-answer="지리 정보"
                                            aria-label="지리 정보"
                                            placeholder="정답"
                                        />(<input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="면적"
                                            aria-label="면적"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="인구"
                                            aria-label="인구"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="지형"
                                            aria-label="지형"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="기온"
                                            aria-label="기온"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="강수량"
                                            aria-label="강수량"
                                            placeholder="정답"
                                        />
                                        등)를 다른 지역과 비교하여 지역이 지닌
                                        특징을 이해하는 데 초점을 맞춘다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사05-01]과 [4사05-02]에서의 우리
                                        지역은 행정구역상 (<input
                                            data-answer="시⋅군⋅구"
                                            aria-label="시⋅군⋅구"
                                            placeholder="정답"
                                        />) 단위의 범위를 의미한다.
                                        [4사05-02]에서 우리 지역의 위치를 파악할
                                        때는
                                        <input
                                            data-answer="시⋅도"
                                            aria-label="시⋅도"
                                            placeholder="정답"
                                        />
                                        단위의 행정구역 범위에서 위치를
                                        찾아보고, 우리 지역과 연접한 지역(<input
                                            data-answer="시⋅군⋅구"
                                            aria-label="시⋅군⋅구"
                                            placeholder="정답"
                                        />)도 확인할 수 있다. 또한 전국
                                        <input
                                            data-answer="시⋅도"
                                            aria-label="시⋅도"
                                            placeholder="정답"
                                        />
                                        단위의 행정구역을 파악함으로써
                                        [4사07-02]의 지역 간
                                        <input
                                            data-answer="교류"
                                            aria-label="교류"
                                            placeholder="정답"
                                        />
                                        학습에서 다른 지역의 위치를 파악하는 데
                                        도움이 되도록 한다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 지도의 요소 파악은 지도에 대한 흥미와 지역
                                    이해를 도모하려고 학생들이 거주하는 지역의
                                    지도를 이용할 수 있으며, 상황에 따라 서책형
                                    지도와
                                    <input
                                        data-answer="디지털 영상지도"
                                        aria-label="디지털 영상지도"
                                        placeholder="정답"
                                    />
                                    등을 융통성 있게 이용한다. 특히
                                    <input
                                        data-answer="디지털 영상 지도"
                                        aria-label="디지털 영상 지도"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="축소"
                                        aria-label="축소"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="확대"
                                        aria-label="확대"
                                        placeholder="정답"
                                    />
                                    기능을 이용하여 우리 지역을 살펴보면서
                                    <input
                                        data-answer="축척"
                                        aria-label="축척"
                                        placeholder="정답"
                                    />
                                    개념도 자연스럽게 이해하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 지역의 누리집, 통계, 지도, 지역에서
                                    발간하는 홍보물 등 다양한 자료를 이용하여
                                    지역의
                                    <input
                                        data-answer="지리 정보"
                                        aria-label="지리 정보"
                                        placeholder="정답"
                                    />를 조사한다. 우리 지역의 특징을 이해하기
                                    위해 우리 지역과 다른 지역을
                                    <input
                                        data-answer="비교"
                                        aria-label="비교"
                                        placeholder="정답"
                                    />하여 지역 간의
                                    <input
                                        data-answer="차이점"
                                        aria-label="차이점"
                                        placeholder="정답"
                                    />이나
                                    <input
                                        data-answer="상호의존"
                                        aria-label="상호의존"
                                        placeholder="정답"
                                    />
                                    관계를 파악하는 활동을 수행할 수 있다. 다만
                                    지역 간의
                                    <input
                                        data-answer="우열"
                                        aria-label="우열"
                                        placeholder="정답"
                                    />을 가리거나 다른 지역에 대한 편견을 가지지
                                    않도록 유의한다.
                                </div>

                                <div class="overview-question">
                                    • 지도의
                                    <input
                                        data-answer="요소"
                                        aria-label="요소"
                                        placeholder="정답"
                                    />
                                    이해를 바탕으로 지도를 읽고 해석하는
                                    활동에서 지도를 활용하는 능력을 평가할 수
                                    있다. 이때, 축척 계산, 방위 기입, 기호 식별
                                    등과 같은
                                    <input
                                        data-answer="지필평가"
                                        aria-label="지필평가"
                                        placeholder="정답"
                                    />는 지양한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
