<section id="past-present">
    <h2>옛날과 오늘날의 생활 모습</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사04-01] 옛날
                                        <input
                                            data-answer="풍습"
                                            aria-label="풍습"
                                            placeholder="정답"
                                        />에 대해 알아보고, 오늘날과 비교하여
                                        변화상을 파악한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사04-01]은 옛날의 다양한
                                        <input
                                            data-answer="풍습"
                                            aria-label="풍습"
                                            placeholder="정답"
                                        />을 살펴보며 당시 사람들의 생활을
                                        이해하고, 오늘날과 비교하여 변화상을
                                        파악하도록 설정한 것이다.
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="세시 풍속"
                                            aria-label="세시 풍속"
                                            placeholder="정답"
                                        />
                                        등 여러
                                        <input
                                            data-answer="풍습"
                                            aria-label="풍습"
                                            placeholder="정답"
                                        />을 통해 변화상을 알아보고
                                        <input
                                            data-answer="풍습"
                                            aria-label="풍습"
                                            placeholder="정답"
                                        />
                                        속에 담긴 옛날 사람들의 생활과 생각을
                                        이해한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사04-02] 옛날부터 오늘날까지
                                        <input
                                            data-answer="교통"
                                            aria-label="교통"
                                            placeholder="정답"
                                        />의 변화에 따른 이동과 생활 모습의
                                        변화를 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사04-02]는
                                        <input
                                            data-answer="교통로"
                                            aria-label="교통로"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="교통수단"
                                            aria-label="교통수단"
                                            placeholder="정답"
                                        />의 변화와 달라진 사람들의 생활
                                        모습과의 관계를 이해하도록 설정한
                                        것이다. 시대에 따른 교통의 변화가 사람과
                                        물자의 이동 및 생활 전반에 어떤 변화를
                                        일으켰는지 살펴본다. 그리고 교통 발달에
                                        따른
                                        <input
                                            data-answer="생활공간"
                                            aria-label="생활공간"
                                            placeholder="정답"
                                        />의 확대를 고려하여 변화를 설명한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사04-03] 옛날부터 오늘날까지
                                        <input
                                            data-answer="통신수단"
                                            aria-label="통신수단"
                                            placeholder="정답"
                                        />의 변화에 따른 정보 교류와 의사소통
                                        방식의 변화를 설명한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사04-03]은 시대에 따른 통신수단의
                                        변화 과정을 파악하고 이를 통해 달라진
                                        사람들의
                                        <input
                                            data-answer="생활 모습"
                                            aria-label="생활 모습"
                                            placeholder="정답"
                                        />을 파악하도록 설정한 것이다. 정보
                                        교류와 의사소통 방식의 변화를 파악하여
                                        통신 발달에 따른 공간적 변화를 탐색한다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • '옛날'은 해당 시대에 맞게 설정하여 당시
                                    사람들의 생활 모습을
                                    <input
                                        data-answer="맥락적"
                                        aria-label="맥락적"
                                        placeholder="정답"
                                    />으로 파악한다. 또 시대에 따른 사람들의
                                    생활 모습은 다양한 양상으로 나타난다는 점을
                                    이해하고, 현재의 시각만으로 과거를
                                    <input
                                        data-answer="평가"
                                        aria-label="평가"
                                        placeholder="정답"
                                    />하지 않도록 유의한다.
                                </div>

                                <div class="overview-question">
                                    • 변화가
                                    <input
                                        data-answer="발전"
                                        aria-label="발전"
                                        placeholder="정답"
                                    />만을 의미하지 않는다는 점을 이해하고
                                    발전의 성과와 한계를 함께 살펴본다.
                                </div>

                                <div class="overview-question">
                                    • 도로, 철도, 항만, 공항, 교량 등 교통망의
                                    구축으로 나타나는
                                    <input
                                        data-answer="생활공간"
                                        aria-label="생활공간"
                                        placeholder="정답"
                                    />의 확대를 중심으로 사람과 물자의 이동 및
                                    달라진 생활 모습을 종합적으로 파악한다.
                                </div>

                                <div class="overview-question">
                                    • 여가 생활을 포함하여 학생의 일상생활
                                    경험과 관련 있는 소재를 중심으로
                                    <input
                                        data-answer="교통"
                                        aria-label="교통"
                                        placeholder="정답"
                                    />의 발달이 생활 변화에 미친 영향을
                                    파악한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="세대"
                                        aria-label="세대"
                                        placeholder="정답"
                                    />
                                    간 의사소통 경험을 비교하면서
                                    <input
                                        data-answer="통신기술"
                                        aria-label="통신기술"
                                        placeholder="정답"
                                    />
                                    발달에 따른 정보 교류와 의사소통 방식(시간과
                                    빈도, 정보의 질과 양 등)이 달라졌음을
                                    이해하고,
                                    <input
                                        data-answer="시⋅공간"
                                        aria-label="시⋅공간"
                                        placeholder="정답"
                                    />을 초월한
                                    <input
                                        data-answer="실시간"
                                        aria-label="실시간"
                                        placeholder="정답"
                                    />
                                    소통으로 나타난 생활 변화를 파악하는 데
                                    초점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 교통수단과 통신수단의 발달 과정을
                                    <input
                                        data-answer="시간 순서대로"
                                        aria-label="시간 순서대로"
                                        placeholder="정답"
                                    />
                                    배열하는 등의 단순 지식을 평가하는 방법은
                                    지양하고, 교통⋅통신의 변화가
                                    <input
                                        data-answer="생활"
                                        aria-label="생활"
                                        placeholder="정답"
                                    />에 미친 영향을 이해하고 있는지를 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
