<section id="past-daily">
    <h2>일상에서 만나는 과거</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사02-01] 일상 속에서
                                        <input
                                            data-answer="시간의 흐름"
                                            aria-label="시간의 흐름"
                                            placeholder="정답"
                                        />을 경험할 수 있는 사례를 살펴보고,
                                        이를 바탕으로 역사의
                                        <input
                                            data-answer="시간 개념"
                                            aria-label="시간 개념"
                                            placeholder="정답"
                                        />을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사02-01]은 가정, 학교 등 학생 주변의
                                        사례를 활용하여 역사의 시간 개념을
                                        이해하도록 설정한 것이다. 역사에서 자주
                                        사용하는
                                        <input
                                            data-answer="시간 표현"
                                            aria-label="시간 표현"
                                            placeholder="정답"
                                        />
                                        용어, 시간의
                                        <input
                                            data-answer="흐름"
                                            aria-label="흐름"
                                            placeholder="정답"
                                        />
                                        속에서 어떤 사건의 시간상
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />를 파악하는 등 역사의
                                        <input
                                            data-answer="시간 개념"
                                            aria-label="시간 개념"
                                            placeholder="정답"
                                        />을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사02-01]은 시간을 표현하는
                                        <input
                                            data-answer="용어"
                                            aria-label="용어"
                                            placeholder="정답"
                                        />, 사건의
                                        <input
                                            data-answer="시간적 위치"
                                            aria-label="시간적 위치"
                                            placeholder="정답"
                                        />, 과거와 현재의
                                        <input
                                            data-answer="거리감"
                                            aria-label="거리감"
                                            placeholder="정답"
                                        />
                                        등을 통해 역사의
                                        <input
                                            data-answer="시간 개념"
                                            aria-label="시간 개념"
                                            placeholder="정답"
                                        />을 이해하고
                                        <input
                                            data-answer="시간 감각"
                                            aria-label="시간 감각"
                                            placeholder="정답"
                                        />을 키우는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사02-02] 오래된 물건이나 자료들을
                                        주변에서 찾아보고, 이를 통해
                                        <input
                                            data-answer="과거"
                                            aria-label="과거"
                                            placeholder="정답"
                                        />의 모습을 살펴볼 수 있음을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사02-02]는 주변의 오래된 물건이나
                                        자료 등이
                                        <input
                                            data-answer="과거"
                                            aria-label="과거"
                                            placeholder="정답"
                                        />
                                        모습을 알려주는
                                        <input
                                            data-answer="증거"
                                            aria-label="증거"
                                            placeholder="정답"
                                        />
                                        역할을 한다는 것을 이해하도록 설정한
                                        것이다. 학생의 애장품을 비롯해 생활
                                        주변에서 볼 수 있는 오래된 물건이나
                                        자료(신문 기사, 편지, 일기, 노래 가사,
                                        사진 등), 주변 사람들의
                                        <input
                                            data-answer="증언"
                                            aria-label="증언"
                                            placeholder="정답"
                                        />
                                        등을 활용한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사02-02]는 오래된 물건과 자료가
                                        과거를 알려주는
                                        <input
                                            data-answer="증거"
                                            aria-label="증거"
                                            placeholder="정답"
                                        />임을 이해하고, 이를 통해 역사가
                                        <input
                                            data-answer="증거"
                                            aria-label="증거"
                                            placeholder="정답"
                                        />를 바탕으로 구성된다는 것을 파악하는
                                        데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사02-03] 지역의
                                        <input
                                            data-answer="변화상"
                                            aria-label="변화상"
                                            placeholder="정답"
                                        />을 보여주는 역사 자료를 분석하여 지역
                                        사람들의 달라진
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        모습을 파악한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사02-03]은 지역 사람들의 달라진 생활
                                        모습을 탐구하며 역사의
                                        <input
                                            data-answer="변화"
                                            aria-label="변화"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="지속"
                                            aria-label="지속"
                                            placeholder="정답"
                                        />을 이해하도록 설정한 것이다. 지역의
                                        유래와 관련된 이야기, 지역의 변화를
                                        알려주는 사진이나 영상 등 역사 자료를
                                        활용하여 (변형되어, 혹은 그대로) 이어져
                                        내려온 것, 사라진 것을 찾아 지역
                                        사람들의 생활이 어떻게 달라졌는지
                                        살펴본다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 나와 가족, 학교 등에서 일어난 중요한 일을
                                    조사하여 시간의
                                    <input
                                        data-answer="흐름"
                                        aria-label="흐름"
                                        placeholder="정답"
                                    />에 따라 배열하고 옛 기록이나 일기에서
                                    <input
                                        data-answer="시간 표현"
                                        aria-label="시간 표현"
                                        placeholder="정답"
                                    />
                                    용어를 찾아보는 등의 활동으로 역사의
                                    <input
                                        data-answer="시간 개념"
                                        aria-label="시간 개념"
                                        placeholder="정답"
                                    />을 익힌다. 이러한 활동으로 나와 가족의
                                    삶도 역사의 일부임을 자연스럽게 이해한다.
                                </div>

                                <div class="overview-question">
                                    • 학생의 애장품(장난감, 일기장 등), 주변에서
                                    접할 수 있는 오래된 물건이나 건축물 등이
                                    <input
                                        data-answer="과거"
                                        aria-label="과거"
                                        placeholder="정답"
                                    />를 알려주는 중요한 자료로서 가치가 있음을
                                    이해한다.
                                </div>

                                <div class="overview-question">
                                    • 과거를 알려주는 물건이나 자료 등을
                                    활용하여 과거의 모습을 합리적으로
                                    <input
                                        data-answer="추론"
                                        aria-label="추론"
                                        placeholder="정답"
                                    />하며, 어떤 자료를 선택하였는지에 따라
                                    과거에 대한
                                    <input
                                        data-answer="설명"
                                        aria-label="설명"
                                        placeholder="정답"
                                    />이 달라질 수 있음을 파악한다.
                                </div>

                                <div class="overview-question">
                                    • 주변 사람들의 증언과 사진, 영상, 문헌 등
                                    자료를 활용해 지역의 변화상과 사람들의
                                    달라진 생활 모습을 살펴본다.
                                </div>

                                <div class="overview-question">
                                    • 지역의 의미는 학생이 살고 있는 현재
                                    <input
                                        data-answer="행정구역"
                                        aria-label="행정구역"
                                        placeholder="정답"
                                    />
                                    단위를 기본으로 하되 과거 사람들이 살았던
                                    지역의
                                    <input
                                        data-answer="범위"
                                        aria-label="범위"
                                        placeholder="정답"
                                    />와 다르다는 점에 유의한다.
                                </div>

                                <div class="overview-question">
                                    • 학생이 적절한 자료를 활용하여 역사의
                                    <input
                                        data-answer="시간 개념"
                                        aria-label="시간 개념"
                                        placeholder="정답"
                                    />, 과거를 보여주는
                                    <input
                                        data-answer="증거"
                                        aria-label="증거"
                                        placeholder="정답"
                                    />, 지역의
                                    <input
                                        data-answer="변화상"
                                        aria-label="변화상"
                                        placeholder="정답"
                                    />과 달라진 사람들의
                                    <input
                                        data-answer="생활"
                                        aria-label="생활"
                                        placeholder="정답"
                                    />을 이해하였는지 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
