<section id="social-change">
    <h2>사회 변화와 다양한 문화</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사03-01] 최근
                                        <input
                                            data-answer="사회 변화"
                                            aria-label="사회 변화"
                                            placeholder="정답"
                                        />의 양상과 특징을 파악하고, 그로 인해
                                        나타난 생활모습의 변화를 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사03-01]은 사례를 통해
                                        <input
                                            data-answer="저출산"
                                            aria-label="저출산"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="고령화"
                                            aria-label="고령화"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="지능정보화"
                                            aria-label="지능정보화"
                                            placeholder="정답"
                                        />
                                        등 최근 사회 변화가 가져온 현상과 특징을
                                        파악하고, 그로 인해 우리의 생활 모습이
                                        어떻게 변화되는지 분석하도록 설정한
                                        것이다. 이를 통하여 사회 변화에 대응할
                                        수 있는 역량을 기르는 데 초점을 맞추도록
                                        한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4사03-02] 우리 사회에 다양한
                                        <input
                                            data-answer="문화"
                                            aria-label="문화"
                                            placeholder="정답"
                                        />가 확산되면서 나타나는 긍정적 효과와
                                        문제를 분석하고, 나와 다른 사람이나
                                        집단의
                                        <input
                                            data-answer="문화"
                                            aria-label="문화"
                                            placeholder="정답"
                                        />를 존중하는 태도를 기른다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4사03-02]는 외국인 이주민의 증가, 1인
                                        가구와 비혼, 반려동물 양육 등 다양한
                                        문화가 확산⋅공유되면서 나타나는 긍정적
                                        효과와 사회문제를 사례 또는
                                        <input
                                            data-answer="통계"
                                            aria-label="통계"
                                            placeholder="정답"
                                        />
                                        자료를 통해 파악하도록 설정한 것이다.
                                        이를 바탕으로 나와 다른 사람들의 삶의
                                        방식이나 문화를
                                        <input
                                            data-answer="존중"
                                            aria-label="존중"
                                            placeholder="정답"
                                        />하는 태도를 함양하는 데 초점을 맞춘다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 일상생활에서 경험할 수 있는 사례 또는
                                    <input
                                        data-answer="통계"
                                        aria-label="통계"
                                        placeholder="정답"
                                    />
                                    자료를 활용하여
                                    <input
                                        data-answer="저출산"
                                        aria-label="저출산"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="고령화"
                                        aria-label="고령화"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="지능정보화"
                                        aria-label="지능정보화"
                                        placeholder="정답"
                                    />
                                    같은 사회 변동으로 달라진 생활 모습을 학생이
                                    주도적으로 분석하고 탐구하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 최근 우리 사회에서 증가하는 외국인 이주민
                                    증가, 1인 가구와 비혼, 반려동물 양육 등
                                    다양한 문화가 확산되면서 나타난 긍정적
                                    효과와 사회문제를 각종 통계 자료, 언론 기사,
                                    사진 등을 활용하여 학생이 탐구하고 분석하는
                                    과정을 평가하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 우리 사회에서 다양한 문화가 확산되면서
                                    나타나는 문제의
                                    <input
                                        data-answer="해결 방안"
                                        aria-label="해결 방안"
                                        placeholder="정답"
                                    />을 토의하는 과정에서 나와 다른 사람이나
                                    문화에 대한 편견과 차별적 태도를 해소하고,
                                    다른 사람과 문화를
                                    <input
                                        data-answer="존중"
                                        aria-label="존중"
                                        placeholder="정답"
                                    />하는 태도를 형성하였는지를 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
