<section id="appreciation-34">
    <h2>감상34</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음02-01] 음악을 듣고 기초적인 음악
                                        요소를 탐색하며 반응한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음02-01] 이 성취기준은 감상곡에
                                        포함된 기초적인 음악 요소를 청각적으로
                                        인식하도록 하기 위해 설정하였다. 음악을
                                        들으며 기초적인 수준의 음악 요소를
                                        탐색해 보고, 노래, 악기, 신체, 언어,
                                        그림 등 다양한 방법으로 자신의 반응을
                                        자유롭게 표현하도록 하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음02-02] 다양한 음악을 듣고 음악적
                                        특징을 발견한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음02-02] 이 성취기준은 음악의 종류나
                                        주제 등에 따른 음악의 전반적 특징을
                                        발견하며 감상하는 능력을 기르도록 하기
                                        위해 설정하였다. 다양한 음악을 감상하며
                                        음악적 특징을 발표하고 공유하는 활동을
                                        통해 다양한 주제가 감상곡에서 어떤
                                        음악적 특징으로 나타나는지 살펴 청각적
                                        인식과 음악적 이해를 연결 짓도록 하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음02-03] 다양한 종류의 음악을 듣고
                                        음악의 분위기를 묘사하거나
                                        <input
                                            data-answer="쓰임"
                                            aria-label="쓰임"
                                            placeholder="정답"
                                        />을 이야기한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음02-03] 이 성취기준은 다양한
                                        분위기와 쓰임을 가진 음악을 듣고
                                        경험하도록 함으로써 음악을 활용할 수
                                        있는 능력을 기르도록 하기 위해
                                        설정하였다. 악곡과 관련된 느낌과 감정,
                                        분위기나 장면 등을 떠올려 보고, 이를
                                        노래, 악기 연주, 신체표현, 그림, 영상,
                                        글쓰기 등의 방법으로 묘사해 본다. 나아가
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="의식"
                                            aria-label="의식"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="노동"
                                            aria-label="노동"
                                            placeholder="정답"
                                        />
                                        등 생활 속에서 다양하게 쓰이는 음악에
                                        관해 이야기해 보며 음악 감상을 통한
                                        경험을 확장하도록 하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음02-04]
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        속에서 음악을 들으며 느낌과 호기심을
                                        갖고 즐긴다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음02-04] 이 성취기준은 일상생활
                                        속에서 호기심을 가지고 다양한 음악을
                                        들으며 친숙함을 느끼도록 하기 위해
                                        설정하였다. 국악, 서양음악, 세계음악,
                                        대중매체에서 접하는 음악 등을 열린
                                        마음으로 수용하고 즐김으로써 음악 감상을
                                        <input
                                            data-answer="생활화"
                                            aria-label="생활화"
                                            placeholder="정답"
                                        />하도록 하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음02-05] 우리 지역의 음악 국가유산을
                                        찾아 듣고
                                        <input
                                            data-answer="국악"
                                            aria-label="국악"
                                            placeholder="정답"
                                        />을 즐기는 태도를 갖는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음02-05] 이 성취기준은 지역에
                                        전승되어 오는 음악 국가유산에 관심을
                                        갖고 찾아 들으며, 생활 속에서
                                        <input
                                            data-answer="국악"
                                            aria-label="국악"
                                            placeholder="정답"
                                        />을 즐기는 태도를 가질 수 있도록 하기
                                        위해 설정하였다. 타 교과의 지역 학습과
                                        연계하여 지역의 음악 국가가유산을 통해
                                        자신이 속한 지역 문화에 대한 이해를
                                        높이고, 지역에 전승되어 오는 음악
                                        국가유산에 호기심을 가지게 함으로써 생활
                                        속에서 국악을 즐기는 태도를 함양하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 다양한 음악 감상을 통해 음악의 요소, 느낌,
                                    쓰임 등을 파악하고 다양한 방식으로 반응,
                                    탐색, 묘사해 보며, 음악이 고유한 방식과
                                    원리에 따라 청각적으로 구현된 것임을
                                    경험함으로써
                                    <input
                                        data-answer="음악적 감성"
                                        aria-label="음악적 감성"
                                        placeholder="정답"
                                    />을 기르도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 예술적⋅교육적 가치뿐만 아니라 주변 생활과
                                    밀접한 주제나 쓰임을 지닌 감상곡을
                                    다룸으로써 생활 속의 다양한 소리와 음악에
                                    호기심과 흥미를 갖도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 음악의 종류나 주제에 따른 음악의 전반적
                                    특징을 발견하고 이를 발표하며 공유하는
                                    활동을 통해 청각적 인식과 음악적 이해를 연결
                                    짓도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 다양한 쓰임이나 주제를 가진 음악을 듣고
                                    이를 노래나 악기 연주뿐 아니라, 신체, 그림,
                                    영상, 글 등의 다양한 방법과 연계하여 표현할
                                    수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 음악에 대한 호기심을 가지거나 음악을
                                    즐기는 태도와 관련된 성취기준은 생활 속의
                                    다양한 음악 조사하기, 소개하기, 생각
                                    발표하기 등의 다양한 활동으로 나타내도록 할
                                    수 있다.
                                </div>

                                <div class="overview-question">
                                    • 감상에서 평가는
                                    <input
                                        data-answer="실음"
                                        aria-label="실음"
                                        placeholder="정답"
                                    />을 중심으로 악곡에 대한 이해뿐만 아니라
                                    음악을 감상하는 태도를 포괄적으로 평가할 수
                                    있도록
                                    <input
                                        data-answer="실음 지필 평가"
                                        aria-label="실음 지필 평가"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="관찰 평가"
                                        aria-label="관찰 평가"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="포트폴리오"
                                        aria-label="포트폴리오"
                                        placeholder="정답"
                                    />
                                    등의 다양한 방법을 활용할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
