<section id="appreciation-56">
    <h2>감상56</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음02-01] 음악을 듣고 음악의 요소를
                                        감지하며 구별한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음02-01] 이 성취기준은 감상곡의 음악
                                        요소를 감지하여 구별하고 반응하는 능력을
                                        기르도록 하기 위해 설정하였다. 음악을
                                        들으며 악곡에 나타나는 여러 음악 요소를
                                        감지하여 구별하고, 이를 노래, 악기,
                                        신체, 언어, 그림 등의 다양한 방법으로
                                        표현해보면서 이해하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음02-02] 다양한 문화권의 음악을 듣고
                                        음악적 특징과 음악의 간단한 구성을
                                        인식한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음02-02] 이 성취기준은 문화권에 따라
                                        다양하게 나타나는 음악의 특징과 음악의
                                        간단한 구성을 인식하도록 하기 위해
                                        설정하였다. 우리나라를 비롯하여 여러
                                        지역이나 나라의 다양한 음악을 듣고
                                        음악의 간단한 구성과 전반적인 특징을
                                        인식하여, 이를 평하기, 설명하기,
                                        표현하기 등의 다양한 행동적 활동을 통해
                                        나타내 보는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음02-03] 다양한 종류의 음악을 듣고
                                        음악의 배경과
                                        <input
                                            data-answer="활용"
                                            aria-label="활용"
                                            placeholder="정답"
                                        />을 설명한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음02-03] 이 성취기준은 음악의 내적
                                        측면과 외적 측면을 균형 있게 파악하는
                                        능력을 기르도록 하기 위해 설정하였다.
                                        다양한 음악의 쓰임과 배경을 이해하고
                                        <input
                                            data-answer="건강"
                                            aria-label="건강"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="행사"
                                            aria-label="행사"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="환경"
                                            aria-label="환경"
                                            placeholder="정답"
                                        />
                                        등 학습자의 생활과 관련된 다양한 음악의
                                        활용에 대하여 폭넓게 학습하여 이를
                                        설명할 수 있도록 하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음02-04]
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        속에서 음악을 찾아 들으며 아름다움을
                                        느끼고 공감한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음02-04] 이 성취기준은 생활 속에서
                                        접하는 다양한 음악의 아름다움을 인식하고
                                        공감하는 능력을 기르도록 하기 위해
                                        설정하였다. 국악, 서양음악, 대중음악,
                                        세계음악 등 생활 속에서 접할 수 있는
                                        다양한 음악에 관심을 가지고 스스로 찾아
                                        들으며, 음악에 대한 느낌을 여러 방식으로
                                        표현할 수 있는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음02-05] 우리나라 음악 국가유산을 찾아
                                        듣고
                                        <input
                                            data-answer="국악"
                                            aria-label="국악"
                                            placeholder="정답"
                                        />의 가치를 인식한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음02-05] 이 성취기준은 우리나라 음악
                                        국가유산의 경험을 바탕으로
                                        <input
                                            data-answer="국악"
                                            aria-label="국악"
                                            placeholder="정답"
                                        />의 가치를 인식하도록 하기 위해
                                        설정하였다. 무형문화재에 대한 이해를
                                        바탕으로 시도 무형문화재, 국가
                                        무형문화재로 지정된 음악 국가유산을 찾아
                                        들어보고 음악적⋅문화적 의미를 이해하여
                                        <input
                                            data-answer="국악"
                                            aria-label="국악"
                                            placeholder="정답"
                                        />의 가치를 인식하는 데에 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 3~4학년에서 학습한 음악 요소, 종류 등의
                                    기초적인 내용을 포함하되, 5~6학년에서는 보다
                                    전체적이고 조화로운 음악적 구성이나 느낌,
                                    배경, 활용 등의 맥락을 이해함으로써
                                    <input
                                        data-answer="음악적 감성"
                                        aria-label="음악적 감성"
                                        placeholder="정답"
                                    />을 기르도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 건강, 행사, 기후⋅생태환경 변화 등 학습자의
                                    생활과 관련된 다양한 음악의 활용과 연결지어
                                    감상함으로써 음악의 내적⋅외적 측면을 균형
                                    있게 파악하고, 음악 감상을 생활화하는 태도를
                                    형성할 수 있도록 구성한다.
                                </div>

                                <div class="overview-question">
                                    • 음악의 요소, 특징, 구성을 구별하거나 인식,
                                    혹은 음악에 대해 공감하는 것에 관한
                                    성취기준은 노래, 악기, 신체, 언어, 그림
                                    등으로 표현하기, 설명하기, 평하기 등의
                                    다양한 활동을 통해 나타낼 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 다양한 문화권, 배경, 활용 등 음악을 둘러싼
                                    맥락에 관한 부분은 관련된 타 교과의
                                    성취기준과 연계하여 학습하고 평가할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 감상에서 평가는
                                    <input
                                        data-answer="실음"
                                        aria-label="실음"
                                        placeholder="정답"
                                    />을 중심으로 악곡에 대한 이해뿐만 아니라
                                    음악을 감상하는 태도를 포괄적으로 평가할 수
                                    있도록
                                    <input
                                        data-answer="실음 지필 평가"
                                        aria-label="실음 지필 평가"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="관찰 평가"
                                        aria-label="관찰 평가"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="포트폴리오"
                                        aria-label="포트폴리오"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="보고서"
                                        aria-label="보고서"
                                        placeholder="정답"
                                    />
                                    등의 다양한 방법을 활용할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
