<section id="creation-56">
    <h2>창작56</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음03-01] 느낌과 아이디어를 떠올려 여러
                                        매체나 방법으로 자신감 있게 표현한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음03-01] 이 성취기준은 음악 창작의
                                        소재로서 느낌과 아이디어를 발산해 내고
                                        이를 음악으로 표현하며 음악적 상상력과
                                        자신감을 기르도록 하기 위해 설정하였다.
                                        자신의 경험과 관련된 다양한 느낌과
                                        아이디어를 떠올려 그림, 기호, 언어 등을
                                        활용하여 기록하고, 목소리, 악기, 물체,
                                        신체,
                                        <input
                                            data-answer="디지털 매체"
                                            aria-label="디지털 매체"
                                            placeholder="정답"
                                        />
                                        등을 통해 새롭게 표현해 보도록 하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음03-02] 기초적인 기보를 활용하여
                                        간단한 조건에 따라 악곡의 일부를 바꾼다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음03-02] 이 성취기준은 음악적
                                        약속으로서 통용되는 기초 기보를 이해하고
                                        이를 활용한 음악 창작 능력을 기르도록
                                        하기 위해 설정하였다.
                                        <input
                                            data-answer="음이름"
                                            aria-label="음이름"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="계이름"
                                            aria-label="계이름"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="율명"
                                            aria-label="율명"
                                            placeholder="정답"
                                        />을 익히고 음악을 기록하는
                                        <input
                                            data-answer="오선보"
                                            aria-label="오선보"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="정간보"
                                            aria-label="정간보"
                                            placeholder="정답"
                                        />
                                        등의 기보 방법을 기초적 수준에서
                                        이해하여 주어진 조건에 따라
                                        <input
                                            data-answer="노랫말"
                                            aria-label="노랫말"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="말붙임새"
                                            aria-label="말붙임새"
                                            placeholder="정답"
                                        />
                                        등 악곡의 일부를 바꾸어 기보해본다. 또한
                                        이를 통한 느낌이나 생각을 공유하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음03-03] 음악의 요소를 활용하여 간단한
                                        음악을 만든다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음03-03] 이 성취기준은 음악에서 음악
                                        요소의 의미와 효과를 이해하고 이를
                                        활용하여 음악을 창작하는 능력을 기르도록
                                        하기 위해 설정하였다. 음악 요소의 특징이
                                        드러나는 짧고 단순한 형태의 음악을
                                        간단한 기보, 프로그램, 매체 등을
                                        활용하여 스스로 혹은 협력적으로 만들며
                                        서로의 음악적 산출물을 공유해 보는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음03-04]
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        주변 상황이나 이야기를 활용하여 음악을
                                        만들며 열린 태도를 갖는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음03-04] 이 성취기준은 학생들의 실제
                                        생활과 경험을 토대로 음악 창작과 삶을
                                        연계하여 음악에 대한 긍정적인 태도를
                                        기르도록 하기 위해 설정하였다. 주변의
                                        다양한 상황이나 이야기를 소재로 음악적
                                        아이디어를 끌어내어 간단한 음악극이나
                                        음악 영상 등으로 함께 만들어 나눔으로써
                                        서로의 음악에 대한 열린 태도를 갖고
                                        소통하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 3~4학년에서의 자유로운 발상을 토대로,
                                    5~6학년에서는 악기나 매체 등을 활용하여
                                    떠올리며 표현하기, 바꾸거나 활용하여 만들기
                                    등의 창작 활동을 통해
                                    <input
                                        data-answer="음악적 창의성"
                                        aria-label="음악적 창의성"
                                        placeholder="정답"
                                    />을 기르도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 음악 창작의 소재로서 느낌과 아이디어를
                                    자유롭게 발산해 내고 이를 음악으로
                                    표현함으로써 음악적 자신감과 자기주도성의
                                    토대를 형성하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 음악 창작과 표현, 공유와 소통 과정에서
                                    <input
                                        data-answer="디지털 매체"
                                        aria-label="디지털 매체"
                                        placeholder="정답"
                                    />를 적절히 활용함으로써
                                    <input
                                        data-answer="디지털 기초 소양"
                                        aria-label="디지털 기초 소양"
                                        placeholder="정답"
                                    />을 기르도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 창작의 과정에 흥미와 긍정적 태도를 가질 수
                                    있도록 자유롭고 수용적인 분위기를 조성하도록
                                    한다.
                                </div>

                                <div class="overview-question">
                                    • 음악에 대한 자신감이나 열린 태도와 관련된
                                    성취기준은 학생들의 실제 생활을 토대로
                                    자신의 경험 떠올리기, 관심 있는 대상에 관해
                                    이야기하기, 음악 창작 활동에 관한 생각이나
                                    느낌 발표하기 등의 다양한 활동으로 나타낼 수
                                    있다.
                                </div>

                                <div class="overview-question">
                                    • 창작에서 평가는 결과물뿐만 아니라 창작
                                    동기와 과정, 참여도를 종합적으로 살피도록
                                    하며
                                    <input
                                        data-answer="체크리스트"
                                        aria-label="체크리스트"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="포트폴리오"
                                        aria-label="포트폴리오"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="음악 창작 일지"
                                        aria-label="음악 창작 일지"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="보고서"
                                        aria-label="보고서"
                                        placeholder="정답"
                                    />
                                    등을 활용할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
