<section id="creation-34">
    <h2>창작34</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음03-01] 느낌과 상상을 즉흥적으로
                                        표현하며 음악에 대한 흥미를 갖는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음03-01] 이 성취기준은 주변 경험과
                                        관련된 느낌이나 상상한 바를 음악으로
                                        나타냄으로써
                                        <input
                                            data-answer="음악적 상상력"
                                            aria-label="음악적 상상력"
                                            placeholder="정답"
                                        />을 기르도록 하기 위하여 설정하였다.
                                        자신의 느낌이나 상상을 일정한 틀이나
                                        형식에 얽매이지 않고 목소리, 악기, 신체,
                                        물체 등을 활용하여 즉흥적인 소리나
                                        음악으로 표현하는 활동을 하며 자신과
                                        다른 사람의 자유로운 표현을 즐기고
                                        음악에 관한 흥미를 갖도록 하는 데 중점을
                                        둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음03-02] 악곡의 일부를 바꾸어 표현하고
                                        간단한 악보로 나타낸다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음03-02] 이 성취기준은 노랫말 등
                                        악곡의 일부를 바꾸어 표현하고 음악을
                                        기록하는 다양한 방법에 대해 기초적인
                                        수준에서 이해하도록 하기 위해
                                        설정하였다. 음⋅음표, 그림, 기호, 숫자,
                                        문자 등을 활용하여 악보로 나타내고
                                        창작과 공유의 즐거움을 경험하도록 하는
                                        데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음03-03] 기초적인 음악 요소를 활용하여
                                        소리나 음악으로 표현한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음03-03] 이 성취기준은 음악 요소에
                                        관한 이해를 바탕으로 소리나 음악을
                                        창작하는 기초적인 능력을 기르도록 하기
                                        위해 설정하였다. 기초적인 수준의 음악
                                        요소를 활용하여 짧고 간단한 소리나
                                        음악으로 자유롭게 표현하며 음악 요소에
                                        따른 음악적 효과와 특징을 스스로
                                        인식하도록 하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음03-04]
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        주변의 소리나 장면을 모방하며 음악의
                                        새로움을 즐기는 태도를 갖는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음03-04] 이 성취기준은 생활 주변의
                                        소리에 민감하게 반응하고 새로운 음악을
                                        만들어가며 즐길 수 있도록 하기 위해
                                        설정하였다. 일상에서 경험할 수 있는
                                        다양한 소리나 장면을 음악의 관점에서
                                        탐색해 보고 이를 모방하여 노래, 악기
                                        연주, 신체표현 등의 다양한 방법으로
                                        나타내도록 한다. 학습자마다 산출해낸
                                        다양한 결과물을 서로 공유하며 새로운
                                        표현과 그 가능성을 즐기도록 하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 소리와 음악의 새로운 표현을 탐구하고
                                    즐기며
                                    <input
                                        data-answer="음악적 창의성"
                                        aria-label="음악적 창의성"
                                        placeholder="정답"
                                    />을 기르도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 음악 요소 등 음악의 고유한 방식과 원리에
                                    대한 이해를 바탕으로 한 음악적 표현을 통해
                                    음악 창작 활동에 대한 자신감과 자기주도성의
                                    토대를 형성하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 자신의 느낌과 상상을 다양하게 탐구하여
                                    즉흥 표현하기, 바꾸기, 모방하여 나타내기 등
                                    간단한 수준의 여러 창작 활동들을 쉽고
                                    재미있게 할 수 있도록 구성한다.
                                </div>

                                <div class="overview-question">
                                    • 창작의 과정에 흥미를 가질 수 있도록
                                    자유롭고 수용적인 분위기를 조성하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 학생의 관심과 음악적 수준에 따라 음악을
                                    표기하는 다양한 방법 중 적절한 것을 선택하여
                                    활용할 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 음악에 대한 흥미나 새로움을 즐기는 태도와
                                    관련된 성취기준은 자신이 만든 음악을 신체나
                                    악기 등으로 표현하기, 친구들과 공유하며
                                    발전시키기, 창작 과정과 결과물에 관한 느낌
                                    발표하기 등의 다양한 활동으로 나타낼 수
                                    있다.
                                </div>

                                <div class="overview-question">
                                    • 창작에서 평가는 결과물뿐만 아니라 창작
                                    동기나 과정, 참여도를 종합적으로 살피도록
                                    하며
                                    <input
                                        data-answer="체크리스트"
                                        aria-label="체크리스트"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="포트폴리오"
                                        aria-label="포트폴리오"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="음악 창작 일지"
                                        aria-label="음악 창작 일지"
                                        placeholder="정답"
                                    />
                                    등을 활용할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
