<section id="performance-34" class="active">
    <h2>연주34</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음01-01] 바른 자세와 주법을 익혀 노래
                                        부르거나 악기로 연주한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음01-02] 기초적인 음악 요소를 살려
                                        노래 부르거나 악기로 연주하고 느낌을
                                        이야기한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음01-02] 이 성취기준은 노래나 악기
                                        연주를 통해 기초적인 음악 요소를
                                        표현하도록 하기 위해 설정하였다.
                                        기초적인 수준의 음악 요소를 익혀 다양한
                                        악곡을 연주하고, 이를 통해 알게 된
                                        점이나 느낌 등을 이야기해 봄으로써 음악
                                        개념과 활동을 의미 있게 연결 짓도록 하는
                                        데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음01-03] 노래와 악기 연주에 어울리는
                                        <input
                                            data-answer="신체표현"
                                            aria-label="신체표현"
                                            placeholder="정답"
                                        />이나 놀이를 하며 음악을 즐긴다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음01-03] 이 성취기준은 다양한 노래나
                                        악기 연주의 특성을 탐색하고 관련지어
                                        자유롭게 신체나 놀이로 표현하도록 하기
                                        위해 설정하였다. 학습자의 발달 단계에
                                        적합한 흥미로운
                                        <input
                                            data-answer="신체표현"
                                            aria-label="신체표현"
                                            placeholder="정답"
                                        />을 통해 음악을 즐기고, 음악을 활용하여
                                        전통과 현대의 다양한 놀이를 하도록
                                        함으로써 노래, 연주 등의 음악 활동이
                                        음악 외의 여러 활동과 연결되도록 하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4음01-04]
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        속에서 음악을 경험하며 연주에 관심을
                                        가지고 참여한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4음01-04] 이 성취기준은 음악 수업을
                                        통해 학습한 다양한 음악 경험을 생활
                                        속으로 확장하도록 하기 위해 설정하였다.
                                        혼자 또는 여럿이 함께한 노래 및 악기
                                        연주 경험을 바탕으로 가정, 학교 등 주변
                                        생활 속에서 음악을 활용할 수 있는 방법에
                                        대해 살펴보고, 실제 생활에서 간단한 연주
                                        활동에 스스로 관심을 가지고 참여하도록
                                        하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 생활 속에서 접할 수 있는 다양한 노래와
                                    악기 연주 활동을 통해
                                    <input
                                        data-answer="음악적 감성"
                                        aria-label="음악적 감성"
                                        placeholder="정답"
                                    />을 기르도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 자유롭게 소리를 탐색하며 음악 요소나 주법
                                    등을 기초적인 수준에서 이해하여 음악에는
                                    고유한 방식과 원리가 있고 이를 다양한 소리로
                                    표현할 수 있음을 경험하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 노래나 악기 연주를 통한 음악 기초 기능을
                                    바탕으로 신체표현, 놀이, 이야기 등으로 점차
                                    확장시켜 음악 개념과 활동을 의미 있게 연결
                                    짓도록 구성한다.
                                </div>

                                <div class="overview-question">
                                    • 연주를 즐기는
                                    <input
                                        data-answer="태도"
                                        aria-label="태도"
                                        placeholder="정답"
                                    />나 연주에 대한
                                    <input
                                        data-answer="관심"
                                        aria-label="관심"
                                        placeholder="정답"
                                    />과 관련된 성취기준은 학생의
                                    <input
                                        data-answer="학습 참여도"
                                        aria-label="학습 참여도"
                                        placeholder="정답"
                                    />
                                    등을 평가기준으로 삼아 표현하기, 이야기하기
                                    등의 다양한 활동으로 나타내도록 할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 간단한 악곡의 연주에 관한 개인 또는
                                    공동체의 경험을 토대로 일상생활 속에서
                                    음악에 관심을 가지고 생활화할 수 있도록
                                    <input
                                        data-answer="구조화된 점검표"
                                        aria-label="구조화된 점검표"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="다이어그램"
                                        aria-label="다이어그램"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="음악 생활 일지"
                                        aria-label="음악 생활 일지"
                                        placeholder="정답"
                                    />
                                    등을 활용할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
