<section id="performance-56">
    <h2>연주56</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음01-01] 바른 주법과 표현 기법을 익혀
                                        노래나 악기로 느낌을 담아 연주한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음01-02] 음악 요소를 살려 노래나
                                        악기로 발표하고 과정을 돌아본다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음01-02] 이 성취기준은 악곡에 드러난
                                        음악의 다양한 요소를 익혀 노래나 악기
                                        연주로 표현하는 기회를 가지도록 하기
                                        위해 설정하였다. 여러 음악 요소에 대한
                                        이해를 바탕으로 노래나 악기 연주로
                                        발표하고, 자신의 발표 과정을 스스로
                                        돌아보면서 서로 평하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음01-03] 소리의 어울림을 생각하며
                                        다양한 방법으로
                                        <input
                                            data-answer="함께"
                                            aria-label="함께"
                                            placeholder="정답"
                                        />
                                        표현한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음01-03] 이 성취기준은 함께하는 연주
                                        활동을 통해 다양한 소리의 어울림을
                                        경험하고 음악 표현의 재미를 느낄 수
                                        있도록 하기 위해 설정하였다. 목소리,
                                        악기, 신체, 물체, 매체 등을 활용한
                                        다양한 소리와 그 어울림의 특징을
                                        탐구하고, 이를 표현하기 위한 여러 방법을
                                        탐색하도록 한다. 이 과정에서 다른 사람과
                                        함께 활동함으로써
                                        <input
                                            data-answer="공동체"
                                            aria-label="공동체"
                                            placeholder="정답"
                                        />
                                        속에서 음악으로
                                        <input
                                            data-answer="소통"
                                            aria-label="소통"
                                            placeholder="정답"
                                        />하는 즐거움을 경험하도록 하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6음01-04] 간단한 형태의 연주를 준비하여
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        속 음악 활동에 참여한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6음01-04] 이 성취기준은 학생들이
                                        노래와 악기 연주 기능을 발휘하여 생활
                                        속에서 음악 활동을 실천하는 태도를
                                        기르도록 하기 위해 설정하였다. 가정 및
                                        학교의 행사나 지역 축제 등 생활 속에서
                                        음악이 필요한 상황을 생각하여 적절한
                                        음악을 선택하고 학생들의 수준에 맞는
                                        간단한 형태로 혼자 또는 여럿이 연주를
                                        준비하도록 한다. 연주를 위한 준비 과정과
                                        발표에 참여함으로써 음악을
                                        <input
                                            data-answer="생활화"
                                            aria-label="생활화"
                                            placeholder="정답"
                                        />하며
                                        <input
                                            data-answer="자기주도적"
                                            aria-label="자기주도적"
                                            placeholder="정답"
                                        />으로 즐기는 태도를 기르도록 하는 데
                                        중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 3~4학년에서 학습한 음악 요소, 주법과 표현
                                    기법, 노래, 악기 연주 등에 관한 기초적인
                                    내용을 포함하되, 5~6학년에서는 지식이나
                                    기능의 개별 학습에 그치지 않고
                                    <input
                                        data-answer="협력적"
                                        aria-label="협력적"
                                        placeholder="정답"
                                    />인 음악 연주 활동을 통해
                                    <input
                                        data-answer="소통"
                                        aria-label="소통"
                                        placeholder="정답"
                                    />하며
                                    <input
                                        data-answer="공동체"
                                        aria-label="공동체"
                                        placeholder="정답"
                                    />
                                    속에서의
                                    <input
                                        data-answer="민주 시민 의식"
                                        aria-label="민주 시민 의식"
                                        placeholder="정답"
                                    />을 기를 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 다양한 연주를 통해 자신과 타인의 느낌,
                                    경험, 생각 등을 조화롭게 표현할 수 있음을
                                    경험하고 협력적인 활동을 다양하게 수행하며
                                    과정을 돌아봄으로써 연주의 즐거움을 느끼도록
                                    한다.
                                </div>

                                <div class="overview-question">
                                    • 노래와 악기 등의 연주를 위한 자세, 호흡,
                                    발성, 악기 연주 방법 등의 주법과 표현 기법의
                                    필요성을 인식하고, 소리의 원리와 특징에 따라
                                    아름다운 소리로 연주할 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 악곡에 드러난 여러 음악 요소에 대한 이해를
                                    바탕으로 노래나 악기 연주로 발표하고, 자신의
                                    발표 과정에 관해 스스로 또는 동료들과 함께
                                    이야기하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 생활 속의 음악 활동
                                    <input
                                        data-answer="참여"
                                        aria-label="참여"
                                        placeholder="정답"
                                    />와 관련된 성취기준은 연주를 위한 준비와
                                    발표 과정에서의
                                    <input
                                        data-answer="참여도"
                                        aria-label="참여도"
                                        placeholder="정답"
                                    />를 평가 기준으로 삼아 자발적이고 주도적인
                                    참여 태도, 실생활에서의 실천 의지 등으로
                                    평가할 수 있다. 이 때
                                    <input
                                        data-answer="연습 일지"
                                        aria-label="연습 일지"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="체크리스트"
                                        aria-label="체크리스트"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="포트폴리오"
                                        aria-label="포트폴리오"
                                        placeholder="정답"
                                    />
                                    등을 활용할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 연주를 발표하거나 생활 속 활동에 참여하는
                                    것을 평가할 때에는
                                    <input
                                        data-answer="녹음"
                                        aria-label="녹음"
                                        placeholder="정답"
                                    />이나
                                    <input
                                        data-answer="녹화"
                                        aria-label="녹화"
                                        placeholder="정답"
                                    />를 통해 연주 활동을 되돌아보고
                                    <input
                                        data-answer="자기"
                                        aria-label="자기"
                                        placeholder="정답"
                                    />
                                    평가 또는
                                    <input
                                        data-answer="상호"
                                        aria-label="상호"
                                        placeholder="정답"
                                    />
                                    평가 등 학생들의 평가 내용을 반영할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
