<section id="confucianism" class="active">
    <h2>◎ 유학</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    도덕과 교육을 제대로 수행하려면 윤리학과
                                    도덕 교육학 분야의 기초 이론을 이해해야
                                    한다. 우선, 동양 윤리학에서의
                                    <input
                                        data-answer="인간"
                                        aria-label="인간"
                                        placeholder="정답"
                                    />에 대한 이해를 살펴보는 것이 중요한데 이를
                                    위해서 공자와 맹자, 순자를 순서대로 간략하게
                                    살펴보기로 한다.
                                </div>

                                <div class="overview-question">
                                    유학은
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />을 중심으로 하고
                                    <input
                                        data-answer="효제"
                                        aria-label="효제"
                                        placeholder="정답"
                                    />·<input
                                        data-answer="충서"
                                        aria-label="충서"
                                        placeholder="정답"
                                    />
                                    등을 그 실천 요목으로 삼는 도덕 사상으로
                                    공자가 집대성하였다. 유학은 통상 유교와 같은
                                    의미로 이해되지만, 유교를 성립시키는
                                    학문으로서의 교학적인 의미가 강하며, 그
                                    외연은 매우 넓어 사회와 문화 등을 포괄한다.
                                </div>

                                <div class="overview-question">
                                    유학의 특징은
                                    <input
                                        data-answer="인간 중심주의"
                                        aria-label="인간 중심주의"
                                        placeholder="정답"
                                    />에 있다고 할 수 있는데, 이는 인간이 현실
                                    속에서 어떻게 스스로를 완성해 갈 수 있으며,
                                    또 현실 속에 자신의 모습을 어떻게 반영하는
                                    것이 옳은가 하는 실천성의 문제를 중시하고
                                    있다는 점에서 알 수 있다. 공자는 "사람도
                                    제대로 섬기지 못하는데 어찌 귀신을
                                    섬기겠는가?"라고 하였고, "삶도 잘 알지
                                    못하는데 어찌 죽음을 알겠는가?"라고
                                    답하였다. 이 점은 공자의 관심이 귀신이 아닌
                                    <input
                                        data-answer="인간"
                                        aria-label="인간"
                                        placeholder="정답"
                                    />, 죽음이 아닌
                                    <input
                                        data-answer="삶"
                                        aria-label="삶"
                                        placeholder="정답"
                                    />에 있음을 잘 보여 주는 대목이다.
                                </div>

                                <div class="overview-question">
                                    이러한 사고의 틀은 후에 모든 기반을 인간
                                    본성의
                                    <input
                                        data-answer="선함"
                                        aria-label="선함"
                                        placeholder="정답"
                                    />에 두고 그
                                    <input
                                        data-answer="확충"
                                        aria-label="확충"
                                        placeholder="정답"
                                    />을 주장한 맹자와 비록 인간을
                                    <input
                                        data-answer="악한"
                                        aria-label="악한"
                                        placeholder="정답"
                                    />
                                    존재로 보았지만, 인간 의지의 작용으로 악한
                                    요소를
                                    <input
                                        data-answer="극복"
                                        aria-label="극복"
                                        placeholder="정답"
                                    />할 것을 주장한 순자로 이어져 발전하였다.
                                    즉, 공자로 대표되는
                                    <input
                                        data-answer="선진 유가"
                                        aria-label="선진 유가"
                                        placeholder="정답"
                                    />의 주된 관심은 어떻게 하면 인간이 도덕적
                                    완성을 이룰 수 있는가 하는 문제에 있었다.
                                </div>

                                <div class="overview-question">
                                    따라서 유가의 모든 이론은 이를 설명하려는
                                    것으로 도덕적인 측면에서
                                    <input
                                        data-answer="소인"
                                        aria-label="소인"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="군자"
                                        aria-label="군자"
                                        placeholder="정답"
                                    />를 구별함으로써 학문의 목적을 뚜렷이
                                    내세우고 교육의 역할과 가능성을 긍정하였다고
                                    볼 수 있다.
                                    <input
                                        data-answer="군자"
                                        aria-label="군자"
                                        placeholder="정답"
                                    />는
                                    <input
                                        data-answer="경"
                                        aria-label="경"
                                        placeholder="정답"
                                    />으로 내면적으로 성숙하고,
                                    <input
                                        data-answer="의"
                                        aria-label="의"
                                        placeholder="정답"
                                    />로 외면적으로 완성하는 동시에,
                                    <input
                                        data-answer="안인"
                                        aria-label="안인"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="안백성"
                                        aria-label="안백성"
                                        placeholder="정답"
                                    />으로 국가 사회에 이바지함으로써
                                    <input
                                        data-answer="수기치인"
                                        aria-label="수기치인"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="도"
                                        aria-label="도"
                                        placeholder="정답"
                                    />를 실천하고 실현한다.
                                </div>

                                <div class="overview-question">
                                    도덕과 인성의 관계를 논하기에 앞서 우선,
                                    <input
                                        data-answer="도"
                                        aria-label="도"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />을 구분하여 살펴볼 수 있다.
                                    <input
                                        data-answer="도"
                                        aria-label="도"
                                        placeholder="정답"
                                    />는 인간의 근원인 하늘을 근거로 하는 인간
                                    행동의 원리로서 시공을 초월한 자연의 기본
                                    원리인 형이상학적 보편
                                    <input
                                        data-answer="원리"
                                        aria-label="원리"
                                        placeholder="정답"
                                    />이다. 반면,
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />은 시공에 대처한 인간 행위에 나타난 도의
                                    <input
                                        data-answer="구현"
                                        aria-label="구현"
                                        placeholder="정답"
                                    />, 또는 행위의 도덕적 원칙이나 사물의
                                    특성을 가리키는 범주로서, 도덕 근원으로부터
                                    부여받은 존재 내면의 도덕적 성품이나 도덕적
                                    능력이며 구체적으로 드러나는 형이하자적 실제
                                    행동을 가리킨다. 우주론적 본질 원리인
                                    <input
                                        data-answer="도"
                                        aria-label="도"
                                        placeholder="정답"
                                    />가 현상론적 실천적 구현인
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />으로 드러날 때, 인간은 인간에게 주어진
                                    본성에 따르는 삶을 영위하는 것이다. 그러므로
                                    인성과 덕은 동일 선상에 놓여 있는 개념이다.
                                </div>

                                <div class="overview-question">
                                    인간 본성에 관한 탐구를 표방하는 인성론은
                                    유학적인 논리 구조의 측면에서 볼 때,
                                    <input
                                        data-answer="정"
                                        aria-label="정"
                                        placeholder="정답"
                                    />과 결합되어 구체적인 작용으로 드러나는
                                    <input
                                        data-answer="심"
                                        aria-label="심"
                                        placeholder="정답"
                                    />을 논의의 핵심으로 삼아 다양하고도
                                    포괄적으로 전개되고 있다.
                                    <input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />은 '사람의 밝은 양기', '본능', '천성',
                                    '습성' 등 다양한 의미로 파악할 수 있다. 또한
                                    <input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />은
                                    <input
                                        data-answer="천인합일"
                                        aria-label="천인합일"
                                        placeholder="정답"
                                    />
                                    또는 하늘과 인간 간의 조화를 바탕으로 한다.
                                    이러한 면은 유가 가치관의 주요한 기본 틀로
                                    작용하며, 공자의 사상에 그대로 투영된다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
