<section id="confucius">
    <h2>◎ 공자</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="인간 이해"
                                        aria-label="인간 이해"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="사랑"
                                        aria-label="사랑"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="실천"
                                        aria-label="실천"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    물론, 공자에게 주요한 문제는
                                    <input
                                        data-answer="윤리적 실천 행위"
                                        aria-label="윤리적 실천 행위"
                                        placeholder="정답"
                                    />에 관한 것이다. 따라서 공자의 제자인
                                    자공이 언급하였듯이, 공자에게
                                    <input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />의 의미는 주요 논의의 대상이 아니었을지도
                                    모른다. 그러나 인성에 관한 공자의 견해는,
                                    유학의 인성론사 전개에 단초가 된다고 할 수
                                    있다.
                                </div>

                                <div class="overview-question">
                                    앞서 언급하였듯이, 공자는 정작 인성 자체를
                                    거의 언급하지 않았으며 선악을 단정하여
                                    말하지도 않았다. 다만, 인간의 본성에 관해
                                    "본성은 서로 비슷하나 습관에 따라 서로
                                    멀어지게 된다."라고 하여 후천적
                                    <input
                                        data-answer="습성"
                                        aria-label="습성"
                                        placeholder="정답"
                                    />의 중요성을
                                    <input
                                        data-answer="천부성"
                                        aria-label="천부성"
                                        placeholder="정답"
                                    />과 함께 피력하였다. 선천적인 인성으로
                                    말하면 사람이 서로 비슷하고 후천적인
                                    <input
                                        data-answer="습성"
                                        aria-label="습성"
                                        placeholder="정답"
                                    />으로 말미암아 서로 차이가 나게 된다는
                                    것이다. 공자는 이와 더불어 "오직 지극히
                                    지혜로운 사람과 지극히 어리석은 사람은
                                    아무도 변화시킬 수 없다."라고 말함으로써
                                    한편으로 사람에 따라 인성의
                                    <input
                                        data-answer="천부성"
                                        aria-label="천부성"
                                        placeholder="정답"
                                    />이
                                    <input
                                        data-answer="후천성"
                                        aria-label="후천성"
                                        placeholder="정답"
                                    />보다 더 강함을 주장하기도 하였다.
                                </div>

                                <div class="overview-question">
                                    동양 철학에서 '<input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />'이란 말은 본래 '생'으로 통용되어 생리적
                                    욕구 본능 같은 것으로 쓰였다. 그러나 공자는
                                    성의 생리적인 면에는 욕구 본능만 있는 것이
                                    아니라 존양해야 할 면도 있는 것으로
                                    이해하였다. 즉, 공자는 종래의 생리적 본능
                                    외에 자연 생명에서 밖으로 드러나는 정감이
                                    있음을 아울러 생각하는 인성론을 발달시켰다.
                                    성에는 부모와 자식 사이의
                                    <input
                                        data-answer="친친"
                                        aria-label="친친"
                                        placeholder="정답"
                                    />, 어른과 아이들 사이의
                                    <input
                                        data-answer="존현"
                                        aria-label="존현"
                                        placeholder="정답"
                                    />과 같은 정감이 있다고 보았다. 그 정감의
                                    순수무잡함이 다름 아닌
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />이라는 것이다.
                                </div>

                                <div class="overview-question">
                                    일반적으로 공자 사상의 핵심은
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />이라고 할 수 있다. '인'이 사덕을
                                    포함한다‘는 성리학의 논리나, '인'은 마음의
                                    덕이며 사랑의 도리’라는 주자의 해석으로도 알
                                    수 있듯이, 인이 본질적인 사람다움을 표방하는
                                    최고의 덕목임은 분명하다. 다만, 도덕
                                    교육적인 영역을 내재적 측면과 외형적 측면
                                    또는 인간의 도덕적 정감의 측면과 사회적 윤리
                                    질서의 측면에서 구분하자면, 공자 사상의 중심
                                    내용인
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />와 구별하여 논할 수도 있다.
                                </div>

                                <div class="overview-question">
                                    따라서
                                    <input
                                        data-answer="덕육"
                                        aria-label="덕육"
                                        placeholder="정답"
                                    />을 기초로 하는 공자의 도덕 교육 사상은
                                    인간다움이라는 보편적인
                                    <input
                                        data-answer="실천 원리"
                                        aria-label="실천 원리"
                                        placeholder="정답"
                                    />인 '인'을 핵심 내용으로 하고, 도덕 주체가
                                    당면한 현실에서 구현되는 도덕적
                                    <input
                                        data-answer="행위 규범"
                                        aria-label="행위 규범"
                                        placeholder="정답"
                                    />인 '예'를 외형적 요소로 한다고 이해할 수
                                    있다. 또한 교육 방법론의 측면에서 '<input
                                        data-answer="수기"
                                        aria-label="수기"
                                        placeholder="정답"
                                    />'와 '<input
                                        data-answer="치인"
                                        aria-label="치인"
                                        placeholder="정답"
                                    />'이라는
                                    <input
                                        data-answer="내재적 수양"
                                        aria-label="내재적 수양"
                                        placeholder="정답"
                                    />
                                    방법과
                                    <input
                                        data-answer="도덕 교화"
                                        aria-label="도덕 교화"
                                        placeholder="정답"
                                    />
                                    방법으로 구분하자면 사회 문제 해결의 관점은
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />에 있다고 볼 수 있다. 이러한 도덕 교육과
                                    사회 교화를 중시하는 공자의 기본적인 주장은
                                    『논어』 전편에 걸쳐 적극적으로 개진되고
                                    있다.
                                </div>

                                <div class="overview-question">
                                    공자의 인성론은 그의 인생관을 아우르며,
                                    <input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />이라는 글자가 표방하는 직접적인 방식이
                                    아니라,
                                    <input
                                        data-answer="욕"
                                        aria-label="욕"
                                        placeholder="정답"
                                    />
                                    등의 개념으로 간접적이고도 은근한 방식으로
                                    전개되고 있다. 따라서 공자 인성론에서의
                                    핵심을 공자 스스로 술회한 "마음이 하고자
                                    하는 바를 따라도 법도에 어긋남이
                                    없었다."라는 언급을 중심으로
                                    <input
                                        data-answer="욕"
                                        aria-label="욕"
                                        placeholder="정답"
                                    />의 실현과 조절이라는 측면에서 이해할 수도
                                    있다. "<input
                                        data-answer="극기복례"
                                        aria-label="극기복례"
                                        placeholder="정답"
                                    />하여
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />을 이룬다."라고 하였듯이, 공자의 주된
                                    관심은
                                    <input
                                        data-answer="사욕"
                                        aria-label="사욕"
                                        placeholder="정답"
                                    />을 극복하여 인간 모두에게 보편적으로
                                    내재하는 도덕적인 성품을 사회에 실현하는
                                    것이다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
