<section id="mencius">
    <h2>◎ 맹자</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="도덕적 선한 본성"
                                        aria-label="도덕적 선한 본성"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="회복"
                                        aria-label="회복"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="확충"
                                        aria-label="확충"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    맹자는
                                    <input
                                        data-answer="인의설"
                                        aria-label="인의설"
                                        placeholder="정답"
                                    />을 세워
                                    <input
                                        data-answer="성선"
                                        aria-label="성선"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="양기"
                                        aria-label="양기"
                                        placeholder="정답"
                                    />를 주장하였으며, '<input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />'이 '<input
                                        data-answer="생"
                                        aria-label="생"
                                        placeholder="정답"
                                    />'과 '<input
                                        data-answer="심"
                                        aria-label="심"
                                        placeholder="정답"
                                    />'을 포함한다고 보았다. 맹자에 이르러 성의
                                    <input
                                        data-answer="심리적"
                                        aria-label="심리적"
                                        placeholder="정답"
                                    />
                                    측면이 처음으로 구체화한 것이다. 이제 성은
                                    심리적 측면과 생리적 측면을 포괄한다. 맹자는
                                    성선의 근거를 '천의
                                    <input
                                        data-answer="내재성"
                                        aria-label="내재성"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="합목적성"
                                        aria-label="합목적성"
                                        placeholder="정답"
                                    />’에 두었다. 하늘의 합목적성 때문에 성이
                                    선하다고 주장한 것이다. 맹자는 그 증거로
                                    '사람에게는 남에게 차마 못하는 어진 마음이
                                    있다’는 것을 내세웠다. 즉, 맹자는 인간에게
                                    '<input
                                        data-answer="불인인지심"
                                        aria-label="불인인지심"
                                        placeholder="정답"
                                    />'이 있다고 하여 그것을
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />에서는
                                    <input
                                        data-answer="측은"
                                        aria-label="측은"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="의"
                                        aria-label="의"
                                        placeholder="정답"
                                    />에서는
                                    <input
                                        data-answer="수오"
                                        aria-label="수오"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />에서는
                                    <input
                                        data-answer="사양"
                                        aria-label="사양"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="지"
                                        aria-label="지"
                                        placeholder="정답"
                                    />에서는
                                    <input
                                        data-answer="시비"
                                        aria-label="시비"
                                        placeholder="정답"
                                    />라 하며, 이 네 가지를
                                    <input
                                        data-answer="사성의 단"
                                        aria-label="사성의 단"
                                        placeholder="정답"
                                    />이라 하였다. 그리고 이
                                    <input
                                        data-answer="사단"
                                        aria-label="사단"
                                        placeholder="정답"
                                    />이 있기 때문에 이로부터 선을 실행하여 그
                                    근본을 이룰 수 있다고 본 것이다.
                                </div>

                                <div class="overview-question">
                                    이렇듯이, 맹자는 인간의 본성이 선하다는
                                    확신에서 출발하며, 모든 인간의 마음에 있는
                                    <input
                                        data-answer="불인인지심"
                                        aria-label="불인인지심"
                                        placeholder="정답"
                                    />은
                                    <input
                                        data-answer="천부적"
                                        aria-label="천부적"
                                        placeholder="정답"
                                    />인 것이라고 보았다. 이러한 인간의 천부적
                                    공통점은 사람이 사람다워질 수 있는 것으로
                                    이것이 없으면 인간이 아니라고 하였다. 따라서
                                    이를 제대로 기르면 개인의 완성은 물론이고
                                    사회적으로도 이상 사회의 건설이 가능하다고
                                    보았다. 그러므로 맹자는 도덕적 본성을 어떻게
                                    제대로 구현할 것인가를 중시했으며, 그
                                    방법들로
                                    <input
                                        data-answer="호연지기"
                                        aria-label="호연지기"
                                        placeholder="정답"
                                    />를 기를 것,
                                    <input
                                        data-answer="욕심을 줄일 것"
                                        aria-label="욕심을 줄일 것"
                                        placeholder="정답"
                                    />
                                    등을 강조한다. 사실 이러한 방법은 "만물이
                                    모두 내게 갖추어져 있으므로", "마음을 다하면
                                    본성을 알게 되고 본성을 알게 되면 하늘을
                                    알게 된다."라고 하였듯이, 궁극적으로는 모두
                                    인간의
                                    <input
                                        data-answer="내면"
                                        aria-label="내면"
                                        placeholder="정답"
                                    />에 그
                                    <input
                                        data-answer="동기"
                                        aria-label="동기"
                                        placeholder="정답"
                                    />가 있다고 본 것이다.
                                </div>

                                <div class="overview-question">
                                    선진 유학에서의 마음에 관한 논의는 맹자의
                                    성선론이 보여 주듯이 주로 도덕적 본심 또는
                                    양심으로 이해되며, 후대 주자학의 심성론적
                                    구조 속에서 전개되는 성이나 정과 관련하여
                                    다양하게 논의되는 내용과는 다소 거리가 있다.
                                    이러한 도덕적 심성은
                                    <input
                                        data-answer="성인"
                                        aria-label="성인"
                                        placeholder="정답"
                                    />만이 지니고 있는 것이 아니라
                                    <input
                                        data-answer="모든 사람"
                                        aria-label="모든 사람"
                                        placeholder="정답"
                                    />이 지니고 있다. 그러나 단지 일반 사람들은
                                    외물의 유혹에 쉽게 잃어버릴 수 있으나,
                                    성인만이 잃지 않고 보존할 뿐이다. 따라서
                                    맹자의 양심이나 본심의 측면에서 보면, 도덕은
                                    이미
                                    <input
                                        data-answer="내재적인 자율"
                                        aria-label="내재적인 자율"
                                        placeholder="정답"
                                    />이지 결코
                                    <input
                                        data-answer="외재적인 타율"
                                        aria-label="외재적인 타율"
                                        placeholder="정답"
                                    />이 아니다.
                                </div>

                                <div class="overview-question">
                                    기본적으로 『맹자』에 나타나는 윤리학적
                                    범주와 범주 사이의 상호 관계는 근원적으로
                                    공자의 사상 체계와 밀접한 관계가 있다.
                                    맹자는 공자의 예치 사상과 도덕 정치 사상을
                                    발전시켰으며,
                                    <input
                                        data-answer="인정"
                                        aria-label="인정"
                                        placeholder="정답"
                                    />으로 대표되는
                                    <input
                                        data-answer="왕도"
                                        aria-label="왕도"
                                        placeholder="정답"
                                    />
                                    사상을 주장하였다. 맹자가 말하는 '<input
                                        data-answer="왕도"
                                        aria-label="왕도"
                                        placeholder="정답"
                                    />'는
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />으로 정치를 하는 것이다. 맹자는 "<input
                                        data-answer="인정"
                                        aria-label="인정"
                                        placeholder="정답"
                                    />을 행하여 왕 노릇을 한다면, 이를 막을 수
                                    없다."라고 하고, "<input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />으로
                                    <input
                                        data-answer="인"
                                        aria-label="인"
                                        placeholder="정답"
                                    />을 행한 자는 왕이다."라고 하여 '<input
                                        data-answer="인정"
                                        aria-label="인정"
                                        placeholder="정답"
                                    />'으로 천하를 통일하여 제왕이 된다면 그
                                    누구도 이를 저지할 수 없다는 점을
                                    역설하였다. 그러나 한편으로 '<input
                                        data-answer="인정"
                                        aria-label="인정"
                                        placeholder="정답"
                                    />'을 시행하려면 무엇보다도 '<input
                                        data-answer="민심"
                                        aria-label="민심"
                                        placeholder="정답"
                                    />'을 얻어야 하니, 통치자는 마땅히
                                    <input
                                        data-answer="인애"
                                        aria-label="인애"
                                        placeholder="정답"
                                    />의 마음으로 백성들을 대해야 한다. 한편,
                                    여기서 한 가지 주목할 만한 대목은 맹자가
                                    교육으로 외물에 가려진 본심을 회복하고자
                                    했듯이, 맹자는 교육을
                                    <input
                                        data-answer="선한 정치"
                                        aria-label="선한 정치"
                                        placeholder="정답"
                                    />보다 더 우선했다는 점이다. 즉,
                                    <input
                                        data-answer="왕도 정치"
                                        aria-label="왕도 정치"
                                        placeholder="정답"
                                    />의 관건은 교육에 있다는 것이다.
                                </div>

                                <div class="overview-question">
                                    맹자는 도덕 교육의 측면에서 다양한 원칙을
                                    제시하였으며, 도덕적 이상을 함양하고 아울러
                                    도덕적 자각을 통한
                                    <input
                                        data-answer="실천 의지"
                                        aria-label="실천 의지"
                                        placeholder="정답"
                                    />를 키울 것을 주장하였다. 맹자는 '<input
                                        data-answer="상지"
                                        aria-label="상지"
                                        placeholder="정답"
                                    />'와 '<input
                                        data-answer="지지"
                                        aria-label="지지"
                                        placeholder="정답"
                                    />'로
                                    <input
                                        data-answer="인의"
                                        aria-label="인의"
                                        placeholder="정답"
                                    />가 실현되는 도덕적 이상을 논하였으며, "그
                                    마음을
                                    <input
                                        data-answer="보존"
                                        aria-label="보존"
                                        placeholder="정답"
                                    />하고, 그 본성을
                                    <input
                                        data-answer="함양"
                                        aria-label="함양"
                                        placeholder="정답"
                                    />하라."라는 말로 선험적인 도덕의식을
                                    유지하고 아울러 도덕적 자각을 이루기를
                                    강조하였다. 이러한 자각은 '<input
                                        data-answer="선단"
                                        aria-label="선단"
                                        placeholder="정답"
                                    />'의 확충으로 도덕적 품성을 갖추는 일이기도
                                    하다.
                                </div>

                                <div class="overview-question">
                                    맹자의 성선설은 유가 인성론의 기초가
                                    되었으며, 특히 인간은 도덕적 주체이며 인간의
                                    사회적 관계와 실천이 관건이라는 점과 도덕적
                                    근거를 외재적 '<input
                                        data-answer="천"
                                        aria-label="천"
                                        placeholder="정답"
                                    />'과 내재적 '<input
                                        data-answer="인성"
                                        aria-label="인성"
                                        placeholder="정답"
                                    />'의 두 축으로 논하는 견해는 후에 대다수
                                    유학자가 수용함으로써 커다란 영향력을
                                    발휘하게 된다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
