<section id="xunzi">
    <h2>◎ 순자</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="인간 욕망"
                                        aria-label="인간 욕망"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="조절"
                                        aria-label="조절"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="사회적 규범"
                                        aria-label="사회적 규범"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="확립"
                                        aria-label="확립"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    순자는
                                    <input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />를 주장하여
                                    <input
                                        data-answer="성악"
                                        aria-label="성악"
                                        placeholder="정답"
                                    />을 설명하는데, 그의 인성론의 핵심은
                                    <input
                                        data-answer="정"
                                        aria-label="정"
                                        placeholder="정답"
                                    />의 반응으로서의 욕망이
                                    <input
                                        data-answer="무한"
                                        aria-label="무한"
                                        placeholder="정답"
                                    />하다는 데서 출발한다. "무릇 귀하게는
                                    천자가 되고 부하게는 천하를 가지는 것은
                                    사람의 정이 모두 바라는 바이다."라고
                                    하였듯이, 바로 이 점이 인간의 성이 악하다는
                                    관점의 토대를 제공한다. "사람의 본성은
                                    악하다. 그 선은 인위적인 노력의 결과이다.
                                    사람의 본성은 태어나면서부터 이익을
                                    좋아한다. 그래서 싸움과 빼앗음이 생겨 양보가
                                    사라진다. 또, 태어나면서부터 싫어하고
                                    미워한다. 그래서 해치고 상하게 하여 성실과
                                    믿음이 사라진다. 또 태어나면서부터 귀와 눈의
                                    욕망은 소리와 색을 좋아한다. 그래서 음란함이
                                    생겨 예의와 문리가 사라진다."라는 말은 정의
                                    구체적인 외부 표출인 욕망을 문제 삼은
                                    것이다.
                                </div>

                                <div class="overview-question">
                                    인간의 욕망이 필연적으로 투쟁을 낳고 혼란을
                                    야기한다는 점에서 인간의 성을
                                    <input
                                        data-answer="악"
                                        aria-label="악"
                                        placeholder="정답"
                                    />으로 규정한 것이다. 순자는 "무릇
                                    <input
                                        data-answer="본성"
                                        aria-label="본성"
                                        placeholder="정답"
                                    />이란 타고난 대로를 말하는 것이니, 배워서
                                    되는 것이 아니고 행동해서 되는 것도 아니다.
                                    그러나
                                    <input
                                        data-answer="예의"
                                        aria-label="예의"
                                        placeholder="정답"
                                    />는 성현이 인위적으로 만들어 낸 것이니,
                                    배우고 노력하면 되는 것이다. 배우지 않고
                                    행하지 않으며 그대로 있는 것을
                                    <input
                                        data-answer="본성"
                                        aria-label="본성"
                                        placeholder="정답"
                                    />이라 하며, 배우고 노력해야 하는 것을
                                    <input
                                        data-answer="인위"
                                        aria-label="인위"
                                        placeholder="정답"
                                    />라 하니 이것이
                                    <input
                                        data-answer="성"
                                        aria-label="성"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="위"
                                        aria-label="위"
                                        placeholder="정답"
                                    />의 구별이다."라고 하였다.
                                </div>

                                <div class="overview-question">
                                    순자의 인성론에서 '<input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />'는 매우 중요한 의미를 내포하고 있다.
                                    순자가 성악을 말한 까닭이 인간이 주체적
                                    능동성으로 '<input
                                        data-answer="위"
                                        aria-label="위"
                                        placeholder="정답"
                                    />'를 행한다는 점을 강조하기 위함이었다면,
                                    그 '<input
                                        data-answer="위"
                                        aria-label="위"
                                        placeholder="정답"
                                    />'의 결과가 바로 '<input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />'이기 때문이다. 곧 위의 형식이 예라 볼 수
                                    있다. 순자는 학문의 최종 목적을
                                    <input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />의 확립에 두었다. 예는 궁극적으로 모든
                                    사람이 악한 인성을 선으로 교화할 수 있는
                                    <input
                                        data-answer="교정의 틀"
                                        aria-label="교정의 틀"
                                        placeholder="정답"
                                    />로 작용한다.
                                </div>

                                <div class="overview-question">
                                    인간에게는 생존 욕망이라는 기본적인 성향이
                                    존재한다. 이와 함께 순자는 인간에게는 또
                                    다른 생존 조건이 하나 있다고 보았다. 그것은
                                    <input
                                        data-answer="무리 생활"
                                        aria-label="무리 생활"
                                        placeholder="정답"
                                    />이다. 순자는 인간이 다른 존재들보다 우월한
                                    이유는 사회를 구성할 수 있기 때문이라고
                                    보았다. 천부적으로 타고난 개인적 차원의 생존
                                    욕망이 무리 속에서 조화를 이루지 못할 때
                                    사회가 혼란스럽게 된다. 그래서 이를
                                    인위적으로 교정할 필요가 있고, 이
                                    <input
                                        data-answer="교정의 틀"
                                        aria-label="교정의 틀"
                                        placeholder="정답"
                                    />이 다름 아닌 예의 기본 원리가 되는 것이다.
                                </div>

                                <div class="overview-question">
                                    인간의 본성이 선하다는 확신에서부터 출발한
                                    맹자와 달리 순자는 인간의 천부적 본성을
                                    자연성으로 보아서, 그 욕구대로 따라가면
                                    다툼이 나올 수밖에 없으므로 인간의 본성은
                                    <input
                                        data-answer="악"
                                        aria-label="악"
                                        placeholder="정답"
                                    />이라고 생각했다. 그러한 욕구는 사물에 대해
                                    구체적인 좋고 나쁨 등의 감정으로 드러나게
                                    되는데, 이때 인간은 선택을 하게 되며,
                                    스스로의 판단에 따라 옳지 않다고 생각되면
                                    오히려 욕구와는 반대로 행동하기도 하는데 그
                                    욕구를 거스르게 하는 작용을 의지로 보았다.
                                </div>

                                <div class="overview-question">
                                    공자나 맹자가 도덕의 근원을
                                    <input
                                        data-answer="하늘"
                                        aria-label="하늘"
                                        placeholder="정답"
                                    />에서 찾았던 것과 달리, 순자는 하늘을
                                    기계적인
                                    <input
                                        data-answer="자연 현상"
                                        aria-label="자연 현상"
                                        placeholder="정답"
                                    />에 불과하다고 보았다. 그리고 인간의 의지는
                                    하늘과 관계없이 오직
                                    <input
                                        data-answer="인간"
                                        aria-label="인간"
                                        placeholder="정답"
                                    />에게만 해당하는 것으로 보았는데, 그러한
                                    의지적인 작용을 구체화하여 틀에 맞춘 것이
                                    <input
                                        data-answer="예"
                                        aria-label="예"
                                        placeholder="정답"
                                    />이다. 따라서 순자에게 예란 인간 내면의
                                    <input
                                        data-answer="본래성"
                                        aria-label="본래성"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="구현"
                                        aria-label="구현"
                                        placeholder="정답"
                                    />이 아니고 요청된
                                    <input
                                        data-answer="행위 규범"
                                        aria-label="행위 규범"
                                        placeholder="정답"
                                    />으로 파악되며 이러한 관점에서 인간의
                                    <input
                                        data-answer="사회성"
                                        aria-label="사회성"
                                        placeholder="정답"
                                    />이 강조된다.
                                </div>

                                <div class="overview-question">
                                    순자의 도덕 교육은
                                    <input
                                        data-answer="본성"
                                        aria-label="본성"
                                        placeholder="정답"
                                    />을 바꿔서 도덕인을 만드는 '<input
                                        data-answer="화성기위"
                                        aria-label="화성기위"
                                        placeholder="정답"
                                    />' 개념으로도 설명할 수 있다. '<input
                                        data-answer="화성기위"
                                        aria-label="화성기위"
                                        placeholder="정답"
                                    />'는 자기성찰을 통한
                                    <input
                                        data-answer="수양"
                                        aria-label="수양"
                                        placeholder="정답"
                                    />의 과정이며, 사회가 요청하는 이상적인
                                    인간이 되기 위한
                                    <input
                                        data-answer="자기 변화"
                                        aria-label="자기 변화"
                                        placeholder="정답"
                                    />의 과정이다. 또한, '<input
                                        data-answer="화성기위"
                                        aria-label="화성기위"
                                        placeholder="정답"
                                    />'는 도덕 교육의
                                    <input
                                        data-answer="필요성"
                                        aria-label="필요성"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="목적"
                                        aria-label="목적"
                                        placeholder="정답"
                                    />으로서의 '<input
                                        data-answer="화성"
                                        aria-label="화성"
                                        placeholder="정답"
                                    />' 그리고 도덕 교육의
                                    <input
                                        data-answer="내용"
                                        aria-label="내용"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="방법"
                                        aria-label="방법"
                                        placeholder="정답"
                                    />으로서의 '<input
                                        data-answer="기위"
                                        aria-label="기위"
                                        placeholder="정답"
                                    />'로 구분할 수 있다.
                                </div>

                                <div class="overview-question">
                                    비록, 표면적으로는 맹자와 순자가 상반된
                                    인간관을 견지한 것으로 이해할 수 있으나,
                                    궁극적인 목표를 사회가 요청하는 이상적인
                                    인간상인
                                    <input
                                        data-answer="성인"
                                        aria-label="성인"
                                        placeholder="정답"
                                    />에 두었고 또 인간 누구나가
                                    <input
                                        data-answer="성인"
                                        aria-label="성인"
                                        placeholder="정답"
                                    />이 될 수 있다고 본 점에서 유사성을 발견할
                                    수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
