<section id="korean-media">
    <h2>매체</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#교수⋅학습 방법</div>

                                <div class="overview-question">
                                    • '매체' 영역에서는 매체 자료가 생산되고
                                    소통되는
                                    <input
                                        data-answer="상황"
                                        aria-label="상황"
                                        placeholder="정답"
                                    />
                                    맥락 및
                                    <input
                                        data-answer="사회⋅문화적"
                                        aria-label="사회⋅문화적"
                                        placeholder="정답"
                                    />
                                    맥락을 고려하여 다양한 매체를 실제로
                                    <input
                                        data-answer="수용"
                                        aria-label="수용"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="생산"
                                        aria-label="생산"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="공유"
                                        aria-label="공유"
                                        placeholder="정답"
                                    />하는 활동과 자신과 우리 사회의 매체 소통
                                    문화를
                                    <input
                                        data-answer="성찰"
                                        aria-label="성찰"
                                        placeholder="정답"
                                    />하는 활동을 강조한다.
                                </div>

                                <div class="overview-question">
                                    • 매체 영역의 학습 과정에서 지면을 통해
                                    간접적으로 구현된 매체 자료를 일부 활용할 수
                                    있으나, 되도록
                                    <input
                                        data-answer="디지털 기기"
                                        aria-label="디지털 기기"
                                        placeholder="정답"
                                    />를 활용하여 실제적인 매체 자료를
                                    <input
                                        data-answer="수용"
                                        aria-label="수용"
                                        placeholder="정답"
                                    />⋅<input
                                        data-answer="생산"
                                        aria-label="생산"
                                        placeholder="정답"
                                    />할 수 있도록 하고, 학습자가 생산한 매체
                                    자료를 다양한 온라인 플랫폼을 활용하여
                                    <input
                                        data-answer="공유"
                                        aria-label="공유"
                                        placeholder="정답"
                                    />할 수 있도록 안내한다.
                                </div>

                                <div class="overview-question">
                                    • 또한 '매체' 영역에서는 '국어' 과목의
                                    <input
                                        data-answer="타 영역"
                                        aria-label="타 영역"
                                        placeholder="정답"
                                    />과 긴밀하게 연계함으로써, 학습자가
                                    국어생활 전 영역에서 매체를 능동적이고
                                    책임감 있게 사용할 수 있도록 지도한다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#평가 방법</div>

                                <div class="overview-question">
                                    • '매체' 영역에서는
                                    <input
                                        data-answer="상황"
                                        aria-label="상황"
                                        placeholder="정답"
                                    />
                                    맥락과
                                    <input
                                        data-answer="사회⋅문화적"
                                        aria-label="사회⋅문화적"
                                        placeholder="정답"
                                    />
                                    맥락을 고려하여 매체를 수용하고 생산하는
                                    능력과 능동적인 태도에 중점을 두어 평가한다.
                                </div>

                                <div class="overview-question">
                                    • 특히, 매체와 관련한 개념이나 지식의 단순
                                    암기에 그치지 않고 실제 언어생활 맥락에서
                                    매체를
                                    <input
                                        data-answer="수용"
                                        aria-label="수용"
                                        placeholder="정답"
                                    />하고
                                    <input
                                        data-answer="생산"
                                        aria-label="생산"
                                        placeholder="정답"
                                    />하는 능력에 중점을 두어 평가하되, 이
                                    과정에서 '국어'의 타 영역과 긴밀하게
                                    통합하여 평가 과제를 구성할 수 있도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
