<section id="korean-grammar">
    <h2>문법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#교수⋅학습 방법</div>

                                <div class="overview-question">
                                    • '문법' 영역에서는 우리 주변에서 쉽게 접할
                                    수 있는 국어 자료에 나타난 다양한 국어
                                    현상과 국어 문제를 탐구하여 언어 지식을
                                    구성하고 언어의 힘과 가치를 인식하는 활동을
                                    강조한다.
                                </div>

                                <div class="overview-question">
                                    • 또한 문법 교육 내용이 위계적으로
                                    반복⋅심화될 수 있도록 지도하되, 학습한
                                    내용을 국어생활의 개선에 능동적으로 활용할
                                    수 있도록 안내함으로써, 학습자가 자신과
                                    주변의 국어생활을 민감하게 주시하고 성찰하는
                                    <input
                                        data-answer="언어 주체"
                                        aria-label="언어 주체"
                                        placeholder="정답"
                                    />로 성장할 수 있도록 지도한다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#평가 방법</div>

                                <div class="overview-question">
                                    • '문법' 영역에서는 문법 지식을 단순
                                    암기하는 데 그치지 않고 국어의
                                    <input
                                        data-answer="구조"
                                        aria-label="구조"
                                        placeholder="정답"
                                    />와 문법의
                                    <input
                                        data-answer="작동 원리"
                                        aria-label="작동 원리"
                                        placeholder="정답"
                                    />를 파악하고 이를 생활 속에
                                    <input
                                        data-answer="적용"
                                        aria-label="적용"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="실천"
                                        aria-label="실천"
                                        placeholder="정답"
                                    />할 수 있도록 문법 지식의 이해와 탐구 및
                                    적용 능력에 중점을 두어 평가한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="태도"
                                        aria-label="태도"
                                        placeholder="정답"
                                    />와 같은 정의적 측면을 평가할 때는
                                    <input
                                        data-answer="자기 점검표"
                                        aria-label="자기 점검표"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="성찰 보고서"
                                        aria-label="성찰 보고서"
                                        placeholder="정답"
                                    />
                                    등의 도구를 제공하여 지속적으로
                                    <input
                                        data-answer="누적"
                                        aria-label="누적"
                                        placeholder="정답"
                                    />
                                    평가가 가능하도록 지원한다.
                                </div>

                                <div class="overview-question">
                                    • 평가의 실제성을 확보할 수 있도록 다양한
                                    국어 자료를 활용해 탐구 및 적용 과제를
                                    설계하되, 과제 수행
                                    <input
                                        data-answer="결과"
                                        aria-label="결과"
                                        placeholder="정답"
                                    />뿐 아니라 국어 자료를 수집, 분석하고 언어
                                    지식을 구성해 나가는
                                    <input
                                        data-answer="과정"
                                        aria-label="과정"
                                        placeholder="정답"
                                    />을 함께 평가할 수 있도록 평가를 설계한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
