<section id="korean-reading">
    <h2>읽기</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#교수⋅학습 방법</div>

                                <div class="overview-question">
                                    • ‘읽기’ 영역에서는 지엽적인 지식이나
                                    세부적인 기능, 전략에 대한
                                    <input
                                        data-answer="분절적"
                                        aria-label="분절적"
                                        placeholder="정답"
                                    />인 학습을 지양하고,
                                    <input
                                        data-answer="상황"
                                        aria-label="상황"
                                        placeholder="정답"
                                    />
                                    맥락과
                                    <input
                                        data-answer="사회⋅문화적"
                                        aria-label="사회⋅문화적"
                                        placeholder="정답"
                                    />
                                    맥락을 고려하여 다양한 유형의 글이나 자료를
                                    토대로 적절한 읽기
                                    <input
                                        data-answer="전략"
                                        aria-label="전략"
                                        placeholder="정답"
                                    />을 적용하고 그 효과성을
                                    <input
                                        data-answer="점검⋅조정"
                                        aria-label="점검⋅조정"
                                        placeholder="정답"
                                    />하며 읽는 활동을 강조한다.
                                </div>

                                <div class="overview-question">
                                    • 학습자의 수준, 관심, 흥미, 적성, 진로 등을
                                    고려한
                                    <input
                                        data-answer="자기 선택적"
                                        aria-label="자기 선택적"
                                        placeholder="정답"
                                    />
                                    읽기 활동을 안내하고 특히, 읽기 상황과
                                    학습자의 읽기 수준을 고려하여 읽을거리의
                                    난도나 분량 등을 결정하되, 짧고 쉬운 글이나
                                    자료에서
                                    <input
                                        data-answer="한 권 이상"
                                        aria-label="한 권 이상"
                                        placeholder="정답"
                                    />의 책 읽기로 심화할 수 있도록 지도한다.
                                </div>

                                <div class="overview-question">
                                    • 또한 읽기 과정에서 학습자가 스스로
                                    <input
                                        data-answer="질문"
                                        aria-label="질문"
                                        placeholder="정답"
                                    />을 생성하고 학습자 간의 발표, 대화, 토론
                                    등의 과정을 통해 다른 독자들의 다양한
                                    <input
                                        data-answer="반응"
                                        aria-label="반응"
                                        placeholder="정답"
                                    />을 공유함으로써 학습자가
                                    <input
                                        data-answer="개인적"
                                        aria-label="개인적"
                                        placeholder="정답"
                                    />
                                    읽기에 머무르지 않고
                                    <input
                                        data-answer="사회적"
                                        aria-label="사회적"
                                        placeholder="정답"
                                    />
                                    읽기에 참여하는 독자로 성장할 수 있도록
                                    지도한다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#평가 방법</div>

                                <div class="overview-question">
                                    • ‘읽기’ 영역에서는 교과서의 제재뿐 아니라
                                    교과서 밖의 적절한 제재도 활용하여
                                    <input
                                        data-answer="실제적"
                                        aria-label="실제적"
                                        placeholder="정답"
                                    />인 읽기 능력과 읽기 태도, 다양한 독서 경험
                                    등을 종합적으로 평가하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 또한 읽기 영역의 단독 평가뿐만 아니라,
                                    <input
                                        data-answer="타 영역"
                                        aria-label="타 영역"
                                        placeholder="정답"
                                    />과 통합한 평가를 실시하되,
                                    <input
                                        data-answer="읽기 평가 요소"
                                        aria-label="읽기 평가 요소"
                                        placeholder="정답"
                                    />를 명시하여 읽기에 대한 구체적인 진단과
                                    피드백이 가능할 수 있도록 평가 도구를
                                    구성한다.
                                </div>

                                <div class="overview-question">
                                    • 기초 수준에 있는 학습자나 느린 학습자 등
                                    읽기에 어려움을 겪는 학습자의 읽기 문제를
                                    진단하고 효과적인 피드백을 제공하기 위해
                                    <input
                                        data-answer="해독"
                                        aria-label="해독"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="유창성"
                                        aria-label="유창성"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="독해"
                                        aria-label="독해"
                                        placeholder="정답"
                                    />
                                    기능과 관련된 평가를 실시할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 세부적으로는 자유 회상 검사, 오독 분석,
                                    빈칸 메우기법, 자율적 수정, 중요도 평정,
                                    요약하기 등의 평가를 실시할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 읽기
                                    <input
                                        data-answer="태도"
                                        aria-label="태도"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="습관"
                                        aria-label="습관"
                                        placeholder="정답"
                                    />
                                    등을 평가할 때는
                                    <input
                                        data-answer="일회적"
                                        aria-label="일회적"
                                        placeholder="정답"
                                    />
                                    평가보다
                                    <input
                                        data-answer="누적적"
                                        aria-label="누적적"
                                        placeholder="정답"
                                    />
                                    평가를 실시하여 지속적으로 점검하고 학습자의
                                    향상을 지원할 수 있도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
