<section id="korean-literature">
    <h2>문학</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#교수⋅학습 방법</div>

                                <div class="overview-question">
                                    • '문학' 영역에서는 학습자가 적극적이고
                                    능동적으로 문학을
                                    <input
                                        data-answer="향유"
                                        aria-label="향유"
                                        placeholder="정답"
                                    />하는 주체로 성장할 수 있게 하는 활동을
                                    강조한다.
                                </div>

                                <div class="overview-question">
                                    • 학습자의 수준에 맞는 작품들을 다양하게
                                    접하는 가운데 문학의
                                    <input
                                        data-answer="즐거움"
                                        aria-label="즐거움"
                                        placeholder="정답"
                                    />을 경험하게 하며, 학습자들이 작품을 접한
                                    후에 각자 가지는 생각과 감정을 자유롭고
                                    적극적으로 다른 학습자들과 공유하며
                                    <input
                                        data-answer="소통"
                                        aria-label="소통"
                                        placeholder="정답"
                                    />할 수 있게 한다.
                                </div>

                                <div class="overview-question">
                                    • 나아가 학습자가 자신을
                                    <input
                                        data-answer="창의적"
                                        aria-label="창의적"
                                        placeholder="정답"
                                    />이고 효과적으로 표현할 수 있는 능력을 기를
                                    수 있도록 문학
                                    <input
                                        data-answer="창작"
                                        aria-label="창작"
                                        placeholder="정답"
                                    />의 경험을 충분히 쌓을 수 있게 한다.
                                </div>

                                <div class="overview-question">
                                    • 이와 함께 온전한 작품 한 편, 또는 작품이
                                    수록된 시집이나 작품집 한 권 등
                                    <input
                                        data-answer="긴 호흡"
                                        aria-label="긴 호흡"
                                        placeholder="정답"
                                    />으로 작품을 충분히 즐길 수 있는 기회와
                                    여건을 제공하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 제한된 분량의 교재, 한정된 시수 등으로
                                    인해 수업 시간에는 작품을
                                    <input
                                        data-answer="일부"
                                        aria-label="일부"
                                        placeholder="정답"
                                    />만 발췌하여 읽는다 하더라도,
                                    <input
                                        data-answer="책 한 권 읽기"
                                        aria-label="책 한 권 읽기"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="작품 전체 읽기"
                                        aria-label="작품 전체 읽기"
                                        placeholder="정답"
                                    />
                                    활동 등을 통해 불완전한 문학 수업의 한계를
                                    최소화할 수 있게 한다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#평가 방법</div>

                                <div class="overview-question">
                                    • '문학' 영역의 평가는 문학 영역의 지식을
                                    이해하고 문학 작품을
                                    <input
                                        data-answer="해석"
                                        aria-label="해석"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="감상"
                                        aria-label="감상"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="비평"
                                        aria-label="비평"
                                        placeholder="정답"
                                    />하며 문학 작품을
                                    <input
                                        data-answer="창작"
                                        aria-label="창작"
                                        placeholder="정답"
                                    />할 수 있는 능력에 중점을 두어 평가한다.
                                </div>

                                <div class="overview-question">
                                    • 단편적인 개념이나 작품의 부분에 대한
                                    이해를 확인하기보다는
                                    <input
                                        data-answer="상상력"
                                        aria-label="상상력"
                                        placeholder="정답"
                                    />을 발휘하여 작품의 부분과 전체를
                                    주체적으로 수용할 수 있는 능력의 수준을
                                    확인하는 한편, 학습자의 문학 능력 가운데
                                    부족한 부분을 정확히 진단할 수 있는 평가를
                                    설계한다.
                                </div>

                                <div class="overview-question">
                                    • 또한 작품에 대한 감상이나 비평, 작품 창작
                                    활동을
                                    <input
                                        data-answer="누적적"
                                        aria-label="누적적"
                                        placeholder="정답"
                                    />으로 기록해 나갈 수 있는 평가 방법을
                                    개발하여 작품 수용과 생산의
                                    <input
                                        data-answer="결과"
                                        aria-label="결과"
                                        placeholder="정답"
                                    />뿐 아니라
                                    <input
                                        data-answer="과정"
                                        aria-label="과정"
                                        placeholder="정답"
                                    />을 함께 평가할 수 있게 한다.
                                </div>

                                <div class="overview-question">
                                    • 이와 함께 교과서에 일부만 수록된 작품에
                                    한정하지 않고
                                    <input
                                        data-answer="책 한 권 읽기"
                                        aria-label="책 한 권 읽기"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="작품 전체 읽기"
                                        aria-label="작품 전체 읽기"
                                        placeholder="정답"
                                    />에 바탕을 둔 평가 활동을 통해
                                    <input
                                        data-answer="긴 호흡"
                                        aria-label="긴 호흡"
                                        placeholder="정답"
                                    />으로 작품을 즐겨 읽는 태도를 형성하는 데
                                    도움이 되는 평가를 기획한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
