<section id="korean-listening" class="active">
    <h2>듣기⋅말하기</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#교수⋅학습 방법</div>

                                <div class="overview-question">
                                    • '듣기⋅말하기' 영역에서는 듣기⋅말하기의
                                    다양한
                                    <input
                                        data-answer="목적"
                                        aria-label="목적"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="맥락"
                                        aria-label="맥락"
                                        placeholder="정답"
                                    />을 반영하여 구어 의사소통 활동을
                                    <input
                                        data-answer="실제로 수행"
                                        aria-label="실제로 수행"
                                        placeholder="정답"
                                    />하는 경험을 강조한다.
                                </div>

                                <div class="overview-question">
                                    • 구어 의사소통에 적극적으로 참여하는
                                    과정에서 부딪히는 문제를 해결하기 위해
                                    듣기⋅말하기의
                                    <input
                                        data-answer="전략"
                                        aria-label="전략"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="점검⋅조정"
                                        aria-label="점검⋅조정"
                                        placeholder="정답"
                                    />하도록 유도하고,
                                    <input
                                        data-answer="협력적"
                                        aria-label="협력적"
                                        placeholder="정답"
                                    />인 태도로 상대와 상호 작용하며 삶의 문제를
                                    해결하는 교수⋅학습 활동을 설계한다.
                                </div>

                                <div class="overview-question">
                                    • 듣기와 말하기를
                                    <input
                                        data-answer="분리"
                                        aria-label="분리"
                                        placeholder="정답"
                                    />하지 않고
                                    <input
                                        data-answer="상호 통합"
                                        aria-label="상호 통합"
                                        placeholder="정답"
                                    />하여 지도하여 구어 의사소통의
                                    <input
                                        data-answer="상호 교섭성"
                                        aria-label="상호 교섭성"
                                        placeholder="정답"
                                    />을 구현하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 국어과의 타 영역 성취기준, 타 교과
                                    성취기준, 범교과 학습 주제를 참고하여
                                    학습자가 경험하는 구체적인 삶의 맥락과
                                    연계하여 담화의 상황을 설정함으로써
                                    교수⋅학습의
                                    <input
                                        data-answer="실제성"
                                        aria-label="실제성"
                                        placeholder="정답"
                                    />을 확보한다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#평가 방법</div>

                                <div class="overview-question">
                                    • '듣기⋅말하기' 영역에서는 듣기와 말하기를
                                    유기적으로
                                    <input
                                        data-answer="통합"
                                        aria-label="통합"
                                        placeholder="정답"
                                    />하여 구어 의사소통에 적극적이고 협력적으로
                                    참여하는 데 필요한 능력과 상대를 배려하고
                                    공감하는 소통 태도를 중점적으로 평가한다.
                                </div>

                                <div class="overview-question">
                                    • 대화, 면담, 발표, 연설, 토의, 토론 등 담화
                                    유형별 수행 능력을 평가할 때는, 각각의
                                    담화를 수행하는 데 필요한 지식·기능·태도를
                                    모두 평가하기보다 학년군별 내용 요소를
                                    고려하여 해당 학년군의 성취기준에 부합하는
                                    평가 기준을 설정한다.
                                </div>

                                <div class="overview-question">
                                    • 구어 의사소통 활동을
                                    <input
                                        data-answer="직접"
                                        aria-label="직접"
                                        placeholder="정답"
                                    />
                                    수행하는 과정을 평가하는 것이 중요하므로,
                                    구체적이고 실제적인 담화 맥락을 조성하여
                                    평가의
                                    <input
                                        data-answer="실제성"
                                        aria-label="실제성"
                                        placeholder="정답"
                                    />을 확보하고,
                                    <input
                                        data-answer="직접"
                                        aria-label="직접"
                                        placeholder="정답"
                                    />
                                    평가를 실시하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 학습자 특성이나 학급 상황을 고려하여
                                    <input
                                        data-answer="녹화 기록법"
                                        aria-label="녹화 기록법"
                                        placeholder="정답"
                                    />, 관찰 평가 등 다양한 방법을 활용할 수
                                    있다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="태도"
                                        aria-label="태도"
                                        placeholder="정답"
                                    />를 평가할 때는 일상의 구어 의사소통을
                                    개선하고 성찰적 태도를 형성하는 데 도움이
                                    되도록
                                    <input
                                        data-answer="자기 점검표"
                                        aria-label="자기 점검표"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="성찰 일지"
                                        aria-label="성찰 일지"
                                        placeholder="정답"
                                    />를 활용하여 태도 변화를 지속적으로
                                    점검하고 그 결과를
                                    <input
                                        data-answer="누적"
                                        aria-label="누적"
                                        placeholder="정답"
                                    />하여 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
