<section id="society">
    <h2>과학과 사회</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title">
                                    #감염병과 건강한 생활
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4과08-01] 생활 속
                                        <input
                                            data-answer="감염병"
                                            aria-label="감염병"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="사례"
                                            aria-label="사례"
                                            placeholder="정답"
                                        />를 알고, 다양한
                                        <input
                                            data-answer="질병"
                                            aria-label="질병"
                                            placeholder="정답"
                                        />과 그
                                        <input
                                            data-answer="위험성"
                                            aria-label="위험성"
                                            placeholder="정답"
                                        />에 대해 토의할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4과08-01]
                                        <input
                                            data-answer="질병"
                                            aria-label="질병"
                                            placeholder="정답"
                                        />은
                                        <input
                                            data-answer="예방접종"
                                            aria-label="예방접종"
                                            placeholder="정답"
                                        />이나
                                        <input
                                            data-answer="범유행 상황"
                                            aria-label="범유행 상황"
                                            placeholder="정답"
                                        />
                                        등 학생이
                                        <input
                                            data-answer="경험"
                                            aria-label="경험"
                                            placeholder="정답"
                                        />하거나 인지할 수 있는
                                        <input
                                            data-answer="생활 속 질병"
                                            aria-label="생활 속 질병"
                                            placeholder="정답"
                                        />을 다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="예방접종"
                                            aria-label="예방접종"
                                            placeholder="정답"
                                        />의 경험이나
                                        <input
                                            data-answer="범유행 상황"
                                            aria-label="범유행 상황"
                                            placeholder="정답"
                                        />
                                        등을 통해 생활 속에서 다양한
                                        <input
                                            data-answer="감염 사례"
                                            aria-label="감염 사례"
                                            placeholder="정답"
                                        />가 있음을 인식할 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4과08-02]
                                        <input
                                            data-answer="감염병"
                                            aria-label="감염병"
                                            placeholder="정답"
                                        />으로부터 안전한 사회에 관심을 가지고,
                                        여러
                                        <input
                                            data-answer="감염 과정"
                                            aria-label="감염 과정"
                                            placeholder="정답"
                                        />을 통해
                                        <input
                                            data-answer="생활 습관"
                                            aria-label="생활 습관"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="감염병 유행"
                                            aria-label="감염병 유행"
                                            placeholder="정답"
                                        />과의 연관성을 설명할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4과08-02]
                                        <input
                                            data-answer="감염 과정"
                                            aria-label="감염 과정"
                                            placeholder="정답"
                                        />은 생활 습관과 관련지을 수 있는
                                        <input
                                            data-answer="접촉 감염"
                                            aria-label="접촉 감염"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="비말 감염"
                                            aria-label="비말 감염"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="공기 감염"
                                            aria-label="공기 감염"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수인 감염"
                                            aria-label="수인 감염"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="타액 감염"
                                            aria-label="타액 감염"
                                            placeholder="정답"
                                        />
                                        등의 사례로 한정하여 다루며, 감염병의
                                        <input
                                            data-answer="특성"
                                            aria-label="특성"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="면역 반응"
                                            aria-label="면역 반응"
                                            placeholder="정답"
                                        />을 구체적으로 다루지 않는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 다양한
                                        <input
                                            data-answer="감염 과정"
                                            aria-label="감염 과정"
                                            placeholder="정답"
                                        />을 놀이, 역할극, 그림, 표, 책 만들기
                                        공예 등 다양한 시각화 방법을 통해 표현할
                                        수 있다. 단, 단순한 표현 활동보다는
                                        <input
                                            data-answer="생활 속 습관"
                                            aria-label="생활 속 습관"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="감염병 유행"
                                            aria-label="감염병 유행"
                                            placeholder="정답"
                                        />과의 연관성을 탐구하도록 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4과08-03]
                                        <input
                                            data-answer="건강한 생활"
                                            aria-label="건강한 생활"
                                            placeholder="정답"
                                        />을 위해 필요한
                                        <input
                                            data-answer="감염병 예방 수칙"
                                            aria-label="감염병 예방 수칙"
                                            placeholder="정답"
                                        />을 공유하고, 생활 속에서 실천할 수
                                        있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="건강한 생활"
                                            aria-label="건강한 생활"
                                            placeholder="정답"
                                        />을 위해 지켜야 하는 수칙은
                                        <input
                                            data-answer="감염 과정"
                                            aria-label="감염 과정"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="생활 습관"
                                            aria-label="생활 습관"
                                            placeholder="정답"
                                        />을 관련지어 학생들이 실천 가능한
                                        수준으로 제시하도록 한다.
                                    </div>
                                </div>

                                <div class="overview-question">탐구 활동</div>

                                <div class="overview-question">
                                    -
                                    <input
                                        data-answer="감염 과정"
                                        aria-label="감염 과정"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="감염병 예방 방법"
                                        aria-label="감염병 예방 방법"
                                        placeholder="정답"
                                    />
                                    탐구하기
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 중학교 1~3학년군 '재해재난과 안전'과
                                    연계된다.
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    #기후 변화와 우리 생활
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4과16-01]
                                        <input
                                            data-answer="기후변화 현상"
                                            aria-label="기후변화 현상"
                                            placeholder="정답"
                                        />의 예를 알고,
                                        <input
                                            data-answer="기후변화"
                                            aria-label="기후변화"
                                            placeholder="정답"
                                        />가
                                        <input
                                            data-answer="인간의 활동"
                                            aria-label="인간의 활동"
                                            placeholder="정답"
                                        />과 관련되어 있음을 토의할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4과16-01]
                                        <input
                                            data-answer="기후변화"
                                            aria-label="기후변화"
                                            placeholder="정답"
                                        />의 과학적 원인은 다루지 않으며
                                        <input
                                            data-answer="기온"
                                            aria-label="기온"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="강수량"
                                            aria-label="강수량"
                                            placeholder="정답"
                                        />
                                        등 기후요소가 평년값에 비해 현저히
                                        높거나 낮은 사례<input
                                            data-answer="가뭄"
                                            aria-label="가뭄"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="폭설"
                                            aria-label="폭설"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="폭염"
                                            aria-label="폭염"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="한파"
                                            aria-label="한파"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="홍수"
                                            aria-label="홍수"
                                            placeholder="정답"
                                        />
                                        등)를 탐구하도록 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="기후"
                                            aria-label="기후"
                                            placeholder="정답"
                                        />라는 용어를 설명하는 데 중점을
                                        두기보다는 기후변화의
                                        <input
                                            data-answer="사례"
                                            aria-label="사례"
                                            placeholder="정답"
                                        />를 주로 다룬다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4과16-02]
                                        <input
                                            data-answer="기후변화"
                                            aria-label="기후변화"
                                            placeholder="정답"
                                        />의 심각성에 관심을 가지고,
                                        <input
                                            data-answer="기후변화"
                                            aria-label="기후변화"
                                            placeholder="정답"
                                        />가 우리
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="환경"
                                            aria-label="환경"
                                            placeholder="정답"
                                        />에 미치는 영향을 설명할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4과16-02] 인간의 삶에 부정적인 영향을
                                        미치는
                                        <input
                                            data-answer="기후변화 현상"
                                            aria-label="기후변화 현상"
                                            placeholder="정답"
                                        />의 사례를 모형이나 실험 활동을 통해
                                        알아보고, 이에 기반하여
                                        <input
                                            data-answer="기후변화"
                                            aria-label="기후변화"
                                            placeholder="정답"
                                        />로 인한 인간의 피해를 예측하고 설명할
                                        수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4과16-03]
                                        <input
                                            data-answer="기후변화 대응 방법"
                                            aria-label="기후변화 대응 방법"
                                            placeholder="정답"
                                        />을 조사하고, 생활 속에서
                                        <input
                                            data-answer="기후변화 대응 방법"
                                            aria-label="기후변화 대응 방법"
                                            placeholder="정답"
                                        />을 실천할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 기후변화에
                                        <input
                                            data-answer="대응"
                                            aria-label="대응"
                                            placeholder="정답"
                                        />하는 방법은 기후변화로 인한 자연환경의
                                        변화를 인간이
                                        <input
                                            data-answer="완화"
                                            aria-label="완화"
                                            placeholder="정답"
                                        />하는 방안, 혹은 변화에
                                        <input
                                            data-answer="적응"
                                            aria-label="적응"
                                            placeholder="정답"
                                        />하는 방안으로 생각해볼 수 있으나, 이를
                                        <input
                                            data-answer="구분"
                                            aria-label="구분"
                                            placeholder="정답"
                                        />하여 지도하지 않도록 한다.
                                    </div>
                                </div>

                                <div class="overview-question">탐구 활동</div>

                                <div class="overview-question">
                                    -
                                    <input
                                        data-answer="해수면 상승"
                                        aria-label="해수면 상승"
                                        placeholder="정답"
                                    />으로 인한 피해
                                    <input
                                        data-answer="모형실험"
                                        aria-label="모형실험"
                                        placeholder="정답"
                                    />하기
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 초등학교 5~6학년군 '날씨와 우리 생활',
                                    중학교 1~3학년군 '날씨와 기후변화',
                                    '재해재난과 안전'과 연계된다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="기후변화"
                                        aria-label="기후변화"
                                        placeholder="정답"
                                    />가 우리 생활과 환경에 끼치는 영향을
                                    학습하면서 지나친 불안감이나 무기력함을
                                    느끼기보다는
                                    <input
                                        data-answer="기후위기"
                                        aria-label="기후위기"
                                        placeholder="정답"
                                    />를 해결하기 위한 진취적인
                                    <input
                                        data-answer="실천 의지"
                                        aria-label="실천 의지"
                                        placeholder="정답"
                                    />를 다지도록 한다.
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">#자원과 에너지</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6과08-01] 우리가 생활에서 이용하는
                                        다양한
                                        <input
                                            data-answer="자원"
                                            aria-label="자원"
                                            placeholder="정답"
                                        />을 조사하고,
                                        <input
                                            data-answer="자원"
                                            aria-label="자원"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="유한함"
                                            aria-label="유한함"
                                            placeholder="정답"
                                        />을 설명할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="재활용"
                                            aria-label="재활용"
                                            placeholder="정답"
                                        />된 자원이
                                        <input
                                            data-answer="순환 과정"
                                            aria-label="순환 과정"
                                            placeholder="정답"
                                        />을 거치는 사례가 있으나, 이러한 사례로
                                        인해
                                        <input
                                            data-answer="자원"
                                            aria-label="자원"
                                            placeholder="정답"
                                        />이
                                        <input
                                            data-answer="무한"
                                            aria-label="무한"
                                            placeholder="정답"
                                        />한 것이라는 인식을 갖지 않도록
                                        유의한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6과08-02]
                                        <input
                                            data-answer="재생에너지"
                                            aria-label="재생에너지"
                                            placeholder="정답"
                                        />의 종류를 조사하고,
                                        <input
                                            data-answer="에너지"
                                            aria-label="에너지"
                                            placeholder="정답"
                                        />를
                                        <input
                                            data-answer="지속가능"
                                            aria-label="지속가능"
                                            placeholder="정답"
                                        />하게 이용하는 방법에 관심을 갖는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6과08-02]
                                        <input
                                            data-answer="재생에너지"
                                            aria-label="재생에너지"
                                            placeholder="정답"
                                        />는
                                        <input
                                            data-answer="태양 에너지"
                                            aria-label="태양 에너지"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="풍력"
                                            aria-label="풍력"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수력"
                                            aria-label="수력"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="해양 에너지"
                                            aria-label="해양 에너지"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="지열 에너지"
                                            aria-label="지열 에너지"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="바이오 에너지"
                                            aria-label="바이오 에너지"
                                            placeholder="정답"
                                        />
                                        등을 의미한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 일상생활에서 이용하는
                                        <input
                                            data-answer="에너지"
                                            aria-label="에너지"
                                            placeholder="정답"
                                        />를 알아보고,
                                        <input
                                            data-answer="지속가능한 에너지 이용"
                                            aria-label="지속가능한 에너지 이용"
                                            placeholder="정답"
                                        />이 필요한 까닭을 알 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6과08-03]
                                        <input
                                            data-answer="자원"
                                            aria-label="자원"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="에너지"
                                            aria-label="에너지"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="효율적인 이용 방법"
                                            aria-label="효율적인 이용 방법"
                                            placeholder="정답"
                                        />에 대해 탐색하고, 생활 속에서 실천할
                                        수 있는 다양한 사례를 공유할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6과08-03]
                                        <input
                                            data-answer="효율적인 자원의 이용 방법"
                                            aria-label="효율적인 자원의 이용 방법"
                                            placeholder="정답"
                                        />에서
                                        <input
                                            data-answer="물 자원"
                                            aria-label="물 자원"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="산림 자원"
                                            aria-label="산림 자원"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="광물 자원"
                                            aria-label="광물 자원"
                                            placeholder="정답"
                                        />을 종합적으로 다루며, 학생들이 배운
                                        내용을 바탕으로 생활 속에서
                                        <input
                                            data-answer="자원"
                                            aria-label="자원"
                                            placeholder="정답"
                                        />의 소중함을 느끼고, 효율적인 이용
                                        방법을 공유하고 실천할 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="overview-question">탐구 활동</div>

                                <div class="overview-question">
                                    -
                                    <input
                                        data-answer="효율적"
                                        aria-label="효율적"
                                        placeholder="정답"
                                    />으로
                                    <input
                                        data-answer="에너지"
                                        aria-label="에너지"
                                        placeholder="정답"
                                    />를 이용하는
                                    <input
                                        data-answer="집 모형"
                                        aria-label="집 모형"
                                        placeholder="정답"
                                    />의 효과 탐구하기
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 중학교 1~3학년군 '식물과 에너지', '동물과
                                    에너지', '전기와 자기', '운동과 에너지'와
                                    연계된다.
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    #과학과 나의 진로
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6과16-01]
                                        <input
                                            data-answer="미래 사회"
                                            aria-label="미래 사회"
                                            placeholder="정답"
                                        />에 일어날 수 있는 문제를 조사하고,
                                        문제를 해결하는 데
                                        <input
                                            data-answer="과학"
                                            aria-label="과학"
                                            placeholder="정답"
                                        />이 기여할 수 있는 방법을 토의할 수
                                        있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6과16-01] 단순한 상상이 아니라
                                        <input
                                            data-answer="현재"
                                            aria-label="현재"
                                            placeholder="정답"
                                        />의 다양한
                                        <input
                                            data-answer="정보"
                                            aria-label="정보"
                                            placeholder="정답"
                                        />를 기반으로
                                        <input
                                            data-answer="미래 사회"
                                            aria-label="미래 사회"
                                            placeholder="정답"
                                        />의 문제를 예상해보도록 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="인구 문제"
                                            aria-label="인구 문제"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="환경 문제"
                                            aria-label="환경 문제"
                                            placeholder="정답"
                                        />
                                        등
                                        <input
                                            data-answer="미래 사회"
                                            aria-label="미래 사회"
                                            placeholder="정답"
                                        />에 일어날 수 있는 문제의 해결과
                                        관련하여 과학의 유용성을 다룰 때는
                                        <input
                                            data-answer="과학"
                                            aria-label="과학"
                                            placeholder="정답"
                                        />이 모든 문제를 해결할 수는 없다는 것도
                                        함께 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6과16-02] 다양한
                                        <input
                                            data-answer="진로"
                                            aria-label="진로"
                                            placeholder="정답"
                                        />가
                                        <input
                                            data-answer="과학"
                                            aria-label="과학"
                                            placeholder="정답"
                                        />과 관련됨을 알고, 자신의
                                        <input
                                            data-answer="진로"
                                            aria-label="진로"
                                            placeholder="정답"
                                        />를
                                        <input
                                            data-answer="과학"
                                            aria-label="과학"
                                            placeholder="정답"
                                        />과 관련지어 설명할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6과16-02]
                                        <input
                                            data-answer="과학자"
                                            aria-label="과학자"
                                            placeholder="정답"
                                        />와 관련된 직업을 다루는 것이 아니라
                                        학생이 희망하는 다양한
                                        <input
                                            data-answer="직업"
                                            aria-label="직업"
                                            placeholder="정답"
                                        />을 기준으로 하여 해당
                                        <input
                                            data-answer="직업"
                                            aria-label="직업"
                                            placeholder="정답"
                                        />과 관련된
                                        <input
                                            data-answer="과학적 요소"
                                            aria-label="과학적 요소"
                                            placeholder="정답"
                                        />를 찾도록 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="과학기술"
                                            aria-label="과학기술"
                                            placeholder="정답"
                                        />의 발달이 가지고 올
                                        <input
                                            data-answer="미래 사회"
                                            aria-label="미래 사회"
                                            placeholder="정답"
                                        />의 모습에 맞춰 새로운
                                        <input
                                            data-answer="진로"
                                            aria-label="진로"
                                            placeholder="정답"
                                        />의 탐색이나 미래의 나를 위한 준비의
                                        필요성을 느낄 수 있도록 지도한다.
                                    </div>
                                </div>

                                <div class="overview-question">탐구 활동</div>

                                <div class="overview-question">
                                    - 우리의
                                    <input
                                        data-answer="진로"
                                        aria-label="진로"
                                        placeholder="정답"
                                    />에 영향을 미치는
                                    <input
                                        data-answer="과학적 요소"
                                        aria-label="과학적 요소"
                                        placeholder="정답"
                                    />
                                    탐구하기
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 중학교 1~3학년군 '과학과 나의 미래'와
                                    연계된다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
