<section id="dp-grade3-4">
    <h2>3~4</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 자료의 수집과 정리
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수04-01] 자료를
                                        <input
                                            data-answer="수집"
                                            aria-label="수집"
                                            placeholder="정답"
                                        />하여
                                        <input
                                            data-answer="그림그래프"
                                            aria-label="그림그래프"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="막대그래프"
                                            aria-label="막대그래프"
                                            placeholder="정답"
                                        />로 나타내고
                                        <input
                                            data-answer="해석"
                                            aria-label="해석"
                                            placeholder="정답"
                                        />할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수04-02] 자료를
                                        <input
                                            data-answer="수집"
                                            aria-label="수집"
                                            placeholder="정답"
                                        />하여
                                        <input
                                            data-answer="꺾은선그래프"
                                            aria-label="꺾은선그래프"
                                            placeholder="정답"
                                        />로 나타내고 해석할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수04-03] 탐구 문제를 해결하기 위해
                                        자료를
                                        <input
                                            data-answer="수집"
                                            aria-label="수집"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="정리"
                                            aria-label="정리"
                                            placeholder="정답"
                                        />하여
                                        <input
                                            data-answer="막대그래프"
                                            aria-label="막대그래프"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="꺾은선그래프"
                                            aria-label="꺾은선그래프"
                                            placeholder="정답"
                                        />로 나타내고
                                        <input
                                            data-answer="해석"
                                            aria-label="해석"
                                            placeholder="정답"
                                        />할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4수04-03] 여러 가지 문제를 해결하기
                                        위해 자료를
                                        <input
                                            data-answer="수집"
                                            aria-label="수집"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="정리"
                                            aria-label="정리"
                                            placeholder="정답"
                                        />하고 그래프로 나타내어
                                        <input
                                            data-answer="해석"
                                            aria-label="해석"
                                            placeholder="정답"
                                        />하는 일련의 과정을 직접 경험하게 한다.
                                        자료의
                                        <input
                                            data-answer="크기"
                                            aria-label="크기"
                                            placeholder="정답"
                                        />를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />할 때는 막대그래프로,
                                        <input
                                            data-answer="시간"
                                            aria-label="시간"
                                            placeholder="정답"
                                        />에 따른
                                        <input
                                            data-answer="변화의 경향"
                                            aria-label="변화의 경향"
                                            placeholder="정답"
                                        />을 알아볼 때는 꺾은선그래프로 나타내는
                                        것이 편리함을 알고, 자료의
                                        <input
                                            data-answer="특성"
                                            aria-label="특성"
                                            placeholder="정답"
                                        />에 따라
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 맞는 적절한 그래프를 선택하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 문제 상황에 맞게 간단한 설문조사,
                                        실험과 관찰, 공공 자료의 활용 등을 통해
                                        자료를 직접
                                        <input
                                            data-answer="수집"
                                            aria-label="수집"
                                            placeholder="정답"
                                        />하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 그림그래프를 그릴 때 항목의 이름과
                                        수량의
                                        <input
                                            data-answer="단위"
                                            aria-label="단위"
                                            placeholder="정답"
                                        />를 명확히 인식하고, 자료의
                                        <input
                                            data-answer="개수"
                                            aria-label="개수"
                                            placeholder="정답"
                                        />에 따라 그림이 나타내는
                                        <input
                                            data-answer="단위"
                                            aria-label="단위"
                                            placeholder="정답"
                                        />를 적절히 선택하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 막대그래프와 꺾은선그래프를 그릴 때는
                                        <input
                                            data-answer="가로축"
                                            aria-label="가로축"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="세로축"
                                            aria-label="세로축"
                                            placeholder="정답"
                                        />이 각각 무엇을 나타내는지 확인하게
                                        하고
                                        <input
                                            data-answer="눈금 한 칸"
                                            aria-label="눈금 한 칸"
                                            placeholder="정답"
                                        />이 나타내는
                                        <input
                                            data-answer="크기"
                                            aria-label="크기"
                                            placeholder="정답"
                                        />를 적절히 선택하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 막대그래프와 꺾은선그래프를 그릴 때
                                        <input
                                            data-answer="공학 도구"
                                            aria-label="공학 도구"
                                            placeholder="정답"
                                        />를 사용하게 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 자료 수집의
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />과 수집한 자료의
                                        <input
                                            data-answer="특성"
                                            aria-label="특성"
                                            placeholder="정답"
                                        />에 맞는 그래프로 적절히 표현되었는지를
                                        비판적으로 판단하게 할 수 있다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
