<section id="conceptual-change">
    <h2>개념 변화 학습 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="오개념 수정"
                                    aria-label="오개념 수정"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>개념 변화 조건</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="기존 개념 불만족"
                                    aria-label="기존 개념 불만족"
                                    placeholder="정답"
                                    style="width: 140px"
                                />
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="새로운 개념 이해 가능"
                                    aria-label="새로운 개념 이해 가능"
                                    placeholder="정답"
                                    style="width: 170px"
                                />
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="새로운 개념 타당"
                                    aria-label="새로운 개념 타당"
                                    placeholder="정답"
                                    style="width: 140px"
                                />
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="새로운 개념 활용 가능"
                                    aria-label="새로운 개념 활용 가능"
                                    placeholder="정답"
                                    style="width: 170px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="개념 표현"
                                aria-label="개념 표현"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="오개념"
                                    aria-label="오개념"
                                    placeholder="정답"
                                />
                                표현
                            </div>

                            <input
                                data-answer="개념 재구성"
                                aria-label="개념 재구성"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="명료화·교환"
                                aria-label="명료화·교환"
                                placeholder="세부 단계"
                            />
                            <div class="overview-question">
                                ㄴ [학생]:
                                <input
                                    data-answer="오개념 발표"
                                    aria-label="오개념 발표"
                                    placeholder="정답"
                                />
                                -> 자신이 가지고 있는 개념을
                                <input
                                    data-answer="명료화"
                                    aria-label="명료화"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="갈등 상황 경험"
                                aria-label="갈등 상황 경험"
                                placeholder="세부 단계"
                            />
                            <div class="overview-question">
                                ㄴ 조건:
                                <input
                                    data-answer="불만족"
                                    aria-label="불만족"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ [교사]:
                                <input
                                    data-answer="상충되는"
                                    aria-label="상충되는"
                                    placeholder="정답"
                                />
                                현상이나 사건 제시
                            </div>

                            <input
                                data-answer="새로운 개념 구성"
                                aria-label="새로운 개념 구성"
                                placeholder="세부 단계"
                            />
                            <div class="overview-question">
                                ㄴ 조건:
                                <input
                                    data-answer="이해 가능"
                                    aria-label="이해 가능"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ [학생]:
                                <input
                                    data-answer="새로운 개념"
                                    aria-label="새로운 개념"
                                    placeholder="정답"
                                />
                                구성
                            </div>
                            <div class="overview-question">
                                ㄴ [교사]: 스스로 구성하기 어려운 개념은
                                <input
                                    data-answer="교사"
                                    aria-label="교사"
                                    placeholder="정답"
                                />가 제시
                            </div>

                            <input
                                data-answer="새로운 개념 평가"
                                aria-label="새로운 개념 평가"
                                placeholder="세부 단계"
                            />
                            <div class="overview-question">
                                ㄴ 조건:
                                <input
                                    data-answer="타당"
                                    aria-label="타당"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ [학생]: 새로운 개념의
                                <input
                                    data-answer="타당성"
                                    aria-label="타당성"
                                    placeholder="정답"
                                />
                                평가
                            </div>

                            <input
                                data-answer="개념 응용"
                                aria-label="개념 응용"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 조건:
                                <input
                                    data-answer="활용 가능"
                                    aria-label="활용 가능"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ [학생]:
                                <input
                                    data-answer="재구성"
                                    aria-label="재구성"
                                    placeholder="정답"
                                />한 개념을 적용
                            </div>

                            <input
                                data-answer="개념 변화 검토"
                                aria-label="개념 변화 검토"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 개념 변화 X →
                                <input
                                    data-answer="피드백"
                                    aria-label="피드백"
                                    placeholder="정답"
                                />
                                제공
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>오개념 유형</th>
                        <td class="two-col-answers">
                            <input
                                data-answer="현상 중심적 사고"
                                aria-label="현상 중심적 사고"
                                placeholder="정답"
                            />

                            <input
                                data-answer="상황 의존적 사고"
                                aria-label="상황 의존적 사고"
                                placeholder="정답"
                            />

                            <input
                                data-answer="단순 인과적 사고"
                                aria-label="단순 인과적 사고"
                                placeholder="정답"
                            />

                            <input
                                data-answer="제한적 사고"
                                aria-label="제한적 사고"
                                placeholder="정답"
                            />

                            <input
                                data-answer="미분화된 개념"
                                aria-label="미분화된 개념"
                                placeholder="정답"
                            />

                            <input
                                data-answer="변화 중심적 사고"
                                aria-label="변화 중심적 사고"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
