<section id="discovery-learning">
    <h2>발견 학습 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="규칙성"
                                    aria-label="규칙성"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                발견
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="귀납적"
                                    aria-label="귀납적"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                탐구형태 →
                                <input
                                    data-answer="일반화"
                                    aria-label="일반화"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                도달
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="안내된"
                                    aria-label="안내된"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                탐구형태 →
                                <input
                                    data-answer="교사"
                                    aria-label="교사"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                역할 중요
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>교사 유의점</th>
                        <td>
                            <div class="overview-question">
                                - Not
                                <input
                                    data-answer="직접적 지식 전달"
                                    aria-label="직접적 지식 전달"
                                    placeholder="정답"
                                    style="width: 140px"
                                />
                            </div>

                            <div class="overview-question">
                                - But
                                <input
                                    data-answer="질문 기법"
                                    aria-label="질문 기법"
                                    placeholder="정답"
                                    style="width: 90px"
                                />으로 규칙성 찾기 유도
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="탐색 및 문제 파악"
                                aria-label="탐색 및 문제 파악"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 학생
                                <input
                                    data-answer="스스로"
                                    aria-label="스스로"
                                    placeholder="정답"
                                />
                                문제 파악
                            </div>

                            <input
                                data-answer="자료 제시 및 관찰 탐색"
                                aria-label="자료 제시 및 관찰 탐색"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ [교사]:
                                <input
                                    data-answer="수용적"
                                    aria-label="수용적"
                                    placeholder="정답"
                                />
                                자세
                            </div>

                            <input
                                data-answer="추가 자료 제시 및 관찰 탐색"
                                aria-label="추가 자료 제시 및 관찰 탐색"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ [단계 설정 이유]:
                                <input
                                    data-answer="규칙성"
                                    aria-label="규칙성"
                                    placeholder="정답"
                                />을 발견하여 과학 개념을
                                <input
                                    data-answer="귀납적"
                                    aria-label="귀납적"
                                    placeholder="정답"
                                />으로 형성하거나
                                <input
                                    data-answer="일반화"
                                    aria-label="일반화"
                                    placeholder="정답"
                                />할 수 있도록 자극하는 단계
                            </div>
                            <div class="overview-question">
                                ㄴ [추가 자료] ①<input
                                    data-answer="구체적"
                                    aria-label="구체적"
                                    placeholder="정답"
                                />, ②<input
                                    data-answer="상충 되는"
                                    aria-label="상충 되는"
                                    placeholder="정답"
                                />
                                -> 결과 간의
                                <input
                                    data-answer="공통점"
                                    aria-label="공통점"
                                    placeholder="정답"
                                />과
                                <input
                                    data-answer="차이점"
                                    aria-label="차이점"
                                    placeholder="정답"
                                />
                                부각
                            </div>

                            <input
                                data-answer="규칙성 발견 및 개념 정리"
                                aria-label="규칙성 발견 및 개념 정리"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ [교사]: 학생이 발견한
                                <input
                                    data-answer="규칙성"
                                    aria-label="규칙성"
                                    placeholder="정답"
                                />을
                                <input
                                    data-answer="과학적 개념"
                                    aria-label="과학적 개념"
                                    placeholder="정답"
                                />으로 정리하도록 도움
                            </div>
                            <div class="overview-question">
                                ㄴ if) 학생들이
                                <input
                                    data-answer="규칙성"
                                    aria-label="규칙성"
                                    placeholder="정답"
                                />을 발견 못 하면 –>
                                <input
                                    data-answer="피드백"
                                    aria-label="피드백"
                                    placeholder="정답"
                                />
                                +
                                <input
                                    data-answer="새로운 자료"
                                    aria-label="새로운 자료"
                                    placeholder="정답"
                                />
                                제시
                            </div>

                            <input
                                data-answer="적용 및 응용"
                                aria-label="적용 및 응용"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="응용"
                                    aria-label="응용"
                                    placeholder="정답"
                                />
                                –>
                                <input
                                    data-answer="인지적 정착"
                                    aria-label="인지적 정착"
                                    placeholder="정답"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
