<section id="five-e">
    <h2>5E</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 이론:
                                <input
                                    data-answer="구성주의"
                                    aria-label="구성주의"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="참여"
                                aria-label="참여"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="인지적 갈등"
                                    aria-label="인지적 갈등"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="탐색"
                                aria-label="탐색"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ Not A :
                                <input
                                    data-answer="확인 실험(교사 중심)"
                                    aria-label="확인 실험(교사 중심)"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ But B:
                                <input
                                    data-answer="탐색 실험(학생 중심)"
                                    aria-label="탐색 실험(학생 중심)"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="설명"
                                aria-label="설명"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="인지적 갈등"
                                    aria-label="인지적 갈등"
                                    placeholder="정답"
                                />
                                해소
                            </div>
                            <div class="overview-question">
                                ㄴ 학생:
                                <input
                                    data-answer="실험 결과"
                                    aria-label="실험 결과"
                                    placeholder="정답"
                                />를 토대로 문제(가설)에 대한
                                <input
                                    data-answer="답"
                                    aria-label="답"
                                    placeholder="정답"
                                />을 설명
                            </div>
                            <div class="overview-question">
                                ㄴ 교사: 관련
                                <input
                                    data-answer="개념"
                                    aria-label="개념"
                                    placeholder="정답"
                                />, 이론, 법칙 등을 설명
                            </div>

                            <input
                                data-answer="정교화"
                                aria-label="정교화"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 결과를
                                <input
                                    data-answer="새로운 상황"
                                    aria-label="새로운 상황"
                                    placeholder="정답"
                                />에 적용
                            </div>

                            <input
                                data-answer="평가"
                                aria-label="평가"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 평가 후 후속 학습 내용을
                                <input
                                    data-answer="질문"
                                    aria-label="질문"
                                    placeholder="정답"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
