<section id="inquiry-learning">
    <h2>탐구 학습 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 같은 말:
                                <input
                                    data-answer="가설검증 학습모형"
                                    aria-label="가설검증 학습모형"
                                    placeholder="정답"
                                    style="width: 180px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>유의점</th>
                        <td>
                            <div class="overview-question">
                                - Not
                                <input
                                    data-answer="비탐구적 요리책 활동"
                                    aria-label="비탐구적 요리책 활동"
                                    placeholder="정답"
                                    style="width: 180px"
                                />
                            </div>

                            <div class="overview-question">
                                - But
                                <input
                                    data-answer="능동적 참여"
                                    aria-label="능동적 참여"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="탐색 및 문제 파악"
                                aria-label="탐색 및 문제 파악"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ if)
                                <input
                                    data-answer="문제 파악"
                                    aria-label="문제 파악"
                                    placeholder="정답"
                                />의 어려움 -> 교사의
                                <input
                                    data-answer="시범"
                                    aria-label="시범"
                                    placeholder="정답"
                                />
                                활동 /
                                <input
                                    data-answer="직접 제시"
                                    aria-label="직접 제시"
                                    placeholder="정답"
                                />
                                가능
                            </div>

                            <input
                                data-answer="가설 설정"
                                aria-label="가설 설정"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 가설(X->Y)의 조건: ①
                                <input
                                    data-answer="인과관계"
                                    aria-label="인과관계"
                                    placeholder="정답"
                                />
                                ②
                                <input
                                    data-answer="검증가능"
                                    aria-label="검증가능"
                                    placeholder="정답"
                                />
                                ③
                                <input
                                    data-answer="평서문"
                                    aria-label="평서문"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ 학생 수준에 따라 현상에 대한
                                <input
                                    data-answer="예상"
                                    aria-label="예상"
                                    placeholder="정답"
                                />도 가능
                            </div>

                            <input
                                data-answer="실험 설계"
                                aria-label="실험 설계"
                                placeholder="단계명"
                            />

                            <div
                                class="substeps"
                                style="
                                    margin-left: 20px;
                                    border-left: 2px dashed var(--secondary);
                                    padding-left: 15px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                "
                            >
                                <input
                                    data-answer="변인 확인(동정)"
                                    aria-label="변인 확인(동정)"
                                    placeholder="세부 단계명"
                                    style="border: 1px dashed var(--secondary)"
                                />

                                <input
                                    data-answer="(통제변인) 통제 계획 수립"
                                    aria-label="(통제변인) 통제 계획 수립"
                                    placeholder="세부 단계명"
                                    style="border: 1px dashed var(--secondary)"
                                />

                                <input
                                    data-answer="실험 조건 계획 (실험기구, 실험 절차)"
                                    aria-label="실험 조건 계획 (실험기구, 실험 절차)"
                                    placeholder="세부 단계명"
                                    style="border: 1px dashed var(--secondary)"
                                />
                            </div>

                            <input
                                data-answer="실험"
                                aria-label="실험"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="자료수집"
                                    aria-label="자료수집"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="가설 검증"
                                aria-label="가설 검증"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 통합 탐구 과정 기능:
                                <input
                                    data-answer="자료변환"
                                    aria-label="자료변환"
                                    placeholder="정답"
                                />,
                                <input
                                    data-answer="자료 해석"
                                    aria-label="자료 해석"
                                    placeholder="정답"
                                />,
                                <input
                                    data-answer="결론 도출"
                                    aria-label="결론 도출"
                                    placeholder="정답"
                                />(가설 수용 여부 결정)
                            </div>
                            <div class="overview-question">
                                if) 실험결과 = 가설 ->
                                <input
                                    data-answer="수용"
                                    aria-label="수용"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                if) 실험결과 ≠ 가설 -> 가설
                                <input
                                    data-answer="수정"
                                    aria-label="수정"
                                    placeholder="정답"
                                />
                                or
                                <input
                                    data-answer="새로운 가설"
                                    aria-label="새로운 가설"
                                    placeholder="정답"
                                />
                                설정 –>
                                <input
                                    data-answer="실험 설계"
                                    aria-label="실험 설계"
                                    placeholder="정답"
                                />부터 다시
                            </div>

                            <input
                                data-answer="적용 및 새로운 문제 발견"
                                aria-label="적용 및 새로운 문제 발견"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
