<section id="poe">
    <h2>POE</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="예상"
                                aria-label="예상"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="예상"
                                    aria-label="예상"
                                    placeholder="정답"
                                />과
                                <input
                                    data-answer="근거"
                                    aria-label="근거"
                                    placeholder="정답"
                                />
                                글로 쓰기 for
                                <input
                                    data-answer="정교한 사고"
                                    aria-label="정교한 사고"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="관찰"
                                aria-label="관찰"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                # 관찰 결과
                                <input
                                    data-answer="즉시 기록"
                                    aria-label="즉시 기록"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ ① 기존 생각과
                                <input
                                    data-answer="모순"
                                    aria-label="모순"
                                    placeholder="정답"
                                />
                                시 무시·왜곡 가능
                            </div>
                            <div class="overview-question">
                                ㄴ ②
                                <input
                                    data-answer="동료 학생"
                                    aria-label="동료 학생"
                                    placeholder="정답"
                                />으로 인해 관찰 변화시킬 수 있음
                            </div>

                            <input
                                data-answer="설명"
                                aria-label="설명"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ<input
                                    data-answer="인지적 갈등"
                                    aria-label="인지적 갈등"
                                    placeholder="정답"
                                />
                                해소:
                                <input
                                    data-answer="예상"
                                    aria-label="예상"
                                    placeholder="정답"
                                />과
                                <input
                                    data-answer="관찰"
                                    aria-label="관찰"
                                    placeholder="정답"
                                />
                                사이의 모순 해결 ->
                                <input
                                    data-answer="과학 개념"
                                    aria-label="과학 개념"
                                    placeholder="정답"
                                />으로 정리
                            </div>
                            <div class="overview-question">
                                ㄴ 개념 이해를 위한 수업에 적용할 경우:
                                <input
                                    data-answer="토론"
                                    aria-label="토론"
                                    placeholder="정답"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
