<section id="science-title" class="active">
    <h2>타이틀</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>학습자 중심형</th>
                        <td
                            class="two-col-answers"
                            data-group="science-learner-centered"
                            data-ignore-order="true"
                        >
                            <input
                                data-answer="경험 학습 모형"
                                aria-label="경험 학습 모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="발견 학습 모형"
                                aria-label="발견 학습 모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="탐구 학습 모형"
                                aria-label="탐구 학습 모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="STS 학습 모형"
                                aria-label="STS 학습 모형"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습자 지원형</th>
                        <td
                            class="two-col-answers"
                            data-group="science-learner-supported"
                            data-ignore-order="true"
                        >
                            <input
                                data-answer="순환 학습 모형"
                                aria-label="순환 학습 모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="5E"
                                aria-label="5E"
                                placeholder="정답"
                            />

                            <input
                                data-answer="POE"
                                aria-label="POE"
                                placeholder="정답"
                            />

                            <input
                                data-answer="개념 변화 학습 모형"
                                aria-label="개념 변화 학습 모형"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="model-next-action">
        <button id="science-title-next-btn" class="btn">다음으로</button>
    </div>
</section>
