<section id="sts-learning">
    <h2>STS 학습 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>목적</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="실천적 문제"
                                    aria-label="실천적 문제"
                                    placeholder="정답"
                                    style="width: 100px"
                                />를
                                <input
                                    data-answer="해결"
                                    aria-label="해결"
                                    placeholder="정답"
                                    style="width: 60px"
                                />할 수 있는 능력
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>등장 배경</th>
                        <td>
                            <div class="overview-question">
                                ①
                                <input
                                    data-answer="과학"
                                    aria-label="과학"
                                    placeholder="정답"
                                    style="width: 60px"
                                />과
                                <input
                                    data-answer="과학 기술"
                                    aria-label="과학 기술"
                                    placeholder="정답"
                                    style="width: 90px"
                                />만으로는 해결할 수 없는 사회문제
                            </div>

                            <div class="overview-question">
                                ② 과학의
                                <input
                                    data-answer="학문적 본질"
                                    aria-label="학문적 본질"
                                    placeholder="정답"
                                    style="width: 100px"
                                />보다는
                                <input
                                    data-answer="과학"
                                    aria-label="과학"
                                    placeholder="정답"
                                    style="width: 60px"
                                />과
                                <input
                                    data-answer="과학 기술"
                                    aria-label="과학 기술"
                                    placeholder="정답"
                                    style="width: 90px"
                                />로 인한 사회 문제에 더 영향을 받음
                            </div>

                            <div class="overview-question">
                                ③ 과학 교육의 목표 =
                                <input
                                    data-answer="개념과 이론"
                                    aria-label="개념과 이론"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                중심 →
                                <input
                                    data-answer="과학적 소양인"
                                    aria-label="과학적 소양인"
                                    placeholder="정답"
                                    style="width: 120px"
                                />
                                양성
                            </div>

                            <div class="overview-question">
                                ④
                                <input
                                    data-answer="구성주의"
                                    aria-label="구성주의"
                                    placeholder="정답"
                                    style="width: 100px"
                                />적 관점
                            </div>

                            <div class="overview-question">
                                ⑤
                                <input
                                    data-answer="과학적 탐구와 문제해결"
                                    aria-label="과학적 탐구와 문제해결"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                                능력,
                                <input
                                    data-answer="과학적 의사결정"
                                    aria-label="과학적 의사결정"
                                    placeholder="정답"
                                    style="width: 140px"
                                />
                                능력
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 소개"
                                aria-label="문제 소개"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="과학"
                                    aria-label="과학"
                                    placeholder="정답"
                                />
                                및
                                <input
                                    data-answer="기술"
                                    aria-label="기술"
                                    placeholder="정답"
                                />과 관련된
                                <input
                                    data-answer="사회 문제"
                                    aria-label="사회 문제"
                                    placeholder="정답"
                                />
                                제기 -> 문제의
                                <input
                                    data-answer="심각성"
                                    aria-label="심각성"
                                    placeholder="정답"
                                />
                                인식
                            </div>

                            <input
                                data-answer="탐색"
                                aria-label="탐색"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 관련 과학
                                <input
                                    data-answer="개념"
                                    aria-label="개념"
                                    placeholder="정답"
                                />이나
                                <input
                                    data-answer="이론"
                                    aria-label="이론"
                                    placeholder="정답"
                                />
                                조사 –>
                                <input
                                    data-answer="해결방안"
                                    aria-label="해결방안"
                                    placeholder="정답"
                                />
                                모색
                            </div>

                            <input
                                data-answer="설명 및 해결방안 제시"
                                aria-label="설명 및 해결방안 제시"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="최적안 결정"
                                    aria-label="최적안 결정"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="실행"
                                aria-label="실행"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ ①
                                <input
                                    data-answer="직접 실천"
                                    aria-label="직접 실천"
                                    placeholder="정답"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ ②
                                <input
                                    data-answer="영향력 행사"
                                    aria-label="영향력 행사"
                                    placeholder="정답"
                                />
                                ex. 실천하는 영상을 찍고
                                <input
                                    data-answer="사회 관계망 서비스"
                                    aria-label="사회 관계망 서비스"
                                    placeholder="정답"
                                />에 공유
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
