<section id="what-we-do" class="hidden">
    <h2>우리는 무엇을 하며 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐04-01] 주변의 물건을 활용하여
                                        놀잇감을 만든다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐04-01] 익숙한 물건을 낯설게 보거나
                                        기존의 놀잇감에서 새로운 재미를
                                        찾아보면서 엉뚱하고 기발한 상상, 창작의
                                        기쁨을 느낄 수 있도록 한다. 기존의
                                        놀잇감을 새로운 놀잇감으로 고쳐 만들거나
                                        주변의 물건을 놀잇감으로 만드는 과정에서
                                        안전이나 실용성을 고려하되 이를 지나치게
                                        강조하여
                                        <input
                                            data-answer="상상력"
                                            aria-label="상상력"
                                            placeholder="정답"
                                        />이나
                                        <input
                                            data-answer="창의성"
                                            aria-label="창의성"
                                            placeholder="정답"
                                        />을 위축하지 않도록 유의한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐04-02] 자유롭게 상상하며 놀이한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐04-02] 학생들이 자유롭게 상상하고
                                        표현하며 놀이에
                                        <input
                                            data-answer="몰입"
                                            aria-label="몰입"
                                            placeholder="정답"
                                        />하여 즐기는 한편, 안심하고 마음껏
                                        활동할 수 있도록 안전하면서도 허용적인
                                        <input
                                            data-answer="환경"
                                            aria-label="환경"
                                            placeholder="정답"
                                        />을 조성하는 데 주의를 기울인다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐04-03] 생각이나 느낌을 살려 전시나
                                        공연 활동을 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐04-03] 여럿이 생각을 모아서 전시나
                                        공연 및 놀이에 참여할 기회를 만드는 데
                                        중점을 둔다. 이 과정에서
                                        <input
                                            data-answer="협력"
                                            aria-label="협력"
                                            placeholder="정답"
                                        />을 경험하고
                                        <input
                                            data-answer="민주시민"
                                            aria-label="민주시민"
                                            placeholder="정답"
                                        />
                                        교육과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐04-04] 기억에 남는 경험을 떠올리며
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />를 부여한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐04-04]에서 '<input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />'는 특별히 기억에 남는 경험에 대한
                                        개인적이고 맥락적인 생각이나 느낌 또는
                                        그 경험에 대해 나름대로 부여하는 가치를
                                        말한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐04-04] 학교 안팎에서 한 경험 중
                                        기억에 남은 경험에 대해 자기만의 의미를
                                        부여해 보는 다양한 활동을 해 보고, 이를
                                        3학년이 되어서 하고 싶은
                                        <input
                                            data-answer="경험"
                                            aria-label="경험"
                                            placeholder="정답"
                                        />에 대한 기대와 연결할 수 있다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 영역 내 모든 성취기준을 다룰 때는
                                    <input
                                        data-answer="놀이"
                                        aria-label="놀이"
                                        placeholder="정답"
                                    />를 통한
                                    <input
                                        data-answer="기본 움직임"
                                        aria-label="기본 움직임"
                                        placeholder="정답"
                                    />
                                    활동을 주제 학습과 연계한다. 놀이나 활동에
                                    활용하는 도구나 물건을 안전하게 사용할 수
                                    있도록 유의한다. 특히 놀잇감이나 물건을
                                    만들고 사용하는 과정에서 안전사고가 발생하지
                                    않도록 안전 교육을 병행한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
