<section id="where-we-live" class="hidden">
    <h2>우리는 어디서 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐02-01] 내가 참여할 수 있는
                                        <input
                                            data-answer="문화 예술"
                                            aria-label="문화 예술"
                                            placeholder="정답"
                                        />을 향유한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐02-01] 주변에서 열리는 지역 축제
                                        등 문화 예술 활동에
                                        <input
                                            data-answer="공연자"
                                            aria-label="공연자"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="관람자"
                                            aria-label="관람자"
                                            placeholder="정답"
                                        />로 참여하면서
                                        <input
                                            data-answer="창조적"
                                            aria-label="창조적"
                                            placeholder="정답"
                                        />
                                        활동을 경험할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐02-02] 우리나라의
                                        <input
                                            data-answer="문화 예술"
                                            aria-label="문화 예술"
                                            placeholder="정답"
                                        />을 즐긴다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐02-03] 다른 나라의
                                        <input
                                            data-answer="문화 예술"
                                            aria-label="문화 예술"
                                            placeholder="정답"
                                        />을 체험한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐02-01], [2즐02-02], [2즐02-03]의
                                        '<input
                                            data-answer="문화 예술"
                                            aria-label="문화 예술"
                                            placeholder="정답"
                                        />'은 공간적, 물리적 한계를 넘어서 멀리
                                        있더라도 참여할 수 있는 다양한
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="감상"
                                            aria-label="감상"
                                            placeholder="정답"
                                        />
                                        활동 등을 포함한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐02-03] 여러 나라의 놀이, 노래,
                                        축제 등을 접하는 과정에서
                                        <input
                                            data-answer="다문화"
                                            aria-label="다문화"
                                            placeholder="정답"
                                        />
                                        교육과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐02-04]
                                        <input
                                            data-answer="다양한 세상"
                                            aria-label="다양한 세상"
                                            placeholder="정답"
                                        />을 상상하고 표현한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐02-04]의 '<input
                                            data-answer="다양한 세상"
                                            aria-label="다양한 세상"
                                            placeholder="정답"
                                        />'은 학생이
                                        <input
                                            data-answer="경험한"
                                            aria-label="경험한"
                                            placeholder="정답"
                                        />
                                        세상뿐만 아니라 미지의 우주, 바닷속이나
                                        땅속,
                                        <input
                                            data-answer="온라인"
                                            aria-label="온라인"
                                            placeholder="정답"
                                        />
                                        기반의 상상할 수 있는 세상 등을
                                        포함한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐02-04] 창의적인 생각과 다양한
                                        상상을 존중하고 허용하는 분위기를
                                        조성하는 데 유의한다. 특히
                                        <input
                                            data-answer="매체"
                                            aria-label="매체"
                                            placeholder="정답"
                                        />를 사용할 때는
                                        <input
                                            data-answer="디지털 소양"
                                            aria-label="디지털 소양"
                                            placeholder="정답"
                                        />
                                        교육과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 영역 내 모든 성취기준을 다룰 때는
                                    <input
                                        data-answer="놀이"
                                        aria-label="놀이"
                                        placeholder="정답"
                                    />를 통한
                                    <input
                                        data-answer="기본 움직임"
                                        aria-label="기본 움직임"
                                        placeholder="정답"
                                    />
                                    활동과 안전하게 생활하는 데 필요한 안전
                                    교육을 주제 학습과 연계한다. 특히 사람들이
                                    많이 모이는 극장, 공연장, 전시관, 미술관
                                    등에서 공연, 전시, 관람 등 다양한 문화 예술
                                    활동을 할 때는 예절과 함께 필요한
                                    <input
                                        data-answer="안전 수칙"
                                        aria-label="안전 수칙"
                                        placeholder="정답"
                                    />을 학생이 미리 숙지할 수 있도록 유의한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
