<section id="who-we-live" class="active">
    <h2>우리는 누구로 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐01-01] 즐겁게
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />하며, 건강하고 안전하게 생활한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐01-01]
                                        <input
                                            data-answer="초등학교 적응 활동"
                                            aria-label="초등학교 적응 활동"
                                            placeholder="정답"
                                        />에 초점을 맞춘다.
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />를 하며 몸을 움직임으로써 학생의 신체
                                        활동 욕구를 충족시켜 주고 감각, 정서,
                                        사회성 발달 등을 도모할 수 있다. 그리고
                                        <input
                                            data-answer="안전 교육"
                                            aria-label="안전 교육"
                                            placeholder="정답"
                                        />이 필요할 때 즐거운 생활과 모든
                                        성취기준과 함께 적용할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐01-02]
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />하며 내 몸의 움직임이나 감각을 느낀다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐01-01], [2즐01-02]의 '<input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />'는 일정한 규칙이나 방법에 따라 노는
                                        좁은 의미의 놀이 활동뿐만 아니라 학생이
                                        자발적으로 참여하고
                                        <input
                                            data-answer="몰입"
                                            aria-label="몰입"
                                            placeholder="정답"
                                        />함으로써 자유로움과
                                        <input
                                            data-answer="즐거움"
                                            aria-label="즐거움"
                                            placeholder="정답"
                                        />을 느낄 수 있는 모든 활동을 의미한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐01-02] 움직임이 큰 신체 놀이, 감각
                                        체험 놀이, 다양한 방법의 표현 놀이 등
                                        <input
                                            data-answer="신체"
                                            aria-label="신체"
                                            placeholder="정답"
                                        />를 이용한 여러 놀이에 참여함으로써
                                        학생이 건강하고 즐겁게 생활하는 데
                                        초점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐01-03] 가족이나 주변 사람과 소통하며
                                        어울린다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2즐01-03] 학생들이 소통할 가족, 친척,
                                        친구, 이웃 등 주변 사람의 배경에 따라
                                        다양한 지역이나 국가의
                                        <input
                                            data-answer="문화 예술 활동"
                                            aria-label="문화 예술 활동"
                                            placeholder="정답"
                                        />과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2즐01-04] 우리를 둘러싼 자연의
                                        아름다움을 감상한다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 영역 내 모든 성취기준을 다룰 때는
                                    <input
                                        data-answer="놀이"
                                        aria-label="놀이"
                                        placeholder="정답"
                                    />를 통한
                                    <input
                                        data-answer="기본 움직임"
                                        aria-label="기본 움직임"
                                        placeholder="정답"
                                    />
                                    활동과 안전하게 생활하는 데 필요한
                                    <input
                                        data-answer="안전 교육"
                                        aria-label="안전 교육"
                                        placeholder="정답"
                                    />을 주제 학습과 연계한다. 놀이할 때는 놀이
                                    장소의 안전 상황을 살피고 안전하게 놀 수
                                    있도록 한다. 놀이터에서 놀이하는 사람들의
                                    밀집도, 놀이 도구 사용 상의 안전성, 놀잇감의
                                    유해성 등과 관련해서 구체적인
                                    <input
                                        data-answer="안전 교육"
                                        aria-label="안전 교육"
                                        placeholder="정답"
                                    />을 할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
