<section id="direct-instruction-art">
    <h2>직접 교수법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                <input
                                    data-answer="새로운"
                                    aria-label="새로운"
                                    placeholder="정답"
                                    style="width: 70px"
                                />
                                재료나 용구 사용법을 배울 때,
                                <input
                                    data-answer="어려운"
                                    aria-label="어려운"
                                    placeholder="정답"
                                    style="width: 70px"
                                />
                                표현 기법을 학습할 때
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>영역</th>
                        <td class="two-col-answers">
                            <input
                                data-answer="표현"
                                aria-label="표현"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 인식"
                                aria-label="문제 인식"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="설명 및 시범"
                                aria-label="설명 및 시범"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ by
                                <input
                                    data-answer="교사"
                                    aria-label="교사"
                                    placeholder="정답"
                                    style="width: 70px"
                                />
                            </div>

                            <input
                                data-answer="질의응답"
                                aria-label="질의응답"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="연습활동(구조화된 연습)"
                                aria-label="연습활동(구조화된 연습)"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="낮은 난이도"
                                    aria-label="낮은 난이도"
                                    placeholder="정답"
                                    style="width: 100px"
                                />부터 순차 진행
                            </div>

                            <input
                                data-answer="작품 제작"
                                aria-label="작품 제작"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="정리 및 발전"
                                aria-label="정리 및 발전"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
