<section id="attribute">
    <h2>속성 모형 (개념학습모형)</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>개념</th>
                        <td>
                            <div class="overview-question">
                                개념의 장점:
                                <input
                                    data-answer="효율적 이해"
                                    aria-label="효율적 이해"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                <input
                                    data-answer="접합개념"
                                    aria-label="접합개념"
                                    placeholder="정답"
                                />:
                                <input
                                    data-answer="여러 가지 특징"
                                    aria-label="여러 가지 특징"
                                    placeholder="정답"
                                />이 모여서
                                <input
                                    data-answer="하나의 개념"
                                    aria-label="하나의 개념"
                                    placeholder="정답"
                                />을 구성하는 것
                            </div>
                            <div class="overview-question">
                                <input
                                    data-answer="이접개념"
                                    aria-label="이접개념"
                                    placeholder="정답"
                                />:
                                <input
                                    data-answer="하나의 개념"
                                    aria-label="하나의 개념"
                                    placeholder="정답"
                                />을 구성하는 특징이
                                <input
                                    data-answer="여러 대안"
                                    aria-label="여러 대안"
                                    placeholder="정답"
                                />을 가지고 있는 경우
                            </div>
                            <div class="overview-question">
                                <input
                                    data-answer="상대개념"
                                    aria-label="상대개념"
                                    placeholder="정답"
                                />: 다른 것과의
                                <input
                                    data-answer="비교 관계"
                                    aria-label="비교 관계"
                                    placeholder="정답"
                                />에서만 성립되는 개념
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                [장점]:
                                <input
                                    data-answer="논리적"
                                    aria-label="논리적"
                                    placeholder="정답"
                                />이고
                                <input
                                    data-answer="인지적"
                                    aria-label="인지적"
                                    placeholder="정답"
                                />인 활동 과정에 부합
                            </div>

                            <div class="overview-question">
                                [단점]:
                                <input
                                    data-answer="속성"
                                    aria-label="속성"
                                    placeholder="정답"
                                />이
                                <input
                                    data-answer="추상적"
                                    aria-label="추상적"
                                    placeholder="정답"
                                />인 경우 개념 학습이 어려움
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 제기"
                                aria-label="문제 제기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="속성 제시와 정의"
                                aria-label="속성 제시와 정의"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="속성 검토"
                                aria-label="속성 검토"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="결정적⋅비결정적 속성 검토"
                                    aria-label="결정적⋅비결정적 속성 검토"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="사례(예/비례) 검토"
                                aria-label="사례(예/비례) 검토"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="가설 검증"
                                aria-label="가설 검증"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="개념 분석"
                                aria-label="개념 분석"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="관련 개념 분석"
                                    aria-label="관련 개념 분석"
                                    placeholder="정답"
                                />
                            </div>

                            <input
                                data-answer="관련 문제 검토"
                                aria-label="관련 문제 검토"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="평가"
                                aria-label="평가"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
