<section id="inquiry-mc">
    <h2>탐구학습모형 (마시알라스, 콕스)</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                [목표]:
                                <input
                                    data-answer="탐구력"
                                    aria-label="탐구력"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                [문제의 성격]:
                                <input
                                    data-answer="사회과학적 문제"
                                    aria-label="사회과학적 문제"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                [지식 획득]<br />:
                                <input
                                    data-answer="일반화된"
                                    aria-label="일반화된"
                                    placeholder="정답"
                                />
                                지식,
                                <input
                                    data-answer="객관적"
                                    aria-label="객관적"
                                    placeholder="정답"
                                />
                                지식,
                                <input
                                    data-answer="사회과학적"
                                    aria-label="사회과학적"
                                    placeholder="정답"
                                />
                                지식,
                                <input
                                    data-answer="가치중립적"
                                    aria-label="가치중립적"
                                    placeholder="정답"
                                />
                                지식,
                                <input
                                    data-answer="여러 사례"
                                    aria-label="여러 사례"
                                    placeholder="정답"
                                />에
                                <input
                                    data-answer="적용 가능"
                                    aria-label="적용 가능"
                                    placeholder="정답"
                                />한 지식
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="탐구 문제 파악"
                                aria-label="탐구 문제 파악"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="가설 설정"
                                aria-label="가설 설정"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="인과관계"
                                    aria-label="인과관계"
                                    placeholder="정답"
                                />를 포함한 가설
                            </div>

                            <input
                                data-answer="탐색"
                                aria-label="탐색"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="탐구 계획 수립"
                                    aria-label="탐구 계획 수립"
                                    placeholder="정답"
                                />
                                (자료의
                                <input
                                    data-answer="종류"
                                    aria-label="종류"
                                    placeholder="정답"
                                />
                                및
                                <input
                                    data-answer="수집 방법"
                                    aria-label="수집 방법"
                                    placeholder="정답"
                                />
                                탐색)
                            </div>

                            <input
                                data-answer="증거 제시"
                                aria-label="증거 제시"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 자료
                                <input
                                    data-answer="수집"
                                    aria-label="수집"
                                    placeholder="정답"
                                />
                                및
                                <input
                                    data-answer="분석"
                                    aria-label="분석"
                                    placeholder="정답"
                                />(<input
                                    data-answer="신뢰성"
                                    aria-label="신뢰성"
                                    placeholder="정답"
                                />과
                                <input
                                    data-answer="타당성"
                                    aria-label="타당성"
                                    placeholder="정답"
                                />)
                            </div>

                            <input
                                data-answer="일반화"
                                aria-label="일반화"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
