<section id="stad">
    <h2>STAD (협동학습모형)</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="집단 구성"
                                aria-label="집단 구성"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="이질적"
                                    aria-label="이질적"
                                    placeholder="정답"
                                />으로 구성
                            </div>

                            <input
                                data-answer="교사의 수업 안내와 학습지 배부"
                                aria-label="교사의 수업 안내와 학습지 배부"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="집단 학습"
                                aria-label="집단 학습"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="학습지 작성 및 정답지 확인"
                                aria-label="학습지 작성 및 정답지 확인"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="개별 평가 및 집단 보상"
                                aria-label="개별 평가 및 집단 보상"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 학생의
                                <input
                                    data-answer="실제 점수"
                                    aria-label="실제 점수"
                                    placeholder="정답"
                                />는 공개하지 않고
                                <input
                                    data-answer="향상 점수"
                                    aria-label="향상 점수"
                                    placeholder="정답"
                                />만 알려준다.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
