<section id="concept-analysis">
    <h2>개념 분석 수업모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="분석될 가치 개념의 확인"
                                aria-label="분석될 가치 개념의 확인"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="개념의 전형적인 사례와 개념에 반대되는 사례 탐구"
                                aria-label="개념의 전형적인 사례와 개념에 반대되는 사례 탐구"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="개념의 경계에 해당하는 사례 확인"
                                aria-label="개념의 경계에 해당하는 사례 확인"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="그 개념과 관련된 개념의 분석"
                                aria-label="그 개념과 관련된 개념의 분석"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="가상적인 사태에의 적용"
                                aria-label="가상적인 사태에의 적용"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="분석된 의미의 수용 여부 검토와 정리"
                                aria-label="분석된 의미의 수용 여부 검토와 정리"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
