<section id="ethics-title" class="active">
    <h2>타이틀</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>모형명</th>
                        <td class="two-col-answers" data-group="ethics-title">
                            <input
                                data-answer="역할놀이 수업모형"
                                aria-label="역할놀이 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="개념 분석 수업모형"
                                aria-label="개념 분석 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="가치 분석 수업모형"
                                aria-label="가치 분석 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="가치 갈등 해결 수업모형"
                                aria-label="가치 갈등 해결 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="가치 명료화 수업모형"
                                aria-label="가치 명료화 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="합리적 의사 결정 수업모형"
                                aria-label="합리적 의사 결정 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="도덕적 토론 수업모형"
                                aria-label="도덕적 토론 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="도덕 이야기 수업모형"
                                aria-label="도덕 이야기 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="경험 학습 수업모형"
                                aria-label="경험 학습 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="집단 탐구 수업모형"
                                aria-label="집단 탐구 수업모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="철학적 탐구 공동체 수업모형"
                                aria-label="철학적 탐구 공동체 수업모형"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="model-next-action">
        <button id="ethics-title-next-btn" class="btn">다음으로</button>
    </div>
</section>
