<section id="experience-learning">
    <h2>경험 학습 수업모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="경험 학습의 주제 설정하기"
                                aria-label="경험 학습의 주제 설정하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="경험 학습 계획 세우기"
                                aria-label="경험 학습 계획 세우기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="경험 학습 실행하기"
                                aria-label="경험 학습 실행하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="경험의 교류와 논의를 통해 경험을 공유하고 일반화하기"
                                aria-label="경험의 교류와 논의를 통해 경험을 공유하고 일반화하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="종합 정리 및 평가하기"
                                aria-label="종합 정리 및 평가하기"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
