<section id="roleplay">
    <h2>역할놀이 수업모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="역할놀이 준비"
                                aria-label="역할놀이 준비"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="역할놀이 참가자 선정"
                                aria-label="역할놀이 참가자 선정"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="무대설치"
                                aria-label="무대설치"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="참여적 관찰자로서의 청중의 준비"
                                aria-label="참여적 관찰자로서의 청중의 준비"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="역할놀이 시연"
                                aria-label="역할놀이 시연"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="토론 및 평가"
                                aria-label="토론 및 평가"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="재연"
                                aria-label="재연"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="경험의 공유와 일반화"
                                aria-label="경험의 공유와 일반화"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
