<section id="value-clarification">
    <h2>가치 명료화 수업모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="도덕적 문제 사태의 제시"
                                aria-label="도덕적 문제 사태의 제시"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="자유롭게 선택하기"
                                aria-label="자유롭게 선택하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="여러 대안으로부터 선택하기"
                                aria-label="여러 대안으로부터 선택하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="대안들의 결과를 심사숙고하여 선택하기"
                                aria-label="대안들의 결과를 심사숙고하여 선택하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="선택한 바를 소중히 하기"
                                aria-label="선택한 바를 소중히 하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="선택한 바를 확언하기"
                                aria-label="선택한 바를 확언하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="선택한 바를 행동으로 나타내기"
                                aria-label="선택한 바를 행동으로 나타내기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="생활 속에서 지속적·반복적으로 실천하기"
                                aria-label="생활 속에서 지속적·반복적으로 실천하기"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
