<section id="sports-functions-content" class="active">
    <h2>기본 기능&전략</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">[기술형 스포츠]</div>

                                <div class="outline-title">#기본 기능</div>

                                <div class="overview-question">
                                    기록형:
                                    <input
                                        data-answer="도움닫기 하여 멀리뛰기"
                                        aria-label="도움닫기 하여 멀리뛰기"
                                        placeholder="정답"
                                        style="width: 180px"
                                    />,
                                    <input
                                        data-answer="목표물에 정확히 던지기"
                                        aria-label="목표물에 정확히 던지기"
                                        placeholder="정답"
                                        style="width: 180px"
                                    />
                                </div>

                                <div class="overview-question">
                                    동작형:
                                    <input
                                        data-answer="손 짚고 옆돌기"
                                        aria-label="손 짚고 옆돌기"
                                        placeholder="정답"
                                        style="width: 150px"
                                    />,
                                    <input
                                        data-answer="다리 벌려 뛰어넘기"
                                        aria-label="다리 벌려 뛰어넘기"
                                        placeholder="정답"
                                        style="width: 150px"
                                    />
                                </div>

                                <div class="overview-question">
                                    투기형:
                                    <input
                                        data-answer="발차기"
                                        aria-label="발차기"
                                        placeholder="정답"
                                        style="width: 100px"
                                    />,
                                    <input
                                        data-answer="다리 걸기"
                                        aria-label="다리 걸기"
                                        placeholder="정답"
                                        style="width: 100px"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">[전략형 스포츠]</div>

                                <div class="outline-title">#기본 기능</div>

                                <div class="overview-question">
                                    영역형:
                                    <input
                                        data-answer="슛"
                                        aria-label="슛"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="패스"
                                        aria-label="패스"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="드리블"
                                        aria-label="드리블"
                                        placeholder="정답"
                                        style="width: 80px"
                                    />
                                </div>

                                <div class="overview-question">
                                    필드형:
                                    <input
                                        data-answer="포구"
                                        aria-label="포구"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="송구"
                                        aria-label="송구"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="타격"
                                        aria-label="타격"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="주루"
                                        aria-label="주루"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />
                                </div>

                                <div class="overview-question">
                                    네트형:
                                    <input
                                        data-answer="서브"
                                        aria-label="서브"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="리시브"
                                        aria-label="리시브"
                                        placeholder="정답"
                                        style="width: 80px"
                                    />,
                                    <input
                                        data-answer="토스"
                                        aria-label="토스"
                                        placeholder="정답"
                                        style="width: 70px"
                                    />,
                                    <input
                                        data-answer="스트로크(스매싱)"
                                        aria-label="스트로크(스매싱)"
                                        placeholder="정답"
                                        style="width: 150px"
                                    />
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#기본 전략</div>

                                <div class="overview-question">
                                    영역형:
                                    <input
                                        data-answer="공간 만들기"
                                        aria-label="공간 만들기"
                                        placeholder="정답"
                                        style="width: 120px"
                                    />,
                                    <input
                                        data-answer="공간 차단하기"
                                        aria-label="공간 차단하기"
                                        placeholder="정답"
                                        style="width: 120px"
                                    />,
                                    <input
                                        data-answer="골 넣기와 막기"
                                        aria-label="골 넣기와 막기"
                                        placeholder="정답"
                                        style="width: 130px"
                                    />
                                </div>

                                <div class="overview-question">
                                    필드형:
                                    <input
                                        data-answer="빈 곳으로 공 치기"
                                        aria-label="빈 곳으로 공 치기"
                                        placeholder="정답"
                                        style="width: 150px"
                                    />,
                                    <input
                                        data-answer="구역과 역할을 나누어 수비하기"
                                        aria-label="구역과 역할을 나누어 수비하기"
                                        placeholder="정답"
                                        style="width: 230px"
                                    />
                                </div>

                                <div class="overview-question">
                                    네트형:
                                    <input
                                        data-answer="빈 곳으로 공 넘기기"
                                        aria-label="빈 곳으로 공 넘기기"
                                        placeholder="정답"
                                        style="width: 160px"
                                    />,
                                    <input
                                        data-answer="유기적으로 역할 분담하기"
                                        aria-label="유기적으로 역할 분담하기"
                                        placeholder="정답"
                                        style="width: 190px"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
