<section id="problem-lite">
    <h2>기술적 문제해결과 혁신</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="발명의 의미와 발명품"
                                aria-label="발명의 의미와 발명품"
                                placeholder="정답"
                            /><input
                                data-answer="기술적 문제 해결과 발명사고기법"
                                aria-label="기술적 문제 해결과 발명사고기법"
                                placeholder="정답"
                            /><input
                                data-answer="발명과 특허의 개념"
                                aria-label="발명과 특허의 개념"
                                placeholder="정답"
                            /><input
                                data-answer="지식재산권의 중요성"
                                aria-label="지식재산권의 중요성"
                                placeholder="정답"
                            /><input
                                data-answer="수송의 의미와 수송 수단의 발달"
                                aria-label="수송의 의미와 수송 수단의 발달"
                                placeholder="정답"
                            /><input
                                data-answer="수송 수단의 구성 요소"
                                aria-label="수송 수단의 구성 요소"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="생활 속 기술적 문제 확인하기"
                                aria-label="생활 속 기술적 문제 확인하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="지식재산보호에 대한 인식"
                                aria-label="지식재산보호에 대한 인식"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
