<main id="area-quiz-main" class="hidden competency-ui">
    <div class="competency-tab-wrapper">
        <div class="tabs competency-tabs">
            <div class="competency-row">
                <div class="row-title">교육과정A</div>

                <button class="competency-tab tab active" data-target="korean">
                    국어
                </button>

                <button class="competency-tab tab" data-target="english">
                    영어
                </button>

                <button class="competency-tab tab" data-target="social">
                    사회
                </button>

                <button class="competency-tab tab" data-target="moral">
                    도덕
                </button>

                <button class="competency-tab tab" data-target="practical">
                    실과
                </button>
            </div>

            <div class="competency-row">
                <div class="row-title">교육과정B</div>

                <button class="competency-tab tab" data-target="math">
                    수학
                </button>

                <button class="competency-tab tab" data-target="art">
                    미술
                </button>

                <button class="competency-tab tab" data-target="integrated">
                    통합
                </button>

                <button class="competency-tab tab" data-target="science">
                    과학
                </button>

                <button class="competency-tab tab" data-target="music-subject">
                    음악
                </button>

                <button class="competency-tab tab" data-target="pe">
                    체육
                </button>
            </div>
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/area/korean.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/english.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/social.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/moral.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/practical.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/math.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/art.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/integrated.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/science.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/music-subject.html -->

    <!-- quiz-include: partials/quiz-main-sections/area/pe.html -->
</main>
