<main id="art-std-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="areas">영역별</div>

        <div class="tab" data-target="aesthetic-experience-34">미적체험 34</div>

        <div class="tab" data-target="aesthetic-experience-56">미적체험 56</div>

        <div class="tab" data-target="expression-34">표현 34</div>

        <div class="tab" data-target="expression-56">표현 56</div>

        <div class="tab" data-target="appreciation-34">감상 34</div>

        <div class="tab" data-target="appreciation-56">감상 56</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/art-std/areas.html -->

    <!-- quiz-include: partials/quiz-main-sections/art-std/aesthetic-experience-34.html -->

    <!-- quiz-include: partials/quiz-main-sections/art-std/aesthetic-experience-56.html -->

    <!-- quiz-include: partials/quiz-main-sections/art-std/expression-34.html -->

    <!-- quiz-include: partials/quiz-main-sections/art-std/expression-56.html -->

    <!-- quiz-include: partials/quiz-main-sections/art-std/appreciation-34.html -->

    <!-- quiz-include: partials/quiz-main-sections/art-std/appreciation-56.html -->
</main>
