<main id="art-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="aesthetic-experience">
            미적체험
        </div>

        <div class="tab" data-target="expression">표현</div>

        <div class="tab" data-target="appreciation">감상</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/art/aesthetic-experience.html -->

    <!-- quiz-include: partials/quiz-main-sections/art/expression.html -->

    <!-- quiz-include: partials/quiz-main-sections/art/appreciation.html -->
</main>
