<main id="change-relation-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="cr-grade1-2">1~2</div>

        <div class="tab" data-target="cr-grade3-4">3~4</div>

        <div class="tab" data-target="cr-grade5-6">5~6</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/change-relation/cr-grade1-2.html -->

    <!-- quiz-include: partials/quiz-main-sections/change-relation/cr-grade3-4.html -->

    <!-- quiz-include: partials/quiz-main-sections/change-relation/cr-grade5-6.html -->
</main>
