<main id="creative-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="curriculum-overview">
            교육과정 설계의 개요
        </div>

        <div class="tab" data-target="character-goal">성격 및 목표</div>

        <div class="tab" data-target="creative-areas">영역과 활동</div>

        <div class="tab" data-target="planning">설계와 운영</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/creative/curriculum-overview.html -->

    <!-- quiz-include: partials/quiz-main-sections/creative/character-goal.html -->

    <!-- quiz-include: partials/quiz-main-sections/creative/creative-areas.html -->

    <!-- quiz-include: partials/quiz-main-sections/creative/planning.html -->
</main>
