<main id="data-probability-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="dp-grade1-2">1~2</div>

        <div class="tab" data-target="dp-grade3-4">3~4</div>

        <div class="tab" data-target="dp-grade5-6">5~6</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/data-probability/dp-grade1-2.html -->

    <!-- quiz-include: partials/quiz-main-sections/data-probability/dp-grade3-4.html -->

    <!-- quiz-include: partials/quiz-main-sections/data-probability/dp-grade5-6.html -->
</main>
