<main id="english-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="acquisition">언어 습득 이론</div>

        <div class="tab" data-target="methodology">영어 교수법</div>

        <div class="tab" data-target="learner">학습자 변인</div>

        <div class="tab" data-target="functional">기능별 언어 지도</div>

        <div class="tab" data-target="element">요소별 언어 지도</div>

        <div class="tab" data-target="activity">활동중심수업</div>

        <div class="tab" data-target="teacher-talk">교사언어</div>

        <div class="tab" data-target="assessment">평가</div>
    </div>

    <!-- quiz-include: partials/quiz-main-sections/english/acquisition.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/methodology.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/learner.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/functional.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/element.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/activity.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/teacher-talk.html -->

    <!-- quiz-include: partials/quiz-main-sections/english/assessment.html -->
</main>
