<main id="ethics-lite-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="self-lite">자신과의 관계</div>

        <div class="tab" data-target="others-lite">타인과의 관계</div>

        <div class="tab" data-target="society-lite">사회⋅공동체와의 관계</div>

        <div class="tab" data-target="nature-lite">자연과의 관계</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/ethics-lite/self-lite.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics-lite/others-lite.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics-lite/society-lite.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics-lite/nature-lite.html -->
</main>
