<main id="ethics-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="ethics-title">타이틀</div>

        <div class="tab" data-target="roleplay">역할놀이</div>

        <div class="tab" data-target="concept-analysis">개념 분석</div>

        <div class="tab" data-target="value-analysis">가치 분석</div>

        <div class="tab" data-target="conflict-resolution">가치 갈등 해결</div>

        <div class="tab" data-target="value-clarification">가치 명료화</div>

        <div class="tab" data-target="rational-decision">합리적 의사 결정</div>

        <div class="tab" data-target="moral-discussion">도덕적 토론</div>

        <div class="tab" data-target="moral-story">도덕 이야기</div>

        <div class="tab" data-target="experience-learning">경험 학습</div>

        <div class="tab" data-target="group-inquiry">집단 탐구</div>

        <div class="tab" data-target="p4c">철학적 탐구 공동체</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/ethics/ethics-title.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/roleplay.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/concept-analysis.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/value-analysis.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/conflict-resolution.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/value-clarification.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/rational-decision.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/moral-discussion.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/moral-story.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/experience-learning.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/group-inquiry.html -->

    <!-- quiz-include: partials/quiz-main-sections/ethics/p4c.html -->
</main>
