<main id="geometry-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="basic-geometry">도형의 기초</div>

        <div class="tab" data-target="plane-figures">평면도형</div>

        <div class="tab" data-target="solid-figures">입체도형</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/geometry/basic-geometry.html -->

    <!-- quiz-include: partials/quiz-main-sections/geometry/plane-figures.html -->

    <!-- quiz-include: partials/quiz-main-sections/geometry/solid-figures.html -->
</main>
