<main id="integrated-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="common-area">공통</div>

        <div class="tab" data-target="goodlife-area">바생</div>

        <div class="tab" data-target="sociality-area">슬생</div>

        <div class="tab" data-target="joyful-area">즐생</div>
    </div>

    <!-- quiz-include: partials/quiz-main-sections/integrated-course/common-area.html -->

    <!-- quiz-include: partials/quiz-main-sections/integrated-course/goodlife-area.html -->

    <!-- quiz-include: partials/quiz-main-sections/integrated-course/sociality-area.html -->

    <!-- quiz-include: partials/quiz-main-sections/integrated-course/joyful-area.html -->
</main>
