<main id="joy-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="joy-who">
            우리는 누구로 살아 갈까
        </div>

        <div class="tab" data-target="joy-where">우리는 어디서 살아 갈까</div>

        <div class="tab" data-target="joy-how">
            우리는 지금 어떻게 살아 갈까
        </div>

        <div class="tab" data-target="joy-what">
            우리는 무엇을 하며 살아 갈까
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/joy/joy-who.html -->

    <!-- quiz-include: partials/quiz-main-sections/joy/joy-where.html -->

    <!-- quiz-include: partials/quiz-main-sections/joy/joy-how.html -->

    <!-- quiz-include: partials/quiz-main-sections/joy/joy-what.html -->
</main>
