<main id="korean-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="listening-speaking">
            듣기·말하기
        </div>

        <div class="tab" data-target="reading">읽기</div>

        <div class="tab" data-target="writing">쓰기</div>

        <div class="tab" data-target="grammar">문법</div>

        <div class="tab" data-target="literature">문학</div>

        <div class="tab" data-target="media">매체</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/korean/listening-speaking.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean/reading.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean/writing.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean/grammar.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean/literature.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean/media.html -->
</main>
