<main id="korean-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="korean-listening">듣기⋅말하기</div>

        <div class="tab" data-target="korean-reading">읽기</div>

        <div class="tab" data-target="korean-writing">쓰기</div>

        <div class="tab" data-target="korean-grammar">문법</div>

        <div class="tab" data-target="korean-literature">문학</div>

        <div class="tab" data-target="korean-media">매체</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/korean-course/korean-listening.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean-course/korean-reading.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean-course/korean-writing.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean-course/korean-grammar.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean-course/korean-literature.html -->

    <!-- quiz-include: partials/quiz-main-sections/korean-course/korean-media.html -->
</main>
