<main id="math-model-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="math-title">타이틀</div>

        <div class="tab" data-target="concept-formation-math">
            개념 학습 모형 (개념 형성)
        </div>

        <div class="tab" data-target="concept-attribute-math">
            개념 학습 모형 (속성)
        </div>

        <div class="tab" data-target="inductive-reasoning-math">
            귀납 추론 학습
        </div>

        <div class="tab" data-target="problem-solving-math">문제 해결 학습</div>

        <div class="tab" data-target="principle-inquiry-math">
            원리 탐구 학습
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/math-model/math-title.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-model/concept-formation-math.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-model/concept-attribute-math.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-model/inductive-reasoning-math.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-model/problem-solving-math.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-model/principle-inquiry-math.html -->
</main>
