<main id="math-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="math-intro">앞교</div>

        <div class="tab" data-target="math-core-idea">핵심아이디어</div>

        <div class="tab" data-target="math-teaching-competency">
            교수⋅학습 방법 - 교과 역량 함양
        </div>

        <div class="tab" data-target="math-teaching-method">
            교수⋅학습 방법 - 교수⋅학습 방안
        </div>

        <div class="tab" data-target="math-evaluation-competency">
            평가 방법 - 교과 역량을 평가
        </div>

        <div class="tab" data-target="math-evaluation-method">
            평가 방법 - 다양한 평가 방안
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/math-course/math-intro.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-course/math-core-idea.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-course/math-teaching-competency.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-course/math-teaching-method.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-course/math-evaluation-competency.html -->

    <!-- quiz-include: partials/quiz-main-sections/math-course/math-evaluation-method.html -->
</main>
