<main id="moral-psychology-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="psychoanalytic">
            정신 분석학적 도덕 심리학
        </div>

        <div class="tab" data-target="behaviorist">행동주의 도덕 심리학</div>

        <div class="tab" data-target="piaget">
            인지 발달론적 도덕 심리학 - 피아제
        </div>

        <div class="tab" data-target="kohlberg">
            인지 발달론적 도덕 심리학 - 콜버그
        </div>

        <div class="tab" data-target="gilligan">
            배려와 책임의 도덕 심리학 – 길리건
        </div>

        <div class="tab" data-target="noddings">
            배려와 책임의 도덕 심리학 – 나딩스
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/moral-psychology/psychoanalytic.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-psychology/behaviorist.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-psychology/piaget.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-psychology/kohlberg.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-psychology/gilligan.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-psychology/noddings.html -->
</main>
