<main id="moral-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="moral-overview">개요</div>

        <div class="tab" data-target="moral-character">성격</div>

        <div class="tab" data-target="moral-goal">목표</div>

        <div class="tab" data-target="moral-teaching">교수⋅학습 방법</div>

        <div class="tab" data-target="moral-evaluation">평가의 방향</div>

        <div class="tab" data-target="moral-evaluation-methods">
            평가의 방법
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/moral-course/moral-overview.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-course/moral-character.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-course/moral-goal.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-course/moral-teaching.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-course/moral-evaluation.html -->

    <!-- quiz-include: partials/quiz-main-sections/moral-course/moral-evaluation-methods.html -->
</main>
