<main id="music-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="music-overview">
            교육과정 설계의 개요
        </div>

        <div class="tab" data-target="music-character">성격 및 목표</div>

        <div class="tab" data-target="music-teaching">교수⋅학습 방법</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/music-course/music-overview.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-course/music-character.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-course/music-teaching.html -->
</main>
