<main id="music-std-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="performance-34">연주34</div>

        <div class="tab" data-target="appreciation-34">감상34</div>

        <div class="tab" data-target="creation-34">창작34</div>

        <div class="tab" data-target="performance-56">연주56</div>

        <div class="tab" data-target="appreciation-56">감상56</div>

        <div class="tab" data-target="creation-56">창작56</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/music-std/performance-34.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-std/appreciation-34.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-std/creation-34.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-std/performance-56.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-std/appreciation-56.html -->

    <!-- quiz-include: partials/quiz-main-sections/music-std/creation-56.html -->
</main>
