<main id="music-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="performance">연주</div>

        <div class="tab" data-target="listening">감상</div>

        <div class="tab" data-target="creation">창작</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/music/performance.html -->

    <!-- quiz-include: partials/quiz-main-sections/music/listening.html -->

    <!-- quiz-include: partials/quiz-main-sections/music/creation.html -->
</main>
