<main id="overview-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="nature">교육과정의 성격</div>

        <div class="tab" data-target="direction">구성의 방향</div>

        <div class="tab" data-target="design">설계와 운영</div>

        <div class="tab" data-target="standard">편성·운영</div>

        <div class="tab" data-target="support">학교 교육과정 지원</div>
    </div>

    <!-- quiz-include: partials/quiz-main-sections/overview/nature.html -->

    <!-- quiz-include: partials/quiz-main-sections/overview/direction.html -->

    <!-- quiz-include: partials/quiz-main-sections/overview/design.html -->

    <!-- quiz-include: partials/quiz-main-sections/overview/standard.html -->

    <!-- quiz-include: partials/quiz-main-sections/overview/support.html -->
</main>
