<main id="pe-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="pe-overview">
            교육과정 설계의 개요
        </div>

        <div class="tab" data-target="pe-character">성격 및 목표</div>

        <div class="tab" data-target="pe-teaching">교수⋅학습의 방향</div>

        <div class="tab" data-target="pe-methods">교수⋅학습 방법</div>

        <div class="tab" data-target="pe-assessment">평가의 방향</div>

        <div class="tab" data-target="pe-assessment-methods">평가 방법</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/pe-course/pe-overview.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-course/pe-character.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-course/pe-teaching.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-course/pe-methods.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-course/pe-assessment.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-course/pe-assessment-methods.html -->
</main>
