<main id="pe-lite-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="exercise-lite">운동</div>

        <div class="tab" data-target="sports-lite">스포츠</div>

        <div class="tab" data-target="expression-lite">표현</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/pe-lite/exercise-lite.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-lite/sports-lite.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-lite/expression-lite.html -->
</main>
