<main id="pe-model-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="pe-title">타이틀</div>

        <div class="tab" data-target="direct-instruction-pe">직접교수</div>

        <div class="tab" data-target="inquiry-pe">탐구수업</div>

        <div class="tab" data-target="peer-teaching-pe">동료교수</div>

        <div class="tab" data-target="individualized-pe">개별화수업</div>

        <div class="tab" data-target="cooperative-pe">협동학습</div>

        <div class="tab" data-target="tgfu-pe">이해중심게임수업</div>

        <div class="tab" data-target="sport-education-pe">스포츠교육</div>

        <div class="tab" data-target="psr-pe">개인적사회적책임감</div>

        <div class="tab" data-target="other-pe">기타</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/pe-model/pe-title.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/direct-instruction-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/inquiry-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/peer-teaching-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/individualized-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/cooperative-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/tgfu-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/sport-education-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/psr-pe.html -->

    <!-- quiz-include: partials/quiz-main-sections/pe-model/other-pe.html -->
</main>
