<main id="physical-activity-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="physical-exercise">운동</div>

        <div class="tab" data-target="physical-sports">스포츠</div>

        <div class="tab" data-target="physical-expression">표현</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/physical-activity/physical-exercise.html -->

    <!-- quiz-include: partials/quiz-main-sections/physical-activity/physical-sports.html -->

    <!-- quiz-include: partials/quiz-main-sections/physical-activity/physical-expression.html -->
</main>
