<main id="practical-std-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="growth">인간 발달과 주도적 삶</div>

        <div class="tab" data-target="environment">
            생활환경과 지속가능한 선택
        </div>

        <div class="tab" data-target="innovation">기술적 문제해결과 혁신</div>

        <div class="tab" data-target="convergence">지속가능한 기술과 융합</div>

        <div class="tab" data-target="digital">디지털 사회와 인공지능</div>

        <div class="tab" data-target="info-education">정보 교육</div>
    </div>

    <!-- quiz-include: partials/quiz-main-sections/practical-std/growth.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-std/environment.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-std/innovation.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-std/convergence.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-std/digital.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-std/info-education.html -->
</main>
