<main id="practical-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="practical-overview">
            교육과정 설계의 개요
        </div>

        <div class="tab" data-target="practical-character">성격</div>

        <div class="tab" data-target="practical-direction">
            교수⋅학습의 방향
        </div>

        <div class="tab" data-target="practical-method">교수⋅학습 방법</div>

        <div class="tab" data-target="practical-evaluation">평가</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/practical-course/practical-overview.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-course/practical-character.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-course/practical-direction.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-course/practical-method.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical-course/practical-evaluation.html -->
</main>
