<main id="practical-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="practical-title">타이틀</div>

        <div class="tab active" data-target="problem-solving">문제 해결</div>

        <div class="tab" data-target="project">프로젝트</div>

        <div class="tab" data-target="practice-centered">실습 중심</div>

        <div class="tab" data-target="cooperative">협동 학습</div>

        <div class="tab" data-target="practical-problem">
            실천적 문제 중심 학습
        </div>

        <div class="tab" data-target="technical-problem-solving">
            기술적 문제해결 과정
        </div>

        <div class="tab" data-target="technical-problem-solving-detail">
            기술적 문제해결과정 세부 내용
        </div>

        <div class="tab" data-target="design-thinking">디자인 씽킹</div>

        <div class="tab" data-target="maker-learning">메이커 중심 학습</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/practical/practical-title.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/problem-solving.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/project.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/practice-centered.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/cooperative.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/practical-problem.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/technical-problem-solving.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/technical-problem-solving-detail.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/design-thinking.html -->

    <!-- quiz-include: partials/quiz-main-sections/practical/maker-learning.html -->
</main>
