<main id="science-curriculum-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="science-knowledge-understanding">
            지식 · 이해
        </div>

        <div class="tab" data-target="science-values-attitude">가치 · 태도</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/science-curriculum/science-knowledge-understanding.html -->

    <!-- quiz-include: partials/quiz-main-sections/science-curriculum/science-values-attitude.html -->
</main>
