<main id="science-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="science-title">타이틀</div>

        <div class="tab" data-target="experience-learning">경험 학습 모형</div>

        <div class="tab" data-target="discovery-learning">발견 학습 모형</div>

        <div class="tab" data-target="inquiry-learning">탐구 학습 모형</div>

        <div class="tab" data-target="learning-cycle">순환 학습 모형</div>

        <div class="tab" data-target="five-e">5E</div>

        <div class="tab" data-target="poe">POE</div>

        <div class="tab" data-target="conceptual-change">
            개념 변화 학습 모형
        </div>

        <div class="tab" data-target="sts-learning">STS 학습 모형</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/science/science-title.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/experience-learning.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/discovery-learning.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/inquiry-learning.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/learning-cycle.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/five-e.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/poe.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/conceptual-change.html -->

    <!-- quiz-include: partials/quiz-main-sections/science/sts-learning.html -->
</main>
