<main id="science-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="science-overview">
            교육과정 설계의 개요
        </div>

        <div class="tab" data-target="science-character">성격</div>

        <div class="tab" data-target="science-goal">목표</div>

        <div class="tab" data-target="science-teaching">교수⋅학습 방법</div>

        <div class="tab" data-target="science-evaluation">평가 방법</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/science-course/science-overview.html -->

    <!-- quiz-include: partials/quiz-main-sections/science-course/science-character.html -->

    <!-- quiz-include: partials/quiz-main-sections/science-course/science-goal.html -->

    <!-- quiz-include: partials/quiz-main-sections/science-course/science-teaching.html -->

    <!-- quiz-include: partials/quiz-main-sections/science-course/science-evaluation.html -->
</main>
