<main id="social-34-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="living-place">우리가 사는 곳</div>

        <div class="tab" data-target="past-daily">일상에서 만나는 과거</div>

        <div class="tab" data-target="social-change">
            사회 변화와 다양한 문화
        </div>

        <div class="tab" data-target="past-present">
            옛날과 오늘날의 생활 모습
        </div>

        <div class="tab" data-target="map-region">지도로 만나는 우리 지역</div>

        <div class="tab" data-target="cultural-heritage">
            우리 지역의 문화유산
        </div>

        <div class="tab" data-target="economy-exchange">
            경제활동과 지역 간 교류
        </div>

        <div class="tab" data-target="democracy-autonomy">민주주의와 자치</div>

        <div class="tab" data-target="problem-solving">
            지역문제를 해결하고 지역을 알리는 노력
        </div>

        <div class="tab" data-target="environment-life">
            다양한 환경과 삶의 모습
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/social-34/living-place.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/past-daily.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/social-change.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/past-present.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/map-region.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/cultural-heritage.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/economy-exchange.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/democracy-autonomy.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/problem-solving.html -->
    <!-- quiz-include: partials/quiz-main-sections/social-34/environment-life.html -->
</main>
