<main id="social-56-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="korean-territory">
            우리나라 국토 여행
        </div>

        <div class="tab" data-target="korean-geography">우리나라 지리 탐구</div>

        <div class="tab" data-target="law-human-rights">법과 인권의 보장</div>

        <div class="tab" data-target="relics-ancient-life">
            유적과 유물로 살펴본 옛 사람들의 생활
        </div>

        <div class="tab" data-target="changing-eras">
            달라지는 시대, 변화하는 생활 모습
        </div>

        <div class="tab" data-target="colonial-resistance-war">
            식민 통치와 저항, 전쟁이 바꾼 사회와 생활
        </div>

        <div class="tab" data-target="peace-unification-democratization">
            평화 통일을 위한 노력, 민주화와 산업화
        </div>

        <div class="tab" data-target="democracy-citizen-participation">
            민주주의와 시민 참여
        </div>

        <div class="tab" data-target="earth-continents-nations">
            지구, 대륙 그리고 국가들
        </div>

        <div class="tab" data-target="world-natural-environment">
            세계의 자연환경
        </div>

        <div class="tab" data-target="market-economy-trade">
            시장경제와 국가 간 거래
        </div>

        <div class="tab" data-target="global-people">지구촌 사람들</div>
    </div>

    <!-- quiz-include: partials/quiz-main-sections/social-56/korean-territory.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/korean-geography.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/law-human-rights.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/relics-ancient-life.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/changing-eras.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/colonial-resistance-war.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/peace-unification-democratization.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/democracy-citizen-participation.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/earth-continents-nations.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/world-natural-environment.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/market-economy-trade.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-56/global-people.html -->
</main>
