<main id="social-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="social-title">타이틀</div>

        <div class="tab" data-target="attribute">속성 모형</div>

        <div class="tab" data-target="prototype">원형모형</div>

        <div class="tab" data-target="context">상황모형</div>

        <div class="tab" data-target="inquiry-mc">탐구학습(마시알라스)</div>

        <div class="tab" data-target="inquiry-banks">탐구학습(뱅크스)</div>

        <div class="tab" data-target="problem-solving">문제해결학습</div>

        <div class="tab" data-target="rational-banks">합리적 의사결정</div>

        <div class="tab" data-target="decision-matrix">의사결정 매트릭스</div>

        <div class="tab" data-target="controversy">논쟁문제</div>

        <div class="tab" data-target="controversy-minor">논쟁문제(Minor)</div>

        <div class="tab" data-target="jigsaw2">직소Ⅱ</div>

        <div class="tab" data-target="stad">STAD</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/social/social-title.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/attribute.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/prototype.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/context.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/inquiry-mc.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/inquiry-banks.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/problem-solving.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/rational-banks.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/decision-matrix.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/controversy.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/controversy-minor.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/jigsaw2.html -->

    <!-- quiz-include: partials/quiz-main-sections/social/stad.html -->
</main>
