<main id="social-course-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="social-character">성격</div>

        <div class="tab" data-target="social-sub-goal">하위 목표-과정⋅기능</div>

        <div class="tab" data-target="social-direction">교수⋅학습의 방향</div>

        <div class="tab" data-target="social-method">교수⋅학습 방법</div>

        <div class="tab" data-target="social-evaluation">평가의 방향</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/social-course/social-character.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-course/social-sub-goal.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-course/social-direction.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-course/social-method.html -->

    <!-- quiz-include: partials/quiz-main-sections/social-course/social-evaluation.html -->
</main>
