<main id="western-ethics-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="socrates-plato">
            소크라테스 · 플라톤
        </div>

        <div class="tab" data-target="aristotle">아리스토텔레스</div>

        <div class="tab" data-target="kant">칸트</div>

        <div class="tab" data-target="durkheim">뒤르켐</div>

        <div class="tab" data-target="dewey">듀이</div>

        <div class="tab" data-target="frankenna">프랑케나</div>

        <div class="tab" data-target="peters">피터스</div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/western-ethics/socrates-plato.html -->

    <!-- quiz-include: partials/quiz-main-sections/western-ethics/aristotle.html -->

    <!-- quiz-include: partials/quiz-main-sections/western-ethics/kant.html -->

    <!-- quiz-include: partials/quiz-main-sections/western-ethics/durkheim.html -->

    <!-- quiz-include: partials/quiz-main-sections/western-ethics/dewey.html -->

    <!-- quiz-include: partials/quiz-main-sections/western-ethics/frankenna.html -->

    <!-- quiz-include: partials/quiz-main-sections/western-ethics/peters.html -->
</main>
