<main id="wise-quiz-main" class="hidden">
    <div class="tabs">
        <div class="tab active" data-target="wise-who">
            우리는 누구로 살아 갈까
        </div>

        <div class="tab" data-target="wise-where">우리는 어디서 살아 갈까</div>

        <div class="tab" data-target="wise-how">
            우리는 지금 어떻게 살아 갈까
        </div>

        <div class="tab" data-target="wise-what">
            우리는 무엇을 하며 살아 갈까
        </div>
    </div>
    <!-- quiz-include: partials/quiz-main-sections/wise/wise-who.html -->

    <!-- quiz-include: partials/quiz-main-sections/wise/wise-where.html -->

    <!-- quiz-include: partials/quiz-main-sections/wise/wise-how.html -->

    <!-- quiz-include: partials/quiz-main-sections/wise/wise-what.html -->
</main>
