<section id="cooperative">
    <h2>협동 학습 교수·학습 방법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <input
                                data-answer="이질적인 소집단"
                                aria-label="이질적인 소집단"
                                placeholder="특징"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="모둠 구성"
                                aria-label="모둠 구성"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="과제 제시 및 선택"
                                aria-label="과제 제시 및 선택"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="전문가 집단 활동"
                                aria-label="전문가 집단 활동"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="모집단 활동"
                                aria-label="모집단 활동"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="평가하기"
                                aria-label="평가하기"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
