<section id="design-thinking">
    <h2>디자인 씽킹</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                aria-label="공감"
                                placeholder="단계명"
                                value="공감"
                                readonly
                            />

                            <input
                                aria-label="문제정의"
                                placeholder="단계명"
                                value="문제정의"
                                readonly
                            />

                            <input
                                aria-label="아이디어 구상"
                                placeholder="단계명"
                                value="아이디어 구상"
                                readonly
                            />

                            <input
                                data-answer="프로토타입 제작"
                                aria-label="프로토타입 제작"
                                placeholder="단계명"
                            />

                            <input
                                aria-label="테스트"
                                placeholder="단계명"
                                value="테스트"
                                readonly
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
