<section id="practical-title" class="active">
    <h2>타이틀</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>모형명</th>
                        <td
                            class="two-col-answers"
                            data-group="practical-title"
                        >
                            <input
                                data-answer="문제 해결 교수·학습 방법"
                                aria-label="문제 해결 교수·학습 방법"
                                placeholder="정답"
                            />

                            <input
                                data-answer="프로젝트 교수·학습 방법"
                                aria-label="프로젝트 교수·학습 방법"
                                placeholder="정답"
                            />

                            <input
                                data-answer="실습 중심 교수·학습 방법"
                                aria-label="실습 중심 교수·학습 방법"
                                placeholder="정답"
                            />

                            <input
                                data-answer="협동 학습 교수·학습 방법"
                                aria-label="협동 학습 교수·학습 방법"
                                placeholder="정답"
                            />

                            <input
                                data-answer="실천적 문제 중심 학습"
                                aria-label="실천적 문제 중심 학습"
                                placeholder="정답"
                            />

                            <input
                                data-answer="기술적 문제해결 과정"
                                aria-label="기술적 문제해결 과정"
                                placeholder="정답"
                            />

                            <input
                                data-answer="디자인 씽킹"
                                aria-label="디자인 씽킹"
                                placeholder="정답"
                            />

                            <input
                                data-answer="메이커 중심 학습"
                                aria-label="메이커 중심 학습"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="model-next-action">
        <button id="practical-title-next-btn" class="btn">다음으로</button>
    </div>
</section>
