<section id="problem-solving">
    <h2>문제 해결 교수·학습 방법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <input
                                data-answer="학생의 사고 과정 중시"
                                aria-label="학생의 사고 과정 중시"
                                placeholder="특징"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 인식"
                                aria-label="문제 인식"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="정보의 수집을 통한 문제 해결 방안의 마련과 선택의 준비"
                                aria-label="정보의 수집을 통한 문제 해결 방안의 마련과 선택의 준비"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="문제 해결 방안 설정"
                                aria-label="문제 해결 방안 설정"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="문제 해결 방안 적용"
                                aria-label="문제 해결 방안 적용"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="결과에 대한 평가"
                                aria-label="결과에 대한 평가"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
