<section id="project">
    <h2>프로젝트 교수·학습 방법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <input
                                data-answer="학생의 산출물 중시"
                                aria-label="학생의 산출물 중시"
                                placeholder="특징"
                            />

                            <input
                                data-answer="학생 중심 (학생 스스로 문제해결)"
                                aria-label="학생 중심 (학생 스스로 문제해결)"
                                placeholder="특징"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="목적 설정"
                                aria-label="목적 설정"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="계획"
                                aria-label="계획"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 키워드:
                                <input
                                    data-answer="활동계획서"
                                    aria-label="활동계획서"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>

                            <input
                                data-answer="실행"
                                aria-label="실행"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="평가"
                                aria-label="평가"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="결과물 공유(전시, 발표)"
                                    aria-label="결과물 공유(전시, 발표)"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
