<section id="technical-problem-solving">
    <h2>기술적 문제해결 과정</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                <strong>기술적 문제:</strong> 생활 속에서 겪는
                                <input
                                    data-answer="불편함"
                                    aria-label="불편함"
                                    placeholder="빈칸"
                                />
                                또는 기존에 만들어진 제품의
                                <input
                                    data-answer="결점"
                                    aria-label="결점"
                                    placeholder="빈칸"
                                />에 대한
                                <input
                                    data-answer="개선"
                                    aria-label="개선"
                                    placeholder="빈칸"
                                />이 필요한 상황
                            </div>

                            <div class="overview-question">
                                기술적 문제해결과정: 새로운 아이디어로 기술적
                                <input
                                    data-answer="개선"
                                    aria-label="개선"
                                    placeholder="빈칸"
                                />이나
                                <input
                                    data-answer="발명"
                                    aria-label="발명"
                                    placeholder="빈칸"
                                />하는 과정
                            </div>

                            <div class="overview-question">
                                <input
                                    data-answer="기술적 문제해결 능력"
                                    aria-label="기술적 문제해결 능력"
                                    placeholder="빈칸"
                                />
                                신장
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 확인"
                                aria-label="문제 확인"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="아이디어 탐색 및 구체화"
                                aria-label="아이디어 탐색 및 구체화"
                                placeholder="단계명"
                            />

                            <input
                                class="sub-step"
                                data-answer="정보 수집"
                                aria-label="정보 수집"
                                placeholder="하위 단계"
                            />

                            <input
                                class="sub-step"
                                data-answer="아이디어 구상"
                                aria-label="아이디어 구상"
                                placeholder="하위 단계"
                            />

                            <ul class="sub-list">
                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="발명사고기법"
                                        aria-label="발명사고기법"
                                        placeholder="활동"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="확산적 사고 기법"
                                        aria-label="확산적 사고 기법"
                                        placeholder="활동"
                                    />
                                </li>
                            </ul>

                            <input
                                class="sub-step"
                                data-answer="아이디어 평가 및 선정"
                                aria-label="아이디어 평가 및 선정"
                                placeholder="하위 단계"
                            />

                            <ul class="sub-list">
                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="수렴적 사고 기법"
                                        aria-label="수렴적 사고 기법"
                                        placeholder="활동"
                                    />
                                </li>
                            </ul>

                            <input
                                class="sub-step"
                                data-answer="아이디어 구체화"
                                aria-label="아이디어 구체화"
                                placeholder="하위 단계"
                            />

                            <ul class="sub-list">
                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="스케치"
                                        aria-label="스케치"
                                        placeholder="활동"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="구상도"
                                        aria-label="구상도"
                                        placeholder="활동"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="제작도"
                                        aria-label="제작도"
                                        placeholder="활동"
                                    />
                                </li>
                            </ul>

                            <input
                                data-answer="실행"
                                aria-label="실행"
                                placeholder="단계명"
                            />

                            <ul class="sub-list">
                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="마름질하기"
                                        aria-label="마름질하기"
                                        placeholder="활동"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="가공하기"
                                        aria-label="가공하기"
                                        placeholder="활동"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="조립하기"
                                        aria-label="조립하기"
                                        placeholder="활동"
                                    />
                                </li>
                            </ul>

                            <input
                                data-answer="평가"
                                aria-label="평가"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
