<section id="technical-problem-solving-detail">
    <h2>기술적 문제해결과정 세부 내용</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>발명사고기법</th>
                        <td>
                            <input
                                data-answer="재료 바꾸기"
                                aria-label="재료 바꾸기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="용도 바꾸기"
                                aria-label="용도 바꾸기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="폐품 활용하기"
                                aria-label="폐품 활용하기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="모양 바꾸기"
                                aria-label="모양 바꾸기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="자연물 본뜨기"
                                aria-label="자연물 본뜨기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="크기 바꾸기"
                                aria-label="크기 바꾸기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="아이디어 빌리기"
                                aria-label="아이디어 빌리기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="반대로 생각하기- 방향, 수, 모양, 기능"
                                aria-label="반대로 생각하기- 방향, 수, 모양, 기능"
                                placeholder="정답"
                            />

                            <input
                                data-answer="더하기"
                                aria-label="더하기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="빼기"
                                aria-label="빼기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>확산적 사고 기법</th>
                        <td>
                            <input
                                data-answer="브레인스토밍"
                                aria-label="브레인스토밍"
                                placeholder="정답"
                            />

                            <input
                                data-answer="마인드맵"
                                aria-label="마인드맵"
                                placeholder="정답"
                            />

                            <input
                                data-answer="스캠퍼"
                                aria-label="스캠퍼"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>SCAMPER</th>
                        <td>
                            <div class="overview-question">
                                S:
                                <input
                                    data-answer="대체"
                                    aria-label="대체"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                C:
                                <input
                                    data-answer="조합"
                                    aria-label="조합"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                A:
                                <input
                                    data-answer="적용"
                                    aria-label="적용"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                M:
                                <input
                                    data-answer="수정-확대-축소"
                                    aria-label="수정-확대-축소"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                P:
                                <input
                                    data-answer="용도 변경"
                                    aria-label="용도 변경"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                E:
                                <input
                                    data-answer="제거"
                                    aria-label="제거"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                R:
                                <input
                                    data-answer="재배치"
                                    aria-label="재배치"
                                    placeholder="정답"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>수렴적 사고 기법</th>
                        <td>
                            <input
                                data-answer="평가 행렬법"
                                aria-label="평가 행렬법"
                                placeholder="정답"
                            />

                            <input
                                data-answer="PMI 기법"
                                aria-label="PMI 기법"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>아이디어 구체화</th>
                        <td>
                            <div class="overview-question">
                                스케치:
                                <input
                                    data-answer="치수 기입 X"
                                    aria-label="치수 기입 X"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                구상도:
                                <input
                                    data-answer="치수 기입 O"
                                    aria-label="치수 기입 O"
                                    placeholder="정답"
                                />
                            </div>

                            <div class="overview-question">
                                제작도: 각 부품의
                                <input
                                    data-answer="정면도에 치수 기입 O"
                                    aria-label="정면도에 치수 기입 O"
                                    placeholder="정답"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
