<section id="integrated-title" class="active">
    <h2>타이틀</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단원개발절차<br />차시개발절차</th>

                        <td
                            class="two-col-answers"
                            data-group="unit-development"
                            data-ignore-order
                        >
                            <input
                                data-answer="이야기 모형"
                                aria-label="이야기 모형"
                                placeholder="타이틀"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>단원 개발 도구</th>

                        <td
                            class="two-col-answers"
                            data-group="unit-tools"
                            data-ignore-order
                        >
                            <input
                                data-answer="성취기준 출발형"
                                aria-label="성취기준 출발형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="학생 요구형"
                                aria-label="학생 요구형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="학습 기능 숙달형"
                                aria-label="학습 기능 숙달형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="문제 해결형"
                                aria-label="문제 해결형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="학교 행사형"
                                aria-label="학교 행사형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="이벤트형"
                                aria-label="이벤트형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="장소 기반형"
                                aria-label="장소 기반형"
                                placeholder="타이틀"
                            />

                            <input
                                data-answer="프로젝트형"
                                aria-label="프로젝트형"
                                placeholder="타이틀"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
