<section id="spelling-blank">
    <h2>맞춤법 - 빈칸</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#22 지도서</div>

                                <div class="overview-question">
                                    [제41항, 42항]
                                    <input
                                        data-answer="조사"
                                        aria-label="조사"
                                        placeholder="정답"
                                    />는 그 앞말에 붙여 쓰고,
                                    <input
                                        data-answer="의존 명사"
                                        aria-label="의존 명사"
                                        placeholder="정답"
                                    />는 띄어 쓴다.
                                </div>

                                <div class="overview-question">
                                    [제43항]
                                    <input
                                        data-answer="단위"
                                        aria-label="단위"
                                        placeholder="정답"
                                    />를 나타내는 명사는 띄어 쓴다. 다만,
                                    <input
                                        data-answer="순서"
                                        aria-label="순서"
                                        placeholder="정답"
                                    />를 나타내는 경우나
                                    <input
                                        data-answer="숫자"
                                        aria-label="숫자"
                                        placeholder="정답"
                                    />와 어울리어 쓰이는 경우에는 붙여 쓸 수
                                    있다
                                </div>

                                <div class="overview-question">
                                    뒤에 오는 말의 반대 뜻을 나타낼 때는
                                    <input
                                        data-answer="아니"
                                        aria-label="아니"
                                        placeholder="정답"
                                    />의 준말인
                                    <input
                                        data-answer="안"
                                        aria-label="안"
                                        placeholder="정답"
                                    />으로 쓰는 것이 바른 표기이다.
                                </div>

                                <div class="overview-question">
                                    부사
                                    <input
                                        data-answer="안"
                                        aria-label="안"
                                        placeholder="정답"
                                    />은 항상 뒷말과 띄어 쓰고, 어간
                                    <input
                                        data-answer="않"
                                        aria-label="않"
                                        placeholder="정답"
                                    />은 항상 뒷말과 붙여 쓴다
                                </div>

                                <div class="overview-question">
                                    '섭섭하거나 가여워 마음이 언짢다'의 뜻으로
                                    쓰이는
                                    <input
                                        data-answer="안되다"
                                        aria-label="안되다"
                                        placeholder="정답"
                                    />는 하나의 단어이므로 붙여 써야 한다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #15 지도서 + 기타
                                </div>

                                <div class="overview-question">
                                    [제1항] 한글 맞춤법은
                                    <input
                                        data-answer="표준어"
                                        aria-label="표준어"
                                        placeholder="정답"
                                    />를
                                    <input
                                        data-answer="소리"
                                        aria-label="소리"
                                        placeholder="정답"
                                    />대로 적되,
                                    <input
                                        data-answer="어법"
                                        aria-label="어법"
                                        placeholder="정답"
                                    />에 맞도록 함을 원칙으로 한다.
                                </div>

                                <div class="overview-question">
                                    [제2항] 문장의 각
                                    <input
                                        data-answer="단어"
                                        aria-label="단어"
                                        placeholder="정답"
                                    />는
                                    <input
                                        data-answer="띄어 씀"
                                        aria-label="띄어 씀"
                                        placeholder="정답"
                                    />을 원칙으로 한다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="장이"
                                        aria-label="장이"
                                        placeholder="정답"
                                    />는 '어떤 기술이 있는 사람'이라는 뜻을
                                    더하는 말이고,
                                    <input
                                        data-answer="쟁이"
                                        aria-label="쟁이"
                                        placeholder="정답"
                                    />는 '어떤 특성이 있는 사람'이라는 뜻을
                                    더하는 말이다.
                                </div>

                                <div class="overview-question">
                                    지위나 신분 또는 자격을 나타낼 때에는
                                    <input
                                        data-answer="로서"
                                        aria-label="로서"
                                        placeholder="정답"
                                    />를 쓰고, 어떤 일의 수단이나 도구 또는
                                    까닭을 나타낼 때에는
                                    <input
                                        data-answer="로써"
                                        aria-label="로써"
                                        placeholder="정답"
                                    />
                                    를 쓴다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="부치다"
                                        aria-label="부치다"
                                        placeholder="정답"
                                    />는 '편지나 물건 따위를 일정한 수단이나
                                    방법을 써서 상대에게로 보내다'라는 뜻을
                                    가지고,
                                    <input
                                        data-answer="붙이다"
                                        aria-label="붙이다"
                                        placeholder="정답"
                                    />는 '맞닿아 떨어지지 않게 하다'라는 뜻을
                                    가진다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="이따가"
                                        aria-label="이따가"
                                        placeholder="정답"
                                    />는 '조금 지난 뒤에'라는 뜻이고,
                                    <input
                                        data-answer="있다가"
                                        aria-label="있다가"
                                        placeholder="정답"
                                    />는 '어느 곳을 떠나거나 벗어나지 않고
                                    머물다'라는 뜻이다.
                                    <input
                                        data-answer="조금 이따가"
                                        data-accept="조금이따가"
                                        aria-label="조금 이따가"
                                        placeholder="정답"
                                    />
                                    는 '조금'의 시간이 중복되므로 알맞지 않은
                                    표현이다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="늘리다"
                                        aria-label="늘리다"
                                        placeholder="정답"
                                    />는 '물체의 넓이, 부피 따위를 본디보다
                                    커지게 하다'라는 뜻을 가진다. 수나 분량,
                                    시간이 많아지거나 무게가 늘어날 때도
                                    <input
                                        data-answer="늘리다"
                                        aria-label="늘리다"
                                        placeholder="정답"
                                    />를 쓴다. 반면에
                                    <input
                                        data-answer="늘이다"
                                        aria-label="늘이다"
                                        placeholder="정답"
                                    />는 '본디보다 더 길어지게 하다'라는 뜻을
                                    가진다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="던지"
                                        aria-label="던지"
                                        placeholder="정답"
                                    />는 과거의 일을 회상하여 감탄하는 뜻을
                                    나타내거나, 그것이 뒤의 상황을 일으키는
                                    원인으로 추정됨을 나타내는 말이고,
                                    <input
                                        data-answer="든지"
                                        aria-label="든지"
                                        placeholder="정답"
                                    />는 나열된 동작이나 대상 중에서 어느 것이든
                                    선택될 수 있거나, 어느 것이든 상관이 없음을
                                    나타내는 말이다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
