<section id="grammar">
    <h2>문법</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국04-01]</span
                                        >
                                        한글
                                        <input
                                            data-answer="자모"
                                            aria-label="자모"
                                            placeholder="정답"
                                        />의 이름과
                                        <input
                                            data-answer="소릿값"
                                            aria-label="소릿값"
                                            placeholder="정답"
                                        />을 알고 정확하게 발음하고 쓴다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국04-02]</span
                                        >
                                        <input
                                            data-answer="소리"
                                            aria-label="소리"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="표기"
                                            aria-label="표기"
                                            placeholder="정답"
                                        />가 다를 수 있음을 알고 단어를 바르게
                                        읽고 쓴다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 읽기 영역의 ‘<input data-answer="읽기의 기초" aria-label="읽기의 기초" placeholder="정답" />’,
                                            쓰기 영역의 ‘<input data-answer="쓰기의 기초" aria-label="쓰기의 기초" placeholder="정답" />’
                                            성취기준과 연계하여 ‘<input data-answer="낱자" aria-label="낱자" placeholder="정답" />,
                                            <input data-answer="글자" aria-label="글자" placeholder="정답" />, <input
                                            data-answer="단어" aria-label="단어" placeholder="정답" />, <input
                                            data-answer="문장" aria-label="문장" placeholder="정답" />’에 대한 순차적이고 체계적인 학습을
                                            제공함으로써 입학 초기 <input data-answer="기초 문식성" aria-label="기초 문식성"
                                            placeholder="정답" />을 지원하도록 한다. 특히 단어를 다룰 때는 <input data-answer="소리"
                                            aria-label="소리" placeholder="정답" />와 <input data-answer="표기" aria-label="표기"
                                            placeholder="정답" />가 일치하는 단어부터 <input data-answer="소리" aria-label="소리"
                                            placeholder="정답" />와 <input data-answer="표기" aria-label="표기"
                                            placeholder="정답" />가 일치하지 않는 단어로 학습 범위를 점차 확장하여, <input data-answer="소리"
                                            aria-label="소리" placeholder="정답" />와 <input data-answer="표기" aria-label="표기"
                                            placeholder="정답" />가 일치하지 않지만 자주 쓰이는 단어를 어법에 맞게 적고 바르게 읽을 수 있도록 지도한다. 이를 통해
                                            한글 학습 및 맞춤법의 기초를 닦을 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국04-03]</span
                                        >
                                        <input
                                            data-answer="문장"
                                            aria-label="문장"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="문장 부호"
                                            aria-label="문장 부호"
                                            placeholder="정답"
                                        />를 알맞게 쓰고 한글에
                                        <input
                                            data-answer="호기심"
                                            aria-label="호기심"
                                            placeholder="정답"
                                        />을 가진다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [2국04-03] 이 성취기준은
                                            문장으로 의사소통하기 위해 필요한 기초적인 <input data-answer="문식성" aria-label="문식성"
                                            placeholder="정답" />을 기르고, <input data-answer="글자" aria-label="글자"
                                            placeholder="정답" />, <input data-answer="단어" aria-label="단어"
                                            placeholder="정답" />, <input data-answer="문장" aria-label="문장"
                                            placeholder="정답" />을 주의 깊게 관찰하고 탐구하는 자세를 기르기 위해 설정하였다. 자신의 생각을 문장으로 쓰는 것은
                                            의사소통 능력의 핵심으로서, 특히 한글 학습 초기에는 음성 언어와는 다른 <input data-answer="문자 언어"
                                            aria-label="문자 언어" placeholder="정답" />의 특성을 이해하는 것이 중요하다. <input
                                            data-answer="문장 부호" aria-label="문장 부호" placeholder="정답" />의 이름과 쓰임, <input
                                            data-answer="평서문" aria-label="평서문" placeholder="정답" />⋅<input
                                            data-answer="의문문" aria-label="의문문" placeholder="정답" />⋅<input
                                            data-answer="감탄문" aria-label="감탄문" placeholder="정답" /> 등 다양한 종류의 문장 쓰기와 그에
                                            따른 <input data-answer="문장 부호" aria-label="문장 부호" placeholder="정답" /> 사용하기를
                                            다루되, <input data-answer="문장 부호" aria-label="문장 부호" placeholder="정답" /> 사용의
                                            필요성을 깨닫고 문장을 비롯하여 문장을 이루는 <input data-answer="글자" aria-label="글자"
                                            placeholder="정답" />, <input data-answer="단어" aria-label="단어"
                                            placeholder="정답" />에도 호기심을 갖도록 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 한글에 대해 관심과 흥미를 가질 수 있도록 다양한 글이나 담화 자료뿐만 아니라 일상에서 접할 수 있는 다양한 <input
                                            data-answer="매체 자료" aria-label="매체 자료" placeholder="정답" />를 두루 활용하여, 학습자들이
                                            국어의 표기 수단인 한글에 호기심을 가질 수 있도록 지도한다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 기초적인 한글 학습을 위해 문법을 지도할 때는 성취기준 설정 취지에 맞게 단계적이고 순차적으로 학습 요소를 설정한다. 또한 다양한
                                            국어 자료를 바탕으로 말놀이나 신체 놀이, 수수께끼 등 흥미로운 활동을 계획하여, 학습자들의 수준이 다르더라도 소외되는 학습자
                                            없이 문법 활동에 모두 적극적으로 참여할 수 있도록 지도한다.
                                    </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-01] 단어와 단어 간의
                                        <input
                                            data-answer="의미 관계"
                                            aria-label="의미 관계"
                                            placeholder="정답"
                                        />를 파악한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-02] 단어를
                                        <input
                                            data-answer="분류"
                                            aria-label="분류"
                                            placeholder="정답"
                                        />하고
                                        <input
                                            data-answer="국어사전"
                                            aria-label="국어사전"
                                            placeholder="정답"
                                        />을 활용하여 능동적인 국어 활동을 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국04-02] 이 성취기준은
                                            단어에 대한 기본적인 이해를 바탕으로 국어사전에서 단어를 찾고 국어사전에 수록된 정보를 활용하여 능동적인 국어생활을 할 수 있는 능력을
                                            기르기 위해 설정하였다. <input data-answer="명사" aria-label="명사" placeholder="정답" />,
                                            <input data-answer="동사" aria-label="동사" placeholder="정답" />, <input
                                            data-answer="형용사" aria-label="형용사" placeholder="정답" />에 대한 기본적인 이해를 바탕으로 하되,
                                            상황에 따라 다양하게 해석되는 단어의 의미를 국어사전에서 찾을 수 있도록 <input data-answer="동형이의어"
                                            aria-label="동형이의어" placeholder="정답" />와 <input data-answer="다의어"
                                            aria-label="다의어" placeholder="정답" />가 국어사전에 수록된 방식을 이해하고, <input
                                            data-answer="동사" aria-label="동사" placeholder="정답" />와 <input
                                            data-answer="형용사" aria-label="형용사" placeholder="정답" />의 <input
                                            data-answer="기본형" aria-label="기본형" placeholder="정답" />과 <input
                                            data-answer="활용형" aria-label="활용형" placeholder="정답" />을 구분할 수 있도록 한다. 또한
                                            국어사전을 통해 단어의 <input data-answer="표기" aria-label="표기" placeholder="정답" />,
                                            <input data-answer="발음" aria-label="발음" placeholder="정답" />, <input
                                            data-answer="품사" aria-label="품사" placeholder="정답" />, <input
                                            data-answer="의미" aria-label="의미" placeholder="정답" />, <input
                                            data-answer="용례" aria-label="용례" placeholder="정답" /> 등 다양한 정보를 확인할 수 있음을
                                            이해하고, 단어의 정확한 <input data-answer="발음" aria-label="발음" placeholder="정답" />과
                                            <input data-answer="표기" aria-label="표기" placeholder="정답" />를 국어사전에서 찾아 어법에
                                            맞는 국어생활을 할 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-03] 기본적인 문장의
                                        <input
                                            data-answer="짜임"
                                            aria-label="짜임"
                                            placeholder="정답"
                                        />을 이해하고 적절하게 사용한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-04] 글과 담화에 쓰인
                                        <input
                                            data-answer="높임"
                                            aria-label="높임"
                                            placeholder="정답"
                                        />
                                        표현과
                                        <input
                                            data-answer="지시⋅접속"
                                            aria-label="지시⋅접속"
                                            placeholder="정답"
                                        />
                                        표현을 이해하고 상황에 맞게 표현한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국04-04] 이 성취기준은
                                            <input data-answer="높임 표현" aria-label="높임 표현" placeholder="정답" />과 <input
                                            data-answer="지시⋅접속 표현" aria-label="지시⋅접속 표현" placeholder="정답" />이 <input
                                            data-answer="상황 맥락" aria-label="상황 맥락" placeholder="정답" />에 맞는 언어 표현을 선택하거나
                                            글이나 담화를 <input data-answer="유기적" aria-label="유기적" placeholder="정답" />으로 구성하는
                                            데 필요한 지식임을 이해하고, 글이나 담화에서 <input data-answer="높임 표현" aria-label="높임 표현"
                                            placeholder="정답" />과 <input data-answer="지시⋅접속 표현" aria-label="지시⋅접속 표현"
                                            placeholder="정답" />을 적절히 사용할 수 있는 능력을 기르기 위해 설정하였다. <input
                                            data-answer="높임표현" aria-label="높임표현" placeholder="정답" />의 기능과 적절한 사용 방식, 앞에
                                            나온 말을 가리키는 <input data-answer="지시 표현" aria-label="지시 표현" placeholder="정답" />
                                            및 문장과 문장 등을 연결하는 다양한 <input data-answer="접속 표현" aria-label="접속 표현"
                                            placeholder="정답" />의 기능과 이러한 표현들의 적절한 사용 방식을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-05] 언어가
                                        <input
                                            data-answer="의사소통"
                                            aria-label="의사소통"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="관계 형성"
                                            aria-label="관계 형성"
                                            placeholder="정답"
                                        />의 수단임을 이해하고 국어를 소중히
                                        여기는 태도를 지닌다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 언어가 의사소통 및 관계 형성의 수단임을 지도할 때에는, 언어의 다양한 기능 중 <input data-answer="지시적"
                                            aria-label="지시적" placeholder="정답" />⋅<input data-answer="정보적"
                                            aria-label="정보적" placeholder="정답" />⋅<input data-answer="친교적"
                                            aria-label="친교적" placeholder="정답" /> 기능에 중점을 두어 일상생활에서 수집한 다양한 언어 사례를 분석해
                                            봄으로써 언어가 의사소통과 <input data-answer="관계 형성" aria-label="관계 형성"
                                            placeholder="정답" />의 주요한 도구임을 이해하고 국어를 소중히 하는 태도를 지닐 수 있도록 한다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 단어의 의미, 단어 간의 의미 관계, 단어의 분류, 문장의 짜임, 높임 표현과 지시⋅접속 표현 등을 지도할 때는 우리 주변의 글이나
                                            담화 자료를 다양하게 활용하고, 학습한 지식을 바탕으로 <input data-answer="어휘력" aria-label="어휘력"
                                            placeholder="정답" />이나 <input data-answer="문장 생성 능력" aria-label="문장 생성
                                            능력" placeholder="정답" />을 신장할 수 있도록 연계함으로써, 문법 활동이 학습자의 <input
                                            data-answer="실제 삶의 맥락" aria-label="실제 삶의 맥락" placeholder="정답" /> 및
                                            <input data-answer="국어생활" aria-label="국어생활" placeholder="정답" />과 밀접히 관련될
                                            수 있도록 한다. 특히, <input data-answer="지시⋅접속 표현" aria-label="지시⋅접속 표현"
                                            placeholder="정답" />을 지도할 때는 <input data-answer="유기적" aria-label="유기적"
                                            placeholder="정답" />인 언어 단위인 <input data-answer="글" aria-label="글"
                                            placeholder="정답" />이나 <input data-answer="담화" aria-label="담화"
                                            placeholder="정답" />의 개념을 이해할 수 있도록 지도한다.
                                    </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 전통적인 글 자료 이외에 학습자들이 일상에서 접할 수 있는 다양한 <input data-answer="매체"
                aria-label="매체" placeholder="정답" /> 자료를 두루 활용하여 언어 자료의 <input
                data-answer="실제성" aria-label="실제성" placeholder="정답" />을 높이고, 매체 자료의
                <input data-answer="특성" aria-label="특성" placeholder="정답" />과 <input
                data-answer="효과" aria-label="효과" placeholder="정답" />를 이해할 수 있도록 한다. 특히
                다양한 형태와 유형의 종이 사전과 웹 사전(유의어⋅반의어 사전, 분류 사전 등)을 적극적으로 참조하고 활용하여 국어생활을
                효과적으로 영위할 수 있도록 안내한다.
        </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 언어의 본질과 맥락 관련 내용 요소는 학교급이 올라감에 따라 지속적으로 심화⋅연계될수 있도록 지도한다. 예를 들어, 의사소통의 수단인
                언어의 기호적 속성은 이후 학년군⋅학교급의 음성 언어와 문자 언어의 특성과 매체, 국어의 음운 체계와 문자 체계 관련 내용 요소와
                심화⋅연계될 수 있도록 지도한다. 또한, <input data-answer="높임 표현" aria-label="높임 표현"
                placeholder="정답" />은 참여자 간의 <input data-answer="관계" aria-label="관계"
                placeholder="정답" />나 <input data-answer="장면" aria-label="장면"
                placeholder="정답" />에 따라 분화되는 선택항으로서, 이후 학년군⋅학교급의 지역에 따른 언어와 표준어,
                세대⋅분야⋅매체에 따른 언어 관련 내용 요소와 심화⋅연계될 수 있도록 지도한다.
        </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 문법 지식을 학습하는 데만 머무르지 않고 학습자 스스로 자신의 국어생활을 되돌아볼 수 있도록 간단한 형태의 점검표나 관찰 기록표 등을
                제공함으로써 일상의 국어생활을 개선하는 계기를 마련한다.
        </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-01]
                                        <input
                                            data-answer="음성 언어"
                                            aria-label="음성 언어"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="문자 언어"
                                            aria-label="문자 언어"
                                            placeholder="정답"
                                        />의 특성을 이해하고 다양한 매체
                                        자료에서 표현 효과를 평가한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국04-01] 이 성취기준은
                                            생각을 표현하는 언어 양식으로서 <input data-answer="음성 언어" aria-label="음성 언어"
                                            placeholder="정답" />와 <input data-answer="문자 언어" aria-label="문자 언어"
                                            placeholder="정답" />의 특성을 이해하고, <input data-answer="매체 자료" aria-label="매체 자료"
                                            placeholder="정답" />에서 생성된 <input data-answer="음성 언어" aria-label="음성 언어"
                                            placeholder="정답" /> 및 <input data-answer="문자 언어" aria-label="문자 언어"
                                            placeholder="정답" />의 <input data-answer="표현 효과" aria-label="표현 효과"
                                            placeholder="정답" />를 평가하는 능력을 기르기 위해 설정하였다. 음성 언어 및 문자 언어의 특성을 비교하되, <input
                                            data-answer="복합양식적 특성" aria-label="복합양식적 특성" placeholder="정답" />을 지니는 다양한 매체
                                            자료에 사용된 언어 양식의 표현 효과를 학습하고, 표현하고자 하는 <input data-answer="목적" aria-label="목적"
                                            placeholder="정답" />이나 핵심 <input data-answer="주제" aria-label="주제"
                                            placeholder="정답" />가 같더라도 <input data-answer="언어 양식" aria-label="언어 양식"
                                            placeholder="정답" />이 다르면 전달되는 <input data-answer="내용" aria-label="내용"
                                            placeholder="정답" />과 <input data-answer="표현 효과" aria-label="표현 효과"
                                            placeholder="정답" />가 다를 수 있음을 분석적, 비판적 시각으로 이해하고 평가할 수 있도록 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 다양한 매체에 나타난 음성 언어 및 문자 언어의 특성과 표현 효과를 지도할 때는, 매체 영역 5~6학년의 <input
                                            data-answer="복합양식" aria-label="복합양식" placeholder="정답" /> 매체 자료 제작 관련 성취기준과
                                            연계할 수 있으며, 직접 매체  자료를 제작해 보는 과정을 통해 그 이해가 확장, 심화될 수 있도록 학습 활동을 설계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-02]
                                        <input
                                            data-answer="표준어"
                                            aria-label="표준어"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="방언"
                                            aria-label="방언"
                                            placeholder="정답"
                                        />의 기능을 파악하고 언어 공동체와
                                        국어생활과의 관계를 이해한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국04-02] 이 성취기준은
                                            국어 화자의 의사소통에서 표준어와 방언이 담당하는 기능이 다르다는 점을 알고, 자신이 속한 언어 공동체 특유의 한국어 변이형들로 인해
                                            자신의 국어생활이 상황에 따라 다양하게 실현됨을 이해하도록 하기 위해 설정하였다. 방언의 형성과 존재 양상을 파악함으로써 <input
                                            data-answer="지역적" aria-label="지역적" placeholder="정답" /> 요인에 따라 자연스럽게 한국어에
                                            <input data-answer="변이" aria-label="변이" placeholder="정답" />가 일어남을 이해하도록 하고,
                                            이러한 <input data-answer="다양성" aria-label="다양성" placeholder="정답" />을 아우르는 언어
                                            공동체 규준인 <input data-answer="표준어" aria-label="표준어" placeholder="정답" />의 개념과
                                            필요성을 함께 다루도록 한다. 또한 의사소통의 <input data-answer="공적⋅사적" aria-label="공적⋅사적"
                                            placeholder="정답" /> 상황에 따라, 상대방과의 <input data-answer="거리감" aria-label="거리감"
                                            placeholder="정답" /> 조절 등 화자의 <input data-answer="의도" aria-label="의도"
                                            placeholder="정답" />에 따라 표준어와 방언을 선택함으로써 다양한 의사소통 기능이 실현된다는 점을 확인할 수 있도록 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 지역에 따른 언어 <input data-answer="변이" aria-label="변이" placeholder="정답" />로서 방언을
                                            지도할 때는, 지역 연계 학습을 도입, 활용하여 지역 방언을 자신이 속한 언어 공동체의 언어로서 인식하고, 그러한 언어로 사고하고
                                            소통하는 것의 의미를 자신의 <input data-answer="삶의 맥락" aria-label="삶의 맥락"
                                            placeholder="정답" /> 및 <input data-answer="정체성" aria-label="정체성"
                                            placeholder="정답" />과 연계하여 이해할 수 있도록 한다. 또한 학습자들의 다양한 언어적 <input
                                            data-answer="배경" aria-label="배경" placeholder="정답" />과 교실 <input
                                            data-answer="맥락" aria-label="맥락" placeholder="정답" />을 고려하여 특정 학습자가 소외되지 않고
                                            적극적으로 참여할 수 있도록 학습 활동을 설계한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-03]
                                        <input
                                            data-answer="고유어"
                                            aria-label="고유어"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="관용 표현"
                                            aria-label="관용 표현"
                                            placeholder="정답"
                                        />의 쓰임과 가치를 이해하고 상황에 맞게
                                        표현한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국04-03] 이 성취기준은
                                            고유어와 관용 표현의 쓰임과 가치를 이해하고 국어문화에 대한관심과 우리말을 소중히 여기는 태도를 고양하기 위해 설정하였다. 한자어,
                                            외래어와 함께 국어 어휘의 일부를 이루는 <input data-answer="고유어" aria-label="고유어"
                                            placeholder="정답" />의 특성과 가치, 고유어에 다양하게 발달해 있는 <input data-answer="관용 표현"
                                            aria-label="관용 표현" placeholder="정답" />의 특성과 쓰임에 대한 이해에 중점을 두되, <input
                                            data-answer="상황" aria-label="상황" placeholder="정답" />과 <input data-answer="표현
                                            의도" aria-label="표현 의도" placeholder="정답" />에 따라 어휘를 적절하게 사용하고 외래어의 <input
                                            data-answer="오⋅남용" aria-label="오⋅남용" placeholder="정답" /> 방지 등 <input
                                            data-answer="국어 순화" aria-label="국어 순화" placeholder="정답" />의 필요성을 자각하며 실천할 수
                                            있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-04]
                                        <input
                                            data-answer="문장 성분"
                                            aria-label="문장 성분"
                                            placeholder="정답"
                                        />을 이해하고
                                        <input
                                            data-answer="호응 관계"
                                            aria-label="호응 관계"
                                            placeholder="정답"
                                        />가 올바른 문장을 구성한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국04-04] 이 성취기준은
                                            문장을 구성하는 성분들 사이의 호응 관계가 올바르고 자연스러운 문장을 구성하는 데 필요한 능력을 기르기 위해 설정하였다. 문장에서
                                            <input data-answer="주어" aria-label="주어" placeholder="정답" />, <input
                                            data-answer="목적어" aria-label="목적어" placeholder="정답" />, <input
                                            data-answer="서술어" aria-label="서술어" placeholder="정답" />의 역할, 성분 간의 호응
                                            관계(<input data-answer="주어" aria-label="주어" placeholder="정답" />와 <input
                                            data-answer="서술어" aria-label="서술어" placeholder="정답" />의 호응, <input
                                            data-answer="목적어" aria-label="목적어" placeholder="정답" />와 <input
                                            data-answer="서술어" aria-label="서술어" placeholder="정답" />의 호응)에 대해 학습하고, 이전
                                            학년군의 <input data-answer="높임 표현" aria-label="높임 표현" placeholder="정답" /> 및 동일
                                            학년군의 <input data-answer="시간 표현" aria-label="시간 표현" placeholder="정답" /> 성취기준과
                                            연계하여 <input data-answer="높임" aria-label="높임" placeholder="정답" />이나 <input
                                            data-answer="시제" aria-label="시제" placeholder="정답" />의 일치를 함께 학습할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-05] 글과 담화에 쓰인
                                        <input
                                            data-answer="시간"
                                            aria-label="시간"
                                            placeholder="정답"
                                        />
                                        표현을 이해하고 상황에 맞게 표현한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국04-05] 이 성취기준은
                                            효과적인 의사소통을 위해 <input data-answer="상황 맥락" aria-label="상황 맥락" placeholder="정답"
                                            />에 맞게 시간 표현을 사용하는 것의 중요성을 알고 시간을 표현할 때 사용되는 언어 형식을 이해하고 활용하는 능력을 기르기 위해
                                            설정하였다. ‘-았-/-었-, -는-/-ㄴ-, -겠-, -(으)ㄹ 것이-’나 <input data-answer="시간 부사"
                                            aria-label="시간 부사" placeholder="정답" /> 등 글이나 담화에서 과거, 현재, 미래를 표현하는 언어 형식 및
                                            방법을 학습하고, 다양한 상황맥락에서 시간 표현을 사용한 후 그 <input data-answer="적절성"
                                            aria-label="적절성" placeholder="정답" />을 평가해 보도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-06] 글과 담화에 쓰인 단어 및
                                        문장,
                                        <input
                                            data-answer="띄어쓰기"
                                            aria-label="띄어쓰기"
                                            placeholder="정답"
                                        />를 민감하게 살펴 바르게 고치는 태도를
                                        지닌다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 고유어와 관용 표현의 의미와 쓰임, 시간 표현의 형식이나 기능을 지도할 때는, 문장 수준에 국한되지 않도록 우리 주변의 글이나 담화
                                            자료를 다양하게 활용하고, 학습한 지식을 바탕으로 어휘력이나 문장 생성 능력을 신장할 수 있도록 연계함으로써 문법 활동이 학습자의
                                            <input data-answer="실제 삶의 맥락" aria-label="실제 삶의 맥락" placeholder="정답" />
                                            및 <input data-answer="국어생활" aria-label="국어생활" placeholder="정답" />과 밀접히
                                            관련될 수 있도록 한다.
                                    </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 호응 관계가 자연스럽고 올바른 문장 사용하기, 잘못 쓰인 단어나 문장 고쳐 쓰기, 오⋅남용한 외래어 순화하기 등 바른 국어생활을 위한
                내용을 지도할 때는, 배운 지식을 활용하여 자신의 국어생활을 되돌아볼 수 있도록 구조화된 점검표나 관찰 기록표, 성찰 일지,
                자기보고서 등 다양한 형태의 평가 도구를 제공함으로써 일상의 국어생활을 민감하게 주시하고 이 과정에서 발견되는 문제를 적극적으로
                개선할 수 있도록 지도한다.
        </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
