<section id="grammar">
    <h2>문법</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국04-01]</span
                                        >
                                        한글
                                        <input
                                            data-answer="자모"
                                            aria-label="자모"
                                            placeholder="정답"
                                        />의 이름과
                                        <input
                                            data-answer="소릿값"
                                            aria-label="소릿값"
                                            placeholder="정답"
                                        />을 알고 정확하게 발음하고 쓴다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국04-02]</span
                                        >
                                        <input
                                            data-answer="소리"
                                            aria-label="소리"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="표기"
                                            aria-label="표기"
                                            placeholder="정답"
                                        />가 다를 수 있음을 알고 단어를 바르게
                                        읽고 쓴다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국04-03]</span
                                        >
                                        <input
                                            data-answer="문장"
                                            aria-label="문장"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="문장 부호"
                                            aria-label="문장 부호"
                                            placeholder="정답"
                                        />를 알맞게 쓰고 한글에
                                        <input
                                            data-answer="호기심"
                                            aria-label="호기심"
                                            placeholder="정답"
                                        />을 가진다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-01] 단어와 단어 간의
                                        <input
                                            data-answer="의미 관계"
                                            aria-label="의미 관계"
                                            placeholder="정답"
                                        />를 파악한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-02] 단어를
                                        <input
                                            data-answer="분류"
                                            aria-label="분류"
                                            placeholder="정답"
                                        />하고
                                        <input
                                            data-answer="국어사전"
                                            aria-label="국어사전"
                                            placeholder="정답"
                                        />을 활용하여 능동적인 국어 활동을 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-03] 기본적인 문장의
                                        <input
                                            data-answer="짜임"
                                            aria-label="짜임"
                                            placeholder="정답"
                                        />을 이해하고 적절하게 사용한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-04] 글과 담화에 쓰인
                                        <input
                                            data-answer="높임"
                                            aria-label="높임"
                                            placeholder="정답"
                                        />
                                        표현과
                                        <input
                                            data-answer="지시⋅접속"
                                            aria-label="지시⋅접속"
                                            placeholder="정답"
                                        />
                                        표현을 이해하고 상황에 맞게 표현한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국04-05] 언어가
                                        <input
                                            data-answer="의사소통"
                                            aria-label="의사소통"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="관계 형성"
                                            aria-label="관계 형성"
                                            placeholder="정답"
                                        />의 수단임을 이해하고 국어를 소중히
                                        여기는 태도를 지닌다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-01]
                                        <input
                                            data-answer="음성 언어"
                                            aria-label="음성 언어"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="문자 언어"
                                            aria-label="문자 언어"
                                            placeholder="정답"
                                        />의 특성을 이해하고 다양한 매체
                                        자료에서 표현 효과를 평가한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-02]
                                        <input
                                            data-answer="표준어"
                                            aria-label="표준어"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="방언"
                                            aria-label="방언"
                                            placeholder="정답"
                                        />의 기능을 파악하고 언어 공동체와
                                        국어생활과의 관계를 이해한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-03]
                                        <input
                                            data-answer="고유어"
                                            aria-label="고유어"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="관용 표현"
                                            aria-label="관용 표현"
                                            placeholder="정답"
                                        />의 쓰임과 가치를 이해하고 상황에 맞게
                                        표현한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-04]
                                        <input
                                            data-answer="문장 성분"
                                            aria-label="문장 성분"
                                            placeholder="정답"
                                        />을 이해하고
                                        <input
                                            data-answer="호응 관계"
                                            aria-label="호응 관계"
                                            placeholder="정답"
                                        />가 올바른 문장을 구성한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-05] 글과 담화에 쓰인
                                        <input
                                            data-answer="시간"
                                            aria-label="시간"
                                            placeholder="정답"
                                        />
                                        표현을 이해하고 상황에 맞게 표현한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국04-06] 글과 담화에 쓰인 단어 및
                                        문장,
                                        <input
                                            data-answer="띄어쓰기"
                                            aria-label="띄어쓰기"
                                            placeholder="정답"
                                        />를 민감하게 살펴 바르게 고치는 태도를
                                        지닌다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
