<section id="listening-speaking" class="active">
    <h2>듣기⋅말하기</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국01-01] 중요한 내용이나 일이 일어난
                                        <input
                                            data-answer="순서"
                                            aria-label="순서"
                                            placeholder="정답"
                                        />를 고려하며 듣고 말한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국01-02] 바르고 고운 말로 서로의
                                        <input
                                            data-answer="감정"
                                            aria-label="감정"
                                            placeholder="정답"
                                        />을 나누며 듣고 말한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국01-03] 상대의 말을
                                        <input
                                            data-answer="집중"
                                            aria-label="집중"
                                            placeholder="정답"
                                        />하여 듣고
                                        <input
                                            data-answer="말차례"
                                            aria-label="말차례"
                                            placeholder="정답"
                                        />를 지키며
                                        <input
                                            data-answer="대화"
                                            aria-label="대화"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국01-04] 자신의 경험이나 생각을
                                        <input
                                            data-answer="바른 자세"
                                            aria-label="바른 자세"
                                            placeholder="정답"
                                        />로 발표한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국01-05] 듣기와 말하기에 관심과
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />를 가진다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국01-01] 중요한 내용과 주제를 파악하며
                                        듣고 그 내용을
                                        <input
                                            data-answer="요약"
                                            aria-label="요약"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국01-02]
                                        <input
                                            data-answer="원인"
                                            aria-label="원인"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="결과"
                                            aria-label="결과"
                                            placeholder="정답"
                                        />의 관계를 고려하여 내용을
                                        <input
                                            data-answer="예측"
                                            aria-label="예측"
                                            placeholder="정답"
                                        />하며 듣고 말한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국01-03] 상황에 적절한
                                        <input
                                            data-answer="준언어"
                                            aria-label="준언어"
                                            placeholder="정답"
                                        />⋅<input
                                            data-answer="비언어"
                                            aria-label="비언어"
                                            placeholder="정답"
                                        />적 표현을 활용하여 듣고 말한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국01-04] 상황과 상대의 입장을 이해하고
                                        <input
                                            data-answer="예의"
                                            aria-label="예의"
                                            placeholder="정답"
                                        />를 지키며 대화한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국01-05] 목적과 주제에 알맞게 자료를
                                        정리하여
                                        <input
                                            data-answer="자신감"
                                            aria-label="자신감"
                                            placeholder="정답"
                                        />
                                        있게 발표한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국01-06]
                                        <input
                                            data-answer="주제"
                                            aria-label="주제"
                                            placeholder="정답"
                                        />에 적절한
                                        <input
                                            data-answer="의견"
                                            aria-label="의견"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="이유"
                                            aria-label="이유"
                                            placeholder="정답"
                                        />를 제시하고 서로의 생각을 교환하며
                                        토의한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-01] 대화에서
                                        <input
                                            data-answer="생략된"
                                            aria-label="생략된"
                                            placeholder="정답"
                                        />
                                        내용을
                                        <input
                                            data-answer="추론"
                                            aria-label="추론"
                                            placeholder="정답"
                                        />하며 듣는다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-02]
                                        <input
                                            data-answer="주장"
                                            aria-label="주장"
                                            placeholder="정답"
                                        />을 파악하고
                                        <input
                                            data-answer="이유"
                                            aria-label="이유"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="근거"
                                            aria-label="근거"
                                            placeholder="정답"
                                        />가
                                        <input
                                            data-answer="타당"
                                            aria-label="타당"
                                            placeholder="정답"
                                        />한지
                                        <input
                                            data-answer="평가"
                                            aria-label="평가"
                                            placeholder="정답"
                                        />하며 듣는다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-03] 주제와 관련하여 궁금한 내용을
                                        <input
                                            data-answer="질문"
                                            aria-label="질문"
                                            placeholder="정답"
                                        />하며
                                        <input
                                            data-answer="적극적"
                                            aria-label="적극적"
                                            placeholder="정답"
                                        />으로 듣고 말한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-04] 면담의
                                        <input
                                            data-answer="절차"
                                            aria-label="절차"
                                            placeholder="정답"
                                        />를 이해하고
                                        <input
                                            data-answer="상대"
                                            aria-label="상대"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="매체"
                                            aria-label="매체"
                                            placeholder="정답"
                                        />를 고려하여 면담한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-05] 자료를
                                        <input
                                            data-answer="선별"
                                            aria-label="선별"
                                            placeholder="정답"
                                        />하여 핵심 정보를 중심으로 내용을
                                        구성하고
                                        <input
                                            data-answer="매체"
                                            aria-label="매체"
                                            placeholder="정답"
                                        />를 활용하여 발표한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-06] 토의에
                                        <input
                                            data-answer="협력적"
                                            aria-label="협력적"
                                            placeholder="정답"
                                        />으로 참여하며 서로의 의견을 비교하고
                                        조정한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국01-07]
                                        <input
                                            data-answer="절차"
                                            aria-label="절차"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="규칙"
                                            aria-label="규칙"
                                            placeholder="정답"
                                        />을 지키고 타당한
                                        <input
                                            data-answer="이유"
                                            aria-label="이유"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="근거"
                                            aria-label="근거"
                                            placeholder="정답"
                                        />를 제시하며 토론한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
