<section id="literature">
    <h2>문학</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-01]
                                        <input
                                            data-answer="말놀이"
                                            aria-label="말놀이"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="낭송"
                                            aria-label="낭송"
                                            placeholder="정답"
                                        />
                                        등을 통해 말의 재미와 즐거움을 느낀다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [2국05-01] 이 성취기준은
                                            흥미로운 <input data-answer="말놀이" aria-label="말놀이" placeholder="정답" />와 분위기를 살린
                                            <input data-answer="낭송" aria-label="낭송" placeholder="정답" />을 통해 언어 활동의 재미와
                                            즐거움을 느끼며 <input data-answer="언어적 감수성" aria-label="언어적 감수성" placeholder="정답"
                                            />을 기르게 하기 위해 설정하였다. 일상에서 쉽게 접할 수 있는 작품은 물론 일상적 대화 등을 통해 언어의 <input
                                            data-answer="놀이적" aria-label="놀이적" placeholder="정답" /> 성격을 인지하도록 하고, <input
                                            data-answer="의성어" aria-label="의성어" placeholder="정답" />와 <input
                                            data-answer="의태어" aria-label="의태어" placeholder="정답" />, 규칙적으로 <input
                                            data-answer="반복" aria-label="반복" placeholder="정답" />되는 소리, <input
                                            data-answer="언어유희" aria-label="언어유희" placeholder="정답" />, <input
                                            data-answer="재치" aria-label="재치" placeholder="정답" /> 있는 문답, 수수께끼, 끝말잇기 등에서
                                            <input data-answer="말놀이" aria-label="말놀이" placeholder="정답" />의 재미와 가치를 느끼게
                                            한다. 또한 작품의 <input data-answer="느낌" aria-label="느낌" placeholder="정답" />과
                                            <input data-answer="분위기" aria-label="분위기" placeholder="정답" />를 살려 낭송해 보면서
                                            <input data-answer="목소리 크기" aria-label="목소리 크기" placeholder="정답" />나 <input
                                            data-answer="말의 속도" aria-label="말의 속도" placeholder="정답" />, <input
                                            data-answer="어조" aria-label="어조" placeholder="정답" /> 등을 달리함에 따라 다양한 <input
                                            data-answer="느낌" aria-label="느낌" placeholder="정답" />을 전달할 수 있음을 알고 문학을 즐겨
                                            <input data-answer="향유" aria-label="향유" placeholder="정답" />하도록 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 학습자가 문학에 친밀감과 흥미를 느끼게 하는 데 중점을 둔다. 재미있는 발상과 표현이 담긴 작품을 활용하여 말의 <input
                                            data-answer="재미" aria-label="재미" placeholder="정답" />를 느끼고, 작품을 읽은 뒤 자신의
                                            <input data-answer="생각" aria-label="생각" placeholder="정답" />이나 <input
                                            data-answer="느낌" aria-label="느낌" placeholder="정답" />, 작품과 관련된 <input
                                            data-answer="경험" aria-label="경험" placeholder="정답" />을 다양하게 표현하는 활동을 통해 문학을
                                            <input data-answer="향유" aria-label="향유" placeholder="정답" />하는 데 필요한 기초 소양을
                                            기르도록 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • <input data-answer="낭송" aria-label="낭송" placeholder="정답" />이나 <input
                                            data-answer="낭독" aria-label="낭독" placeholder="정답" />을 지도할 때는 작품의 <input
                                            data-answer="분위기" aria-label="분위기" placeholder="정답" />나 <input
                                            data-answer="느낌" aria-label="느낌" placeholder="정답" />을 살려서 표현하는 데에 중점을 두되, 같은
                                            작품이라도 낭송하는 사람에 따라 개성 있는 <input data-answer="느낌" aria-label="느낌"
                                            placeholder="정답" />과 <input data-answer="분위기" aria-label="분위기"
                                            placeholder="정답" />를 만들어 낼 수 있으므로 <input data-answer="융통성" aria-label="융통성"
                                            placeholder="정답" />을 가지고 <input data-answer="허용적인" aria-label="허용적인"
                                            placeholder="정답" /> 분위기 속에서 다양한 활동이 이루어지게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-02] 작품을 듣거나 읽으면서
                                        <input
                                            data-answer="느끼거"
                                            aria-label="느끼거"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="생각한"
                                            aria-label="생각한"
                                            placeholder="정답"
                                        />
                                        점을 말한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [2국05-02] 이 성취기준은
                                            학습자들이 작품에 대해 느끼거나 생각한 점을 다른 이들과 나누는 과정에서 문학에 대해 더욱 <input data-answer="흥미"
                                            aria-label="흥미" placeholder="정답" />를 느끼고, <input data-answer="주체적으로 작품을 수용하는" aria-label="주체적으로 작품을 수용하는" placeholder="정답" /> 능력을 기르게 하기 위해 설정하였다.
                                            학습자의 발달과 정서적 측면을 고려하여 시, 노래, 이야기 등 다양한 갈래의 작품을 제시하고, 학습자가 이들 작품을 대상으로 자신의
                                            <input data-answer="생각" aria-label="생각" placeholder="정답" />이나 <input
                                            data-answer="느낌" aria-label="느낌" placeholder="정답" />을 표현할 수 있도록 한다. 이 과정에서
                                            학습자로 하여금 작품에 대한 다른 학습자들의  말을 <input data-answer="경청" aria-label="경청"
                                            placeholder="정답" />하게 하고, 사람마다 작품을 <input data-answer="다르게" aria-label="다르게"
                                            placeholder="정답" /> 받아들일 수 있다는 점을 이해하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-03] 작품 속 인물의 모습, 행동,
                                        마음을
                                        <input
                                            data-answer="상상"
                                            aria-label="상상"
                                            placeholder="정답"
                                        />하여 시, 노래, 이야기, 그림 등으로
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 작품에 대한 <input data-answer="생각" aria-label="생각" placeholder="정답" />과 <input
                                            data-answer="느낌" aria-label="느낌" placeholder="정답" />을 표현하는 활동을 할 때는 학습자가 어렵지
                                            않게 수행할 수 있는 수준에서 다른 영역 성취기준과 연계하여 통합적인 국어 능력이 신장될 수 있게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-04] 시나 노래, 이야기에
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />를 가진다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 다문화 배경 학습자나 느린 학습자 등 특별한 지원이 필요한 경우 해당 성취기준에 대한수준별 교과 수업, 협력 수업, 교과 수업 이외의
                                            보충 수업, 기타 학업 지원을 통해 말놀이나 낭송, 작품에 대해 생각한 점 말하기 등의 활동이 충실히 이루어질 수 있도록
                                            지도한다.
                                    </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 교과 외 시간에도 시나 노래, 이야기에 흥미를 가지고 즐겨 접하도록 독려함으로써 문학을 <input data-answer="생활화"
                aria-label="생활화" placeholder="정답" />하는 태도를 기르게 한다. 수업 시간에 작품의 일부만을 다루었거나
                관련 있는 작품들을 더 읽는 것이 필요한 경우, 작품 전체 읽기, 다른 작품 함께 읽기 등을 통해 부족한 부분을 보완하도록 한다.
        </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-01]
                                        <input
                                            data-answer="인물"
                                            aria-label="인물"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="이야기의 흐름"
                                            aria-label="이야기의 흐름"
                                            placeholder="정답"
                                        />을 중심으로 작품을 감상한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국05-01] 이 성취기준은
                                            문학 작품 속 인물의 <input data-answer="특성" aria-label="특성" placeholder="정답" />과 서사의
                                            <input data-answer="기본 구조" aria-label="기본 구조" placeholder="정답" />를 파악하며 작품을
                                            이해하는 능력을 기르게 하기 위해 설정하였다. 이야기를 읽을 때 인물의 <input data-answer="성격"
                                            aria-label="성격" placeholder="정답" />과 <input data-answer="역할" aria-label="역할"
                                            placeholder="정답" />을 파악하고, 이를 고려하여 <input data-answer="시간적 순서"
                                            aria-label="시간적 순서" placeholder="정답" />나 <input data-answer="인과관계"
                                            aria-label="인과관계" placeholder="정답" />를 생각하며 이야기의 <input data-answer="흐름"
                                            aria-label="흐름" placeholder="정답" />을 파악하는 활동에 중점을 둔다. 나아가 작품 속 다양한 인물의
                                            <input data-answer="특성" aria-label="특성" placeholder="정답" />을 고려하면서 <input
                                            data-answer="이어질" aria-label="이어질" placeholder="정답" /> 이야기를 상상하여 표현해 봄으로써
                                            작품을 <input data-answer="능동적" aria-label="능동적" placeholder="정답" />으로 이해하고
                                            감상하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-02] 자신의 경험을 바탕으로
                                        <input
                                            data-answer="작품 속"
                                            aria-label="작품 속"
                                            placeholder="정답"
                                        />
                                        세계와
                                        <input
                                            data-answer="현실"
                                            aria-label="현실"
                                            placeholder="정답"
                                        />
                                        세계를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하여 작품을 감상한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국05-02] 이 성취기준은
                                            작품 속의 세계가 현실 세계를 반영한 것이지만, <input data-answer="허구적" aria-label="허구적"
                                            placeholder="정답" /> 세계로서 <input data-answer="현실" aria-label="현실"
                                            placeholder="정답" /> 세계와 구별된다는 점을 인식하며 작품을 감상할 수 있게 하기 위해 설정하였다. 작품속의 <input
                                            data-answer="인물" aria-label="인물" placeholder="정답" />⋅<input data-answer="정서"
                                            aria-label="정서" placeholder="정답" />⋅<input data-answer="상황" aria-label="상황"
                                            placeholder="정답" />⋅<input data-answer="배경" aria-label="배경" placeholder="정답"
                                            />⋅<input data-answer="분위기" aria-label="분위기" placeholder="정답" />⋅<input
                                            data-answer="사건" aria-label="사건" placeholder="정답" /> 등을 이해할 때 학습자 자신의 <input
                                            data-answer="경험" aria-label="경험" placeholder="정답" />을 바탕으로 <input
                                            data-answer="경험" aria-label="경험" placeholder="정답" />과 <input
                                            data-answer="상상" aria-label="상상" placeholder="정답" />, <input
                                            data-answer="사실" aria-label="사실" placeholder="정답" />과 <input
                                            data-answer="허구" aria-label="허구" placeholder="정답" />를 비교하며 생각하게 하고, <input
                                            data-answer="허구" aria-label="허구" placeholder="정답" />적으로 표현한 부분에 대한 의견을 나누며
                                            작품을 감상하도록 한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 작품으로 <input data-answer="형상화" aria-label="형상화" placeholder="정답" />된 세계와 <input
                                            data-answer="현실" aria-label="현실" placeholder="정답" /> 세계를 비교하여 이해하고 감상하며, 그
                                            결과를 다양한 방법으로 <input data-answer="표현" aria-label="표현" placeholder="정답" />하는
                                            능력을 기르는 데 중점을 둔다. 학습자가 자신의 <input data-answer="흥미" aria-label="흥미"
                                            placeholder="정답" />와 <input data-answer="발달 단계" aria-label="발달 단계"
                                            placeholder="정답" />에 맞는 작품을 찾아 읽고, 감상의 결과를 <input data-answer="능동적"
                                            aria-label="능동적" placeholder="정답" />으로 표현하면서 문학을 즐기는 태도를 기르도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-03] 작품을 듣거나 읽고 마음에
                                        드는 작품을
                                        <input
                                            data-answer="소개"
                                            aria-label="소개"
                                            placeholder="정답"
                                        />한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        • [독서감상문]<br />
                                        ①
                                        <input
                                            data-answer="제목"
                                            aria-label="제목"
                                            placeholder="정답"
                                        /><br />
                                        ②
                                        <input
                                            data-answer="책을 읽은 까닭"
                                            aria-label="책을 읽은 까닭"
                                            placeholder="정답"
                                        /><br />
                                        ③
                                        <input
                                            data-answer="책의 내용"
                                            aria-label="책의 내용"
                                            placeholder="정답"
                                        /><br />
                                        ④
                                        <input
                                            data-answer="인상 깊은 장면"
                                            aria-label="인상 깊은 장면"
                                            placeholder="정답"
                                        /><br />
                                        ⑤ 책을 읽고 떠오른
                                        <input
                                            data-answer="생각이나 느낌"
                                            aria-label="생각이나 느낌"
                                            placeholder="정답"
                                        />
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 마음에 드는 작품을 소개하는 활동을 할 때는 국어과의 다른 영역 성취기준과 연계하여 학습자의 수준에 맞는 통합적 활동을 수행하게 할 수
                                            있다. 작품이 마음에 든 <input data-answer="이유" aria-label="이유" placeholder="정답" />,
                                            작품에 대한 자신의 <input data-answer="의견" aria-label="의견" placeholder="정답" /> 등을
                                            정확히 말하거나 쓰면서 문학을 <input data-answer="매개" aria-label="매개" placeholder="정답"
                                            />로 이루어지는 소통 활동을 다양하게 경험할 수 있게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-04]
                                        <input
                                            data-answer="감각적"
                                            aria-label="감각적"
                                            placeholder="정답"
                                        />
                                        표현에 유의하여 작품을
                                        <input
                                            data-answer="감상"
                                            aria-label="감상"
                                            placeholder="정답"
                                        />하고,
                                        <input
                                            data-answer="감각적"
                                            aria-label="감각적"
                                            placeholder="정답"
                                        />
                                        표현을 활용하여 자신의 생각이나 감정을
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국05-04] 이 성취기준은
                                            문학 표현 방식의 <input data-answer="효과" aria-label="효과" placeholder="정답" />와
                                            <input data-answer="기능" aria-label="기능" placeholder="정답" />을 이해하며 작품을 감상하고,
                                            자신의 생각이나 느낌을 <input data-answer="다양한 방법" aria-label="다양한 방법"
                                            placeholder="정답" />으로 나타내어 다른 이들과 나누게 하기 위해 설정하였다. 학습자로 하여금 <input
                                            data-answer="감각적 표현" aria-label="감각적 표현" placeholder="정답" />을 통해 작품 속에
                                            <input data-answer="형상화" aria-label="형상화" placeholder="정답" />된 대상을 <input
                                            data-answer="생동감" aria-label="생동감" placeholder="정답" /> 있게 체험하면서 문학의 <input
                                            data-answer="즐거움" aria-label="즐거움" placeholder="정답" />을 느끼게 하는 데 중점을 둔다. 또한
                                            자신의 생각과 감정을 효과적으로 전달할 수 있는 <input data-answer="감각적 표현" aria-label="감각적 표현"
                                            placeholder="정답" />을 활용하여 말을 하거나 글을 써 보고 <input data-answer="감각적 표현"
                                            aria-label="감각적 표현" placeholder="정답" />을 사용하였을 때와 그렇지 않을 때의 <input
                                            data-answer="차이" aria-label="차이" placeholder="정답" />를 비교하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-05] 재미나 감동을 느끼며 작품을
                                        <input
                                            data-answer="즐겨"
                                            aria-label="즐겨"
                                            placeholder="정답"
                                        />
                                        감상하는 태도를 지닌다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 작품을 선정할 때는 서책 형태의 작품은 물론 오디오북, 전자책 등의 매체로 만들어진 작품들, 애니메이션, 영화, 연극 등 다양한 방식으로
                                            구현된 작품들도 함께 고려하여 선정한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 학습자의 성취 정도를 판단할 때는 교수⋅학습에서 다룬 지식이나 개념에 대한 이해에 한정하지 않고 작품을 감상하는 <input
                                            data-answer="과정" aria-label="과정" placeholder="정답" />, <input data-answer="감상 결과" aria-label="감상 결과" placeholder="정답" />를 표현하는 방법, 마음에 드는 작품을 설득력 있게
                                            <input data-answer="소개" aria-label="소개" placeholder="정답" />하고자 노력하는 자세, 문학을
                                            즐기는 <input data-answer="태도" aria-label="태도" placeholder="정답" />의 형성 등도 고려하여
                                            평가한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-01]
                                        <input
                                            data-answer="작가"
                                            aria-label="작가"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="의도"
                                            aria-label="의도"
                                            placeholder="정답"
                                        />를 생각하며 작품을 읽는다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국05-01] 이 성취기준은
                                            작품을 만든 이에 대해 호기심을 가지고 <input data-answer="작가" aria-label="작가"
                                            placeholder="정답" />라는 존재를 고려하면서 <input data-answer="작품을 수용하는 능력"
                                            aria-label="작품을 수용하는 능력" placeholder="정답" />을 기르게 하기 위해 설정하였다. <input
                                            data-answer="작가" aria-label="작가" placeholder="정답" />가 작품을 쓰게 된 <input
                                            data-answer="계기" aria-label="계기" placeholder="정답" />나 <input
                                            data-answer="상황" aria-label="상황" placeholder="정답" />을 생각하고, 작가의 <input
                                            data-answer="취지" aria-label="취지" placeholder="정답" />와 <input
                                            data-answer="의도" aria-label="의도" placeholder="정답" />를 헤아리면서 작품을 더 깊고 넓게 이해할
                                            수 있게 한다. 또한 작가에 대한 관심을 바탕으로 작가의 다른 작품들도 찾아 읽는 태도를 가지며 <input
                                            data-answer="능동적인 문학 향유자" aria-label="능동적인 문학 향유자" placeholder="정답" />로 성장할
                                            수 있게 한다. 아울러 다양한 상상의 세계를 펼쳐 보이는 <input data-answer="창의성" aria-label="창의성"
                                            placeholder="정답" />을 가진 인간에게 관심을 가짐으로써 학습자도 그러한 <input data-answer="창의성"
                                            aria-label="창의성" placeholder="정답" />을 가진 인간으로 성장하는 계기가 될 수 있게 한다. 다만 작품의 의미는
                                            작가의 <input data-answer="의도" aria-label="의도" placeholder="정답" />에 한정되는 것이
                                            아니며, 다양한 독자들의 <input data-answer="해석" aria-label="해석" placeholder="정답" />이
                                            더해져서 계속 생성되어 가는 것이라는 점을 함께 생각하며 문학소통에 적극적으로 참여할 수 있게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-02]
                                        <input
                                            data-answer="비유적"
                                            aria-label="비유적"
                                            placeholder="정답"
                                        />
                                        표현의
                                        <input
                                            data-answer="효과"
                                            aria-label="효과"
                                            placeholder="정답"
                                        />에 유의하여 작품을
                                        <input
                                            data-answer="감상"
                                            aria-label="감상"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 어떤 대상이나 상태를 다른 것에 빗대어 나타내는 <input data-answer="비유적 표현" aria-label="비유적 표현"
                                            placeholder="정답" />을 지도할 때는 <input data-answer="비유" aria-label="비유"
                                            placeholder="정답" />를 쓰지 않았을 때와 <input data-answer="비유" aria-label="비유"
                                            placeholder="정답" />를 사용했을 때의 <input data-answer="차이" aria-label="차이"
                                            placeholder="정답" />와 <input data-answer="효과" aria-label="효과"
                                            placeholder="정답" />를 생각해 보게 함으로써 비유의 특성을 자연스럽게 이해할 수 있게 하는 데에 중점을 둔다. 또한 문학
                                            작품을 읽을 때는 물론이고 일상에서 언어생활을 할 때에도 <input data-answer="비유" aria-label="비유"
                                            placeholder="정답" />를 통해 효과적인 언어 표현이 이루어짐을 깨달음으로써 비유의 중요성을 인식할 수 있게 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-03] 소설이나 극을 읽고
                                        <input
                                            data-answer="인물"
                                            aria-label="인물"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="사건"
                                            aria-label="사건"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="배경"
                                            aria-label="배경"
                                            placeholder="정답"
                                        />을 파악한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국05-03] 이 성취기준은
                                            작품을 이루는 주요 요소를 중심으로 작품을 <input data-answer="분석" aria-label="분석"
                                            placeholder="정답" />하고 <input data-answer="이해" aria-label="이해"
                                            placeholder="정답" />하는 능력을 기르게 하기 위해 설정하였다. 작품 속 <input data-answer="인물"
                                            aria-label="인물" placeholder="정답" />, <input data-answer="사건" aria-label="사건"
                                            placeholder="정답" />, <input data-answer="배경" aria-label="배경"
                                            placeholder="정답" />을 파악하고, 각 요소의 <input data-answer="기능" aria-label="기능"
                                            placeholder="정답" /> 및 요소 간 <input data-answer="관계" aria-label="관계"
                                            placeholder="정답" />를 이해하도록 한다. 예를 들어 인물의 성격과 사건의 전개 과정 간의 관계, 인물의 성격이 사건 전개
                                            과정에 끼치는 영향, 사건의 전개 과정과 배경과의 관련, 배경의 변화에 따른 사건 전개 과정의 변화 등을 파악하여 작품을 깊이 있게
                                            감상한다. 나아가 이러한 요소의 <input data-answer="역할" aria-label="역할" placeholder="정답"
                                            />이나 <input data-answer="관계" aria-label="관계" placeholder="정답" />가 모든 작품에서
                                            동일한 양상으로 나타나는 것이 아니며, 작품에 따라 특정 요소가 두드러지게 부각되기도 하고 요소 간의 관계가 독특하게 형성되기도 한다는
                                            점을 생각하며 작품을 <input data-answer="수용" aria-label="수용" placeholder="정답" />하게
                                            한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-04]
                                        <input
                                            data-answer="인상적"
                                            aria-label="인상적"
                                            placeholder="정답"
                                        />인 부분을 중심으로 작품에 대한
                                        <input
                                            data-answer="의견"
                                            aria-label="의견"
                                            placeholder="정답"
                                        />을 나눈다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국05-04] 이 성취기준은
                                            학습자가 작품에 대한 자신의 생각을 적극적으로 <input data-answer="표현" aria-label="표현"
                                            placeholder="정답" />하고, 이를 타인과 <input data-answer="나눔" aria-label="나눔"
                                            placeholder="정답" />으로써 보다 <input data-answer="주체적인 문학 수용 능력"
                                            aria-label="주체적인 문학 수용 능력" placeholder="정답" />을 기르게 하기 위해 설정하였다. 이를 위해
                                            <input data-answer="인상적인" aria-label="인상적인" placeholder="정답" /> 장면을 중심으로 작품에
                                            대한 <input data-answer="의견" aria-label="의견" placeholder="정답" />을 나누되, 인상적이라고
                                            생각하는 <input data-answer="이유" aria-label="이유" placeholder="정답" />나 <input
                                            data-answer="근거" aria-label="근거" placeholder="정답" />를 <input
                                            data-answer="작품" aria-label="작품" placeholder="정답" />과 연결 지어 설명하도록 한다. 또한
                                            상대방의 <input data-answer="수용" aria-label="수용" placeholder="정답" /> 경험에도 귀를 기울여
                                            작품에 대한 <input data-answer="해석" aria-label="해석" placeholder="정답" />이 <input
                                            data-answer="다양한" aria-label="다양한" placeholder="정답" /> 관점에서 이루어질 수 있음을 알고
                                            <input data-answer="문학 소통" aria-label="문학 소통" placeholder="정답" />에 즐겁게 참여하도록
                                            한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 작품에 대한 <input data-answer="의견" aria-label="의견" placeholder="정답" />을 나누는 활동을 할
                                            때는 다른 사람의 <input data-answer="의견" aria-label="의견" placeholder="정답" />을 존중하는
                                            가운데 국어과의 다른 영역 성취기준과 연계하여 통합적인 국어 능력이 신장될 수 있도록 한다. 예를 들어 이전 학년 쓰기 영역의 ‘자신의
                                            의견을 담은 글 쓰기’([4국03-03])에 대해 학습한 내용을 활용하여, 의견을 제시할 때 고려해야 할 점에 유의하면서 작품에 대한 자신의
                                            의견을 명확하게 전달할 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-05] 자신의 경험을
                                        <input
                                            data-answer="시"
                                            aria-label="시"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="소설"
                                            aria-label="소설"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="극"
                                            aria-label="극"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수필"
                                            aria-label="수필"
                                            placeholder="정답"
                                        />
                                        등 적절한 갈래로 표현한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 자신의 경험을 문학으로 표현하는 활동을 할 때, 작품으로 쓸 만한 특별한 일이나 경험이 없다고 어려움을 호소하는 학습자의 경우, 관심을
                                            가지고 주위를 둘러보며 익숙했던 것들을 <input data-answer="새로운" aria-label="새로운"
                                            placeholder="정답" /> 시각으로 관찰하는 등 작고 쉬운 일에서부터 경험의 폭을 넓힐 수 있게 독려한다. 또한 이러한 태도를
                                            지속적으로 유지하며 문학 표현에 <input data-answer="적극성" aria-label="적극성" placeholder="정답"
                                            />을 가질 수 있게 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-06] 작품을 읽고 자신의
                                        <input
                                            data-answer="삶"
                                            aria-label="삶"
                                            placeholder="정답"
                                        />과 연관 지어
                                        <input
                                            data-answer="성찰"
                                            aria-label="성찰"
                                            placeholder="정답"
                                        />하는 태도를 지닌다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국05-06] 이 성취기준은
                                            작품을 읽고 성찰하는 과정을 통해 <input data-answer="자신" aria-label="자신" placeholder="정답"
                                            />을 돌아보는 것은 물론자신이 속한 <input data-answer="공동체" aria-label="공동체"
                                            placeholder="정답" />의 삶에 대해서도 생각하게 하기 위해 설정하였다. 학습자가 작품을 적극적으로 <input
                                            data-answer="수용" aria-label="수용" placeholder="정답" />하여 작품에 담긴 가치를 <input
                                            data-answer="내면화" aria-label="내면화" placeholder="정답" />하는 가운데 <input
                                            data-answer="자신의 삶" aria-label="자신의 삶" placeholder="정답" />의 모습을 되돌아보게 한다. 또한
                                            공동체의 다양한 문제를 다룬 작품을 읽을 때에도 먼저 <input data-answer="자신의 삶" aria-label="자신의 삶"
                                            placeholder="정답" />을 돌아보고, 함께 살아가는 삶을 위해 <input data-answer="공동체 구성원"
                                            aria-label="공동체 구성원" placeholder="정답" />으로서 가져야 할 바람직한 자세나 태도에 대하여 생각해 보도록
                                            한다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 작품에 담긴 <input data-answer="뜻" aria-label="뜻" placeholder="정답" />이나 <input
                                            data-answer="의도" aria-label="의도" placeholder="정답" />를 깊이 생각하고, 작품을 구성하는
                                            여러 요소들에 대한 이해를 바탕으로 작품에 대한 자신의 <input data-answer="의견" aria-label="의견"
                                            placeholder="정답" />을 적극적으로 표현하는 데에 중점을 둔다. 또한 작품을 읽고 자신의 삶을 <input
                                            data-answer="성찰" aria-label="성찰" placeholder="정답" />하는 한편, 자신의 경험을 다양한
                                            갈래로 <input data-answer="표현" aria-label="표현" placeholder="정답" />하여 다른
                                            독자들과 능동적으로 <input data-answer="소통" aria-label="소통" placeholder="정답"
                                            />하도록 한다.
                                    </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 학습자가 작품을 <input data-answer="수용" aria-label="수용" placeholder="정답" />하고
                <input data-answer="생산" aria-label="생산" placeholder="정답" />하는 과정에서 자연스럽게
                문학에 대한 지식을 익히고, 그 지식을 바탕으로 학습자가 더 적극적이고 수준 높은 문학 활동을 수행하는 <input
                data-answer="선순환적 관계" aria-label="선순환적 관계" placeholder="정답" />를 형성할 수 있게
                지도한다.
        </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 지구가 처한 위기에 관련된 문제들을 찾아보고 일상에서 그러한 문제를 해결하기 위해 노력하는 생태 소양을 함양하는 한편 융합적인 사고와
                역량을 기를 수 있도록 지도한다. 예를 들어 사회과의 ‘지구촌을 위협하는 다양한 문제들을 파악하고, 지속가능한 미래를 위한 해결
                방안을 탐색’하는 성취기준(<input data-answer="6사12-02" aria-label="6사12-02"
                placeholder="정답" />)과 연계할 수 있는 문학 작품을 선정하여 교과 통합적 활동을 수행하도록 한다.
        </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 진로연계교육과 관련하여 학습자가 자신의 흥미나 관심사가 무엇인지 생각해 보고, 관심사와 연관된 작품을 찾아 읽으며 자신의 미래에 대해
                지속적으로 관심을 가지고 탐색할 수있도록 지도한다.
        </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
