<section id="literature">
    <h2>문학</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-01]
                                        <input
                                            data-answer="말놀이"
                                            aria-label="말놀이"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="낭송"
                                            aria-label="낭송"
                                            placeholder="정답"
                                        />
                                        등을 통해 말의 재미와 즐거움을 느낀다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-02] 작품을 듣거나 읽으면서
                                        <input
                                            data-answer="느끼거"
                                            aria-label="느끼거"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="생각한"
                                            aria-label="생각한"
                                            placeholder="정답"
                                        />
                                        점을 말한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-03] 작품 속 인물의 모습, 행동,
                                        마음을
                                        <input
                                            data-answer="상상"
                                            aria-label="상상"
                                            placeholder="정답"
                                        />하여 시, 노래, 이야기, 그림 등으로
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국05-04] 시나 노래, 이야기에
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />를 가진다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-01]
                                        <input
                                            data-answer="인물"
                                            aria-label="인물"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="이야기의 흐름"
                                            aria-label="이야기의 흐름"
                                            placeholder="정답"
                                        />을 중심으로 작품을 감상한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-02] 자신의 경험을 바탕으로
                                        <input
                                            data-answer="작품 속"
                                            aria-label="작품 속"
                                            placeholder="정답"
                                        />
                                        세계와
                                        <input
                                            data-answer="현실"
                                            aria-label="현실"
                                            placeholder="정답"
                                        />
                                        세계를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하여 작품을 감상한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-03] 작품을 듣거나 읽고 마음에
                                        드는 작품을
                                        <input
                                            data-answer="소개"
                                            aria-label="소개"
                                            placeholder="정답"
                                        />한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        • [독서감상문]<br />
                                        ①
                                        <input
                                            data-answer="제목"
                                            aria-label="제목"
                                            placeholder="정답"
                                        /><br />
                                        ②
                                        <input
                                            data-answer="책을 읽은 까닭"
                                            aria-label="책을 읽은 까닭"
                                            placeholder="정답"
                                        /><br />
                                        ③
                                        <input
                                            data-answer="책의 내용"
                                            aria-label="책의 내용"
                                            placeholder="정답"
                                        /><br />
                                        ④
                                        <input
                                            data-answer="인상 깊은 장면"
                                            aria-label="인상 깊은 장면"
                                            placeholder="정답"
                                        /><br />
                                        ⑤ 책을 읽고 떠오른
                                        <input
                                            data-answer="생각이나 느낌"
                                            aria-label="생각이나 느낌"
                                            placeholder="정답"
                                        />
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-04]
                                        <input
                                            data-answer="감각적"
                                            aria-label="감각적"
                                            placeholder="정답"
                                        />
                                        표현에 유의하여 작품을
                                        <input
                                            data-answer="감상"
                                            aria-label="감상"
                                            placeholder="정답"
                                        />하고,
                                        <input
                                            data-answer="감각적"
                                            aria-label="감각적"
                                            placeholder="정답"
                                        />
                                        표현을 활용하여 자신의 생각이나 감정을
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국05-05] 재미나 감동을 느끼며 작품을
                                        <input
                                            data-answer="즐겨"
                                            aria-label="즐겨"
                                            placeholder="정답"
                                        />
                                        감상하는 태도를 지닌다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-01]
                                        <input
                                            data-answer="작가"
                                            aria-label="작가"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="의도"
                                            aria-label="의도"
                                            placeholder="정답"
                                        />를 생각하며 작품을 읽는다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-02]
                                        <input
                                            data-answer="비유적"
                                            aria-label="비유적"
                                            placeholder="정답"
                                        />
                                        표현의
                                        <input
                                            data-answer="효과"
                                            aria-label="효과"
                                            placeholder="정답"
                                        />에 유의하여 작품을
                                        <input
                                            data-answer="감상"
                                            aria-label="감상"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-03] 소설이나 극을 읽고
                                        <input
                                            data-answer="인물"
                                            aria-label="인물"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="사건"
                                            aria-label="사건"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="배경"
                                            aria-label="배경"
                                            placeholder="정답"
                                        />을 파악한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-04]
                                        <input
                                            data-answer="인상적"
                                            aria-label="인상적"
                                            placeholder="정답"
                                        />인 부분을 중심으로 작품에 대한
                                        <input
                                            data-answer="의견"
                                            aria-label="의견"
                                            placeholder="정답"
                                        />을 나눈다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-05] 자신의 경험을
                                        <input
                                            data-answer="시"
                                            aria-label="시"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="소설"
                                            aria-label="소설"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="극"
                                            aria-label="극"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수필"
                                            aria-label="수필"
                                            placeholder="정답"
                                        />
                                        등 적절한 갈래로 표현한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국05-06] 작품을 읽고 자신의
                                        <input
                                            data-answer="삶"
                                            aria-label="삶"
                                            placeholder="정답"
                                        />과 연관 지어
                                        <input
                                            data-answer="성찰"
                                            aria-label="성찰"
                                            placeholder="정답"
                                        />하는 태도를 지닌다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
