<section id="media">
    <h2>매체</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국06-01] 일상의 다양한
                                        <input
                                            data-answer="매체"
                                            aria-label="매체"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="매체 자료"
                                            aria-label="매체 자료"
                                            placeholder="정답"
                                        />에
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="관심"
                                            aria-label="관심"
                                            placeholder="정답"
                                        />을 가진다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국06-02] 일상의 경험과 생각을
                                        <input
                                            data-answer="글"
                                            aria-label="글"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="그림"
                                            aria-label="그림"
                                            placeholder="정답"
                                        />으로 표현한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국06-01]
                                        <input
                                            data-answer="인터넷"
                                            aria-label="인터넷"
                                            placeholder="정답"
                                        />에서 학습에 필요한 다양한 자료를
                                        탐색하고
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 맞게 자료를
                                        <input
                                            data-answer="선택"
                                            aria-label="선택"
                                            placeholder="정답"
                                        />한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4국06-01] 이 성취기준은 다양한 교과
                                        학습 맥락에서 인터넷에
                                        <input
                                            data-answer="접속"
                                            aria-label="접속"
                                            placeholder="정답"
                                        />하여 다양한 자료에 효과적으로
                                        <input
                                            data-answer="접근"
                                            aria-label="접근"
                                            placeholder="정답"
                                        />하고 유용한 정보를
                                        <input
                                            data-answer="선택"
                                            aria-label="선택"
                                            placeholder="정답"
                                        />하여
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 맞게 활용할 때 필요한 기초 능력을
                                        기르기 위해 설정하였다. 교사의 안내에
                                        따라 디지털 매체를 통해
                                        <input
                                            data-answer="지정된"
                                            aria-label="지정된"
                                            placeholder="정답"
                                        />
                                        인터넷 공간에
                                        <input
                                            data-answer="접속하기"
                                            aria-label="접속하기"
                                            placeholder="정답"
                                        />, 다양한 자료
                                        <input
                                            data-answer="훑어보기"
                                            aria-label="훑어보기"
                                            placeholder="정답"
                                        />, 자료의
                                        <input
                                            data-answer="내용 파악하기"
                                            aria-label="내용 파악하기"
                                            placeholder="정답"
                                        />, 유용한 자료
                                        <input
                                            data-answer="선택하기"
                                            aria-label="선택하기"
                                            placeholder="정답"
                                        />
                                        등을 수행하고, 이를 통해 인터넷 접속
                                        방법,
                                        <input
                                            data-answer="비선형적"
                                            aria-label="비선형적"
                                            placeholder="정답"
                                        />
                                        자료의 탐색 방법,
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 맞는 정보 선택 방법 등을 체계적으로
                                        학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국06-02] 매체를 활용하여 간단한
                                        <input
                                            data-answer="발표 자료"
                                            aria-label="발표 자료"
                                            placeholder="정답"
                                        />를 만든다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국06-03]
                                        <input
                                            data-answer="매체 소통 윤리"
                                            aria-label="매체 소통 윤리"
                                            placeholder="정답"
                                        />를 고려하여 매체 자료를 활용하고
                                        공유한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4국06-03] 이 성취기준은 매체 기반의
                                        소통에서 지켜야 할 기본적인 윤리를
                                        이해하고 이를 고려하며 매체 자료를
                                        활용하거나 공유할 수 있는 능력을 기르기
                                        위해 설정하였다. 다양한 매체 자료를
                                        활용하거나 공유하는 과정에서
                                        <input
                                            data-answer="저작권"
                                            aria-label="저작권"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="초상권"
                                            aria-label="초상권"
                                            placeholder="정답"
                                        />
                                        침해,
                                        <input
                                            data-answer="개인 정보"
                                            aria-label="개인 정보"
                                            placeholder="정답"
                                        />
                                        유출 등의 문제가 발생할 수 있음을
                                        이해한다. 다양한 사례를 통해 매체
                                        이용자로서 소통 윤리를 지키려는 태도를
                                        기르고, 매체 자료를 안전하고 올바르게
                                        활용하고 공유할 수 있는 방법 등을
                                        학습한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국06-01]
                                        <input
                                            data-answer="정보 검색 도구"
                                            aria-label="정보 검색 도구"
                                            placeholder="정답"
                                        />를 활용하여 자신의 목적에 맞는 매체
                                        자료를 찾는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6국06-01] 이 성취기준은
                                        <input
                                            data-answer="정보 검색 도구"
                                            aria-label="정보 검색 도구"
                                            placeholder="정답"
                                        />의 특성을 이해하고 적절한 정보 검색
                                        전략을 수립하여 자신의
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 맞는 매체 자료를 찾아 활용하는
                                        능력을 향상하기 위해 설정하였다.
                                        <input
                                            data-answer="정보 유형별"
                                            aria-label="정보 유형별"
                                            placeholder="정답"
                                        />로 검색 결과를 제시하는 정보 검색
                                        도구의 기능을 이해한다. 또한
                                        <input
                                            data-answer="핵심 단어"
                                            aria-label="핵심 단어"
                                            placeholder="정답"
                                        />
                                        중심으로 검색이 되는 정보 검색 도구의
                                        특징을 이해하여 자신의
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 적합한 검색어를 만들 수 있도록
                                        한다. 인터넷의 특성을 고려하여 정보 검색
                                        과정에서 지속적인 성찰과 점검을 통해
                                        자신의
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 부합한 자료 검색 과정이 이루어질 수
                                        있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국06-02] 뉴스 및 각종 정보 매체 자료의
                                        <input
                                            data-answer="신뢰성"
                                            aria-label="신뢰성"
                                            placeholder="정답"
                                        />을 평가한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6국06-02] 이 성취기준은 뉴스 및 각종
                                        정보 매체의 매체 자료에 대해
                                        <input
                                            data-answer="신뢰성"
                                            aria-label="신뢰성"
                                            placeholder="정답"
                                        />
                                        측면을 중심으로 평가하는 능력을 기르기
                                        위해 설정하였다. 뉴스 및 각종 정보 매체
                                        자료는 개인과 공동체에 미치는 영향력이
                                        크기 때문에 매체 자료를 수용할 때는
                                        그것이 신뢰할 만한 것인지 평가하는
                                        태도가 중요하다는 점을 이해하도록 한다.
                                        매체 자료의 신뢰성은 제작자가 얼마나
                                        해당 분야에
                                        <input
                                            data-answer="전문적"
                                            aria-label="전문적"
                                            placeholder="정답"
                                        />이고
                                        <input
                                            data-answer="권위"
                                            aria-label="권위"
                                            placeholder="정답"
                                        />가 있는지, 실제
                                        <input
                                            data-answer="취재"
                                            aria-label="취재"
                                            placeholder="정답"
                                        />하거나
                                        <input
                                            data-answer="수집"
                                            aria-label="수집"
                                            placeholder="정답"
                                        />한 근거 자료를 기반으로 제작된 것인지,
                                        근거 자료가 얼마나
                                        <input
                                            data-answer="정확"
                                            aria-label="정확"
                                            placeholder="정답"
                                        />하고
                                        <input
                                            data-answer="최신"
                                            aria-label="최신"
                                            placeholder="정답"
                                        />의 것이며
                                        <input
                                            data-answer="증빙 가능"
                                            aria-label="증빙 가능"
                                            placeholder="정답"
                                        />한 것인지 등의 측면에서 평가할 수
                                        있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국06-03] 적합한
                                        <input
                                            data-answer="양식"
                                            aria-label="양식"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="수용자의 반응"
                                            aria-label="수용자의 반응"
                                            placeholder="정답"
                                        />을 고려하여
                                        <input
                                            data-answer="복합양식 매체 자료"
                                            aria-label="복합양식 매체 자료"
                                            placeholder="정답"
                                        />를 제작하고 공유한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6국06-03] 의도나 주제를 드러내는
                                        다양한 표현 양식을 이해하고 자신의
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="주제"
                                            aria-label="주제"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수용자 반응"
                                            aria-label="수용자 반응"
                                            placeholder="정답"
                                        />을 고려하여 이미지가 포함된 글, 카드
                                        뉴스, 발표 자료, 동영상 등의 복합양식
                                        매체 자료를 제작한 다음 이를 공유하여 그
                                        효과성을 점검한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국06-04] 자신의 매체 이용 양상에 대해
                                        <input
                                            data-answer="성찰"
                                            aria-label="성찰"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
