<section id="reading">
    <h2>읽기</h2>

    <!-- 2학년 성취기준 -->
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국02-01]</span
                                        >
                                        글자, 단어, 문장, 짧은 글을 정확하게
                                        <input
                                            data-answer="소리 내어"
                                            aria-label="소리 내어"
                                            placeholder="정답"
                                        />
                                        읽는다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 정확히 소리 내어 읽기나 알맞게 띄어 읽기를 지도할 때는 학습자가 해당 성취기준에 대한 학습 시간에는 물론이고, 일상생활에서도 학교 안내판,
                                            학급 게시판, 광고지 등 주변에서 접할 수 있는 읽기 자료를 보고 스스로 읽기 활동에 적극적으로 참여할 수 있도록 관심을 기울여
                                            지도한다. 나아가 가정에서도 쉽게 접할 수 있는 읽기 자료를 보고 정확히 소리 내어 읽고 알맞게 글을 읽는지 점검하도록 안내하여 학교
                                            안팎에서의 기초 읽기 능력이 균형 있게 발달할 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[2국02-02]</span
                                        >
                                        의미가 잘 드러나도록 문장과 짧은 글을
                                        알맞게
                                        <input
                                            data-answer="띄어"
                                            aria-label="띄어"
                                            placeholder="정답"
                                        />
                                        읽는다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [2국02-02] 이 성취기준은
                                            글을 의미 단위에 알맞게 띄어 읽으며 <input data-answer="글의 의미" aria-label="글의 의미"
                                            placeholder="정답" />를 파악하는 능력을 기르기 위해 설정하였다. 글을 읽으면서 <input data-answer="의미
                                            단위" aria-label="의미 단위" placeholder="정답" />를 인식하고 이에 맞게 띄어 읽는 것은 <input
                                            data-answer="글의 의미" aria-label="글의 의미" placeholder="정답" />를 정확하게 파악하고 <input
                                            data-answer="읽기 유창성" aria-label="읽기 유창성" placeholder="정답" />을 높이는 데 중요한
                                            요소이다. 글의 의미를 이해하기 위해 <input data-answer="의미 단위" aria-label="의미 단위"
                                            placeholder="정답" />에 따른 <input data-answer="어구" aria-label="어구"
                                            placeholder="정답" />나 <input data-answer="어절" aria-label="어절"
                                            placeholder="정답" /> 단위 등으로 띄어 읽기, <input data-answer="주어부" aria-label="주어부"
                                            placeholder="정답" />와 <input data-answer="서술어부" aria-label="서술어부"
                                            placeholder="정답" /> 등을 단위로 하여 띄어 읽기, <input data-answer="문장 부호"
                                            aria-label="문장 부호" placeholder="정답" />에 따라 <input data-answer="문장 단위"
                                            aria-label="문장 단위" placeholder="정답" />를 인식하면서 띄어 읽기, <input data-answer="쉬는
                                            지점" aria-label="쉬는 지점" placeholder="정답" />, <input data-answer="쉼의 길이"
                                            aria-label="쉼의 길이" placeholder="정답" />에 유의하며 띄어 읽기 등을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국02-03] 글을 읽고
                                        <input
                                            data-answer="중심 내용"
                                            aria-label="중심 내용"
                                            placeholder="정답"
                                        />을 확인한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 알맞게 띄어 읽기는 함께 읽기와 혼자 읽은 후 짝과 함께 상호 점검하며 읽기 등의 방법을 활용한다. 이때 의미에 따라 여러 단위에서 띄어
                                            읽기가 가능하므로 <input data-answer="기계적" aria-label="기계적" placeholder="정답" />으로 띄어
                                            읽기를 하지 않도록 유의한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국02-04] 인물의 마음이나 생각을
                                        <input
                                            data-answer="짐작"
                                            aria-label="짐작"
                                            placeholder="정답"
                                        />하고 이를 자신과
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하며 글을 읽는다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [2국02-04] 이 성취기준은
                                            글에 등장하는 인물의 마음과 생각을 <input data-answer="짐작" aria-label="짐작" placeholder="정답"
                                            />하는 능력과 타인에 대한 <input data-answer="공감" aria-label="공감" placeholder="정답" />
                                            능력을 기르기 위해 설정하였다. 인물의 마음이나 생각을 짐작하는 것은 글의 내용에 대한 이해와 더불어 실제 주변 인물에 대한 <input
                                            data-answer="이해" aria-label="이해" placeholder="정답" />를 높이는 데 도움이 된다. 인물의 처지나
                                            상황을 파악하기, 자신의 <input data-answer="경험" aria-label="경험" placeholder="정답" />에
                                            비추어 인물의 마음이나 생각 짐작하기, 감정을 드러내는 다양한 어휘를 활용하여 인물의 마음이나 생각을 표현하기, 인물의 마음이나 생각과
                                            관련된 자신의 <input data-answer="경험" aria-label="경험" placeholder="정답" />이나 <input
                                            data-answer="생각" aria-label="생각" placeholder="정답" />을 떠올리며 비교하기 등을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2국02-05] 읽기에
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />를 가지고 즐겨 읽는 태도를 지닌다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 학습자가 한글 학습에 흥미를 느끼고 지속적으로 참여할 수 있도록 몸으로 문자를 표현하는 등의 신체 놀이, 첫음절이 같은 단어를 다양하게
                                            떠올려 보는 연상 놀이 등을 활동 중심수업과 연계하여 지도할 수 있다. 또한 이 시기는 한글 학습을 통해 기초적인 읽기 능력 계발뿐만
                                            아니라 학습자가 읽기에 대한 흥미를 형성하는 매우 중요한 시기이다. 따라서 학습자가 자신의 <input data-answer="수준"
                                            aria-label="수준" placeholder="정답" />과 <input data-answer="흥미" aria-label="흥미"
                                            placeholder="정답" />에 맞는 책을 읽은 후 자신의 생각을 표현하는 놀이나 활동⋅체험 등을 연계하여 즐거운 독서 경험을 통해
                                            독서에 대한 긍정적인 태도를 기를 수 있도록 지도한다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 읽기 성취기준과 타 영역의 성취기준을 분리해서 지도하기보다 상호 연계하여 국어 활동의 <input data-answer="총체성"
                                            aria-label="총체성" placeholder="정답" />을 구현하도록 한다. 예를 들어 정확히 소리 내어 읽기와 관련한
                                            성취기준은 글자와 단어를 바로 쓰기에 대한 쓰기 성취기준, 소리와 표기가 다름을 알고 정확하게 발음하고 쓰기에 대한 문법
                                            성취기준, 말놀이와 낭송에 관한 문학 성취기준 등과 연계하여 지도한다.
                                    </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 일반 학습자를 포함하여, 다문화 배경 학습자나 느린 학습자 등의 특별한 요구가 있는 경우에는 해당 성취기준에 대한 개별화 맞춤형
                수업을 통해 정확히 소리 내어 읽기와 알맞게 띄어 읽기 등의 한글 깨치기 학습이 충실히 이루어질 수 있도록 지도한다.
        </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 4학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        <span class="code-highlight"
                                            >[4국02-01]</span
                                        >
                                        글의 의미를 파악하며
                                        <input
                                            data-answer="유창하게"
                                            aria-label="유창하게"
                                            placeholder="정답"
                                        />
                                        글을 읽는다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국02-01] 이 성취기준은
                                            글의 의미를 효과적으로 표현하는 방법을 사용하여 유창하게 글을 읽는 능력을 기르기 위해 설정하였다. 글의 유형에 따라 <input
                                            data-answer="글의 분위기" aria-label="글의 분위기" placeholder="정답" />, <input
                                            data-answer="장면" aria-label="장면" placeholder="정답" />, <input
                                            data-answer="인물의 특성" aria-label="인물의 특성" placeholder="정답" /> 등을 파악하고 이를
                                            고려하되, <input data-answer="어조" aria-label="어조" placeholder="정답" />, <input
                                            data-answer="억양" aria-label="억양" placeholder="정답" />, <input
                                            data-answer="속도" aria-label="속도" placeholder="정답" />, <input
                                            data-answer="강세" aria-label="강세" placeholder="정답" /> 등의 표현 요소를 활용하여 글을 읽으면서
                                            글의 의미를 효과적으로 표현하기 등을 학습한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • <input data-answer="읽기 유창성" aria-label="읽기 유창성" placeholder="정답" />을 지도할 때는 먼저
                                            혼자 읽은 후에 짝과 함께 상호 점검하며 읽을 수 있도록 지도한다. 또한 글을 읽을 때 빠르고 정확하게 읽는 <input
                                            data-answer="읽기 유창성" aria-label="읽기 유창성" placeholder="정답" />이 충분히 숙달되었는지
                                            점검하면서 글의 의미를 효과적으로 <input data-answer="표현" aria-label="표현" placeholder="정답"
                                            />할 수 있는 방법을 사용하여 유창하게 글을 읽는지 살피고, 학습자의 <input data-answer="읽기 유창성"
                                            aria-label="읽기 유창성" placeholder="정답" />의 수준을 고려하며 지도한다. 1~2학년의 <input
                                            data-answer="소리 내어 읽기" aria-label="소리 내어 읽기" placeholder="정답" />와 <input
                                            data-answer="알맞게 띄어 읽기" aria-label="알맞게 띄어 읽기" placeholder="정답" />의 학습이 충실히
                                            이루어졌는지 연계하여 지도함으로써 한글 깨치기의 어려움을 진단하고 이를 보정하면서 <input data-answer="소리 내어 읽기"
                                            aria-label="소리 내어 읽기" placeholder="정답" />, <input data-answer="알맞게 띄어 읽기"
                                            aria-label="알맞게 띄어 읽기" placeholder="정답" /> 기능이 숙달될 수 있도록 지도한다. 일반 학습자를 포함하여,
                                            다문화 배경 학습자나 느린 학습자 등의 특별한 요구가 있는 경우에는 해당 성취기준에 대한 개별화 맞춤형 수업을 통해 한글 깨치기 학습이
                                            충실히 이루어질 수 있도록 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국02-02]
                                        <input
                                            data-answer="문단"
                                            aria-label="문단"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="글"
                                            aria-label="글"
                                            placeholder="정답"
                                        />에서
                                        <input
                                            data-answer="중심 생각"
                                            aria-label="중심 생각"
                                            placeholder="정답"
                                        />을 파악하고 내용을
                                        <input
                                            data-answer="간추린다"
                                            aria-label="간추린다"
                                            placeholder="정답"
                                        />.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 중심 내용 간추리기를 지도할 때는 문단별로 <input data-answer="중요 단어" aria-label="중요 단어"
                                            placeholder="정답" />와 <input data-answer="중심 문장" aria-label="중심 문장"
                                            placeholder="정답" />을 파악하고 이를 바탕으로 글 전체의 <input data-answer="중심 내용"
                                            aria-label="중심 내용" placeholder="정답" />을 파악하여 간추리도록 지도한다. 문단별로 보충, 반복된 문장은
                                            <input data-answer="삭제" aria-label="삭제" placeholder="정답" />하고, 중심 생각이 잘 드러나지
                                            않은 문장은 학습자가 <input data-answer="재구성" aria-label="재구성" placeholder="정답" />할 수
                                            있도록 한다. 그런 다음 문단별로 <input data-answer="중심 문장" aria-label="중심 문장"
                                            placeholder="정답" />을 통합하여 글 전체의 <input data-answer="중심 내용" aria-label="중심
                                            내용" placeholder="정답" />을 파악할 수 있도록 지도한다. 이때 <input data-answer="밑줄 긋기"
                                            aria-label="밑줄 긋기" placeholder="정답" />, <input data-answer="메모하기"
                                            aria-label="메모하기" placeholder="정답" />, <input data-answer="중요도 평정"
                                            aria-label="중요도 평정" placeholder="정답" /> 등의 전략 등을 안내하고 이를 적용할 수 있도록 지도한다. 해당
                                            성취기준은 타 교과 학습을 위한 교과서 읽기, 학습 자료 읽기 등의 상황과 연계하여 지도함으로써 교과 학습 능력과 읽기 능력이 균형 있게
                                            발달할 수 있도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국02-03]
                                        <input
                                            data-answer="질문"
                                            aria-label="질문"
                                            placeholder="정답"
                                        />을 활용하여 글을
                                        <input
                                            data-answer="예측"
                                            aria-label="예측"
                                            placeholder="정답"
                                        />하며 읽고 자신의 읽기 과정을
                                        <input
                                            data-answer="점검"
                                            aria-label="점검"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국02-03] 이 성취기준은
                                            글을 읽으며 <input data-answer="글에 대한 질문" aria-label="글에 대한 질문" placeholder="정답"
                                            />을 만들고 이에 대한 답을 <input data-answer="예측" aria-label="예측" placeholder="정답"
                                            />하면서 글을 읽는 <input data-answer="추론적 읽기 능력" aria-label="추론적 읽기 능력"
                                            placeholder="정답" />을 기르기 위해 설정하였다. 읽기 전이나 읽기 중에 이루어지는 질문을 통해 자신의 <input
                                            data-answer="배경지식이나 경험" aria-label="배경지식이나 경험" placeholder="정답" />을 글과 관련짓기,
                                            <input data-answer="배경지식이나 경험" aria-label="배경지식이나 경험" placeholder="정답" />을
                                            활성화하여 <input data-answer="글의 의미" aria-label="글의 의미" placeholder="정답" />
                                            추론하기, <input data-answer="제목" aria-label="제목" placeholder="정답" />이나 <input
                                            data-answer="글의 차례" aria-label="글의 차례" placeholder="정답" />, <input
                                            data-answer="사진" aria-label="사진" placeholder="정답" />이나 <input
                                            data-answer="그림" aria-label="그림" placeholder="정답" /> 등의 자료를 통해 <input
                                            data-answer="글의 의미" aria-label="글의 의미" placeholder="정답" /> 추론하기, 질문을 통해
                                            <input data-answer="단어의 의미" aria-label="단어의 의미" placeholder="정답" />, <input
                                            data-answer="이어질 내용" aria-label="이어질 내용" placeholder="정답" />이나 <input
                                            data-answer="사건의 전후" aria-label="사건의 전후" placeholder="정답" />를 예측하기, <input
                                            data-answer="질문" aria-label="질문" placeholder="정답" />을 통해 글을 이해한 정도를 점검하거나 읽기
                                            과정에서 겪는 어려움을 점검하기 등을 학습한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • <input data-answer="문맥" aria-label="문맥" placeholder="정답" />을 고려하여 모르는 <input
                                            data-answer="단어의 의미" aria-label="단어의 의미" placeholder="정답" />를 짐작하도록 지도할 때는
                                            우선 학습자가 단어의 의미를 짐작한 후 그 의미를 확인하게 한다. 그리고 이 과정을 문법 성취기준과 연계함으로써 <input
                                            data-answer="국어사전" aria-label="국어사전" placeholder="정답" />을 활용하여 모르는 단어를 찾도록
                                            지도할 수 있다. 또한, 학습자의 어휘력을 기르기 위해 글을 읽으면서 <input data-answer="연관 어휘"
                                            aria-label="연관 어휘" placeholder="정답" />를 익히거나, <input data-answer="의미 관계"
                                            aria-label="의미 관계" placeholder="정답" />를 중심으로 비슷한 말이나 반대말 등을 찾게 할 수 있다. 이때
                                            <input data-answer="연상 활동" aria-label="연상 활동" placeholder="정답" />이나 <input
                                            data-answer="말놀이" aria-label="말놀이" placeholder="정답" />, <input
                                            data-answer="어휘망 그리기" aria-label="어휘망 그리기" placeholder="정답" /> 등을 활용할 수 있고,
                                            나만의 단어 사전이나 그림 사전 등을 만들어 다른 학습자들과 공유하도록 지도할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국02-04] 글에 나타난
                                        <input
                                            data-answer="사실"
                                            aria-label="사실"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="의견"
                                            aria-label="의견"
                                            placeholder="정답"
                                        />을 구분하고 필자와 자신의
                                        <input
                                            data-answer="의견"
                                            aria-label="의견"
                                            placeholder="정답"
                                        />을
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국02-04] 이 성취기준은
                                            글에 나타난 <input data-answer="사실" aria-label="사실" placeholder="정답" />과 <input
                                            data-answer="의견" aria-label="의견" placeholder="정답" />을 구별하고 필자와 자신의 <input
                                            data-answer="의견" aria-label="의견" placeholder="정답" />을 비교하면서 필자의 <input
                                            data-answer="의견" aria-label="의견" placeholder="정답" />을 일방적으로 <input
                                            data-answer="수용" aria-label="수용" placeholder="정답" />하지 않고 글을 <input
                                            data-answer="비판적" aria-label="비판적" placeholder="정답" />으로 읽는 능력을 기르기 위해
                                            설정하였다. 글을 읽고 필자의 <input data-answer="의견" aria-label="의견" placeholder="정답"
                                            />과 객관적 <input data-answer="사실" aria-label="사실" placeholder="정답" />을 구별하기,
                                            <input data-answer="필자" aria-label="필자" placeholder="정답" />의 의견과 <input
                                            data-answer="자신" aria-label="자신" placeholder="정답" />의 의견을 비교하기, 필자의 의견에 대한
                                            <input data-answer="타당성" aria-label="타당성" placeholder="정답" />을 평가하기, 동일한 주제나
                                            상황에 대한 서로 다른 <input data-answer="의견" aria-label="의견" placeholder="정답" />
                                            비교하기 등을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국02-05] 글이나 자료의
                                        <input
                                            data-answer="출처"
                                            aria-label="출처"
                                            placeholder="정답"
                                        />가 믿을 만한지 판단한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [4국02-05] 이 성취기준은
                                            도서관이나 인터넷 등을 통해 글이나 자료를 찾아 읽을 때 출처의 <input data-answer="신뢰성"
                                            aria-label="신뢰성" placeholder="정답" />을 평가하며 읽고 믿을 만한 글이나 자료를 선별하는 능력을 기르기 위해
                                            설정하였다. 글이나 자료의 출처 확인 방법이나 필요성 이해하기, 다양한 매체를 활용하여 글이나 자료 탐색하기, 글이나 자료의 정보
                                            <input data-answer="출처" aria-label="출처" placeholder="정답" /> 파악하기, 정보 출처의
                                            유형이나 정보의  <input data-answer="최신성" aria-label="최신성" placeholder="정답" />
                                            확인하기, 권위나 공신력 등을 고려한 <input data-answer="신뢰성" aria-label="신뢰성"
                                            placeholder="정답" /> 평가하기, 여러 정보를 비교하며 내용의 <input data-answer="신뢰성"
                                            aria-label="신뢰성" placeholder="정답" /> 평가하기 등을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4국02-06] 바람직한 읽기 습관을 형성하고
                                        읽기에 대한
                                        <input
                                            data-answer="자신감"
                                            aria-label="자신감"
                                            placeholder="정답"
                                        />을 기른다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 이 시기는 학습자가 바람직한 <input data-answer="독서 습관" aria-label="독서 습관" placeholder="정답"
                                            />을 형성하고 읽기에 대한 <input data-answer="효능감" aria-label="효능감" placeholder="정답"
                                            />을 형성하도록 함으로써 지속적으로 읽기에 참여할 수 있는 태도를 형성하는 데 매우 중요한 시기이다. 교사는 학습자가 자신의
                                            <input data-answer="수준" aria-label="수준" placeholder="정답" />과 <input
                                            data-answer="흥미" aria-label="흥미" placeholder="정답" />에 맞는 읽을거리를 스스로 찾고, 독서
                                            <input data-answer="시간" aria-label="시간" placeholder="정답" />과 <input
                                            data-answer="분량" aria-label="분량" placeholder="정답" /> 등을 고려하여 독서 계획을 세움으로써 한
                                            권의 책을 완독할 수 있는 습관을 형성할 수 있도록 지도한다. 또한 교사는 학습자의 <input data-answer="읽기 어려움"
                                            aria-label="읽기 어려움" placeholder="정답" />을 점검하고 이를 해결할 수 있는 피드백을 제공함으로써 학습자가
                                            성공적인 읽기 경험을 통해 <input data-answer="읽기 효능감" aria-label="읽기 효능감"
                                            placeholder="정답" />을 높이도록 지도할 수 있다. 이때 <input data-answer="읽기 효능감"
                                            aria-label="읽기 효능감" placeholder="정답" />을 높일 수 있도록 어려움을 겪는 학습자의 독서 활동에 대해 교사와
                                            동료 학습자들이 격려와 칭찬과 같은 <input data-answer="긍정적인 피드백" aria-label="긍정적인 피드백"
                                            placeholder="정답" />을 제공하도록 한다. 또한 교사는 수업 상황을 고려하여 학급 전체가 같은 책을 읽거나, 모둠끼리 같은
                                            책을 읽거나, 학습자 개인별로 원하는 책을 읽도록 할 수 있다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 글의 내용을 파악하고 글에 담긴 의미를 추론하고 평가하는 등 기본적인 읽기 능력을 갖출 수 있도록, <input
                                            data-answer="읽기 유창성" aria-label="읽기 유창성" placeholder="정답" />을 고려한 읽기 상황,
                                            <input data-answer="중심 내용" aria-label="중심 내용" placeholder="정답" />을 파악하는
                                            읽기 상황, <input data-answer="질문" aria-label="질문" placeholder="정답" />과
                                            <input data-answer="예측" aria-label="예측" placeholder="정답" />을 활용한 능동적인 읽기
                                            상황, <input data-answer="사실" aria-label="사실" placeholder="정답" />과 <input
                                            data-answer="의견" aria-label="의견" placeholder="정답" />을 구분하거나 출처의 <input
                                            data-answer="신뢰성" aria-label="신뢰성" placeholder="정답" />을 평가하는 상황 등을 중심으로
                                            읽기 활동이 이루어지도록 한다.
                                    </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 6학년 성취기준 -->
    <br /><br />
    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국02-01] 글의
                                        <input
                                            data-answer="구조"
                                            aria-label="구조"
                                            placeholder="정답"
                                        />를 고려하며 주제나 주장을 파악하고 글
                                        내용을
                                        <input
                                            data-answer="요약"
                                            aria-label="요약"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국02-01] 이 성취기준은
                                            <input data-answer="글의 구조" aria-label="글의 구조" placeholder="정답" />를 고려하며 글의
                                            <input data-answer="중심 내용" aria-label="중심 내용" placeholder="정답" />을 파악하고
                                            <input data-answer="자신의 언어" aria-label="자신의 언어" placeholder="정답" />로 요약하는
                                            능력을 기르기 위해 설정하였다. 요약하기의 일반 원리를 이해하기, 글의 구조를 시각화한 <input data-answer="도해 조직자"
                                            aria-label="도해 조직자" placeholder="정답" />를 활용하여 <input data-answer="글의 구조"
                                            aria-label="글의 구조" placeholder="정답" />와 <input data-answer="내용"
                                            aria-label="내용" placeholder="정답" /> 파악하기, <input data-answer="주제"
                                            aria-label="주제" placeholder="정답" />나 <input data-answer="주장" aria-label="주장"
                                            placeholder="정답" />을 파악하기, 글의 <input data-answer="중심 내용" aria-label="중심 내용"
                                            placeholder="정답" />을 <input data-answer="자신의 언어" aria-label="자신의 언어"
                                            placeholder="정답" />로 <input data-answer="재구성" aria-label="재구성"
                                            placeholder="정답" />하여 요약하기 등을 학습한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • <input data-answer="글의 구조" aria-label="글의 구조" placeholder="정답" />를 고려하여 요약하기를
                                            지도할 때는 요약하기가 단순히 글의 분량을 줄이는 것이 아니라 <input data-answer="글의 구조" aria-label="글의
                                            구조" placeholder="정답" />에 따라 <input data-answer="중심 내용" aria-label="중심 내용"
                                            placeholder="정답" />을 <input data-answer="자신의 언어" aria-label="자신의 언어"
                                            placeholder="정답" />로 표현하는 것임을 이해할 수 있도록 지도한다. <input data-answer="글의 구조"
                                            aria-label="글의 구조" placeholder="정답" />를 시각화하여 제시한 <input data-answer="도해
                                            조직자" aria-label="도해 조직자" placeholder="정답" /> 등을 활용하고, <input data-answer="짝
                                            활동" aria-label="짝 활동" placeholder="정답" />이나 <input data-answer="모둠활동"
                                            aria-label="모둠활동" placeholder="정답" />을 통해 요약하기 <input data-answer="과정"
                                            aria-label="과정" placeholder="정답" />과 <input data-answer="결과" aria-label="결과"
                                            placeholder="정답" />를 공유하며 효과적으로 요약하기 전략을 내면화할 수 있도록 지도한다. 해당 성취기준은 타 교과 학습을
                                            위한 교과서 읽기, 학습 자료 읽기 등의 상황과 연계하여 지도함으로써 교과 학습과 관련하여 읽기 능력이 균형 있게 발달하도록 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국02-02] 글에서
                                        <input
                                            data-answer="생략된"
                                            aria-label="생략된"
                                            placeholder="정답"
                                        />
                                        내용이나
                                        <input
                                            data-answer="함축된"
                                            aria-label="함축된"
                                            placeholder="정답"
                                        />
                                        표현을
                                        <input
                                            data-answer="문맥"
                                            aria-label="문맥"
                                            placeholder="정답"
                                        />을 고려하여
                                        <input
                                            data-answer="추론"
                                            aria-label="추론"
                                            placeholder="정답"
                                        />한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국02-02] 이 성취기준은
                                            글의 <input data-answer="문맥" aria-label="문맥" placeholder="정답" />을 고려하여 글에
                                            표면적으로 드러나지 않은 내용을 추론하며 읽는 능력을 기르기 위해 설정하였다. <input data-answer="중요 단어"
                                            aria-label="중요 단어" placeholder="정답" />나 <input data-answer="문장"
                                            aria-label="문장" placeholder="정답" />, <input data-answer="문단" aria-label="문단"
                                            placeholder="정답" /> 등의 수준에서 <input data-answer="의미" aria-label="의미"
                                            placeholder="정답" /> 추론하기, 글의 전체적인 흐름을 고려할 때 글에서 빠진 <input data-answer="세부
                                            내용" aria-label="세부 내용" placeholder="정답" />이나 <input data-answer="이어질 내용"
                                            aria-label="이어질 내용" placeholder="정답" /> 추론하기, 학습자의 <input data-answer="배경지식"
                                            aria-label="배경지식" placeholder="정답" />을 이용하여 <input data-answer="함축적 표현"
                                            aria-label="함축적 표현" placeholder="정답" />이 암시하거나 내포하는 의미 추측하기 등을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국02-03] 글이나 자료를 읽고
                                        <input
                                            data-answer="내용"
                                            aria-label="내용"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="타당성"
                                            aria-label="타당성"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="적절성"
                                            aria-label="적절성"
                                            placeholder="정답"
                                        />을 평가한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국02-04] 문제 상황과 관련된 다양한
                                        <input
                                            data-answer="관점"
                                            aria-label="관점"
                                            placeholder="정답"
                                        />의 글을 읽고 이를
                                        <input
                                            data-answer="문제 해결"
                                            aria-label="문제 해결"
                                            placeholder="정답"
                                        />에 활용한다.
                                    </div>
                                    <div class="overview-question achievement-explanation">
                                        • [6국02-04] 이 성취기준은
                                            학습자가 직면한 문제를 해결하기 위해 다양한 <input data-answer="관점" aria-label="관점"
                                            placeholder="정답" />의 글을 찾아 읽고 문제 해결에 필요한 지식이나 정보를 구성하는 <input
                                            data-answer="창의적 읽기 능력" aria-label="창의적 읽기 능력" placeholder="정답" />을 기르기 위해
                                            설정하였다. 문제 상황과 관련한 <input data-answer="읽기 목적" aria-label="읽기 목적"
                                            placeholder="정답" /> 명료화하기, 문제 상황 해결에 도움을 줄 수 있는 다양한 관점의 글 선정하기, 다양한 관점의 글을
                                            읽고 내용의 <input data-answer="타당성" aria-label="타당성" placeholder="정답" />과 <input
                                            data-answer="유용성" aria-label="유용성" placeholder="정답" /> 평가하기, 문제 해결을 위한 자신만의
                                            창의적인 해결 방안 마련하기 등을 학습한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6국02-05] 긍정적인
                                        <input
                                            data-answer="읽기 동기"
                                            aria-label="읽기 동기"
                                            placeholder="정답"
                                        />를 형성하고
                                        <input
                                            data-answer="적극적"
                                            aria-label="적극적"
                                            placeholder="정답"
                                        />으로 읽기에 참여하는 태도를 기른다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 학습자 스스로 자신의 읽기 활동을 되돌아보고 능동적으로 읽기에 참여하는지 확인하기 위해 <input data-answer="독서 성찰일지"
                                            aria-label="독서 성찰일지" placeholder="정답" />나 <input data-answer="독서 기록장"
                                            aria-label="독서 기록장" placeholder="정답" />을 작성하도록 하고, <input data-answer="자기
                                            점검표" aria-label="자기 점검표" placeholder="정답" />나 <input data-answer="관찰 기록표"
                                            aria-label="관찰 기록표" placeholder="정답" /> 작성 등 다양한 방법을 활용하여 일상의 읽기 습관을 개선하고
                                            <input data-answer="읽기 동기" aria-label="읽기 동기" placeholder="정답" />를 긍정적으로
                                            형성하도록 지도한다. 이때 글을 읽는 과정에서 새롭게 알게 된 단어나 교과 학습을 위한 목적으로 글을 읽을 때 새롭게 알게 된 개념어
                                            등을 토대로 나만의 단어 사전이나 단어 기록장 등을 만들어 학습자가 자기주도적으로 읽기 활동을 수행하는 가운데 <input
                                            data-answer="어휘 학습" aria-label="어휘 학습" placeholder="정답" />을 연계할 수 있도록 지도한다.
                                    </div>
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 이 시기는 학습자가 긍정적인 <input data-answer="읽기 동기" aria-label="읽기 동기" placeholder="정답"
                                            />를 형성하여 읽기에 지속적으로 참여할 수 있도록 하는 태도를 형성하는 데 매우 중요한 시기이다. 학습자가 읽기에 대한 중요성과 가치를
                                            인식하고, 교과 학습, 진로 탐색, 여가 등의 읽기 목적과 학습자 개인의 <input data-answer="흥미"
                                            aria-label="흥미" placeholder="정답" />나 <input data-answer="수준" aria-label="수준"
                                            placeholder="정답" />을 고려하여 읽을거리를 스스로 찾아 읽되, 한 학기에 적어도 한 편의 글을 능동적으로 읽는 경험을 할
                                            수 있도록 지도한다. 이때, 교사는 도서관이나 인터넷에서 관련 자료를 찾아 참고하면서 책을 찾아 읽을 수 있도록 안내하거나, <input
                                            data-answer="관심 분야" aria-label="관심 분야" placeholder="정답" />가 유사한 학습자 간에 모둠을
                                            구성하여 책을 선정하여 읽고, <input data-answer="읽기 결과" aria-label="읽기 결과"
                                            placeholder="정답" />를 공유할 수 있도록 하는 등의 독서 활동에 필요한 시간을 확보한다. 보상이나 성적 등에 의한 것이
                                            아니라, 주제에 대한 흥미와 선호, 읽기의 가치와 중요성, 읽기에 대한 즐거움 등을 느낄 수 있는 독서 경험을 통해 <input
                                            data-answer="읽기 동기" aria-label="읽기 동기" placeholder="정답" />가 형성될 수 있도록 지도한다.
                                    </div>
                                </div>
                                <div class="achievement-pair">
                                    <div class="overview-question achievement-explanation consideration-item">
                                        • 일반 학습자를 포함하여, 다문화 배경 학습자나 느린 학습자 등의 특별한 요구가 있는 경우에는 해당 성취기준에 대한 개별화 맞춤형
                                            수업을 통해 한글 깨치기 학습과 기본적인 읽기기능에 대한 학습이 연계하여 이루어질 수 있도록 지도한다.
                                    </div>
        <div class="overview-question achievement-explanation consideration-item">
            • 교육 기술의 발달에 따라 교육 현장의 여건과 학습자의 수준에 적절한 매체를 선정하여 학습공간을 연결하고 확장하여 지도할 수 있다.
                수업 상황에서는 학습관리시스템(LMS), 교육기술 수업 도구, 실시간 쌍방향 수업 플랫폼, 메타버스 등을 활용하여 <input
                data-answer="실시간" aria-label="실시간" placeholder="정답" />과 <input
                data-answer="비실시간" aria-label="비실시간" placeholder="정답" />으로 독서 토론, 대화,
                발표, 질의응답 등을 수행하고 독서에 관한 피드백을 나눌 수 있다. 또한 독서 과정과 결과를 인터넷 게시판, 누리집 등을 통해
                공유할 수 있다. 독서 감상문이나 서평 쓰기, 책 쓰기 등의 독서 활동 이외에도 카드 뉴스 만들기, 책 소개 영상을 제작하고
                공유하는 활동 등 <input data-answer="매체" aria-label="매체" placeholder="정답" />를
                활용하여 다채로운 독서 활동을 수행할 수 있도록 지도한다.
        </div>
    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
