<section id="what-we-do" class="hidden">
    <h2>우리는 무엇을 하며 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2슬04-01] 생활도구의 모양이나 기능을
                                        탐색하고 바꾸어본다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2슬04-01] 생각의 전환을 통해 생활
                                        도구를 새롭게 볼 수 있도록 한다.
                                        사람마다 관점과 발상이 다르다는 것, 내가
                                        보지 못하는 것을 다른 친구들이 볼 수
                                        있다는 것을 수업 과정에서 경험하도록
                                        한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2슬04-02] 상상한 것을 다양한 매체와
                                        재료로 구현한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2슬04-02] 엉뚱하고 기발한 상상력,
                                        실현 가능성은 없지만 신선한 자극을 주는
                                        것은 학생의 생각을 발전시키는 데
                                        중요하다. 다양한 매체가 학생이 상상한
                                        것을 구현하는 데 도움을 줄 수 있음을
                                        고려하고 가능한 한 매체와 재료의
                                        <input
                                            data-answer="제한"
                                            aria-label="제한"
                                            placeholder="정답"
                                        />을 두지 않도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2슬04-03] 경험한 것 중에서
                                        <input
                                            data-answer="관심"
                                            aria-label="관심"
                                            placeholder="정답"
                                        />
                                        있는 주제를 정하고 조사한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2슬04-03]에서 '<input
                                            data-answer="관심"
                                            aria-label="관심"
                                            placeholder="정답"
                                        />
                                        있는 주제'는 학생이
                                        <input
                                            data-answer="몰입"
                                            aria-label="몰입"
                                            placeholder="정답"
                                        />해서 흥미 있게 탐구할 수 있는 주제를
                                        의미한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2슬04-03] 다양한 원천으로부터 주제를
                                        찾도록 안내하고 주제 탐구 과정에서
                                        사용하는 매체와 관련해서
                                        <input
                                            data-answer="디지털 소양"
                                            aria-label="디지털 소양"
                                            placeholder="정답"
                                        />
                                        교육을 할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2슬04-04] 배운 것과 배울 것을 연결하며
                                        앞으로의 배움을 상상한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2슬04-04]
                                        <input
                                            data-answer="주제학습"
                                            aria-label="주제학습"
                                            placeholder="정답"
                                        />을 성찰하면서 3학년 이후
                                        <input
                                            data-answer="교과 교육"
                                            aria-label="교과 교육"
                                            placeholder="정답"
                                        />에 대한 기대감을 형성할 수 있다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 이 영역의 모든 성취기준을 적용할 때는
                                    다양한 매체를 다루는데 있어 개인 정보,
                                    건전한 사이버 생활, 새로운 매체의 활용 등
                                    안전한
                                    <input
                                        data-answer="매체"
                                        aria-label="매체"
                                        placeholder="정답"
                                    />
                                    사용과 관련한 안전 교육을 병행할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
