<section id="english-overview" class="active">
    <h2>교육과정 설계의 개요</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">
                                    #교육과정 설계의 개요
                                </div>

                                <div class="overview-question">
                                    영어과는 급격히 변화하는 미래 사회에서
                                    요구되는 역량에 대해 그 개념과 구성 요소를
                                    재정립할 필요성을 인식하고, 영어과의
                                    총괄적인 핵심역량을 영어 교육의 궁극적
                                    지향점인 '<input
                                        data-answer="영어 의사소통 역량"
                                        aria-label="영어 의사소통 역량"
                                        placeholder="정답"
                                    />'으로 명명하였으며, 이를 새 교육과정
                                    총론의 방향성과 연계하고 있다.
                                </div>

                                <div class="overview-question">
                                    이는 의사소통 능력의 개념을 기초로 하되,
                                    미래 사회의 요구에 부합하는 영어 학습자의
                                    역량에 중심을 두어 개념을 확장하고 체계화한
                                    것이다.
                                    <input
                                        data-answer="영어 의사소통 역량"
                                        aria-label="영어 의사소통 역량"
                                        placeholder="정답"
                                    />은 2022 개정 교육과정의 총론에서 제시하고
                                    있는
                                    <input
                                        data-answer="여섯 가지 핵심역량"
                                        aria-label="여섯 가지 핵심역량"
                                        placeholder="정답"
                                    />을 모두 포함하고 있으며, 각 핵심역량을
                                    영어과의 관점에서 해석하고 구체화하여 교과
                                    목표로 진술하였다.
                                </div>

                                <div class="overview-question">
                                    영어과 교육과정의 ‘성격’에서는 영어를
                                    ‘다양한
                                    <input
                                        data-answer="언어"
                                        aria-label="언어"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="문화 배경"
                                        aria-label="문화 배경"
                                        placeholder="정답"
                                    />을 가진 사람들의 주요
                                    <input
                                        data-answer="의사소통 수단"
                                        aria-label="의사소통 수단"
                                        placeholder="정답"
                                    />이 되는 언어’로 규정하고, 학교 교육에서의
                                    영어 교과의 필요성과 역할을 제시하였다.
                                </div>

                                <div class="overview-question">
                                    ‘교수⋅학습 및 평가’에서는
                                    <input
                                        data-answer="디지털⋅인공지능 교육 환경"
                                        aria-label="디지털⋅인공지능 교육 환경"
                                        placeholder="정답"
                                    />을 고려하여 역량 함양을 위한 교수⋅학습 및
                                    평가 방법을 구체적으로 제시하고 있다.
                                </div>

                                <div class="overview-question">
                                    매체의 발달과 기술의 변화로 의사소통
                                    방식-사회 관계망 서비스, 비대면 원격회의
                                    등-이 다변화되면서 듣기, 말하기, 읽기,
                                    쓰기의 구분이 불명확해졌고 그 비중도
                                    균등하지 않다. 듣기와 읽기에 더해 시청각
                                    이미지가 결합된
                                    <input
                                        data-answer="viewing"
                                        aria-label="viewing"
                                        placeholder="정답"
                                    />가 영어를 접하는 주요 수단이 되었고,
                                    말하기와 쓰기에 더해 발표 등과 같은
                                    <input
                                        data-answer="presenting"
                                        aria-label="presenting"
                                        placeholder="정답"
                                    />가 중요한 표현 수단이 되었다.
                                </div>

                                <div class="overview-question">
                                    영어 학습의 궁극적인 목적은 학생이 삶과
                                    연계한
                                    <input
                                        data-answer="실생활 맥락"
                                        aria-label="실생활 맥락"
                                        placeholder="정답"
                                    />에서 영어를 습득하고 사용하는 데 있다.
                                    실생활에서의 영어 의사소통은 언어 사용의
                                    목적과 결과를 수반하는 과업을 중심으로
                                    이루어지며 이 과정에서 다양한 언어 기능이
                                    동시에 혹은 선택적으로 사용된다.
                                </div>

                                <div class="overview-question">
                                    이에 2022 개정 영어과 교육과정에서는
                                    지금까지 듣기, 말하기, 읽기, 쓰기의 네 가지
                                    언어 기능 관점으로 교육 내용의 영역을
                                    분류하던 기존 방식에서 탈피하여 언어의
                                    <input
                                        data-answer="사회적 목적"
                                        aria-label="사회적 목적"
                                        placeholder="정답"
                                    />
                                    관점에 따라 ‘<input
                                        data-answer="reception"
                                        aria-label="reception"
                                        placeholder="정답"
                                    />’와 ‘<input
                                        data-answer="production"
                                        aria-label="production"
                                        placeholder="정답"
                                    />’의 두 가지 영역을 설정하였다.
                                </div>

                                <div class="overview-question">
                                    이해 영역과 표현 영역은 독자적인 영역으로
                                    기능하는 한편, 두 영역의 결합된 형태로 영어
                                    <input
                                        data-answer="사용자 간 상호 작용"
                                        aria-label="사용자 간 상호 작용"
                                        placeholder="정답"
                                    />도 가능하게 한다. 상호 작용은 대화, 토론,
                                    문자 교환 등 참여자 간의 다양한 소통
                                    방식으로 이루어질 수 있다.
                                </div>

                                <div class="overview-question">
                                    ‘지식⋅이해’에서는
                                    <input
                                        data-answer="언어"
                                        aria-label="언어"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="맥락"
                                        aria-label="맥락"
                                        placeholder="정답"
                                    />으로 구분하여 학습 내용을 제시하고 있다.
                                    영어과에서의 지식은 언어적 지식뿐만 아니라
                                    영어가 사용되는 사회⋅문화적 상황인 맥락 또한
                                    학습의 중요한 내용 요소다. ‘언어’에서는
                                    어휘, 의사소통 기능, 언어 형식, 담화 및 글의
                                    유형 등을 학교급별로 제시하고 있으며,
                                    ‘맥락’에서는 영어 사용의 문제 해결에 필요한
                                    구체적인 상황을 범주화한 주제 및 문화적
                                    내용을 학교급별로 제시하고 있다.
                                </div>

                                <div class="overview-question">
                                    ‘과정⋅기능’에서는 이해 및 표현 영역에서
                                    학습자가
                                    <input
                                        data-answer="언어 요소"
                                        aria-label="언어 요소"
                                        placeholder="정답"
                                    />로 유의미한 상호 작용을 하면서 영어를
                                    <input
                                        data-answer="내재화"
                                        aria-label="내재화"
                                        placeholder="정답"
                                    />하는 과정과 영어 사용의
                                    <input
                                        data-answer="목적"
                                        aria-label="목적"
                                        placeholder="정답"
                                    />을 달성하기 위한
                                    <input
                                        data-answer="기능"
                                        aria-label="기능"
                                        placeholder="정답"
                                    />을 학교급별로 구체화하여 제시하고 있고,
                                    언어 사용
                                    <input
                                        data-answer="전략"
                                        aria-label="전략"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="매체"
                                        aria-label="매체"
                                        placeholder="정답"
                                    />
                                    활용 내용을 포함하고 있다.
                                </div>

                                <div class="overview-question">
                                    ‘가치⋅태도’에서는 가치와 태도를 해당 영역의
                                    학습을 통해 학생이 궁극적으로 함양할 것으로
                                    기대하는
                                    <input
                                        data-answer="정의적"
                                        aria-label="정의적"
                                        placeholder="정답"
                                    />인 내용으로 규정하고, 이해 및 표현 영역의
                                    학습을 통해 내면화할 수 있는 것을 영역별로
                                    기술하고 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
