<section id="english-character">
    <h2>성격·목표·평가</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#성격&목표&평가</div>

                                <div class="overview-question">
                                    영어는 현재
                                    <input
                                        data-answer="국제적"
                                        aria-label="국제적"
                                        placeholder="정답"
                                    />으로 가장 널리 통용되고 있는 언어로서 서로
                                    다른
                                    <input
                                        data-answer="언어"
                                        aria-label="언어"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="문화 배경"
                                        aria-label="문화 배경"
                                        placeholder="정답"
                                    />을 가진 사람 사이의 주요한
                                    <input
                                        data-answer="의사소통 수단"
                                        aria-label="의사소통 수단"
                                        placeholder="정답"
                                    />이다.
                                </div>

                                <div class="overview-question">
                                    영어과의 궁극적인 목표는 다변하는 미래
                                    사회를 대비하여
                                    <input
                                        data-answer="언어"
                                        aria-label="언어"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="문화의 배경"
                                        aria-label="문화의 배경"
                                        placeholder="정답"
                                    />이 다른
                                    <input
                                        data-answer="세계인"
                                        aria-label="세계인"
                                        placeholder="정답"
                                    />과 영어로
                                    <input
                                        data-answer="의사소통"
                                        aria-label="의사소통"
                                        placeholder="정답"
                                    />하는 역량을 기르는 것이다.
                                </div>

                                <div class="overview-question">
                                    첫째, 일상생활 및 다양한 주제에 대하여
                                    <input
                                        data-answer="협력적"
                                        aria-label="협력적"
                                        placeholder="정답"
                                    />
                                    태도로 자신의 참여 목적과 상황에 맞게 영어로
                                    의사소통한다.
                                </div>

                                <div class="overview-question">
                                    둘째, 영어에 대한 흥미와 관심을 바탕으로
                                    스스로 영어 사용의 필요성을 파악하여 학습
                                    목표를 세우고, 다양한 학습 전략을 사용하여
                                    <input
                                        data-answer="자기주도적"
                                        aria-label="자기주도적"
                                        placeholder="정답"
                                    />으로 영어 학습을 지속한다.
                                </div>

                                <div class="overview-question">
                                    셋째, 지역⋅국가⋅세계 공동체의 구성원으로서
                                    문화 정체성과 언어 및 문화적 다양성에 대한
                                    이해를 바탕으로 공감, 배려와 관용 및 포용
                                    능력을 갖추고 영어를 통해
                                    <input
                                        data-answer="공동체"
                                        aria-label="공동체"
                                        placeholder="정답"
                                    />의 문제 해결에 적극적으로 참여한다.
                                </div>

                                <div class="overview-question">
                                    넷째, 영어로 전달되는 다양한 분야의 지식,
                                    기술, 경험 등을 융합적으로 활용하고
                                    비판적으로 사고하여 자신의 생각을
                                    <input
                                        data-answer="창의적"
                                        aria-label="창의적"
                                        placeholder="정답"
                                    />으로 표현한다.
                                </div>

                                <div class="overview-question">
                                    다섯째, 영어로 표현된 다양한 자료와 작품
                                    등을 통해 인간에 대한 공감적 이해와
                                    <input
                                        data-answer="심미적 감수성"
                                        aria-label="심미적 감수성"
                                        placeholder="정답"
                                    />을 기르고 이를 바탕으로 삶의 의미와 가치를
                                    발견하고 향유한다.
                                </div>

                                <div class="overview-question">
                                    여섯째, 영어로 표현된 다양한 매체의
                                    <input
                                        data-answer="디지털 지식 정보"
                                        aria-label="디지털 지식 정보"
                                        placeholder="정답"
                                    />를 자신의 목적에 맞게 검색, 수집, 이해,
                                    분석, 평가 및 활용한다.
                                </div>

                                <div class="overview-question">
                                    영어 학습 활동의 결과물을 온라인 공유 플랫폼
                                    등에 축적하도록 지도하여 ex.
                                    <input
                                        data-answer="디지털 포트폴리오"
                                        aria-label="디지털 포트폴리오"
                                        placeholder="정답"
                                    />, 학습자와 동료 학습자의 학습 성장 과정을
                                    지속적으로 기록하며, 자기 평가 혹은 상호
                                    평가의 기회를 제공한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
