<section id="yosho">
    <h2>요쇼</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">
                                    #기본 움직임 요소
                                </div>

                                <div
                                    class="two-col-answers"
                                    data-group="yosho-basic"
                                >
                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="기본동작 / 모이기"
                                            aria-label="기본동작 / 모이기"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="몸풀기"
                                            aria-label="몸풀기"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="도구 활용"
                                            aria-label="도구 활용"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="밀기 / 당기기 / 균형 잡기"
                                            aria-label="밀기 / 당기기 / 균형 잡기"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="매달리기"
                                            aria-label="매달리기"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="걷기 / 달리기"
                                            aria-label="걷기 / 달리기"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="높이뛰기 / 멀리뛰기"
                                            aria-label="높이뛰기 / 멀리뛰기"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="던지기 / 차기 / 치기"
                                            aria-label="던지기 / 차기 / 치기"
                                            placeholder="정답"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #안전요소 (7대 안전 교육 표준안 영역 중 직업
                                    안전을 제외)
                                </div>

                                <div
                                    class="two-col-answers"
                                    data-group="yosho-safety"
                                >
                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="생활 안전"
                                            aria-label="생활 안전"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="교통안전"
                                            aria-label="교통안전"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="신변 안전"
                                            aria-label="신변 안전"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="재난 안전"
                                            aria-label="재난 안전"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="약물 또는 가상 과의존 안전"
                                            aria-label="약물 또는 가상 과의존 안전"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div class="overview-question">
                                        -
                                        <input
                                            data-answer="응급처치 안전"
                                            aria-label="응급처치 안전"
                                            placeholder="정답"
                                        />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
