<section id="elements" class="active">
    <h2>음악 요소</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년</div>

            <table>
                <tbody>
                    <tr>
                        <th>리듬</th>

                        <td>
                            <input
                                data-answer="박, 박자"
                                aria-label="박, 박자"
                                placeholder="정답"
                            />

                            <input
                                data-answer="장단, 장단의 세"
                                aria-label="장단, 장단의 세"
                                placeholder="정답"
                            />

                            <input
                                data-answer="음의 길고 짧음"
                                aria-label="음의 길고 짧음"
                                placeholder="정답"
                            />

                            <input
                                data-answer="간단한 리듬꼴"
                                aria-label="간단한 리듬꼴"
                                placeholder="정답"
                            />

                            <input
                                data-answer="장단꼴"
                                aria-label="장단꼴"
                                placeholder="정답"
                            />

                            <input
                                data-answer="말붙임새"
                                aria-label="말붙임새"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가락</th>

                        <td>
                            <input
                                data-answer="음의 높고 낮음"
                                aria-label="음의 높고 낮음"
                                placeholder="정답"
                            />

                            <input
                                data-answer="차례가기와 뛰어가기"
                                aria-label="차례가기와 뛰어가기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="시김새"
                                aria-label="시김새"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>화성</th>

                        <td>
                            <input
                                data-answer="소리의 어울림"
                                aria-label="소리의 어울림"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>형식</th>

                        <td>
                            <input
                                data-answer="형식(메기고 받는 형식, ab 등)"
                                aria-label="형식(메기고 받는 형식, ab 등)"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>셈여림</th>

                        <td>
                            <input
                                data-answer="셈여림"
                                aria-label="셈여림"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>빠르기</th>

                        <td>
                            <input
                                data-answer="빠르기/한배"
                                aria-label="빠르기/한배"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>음색</th>

                        <td>
                            <input
                                data-answer="목소리, 물체 소리, 타악기의 음색"
                                aria-label="목소리, 물체 소리, 타악기의 음색"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년</div>

            <table>
                <tbody>
                    <tr>
                        <th>리듬</th>

                        <td>
                            <input
                                data-answer="박, 박자"
                                aria-label="박, 박자"
                                placeholder="정답"
                            />

                            <input
                                data-answer="장단, 장단의 세"
                                aria-label="장단, 장단의 세"
                                placeholder="정답"
                            />

                            <input
                                data-answer="여러 가지 리듬꼴"
                                aria-label="여러 가지 리듬꼴"
                                placeholder="정답"
                            />

                            <input
                                data-answer="장단꼴"
                                aria-label="장단꼴"
                                placeholder="정답"
                            />

                            <input
                                data-answer="말붙임새"
                                aria-label="말붙임새"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가락</th>

                        <td>
                            <input
                                data-answer="음이름, 계이름, 율명"
                                aria-label="음이름, 계이름, 율명"
                                placeholder="정답"
                            />

                            <input
                                data-answer="장음계, 단음계"
                                aria-label="장음계, 단음계"
                                placeholder="정답"
                            />

                            <input
                                data-answer="여러 지역의 토리"
                                aria-label="여러 지역의 토리"
                                placeholder="정답"
                            />

                            <input
                                data-answer="시김새"
                                aria-label="시김새"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>화성</th>

                        <td>
                            <input
                                data-answer="주요 3화음"
                                aria-label="주요 3화음"
                                placeholder="정답"
                            />

                            <input
                                data-answer="다양한 소리의 어울림"
                                aria-label="다양한 소리의 어울림"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>형식</th>

                        <td>
                            <input
                                data-answer="형식(긴자진 형식, 시조 형식, aba, AB 등)"
                                aria-label="형식(긴자진 형식, 시조 형식, aba, AB 등)"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>셈여림</th>

                        <td>
                            <input
                                data-answer="셈여림의 변화"
                                aria-label="셈여림의 변화"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>빠르기</th>

                        <td>
                            <input
                                data-answer="빠르기의 변화/한배의 변화"
                                aria-label="빠르기의 변화/한배의 변화"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>음색</th>

                        <td>
                            <input
                                data-answer="관악기, 현악기의 음색"
                                aria-label="관악기, 현악기의 음색"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
