<section id="assessment">
    <h2>평가</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">평가의 요건</div>

            <table>
                <tbody>
                    <tr>
                        <td class="inline-answers">
                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Practicality"
                                    aria-label="Practicality"
                                    placeholder="정답"
                                    style="min-width: 14ch"
                            /></span>

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Reliability"
                                    aria-label="Reliability"
                                    placeholder="정답"
                                    style="min-width: 13ch"
                            /></span>

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Authenticity"
                                    aria-label="Authenticity"
                                    placeholder="정답"
                                    style="min-width: 14ch"
                            /></span>

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Validity"
                                    aria-label="Validity"
                                    placeholder="정답"
                                    style="min-width: 10ch"
                            /></span>

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Washback"
                                    aria-label="Washback"
                                    placeholder="정답"
                                    style="min-width: 10ch"
                            /></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">목적에 따른 분류</div>

            <table>
                <tbody>
                    <tr>
                        <td class="inline-answers">
                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Proficiency"
                                    aria-label="Proficiency"
                                    placeholder="정답"
                                    style="min-width: 13ch"
                                />
                                test</span
                            >

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Placement"
                                    aria-label="Placement"
                                    placeholder="정답"
                                    style="min-width: 11ch"
                                />
                                test</span
                            >

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Diagnostic"
                                    aria-label="Diagnostic"
                                    placeholder="정답"
                                    style="min-width: 12ch"
                                />
                                test</span
                            >

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Achievement"
                                    aria-label="Achievement"
                                    placeholder="정답"
                                    style="min-width: 13ch"
                                />
                                test</span
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">시기에 따른 분류</div>

            <table>
                <tbody>
                    <tr>
                        <td class="inline-answers">
                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Summative"
                                    aria-label="Summative"
                                    placeholder="정답"
                                    style="min-width: 11ch"
                                />
                                assessment</span
                            >

                            <span class="inline-item"
                                ><input
                                    class="fit-answer"
                                    data-answer="Formative"
                                    aria-label="Formative"
                                    placeholder="정답"
                                    style="min-width: 11ch"
                                />
                                assessment</span
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">방식에 따른 분류</div>

            <table>
                <tbody>
                    <tr>
                        <td class="inline-answers">
                            <span class="inline-item">
                                <input
                                    class="fit-answer"
                                    data-answer="Indirect"
                                    aria-label="Indirect"
                                    placeholder="정답"
                                    style="min-width: 10ch"
                                />
                                /

                                <input
                                    class="fit-answer"
                                    data-answer="Direct"
                                    aria-label="Direct"
                                    placeholder="정답"
                                    style="min-width: 8ch"
                                />
                                test
                            </span>

                            <span class="inline-item">
                                <input
                                    class="fit-answer"
                                    data-answer="Integrative"
                                    aria-label="Integrative"
                                    placeholder="정답"
                                    style="min-width: 13ch"
                                />
                                /

                                <input
                                    class="fit-answer"
                                    data-answer="Discrete-point"
                                    aria-label="Discrete-point"
                                    placeholder="정답"
                                    style="min-width: 16ch"
                                />
                                test
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">수행평가</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    <span
                                        class="inline-item"
                                        style="white-space: nowrap"
                                        ><input
                                            class="fit-answer"
                                            data-answer="Performance-based"
                                            aria-label="Performance-based"
                                            placeholder="정답"
                                            style="min-width: 19ch"
                                        />
                                        assessment =
                                        <input
                                            class="fit-answer"
                                            data-answer="Alternative"
                                            aria-label="Alternative"
                                            placeholder="정답"
                                            style="min-width: 13ch"
                                        />
                                        assessment =
                                        <input
                                            class="fit-answer"
                                            data-answer="Authentic"
                                            aria-label="Authentic"
                                            placeholder="정답"
                                            style="min-width: 11ch"
                                        />
                                        assessment</span
                                    >
                                </li>

                                <li>
                                    <span class="sub-title"
                                        >주체에 따른 분류</span
                                    >

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            교사:
                                            <input
                                                class="fit-answer"
                                                data-answer="Observation"
                                                aria-label="Observation"
                                                placeholder="정답"
                                                style="min-width: 13ch"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            나:
                                            <input
                                                class="fit-answer"
                                                data-answer="Self-assessment"
                                                aria-label="Self-assessment"
                                                placeholder="정답"
                                                style="min-width: 17ch"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            동료:
                                            <input
                                                class="fit-answer"
                                                data-answer="Peer-assessment"
                                                aria-label="Peer-assessment"
                                                placeholder="정답"
                                                style="min-width: 17ch"
                                            />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <span class="sub-title"
                                        >수단에 따른 분류</span
                                    >

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="Interview"
                                                aria-label="Interview"
                                                placeholder="정답"
                                                style="min-width: 11ch"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="Portfolio"
                                                aria-label="Portfolio"
                                                placeholder="정답"
                                                style="min-width: 11ch"
                                            />
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
