<section id="element">
    <h2>요소별 언어 지도</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">Culture</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li class="inline-item">
                                    English as an
                                    <input
                                        class="fit-answer"
                                        data-answer="International Language"
                                        aria-label="International Language"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="intercultural"
                                        aria-label="intercultural"
                                        placeholder="정답"
                                    />
                                    speaker →
                                    <input
                                        class="fit-answer"
                                        data-answer="intercultural communicative"
                                        aria-label="intercultural communicative"
                                        placeholder="정답"
                                    />
                                    competence(4)
                                </li>

                                <li class="inline-item">
                                    교실활동:
                                    <input
                                        class="fit-answer"
                                        data-answer="audio-motor unit"
                                        aria-label="audio-motor unit"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    주의:
                                    <input
                                        class="fit-answer"
                                        data-answer="stereotype"
                                        aria-label="stereotype"
                                        placeholder="정답"
                                    />
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">Grammar</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li class="inline-item">
                                    지도내용:
                                    <input
                                        class="fit-answer"
                                        data-answer="meaning"
                                        aria-label="meaning"
                                        placeholder="정답"
                                    />,
                                    <input
                                        class="fit-answer"
                                        data-answer="use"
                                        aria-label="use"
                                        placeholder="정답"
                                    />,
                                    <input
                                        class="fit-answer"
                                        data-answer="form"
                                        aria-label="form"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    문법 제시 방법:
                                    <input
                                        class="fit-answer"
                                        data-answer="deductive"
                                        aria-label="deductive"
                                        placeholder="정답"
                                    />,
                                    <input
                                        class="fit-answer"
                                        data-answer="inductive"
                                        aria-label="inductive"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    초등학생 특성 고려 -
                                    <input
                                        class="fit-answer"
                                        data-answer="concrete operational"
                                        aria-label="concrete operational"
                                        placeholder="정답"
                                    />
                                    stage

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="metalanguage"
                                                aria-label="metalanguage"
                                                placeholder="정답"
                                            />
                                            X →
                                            <input
                                                class="fit-answer"
                                                data-answer="inductive"
                                                aria-label="inductive"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="의미"
                                                aria-label="의미"
                                                placeholder="정답"
                                            />
                                            있는 언어 사용
                                        </li>
                                    </ul>
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="Form-Focused"
                                        aria-label="Form-Focused"
                                        placeholder="정답"
                                    />
                                    Instruction

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            1st:
                                            <input
                                                class="fit-answer"
                                                data-answer="Focus on Forms"
                                                aria-label="Focus on Forms"
                                                placeholder="정답"
                                            />
                                            -
                                            <input
                                                class="fit-answer"
                                                data-answer="decontextualized"
                                                aria-label="decontextualized"
                                                placeholder="정답"
                                            />
                                            <br />
                                            ex.
                                            <input
                                                class="fit-answer"
                                                data-answer="PPP"
                                                aria-label="PPP"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            2nd:
                                            <input
                                                class="fit-answer"
                                                data-answer="Focus on Meaning"
                                                aria-label="Focus on Meaning"
                                                placeholder="정답"
                                            />
                                            -
                                            <input
                                                class="fit-answer"
                                                data-answer="metalanguage"
                                                aria-label="metalanguage"
                                                placeholder="정답"
                                            />
                                            지도 X
                                        </li>

                                        <li>
                                            3rd:
                                            <input
                                                class="fit-answer"
                                                data-answer="Focus on Form"
                                                aria-label="Focus on Form"
                                                placeholder="정답"
                                            />
                                            –
                                            <input
                                                class="fit-answer"
                                                data-answer="communication"
                                                aria-label="communication"
                                                placeholder="정답"
                                            />
                                            초점

                                            <ul class="sub-list">
                                                <li class="inline-item">
                                                    효과:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="noticing"
                                                        aria-label="noticing"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="consciousness-raising"
                                                        aria-label="consciousness-raising"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li>
                                                    기법

                                                    <ul class="sub-list">
                                                        <li>
                                                            input-based

                                                            <ul
                                                                class="sub-list"
                                                            >
                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="input enhancement"
                                                                        aria-label="input enhancement"
                                                                        placeholder="정답"
                                                                    />
                                                                </li>

                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="input flooding"
                                                                        aria-label="input flooding"
                                                                        placeholder="정답"
                                                                    />
                                                                </li>

                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="input processing"
                                                                        aria-label="input processing"
                                                                        placeholder="정답"
                                                                    />
                                                                </li>
                                                            </ul>
                                                        </li>

                                                        <li class="inline-item">
                                                            output-based:
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="dictogloss task"
                                                                aria-label="dictogloss task"
                                                                placeholder="정답"
                                                            />
                                                        </li>

                                                        <li>
                                                            기타

                                                            <ul
                                                                class="sub-list"
                                                            >
                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="consciousness-raising task"
                                                                        aria-label="consciousness-raising task"
                                                                        placeholder="정답"
                                                                    />: 문법적
                                                                    일반화 도출
                                                                </li>

                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="garden-path strategy"
                                                                        aria-label="garden-path strategy"
                                                                        placeholder="정답"
                                                                    />
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">Vocabulary</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    구성(syllable)

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="onset"
                                                aria-label="onset"
                                                placeholder="정답"
                                            />
                                            +
                                            <input
                                                class="fit-answer"
                                                data-answer="rhyme"
                                                aria-label="rhyme"
                                                placeholder="정답"
                                            />(<input
                                                class="fit-answer"
                                                data-answer="nucleus"
                                                aria-label="nucleus"
                                                placeholder="정답"
                                            />
                                            +
                                            <input
                                                class="fit-answer"
                                                data-answer="coda"
                                                aria-label="coda"
                                                placeholder="정답"
                                            />)
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    분류

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="passive"
                                                aria-label="passive"
                                                placeholder="정답"
                                            />
                                            /
                                            <input
                                                class="fit-answer"
                                                data-answer="active"
                                                aria-label="active"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="content"
                                                aria-label="content"
                                                placeholder="정답"
                                            />
                                            /
                                            <input
                                                class="fit-answer"
                                                data-answer="function"
                                                aria-label="function"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="prefabricated chunk"
                                                aria-label="prefabricated chunk"
                                                placeholder="정답"
                                            />

                                            <ul class="sub-list">
                                                <li class="inline-item">
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="collocation"
                                                        aria-label="collocation"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="idiom"
                                                        aria-label="idiom"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="discourse marker"
                                                        aria-label="discourse marker"
                                                        placeholder="정답"
                                                    />
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="inline-item">
                                    선정:
                                    <input
                                        class="fit-answer"
                                        data-answer="corpus"
                                        aria-label="corpus"
                                        placeholder="정답"
                                    />,
                                    <input
                                        class="fit-answer"
                                        data-answer="frequency"
                                        aria-label="frequency"
                                        placeholder="정답"
                                    />,
                                    <input
                                        class="fit-answer"
                                        data-answer="range"
                                        aria-label="range"
                                        placeholder="정답"
                                    />,
                                    <input
                                        class="fit-answer"
                                        data-answer="familiarity"
                                        aria-label="familiarity"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    지도

                                    <ul class="sub-list">
                                        <li>
                                            식별

                                            <ul class="sub-list">
                                                <li class="inline-item">
                                                    즉각적:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="sight word"
                                                        aria-label="sight word"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    분석적:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="phonics"
                                                        aria-label="phonics"
                                                        placeholder="정답"
                                                    />
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="context"
                                                aria-label="context"
                                                placeholder="정답"
                                            />
                                            활용
                                        </li>

                                        <li>
                                            3C

                                            <ul class="sub-list">
                                                <li class="inline-item">
                                                    ①
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="Convey meaning"
                                                        aria-label="Convey meaning"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    ②
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="Check understanding"
                                                        aria-label="Check understanding"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    ③
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="Consolidate"
                                                        aria-label="Consolidate"
                                                        placeholder="정답"
                                                    />
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    학습 전략

                                    <ul class="sub-list">
                                        <li>
                                            의미 알아내기 전략

                                            <ul class="sub-list">
                                                <li class="inline-item">
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="Vocabulary analysis"
                                                        aria-label="Vocabulary analysis"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    cf)
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="prefix"
                                                        aria-label="prefix"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="suffix"
                                                        aria-label="suffix"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    Using
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="context"
                                                        aria-label="context"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li class="inline-item">
                                                    Using
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="resources"
                                                        aria-label="resources"
                                                        placeholder="정답"
                                                    />
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    학습

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="explicit"
                                                aria-label="explicit"
                                                placeholder="정답"
                                            />
                                            /
                                            <input
                                                class="fit-answer"
                                                data-answer="intentional"
                                                aria-label="intentional"
                                                placeholder="정답"
                                            />
                                            learning
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="implicit"
                                                aria-label="implicit"
                                                placeholder="정답"
                                            />
                                            /
                                            <input
                                                class="fit-answer"
                                                data-answer="incidential"
                                                aria-label="incidential"
                                                placeholder="정답"
                                            />
                                            learning
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">Pronunciation</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li class="inline-item">
                                    목표:
                                    <input
                                        class="fit-answer"
                                        data-answer="intelligibility"
                                        aria-label="intelligibility"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    구성요소

                                    <ul class="sub-list">
                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="segmental phoneme"
                                                aria-label="segmental phoneme"
                                                placeholder="정답"
                                            />:
                                            <input
                                                class="fit-answer"
                                                data-answer="consonant"
                                                aria-label="consonant"
                                                placeholder="정답"
                                            />、<input
                                                class="fit-answer"
                                                data-answer="vowel"
                                                aria-label="vowel"
                                                placeholder="정답"
                                            />

                                            <ul class="sub-list">
                                                <li class="inline-item">
                                                    방법:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="meaningful"
                                                        aria-label="meaningful"
                                                        placeholder="정답"
                                                    />
                                                    /
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="contextualized"
                                                        aria-label="contextualized"
                                                        placeholder="정답"
                                                    />
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="minimal pair"
                                                        aria-label="minimal pair"
                                                        placeholder="정답"
                                                    />
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="suprasegmental phoneme"
                                                aria-label="suprasegmental phoneme"
                                                placeholder="정답"
                                            />

                                            <ul class="sub-list">
                                                <li>
                                                    ①
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="stress"
                                                        aria-label="stress"
                                                        placeholder="정답"
                                                    />

                                                    <ul class="sub-list">
                                                        <li class="inline-item">
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="word stress"
                                                                aria-label="word stress"
                                                                placeholder="정답"
                                                            />
                                                        </li>

                                                        <li>
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="sentence stress"
                                                                aria-label="sentence stress"
                                                                placeholder="정답"
                                                            />

                                                            <ul
                                                                class="sub-list"
                                                            >
                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    강세O:
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="content"
                                                                        aria-label="content"
                                                                        placeholder="정답"
                                                                    />
                                                                    word
                                                                </li>

                                                                <li
                                                                    class="inline-item"
                                                                >
                                                                    강세X:
                                                                    <input
                                                                        class="fit-answer"
                                                                        data-answer="function"
                                                                        aria-label="function"
                                                                        placeholder="정답"
                                                                    />
                                                                    word
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    ②
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="rhythm"
                                                        aria-label="rhythm"
                                                        placeholder="정답"
                                                    />

                                                    <ul class="sub-list">
                                                        <li class="inline-item">
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="stress-timed"
                                                                aria-label="stress-timed"
                                                                placeholder="정답"
                                                            />
                                                            = 영어
                                                        </li>

                                                        <li class="inline-item">
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="syllable-timed"
                                                                aria-label="syllable-timed"
                                                                placeholder="정답"
                                                            />
                                                            = 한국어
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    ③
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="intonation"
                                                        aria-label="intonation"
                                                        placeholder="정답"
                                                    />:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="falling"
                                                        aria-label="falling"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="rising"
                                                        aria-label="rising"
                                                        placeholder="정답"
                                                    />
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
