<section id="learner">
    <h2>학습자 변인</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">초등 학습자의 특성 (Halliwell)</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="제한된 언어자원의 창의적 사용"
                                        aria-label="제한된 언어자원의 창의적 사용"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="간접 학습 능력"
                                        aria-label="간접 학습 능력"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="풍부한 상상력"
                                        aria-label="풍부한 상상력"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="의미 파악 능력"
                                        aria-label="의미 파악 능력"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="놀이와 즐거움에 대한 본능"
                                        aria-label="놀이와 즐거움에 대한 본능"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="말하고자 하는 본능"
                                        aria-label="말하고자 하는 본능"
                                        placeholder="정답"
                                    />
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">Affective Factors</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="Motivation"
                                        aria-label="Motivation"
                                        placeholder="정답"
                                    />

                                    <ul class="sub-list">
                                        <li>
                                            목적별:
                                            <input
                                                class="fit-answer"
                                                data-answer="integrative"
                                                aria-label="integrative"
                                                placeholder="정답"
                                            />,
                                            <input
                                                class="fit-answer"
                                                data-answer="instrumental"
                                                aria-label="instrumental"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            소재별:
                                            <input
                                                class="fit-answer"
                                                data-answer="intrinsic"
                                                aria-label="intrinsic"
                                                placeholder="정답"
                                            />,
                                            <input
                                                class="fit-answer"
                                                data-answer="extrinsic"
                                                aria-label="extrinsic"
                                                placeholder="정답"
                                            />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="Anxiety"
                                        aria-label="Anxiety"
                                        placeholder="정답"
                                    />

                                    <ul class="sub-list">
                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="facilitative"
                                                aria-label="facilitative"
                                                placeholder="정답"
                                            />
                                            =
                                            <input
                                                class="fit-answer"
                                                data-answer="helpful"
                                                aria-label="helpful"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="debilitative"
                                                aria-label="debilitative"
                                                placeholder="정답"
                                            />
                                            =
                                            <input
                                                class="fit-answer"
                                                data-answer="harmful"
                                                aria-label="harmful"
                                                placeholder="정답"
                                            />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="Risk-taking"
                                        aria-label="Risk-taking"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="Inhibition"
                                        aria-label="Inhibition"
                                        placeholder="정답"
                                    />
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">Cognitive Factors</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    <input
                                        class="fit-answer"
                                        data-answer="autonomy"
                                        aria-label="autonomy"
                                        placeholder="정답"
                                    />
                                    /
                                    <input
                                        class="fit-answer"
                                        data-answer="autonomous learner"
                                        aria-label="autonomous learner"
                                        placeholder="정답"
                                    />
                                </li>

                                <li>
                                    Learning Styles

                                    <ul class="sub-list">
                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="field independence"
                                                aria-label="field independence"
                                                placeholder="정답"
                                            />:
                                            <input
                                                class="fit-answer"
                                                data-answer="analytical"
                                                aria-label="analytical"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="field dependence"
                                                aria-label="field dependence"
                                                placeholder="정답"
                                            />:
                                            <input
                                                class="fit-answer"
                                                data-answer="holistic"
                                                aria-label="holistic"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="reflectivity"
                                                aria-label="reflectivity"
                                                placeholder="정답"
                                            />:
                                            <input
                                                class="fit-answer"
                                                data-answer="accuracy"
                                                aria-label="accuracy"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="impulsivity"
                                                aria-label="impulsivity"
                                                placeholder="정답"
                                            />:
                                            <input
                                                class="fit-answer"
                                                data-answer="fluency"
                                                aria-label="fluency"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            감각 선호:
                                            <input
                                                class="fit-answer"
                                                data-answer="visual"
                                                aria-label="visual"
                                                placeholder="정답"
                                            />,
                                            <input
                                                class="fit-answer"
                                                data-answer="auditory"
                                                aria-label="auditory"
                                                placeholder="정답"
                                            />,
                                            <input
                                                class="fit-answer"
                                                data-answer="kinesthetic"
                                                aria-label="kinesthetic"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li>
                                            <input
                                                class="fit-answer"
                                                data-answer="ambiguity tolerance"
                                                aria-label="ambiguity tolerance"
                                                placeholder="정답"
                                            />
                                            /
                                            <input
                                                class="fit-answer"
                                                data-answer="intolerance"
                                                aria-label="intolerance"
                                                placeholder="정답"
                                            />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    Learner strategies

                                    <ul class="sub-list">
                                        <li>
                                            Input →
                                            <input
                                                class="fit-answer"
                                                data-answer="Learning"
                                                aria-label="Learning"
                                                placeholder="정답"
                                            />
                                            Strategies

                                            <ul class="sub-list">
                                                <li>
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="metacognitive"
                                                        aria-label="metacognitive"
                                                        placeholder="정답"
                                                    />
                                                    strategies:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="planning"
                                                        aria-label="planning"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="monitoring"
                                                        aria-label="monitoring"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="evaluating"
                                                        aria-label="evaluating"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li>
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="cognitive"
                                                        aria-label="cognitive"
                                                        placeholder="정답"
                                                    />
                                                    strategies:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="deduction"
                                                        aria-label="deduction"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="contextualization"
                                                        aria-label="contextualization"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="transfer"
                                                        aria-label="transfer"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="inferencing"
                                                        aria-label="inferencing"
                                                        placeholder="정답"
                                                    />
                                                </li>

                                                <li>
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="socioaffective"
                                                        aria-label="socioaffective"
                                                        placeholder="정답"
                                                    />
                                                    strategies:
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="cooperation"
                                                        aria-label="cooperation"
                                                        placeholder="정답"
                                                    />,
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="question for clarification"
                                                        aria-label="question for clarification"
                                                        placeholder="정답"
                                                        style="min-width: 24ch"
                                                    />
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            Output →
                                            <input
                                                class="fit-answer"
                                                data-answer="Communication"
                                                aria-label="Communication"
                                                placeholder="정답"
                                            />
                                            Strategies

                                            <ul class="sub-list">
                                                <li>
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="avoidance"
                                                        aria-label="avoidance"
                                                        placeholder="정답"
                                                    />
                                                    strategies
                                                </li>

                                                <li>
                                                    <input
                                                        class="fit-answer"
                                                        data-answer="compensatory"
                                                        aria-label="compensatory"
                                                        placeholder="정답"
                                                    />
                                                    strategies

                                                    <ul class="sub-list">
                                                        <li>
                                                            L2-based:
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="circumlocution"
                                                                aria-label="circumlocution"
                                                                placeholder="정답"
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="approximation"
                                                                aria-label="approximation"
                                                                placeholder="정답"
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="word-coinage"
                                                                aria-label="word-coinage"
                                                                placeholder="정답"
                                                            />
                                                        </li>

                                                        <li>
                                                            L1-based:
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="code-switching"
                                                                aria-label="code-switching"
                                                                placeholder="정답"
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="literal translation"
                                                                aria-label="literal translation"
                                                                placeholder="정답"
                                                                style="
                                                                    min-width: 18ch;
                                                                "
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="foreignizing"
                                                                aria-label="foreignizing"
                                                                placeholder="정답"
                                                            />
                                                        </li>

                                                        <li>
                                                            기타:
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="prefabricated patterns"
                                                                aria-label="prefabricated patterns"
                                                                placeholder="정답"
                                                                style="
                                                                    min-width: 20ch;
                                                                "
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="use of all-purpose words"
                                                                aria-label="use of all-purpose words"
                                                                placeholder="정답"
                                                                style="
                                                                    min-width: 22ch;
                                                                "
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="appeal for help/appeal to authority"
                                                                aria-label="appeal for help/appeal to authority"
                                                                placeholder="정답"
                                                                style="
                                                                    min-width: 30ch;
                                                                "
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="stalling or time-gaining"
                                                                aria-label="stalling or time-gaining"
                                                                placeholder="정답"
                                                                style="
                                                                    min-width: 24ch;
                                                                "
                                                            />,
                                                            <input
                                                                class="fit-answer"
                                                                data-answer="nonlinguistic/nonverbal signals"
                                                                aria-label="nonlinguistic/nonverbal signals"
                                                                placeholder="정답"
                                                                style="
                                                                    min-width: 30ch;
                                                                "
                                                            />
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
