<section id="teacher-talk">
    <h2>교사언어</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">기능</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li class="inline-item">
                                    인지적:
                                    <input
                                        class="fit-answer"
                                        data-answer="scaffolding"
                                        aria-label="scaffolding"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    언어적:
                                    <input
                                        class="fit-answer"
                                        data-answer="comprehensible input"
                                        aria-label="comprehensible input"
                                        placeholder="정답"
                                        style="min-width: 20ch"
                                    />
                                </li>

                                <li class="inline-item">정의적</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">특징</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="syntactic"
                                        aria-label="syntactic"
                                        placeholder="정답"
                                    />
                                    modification
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="lexical"
                                        aria-label="lexical"
                                        placeholder="정답"
                                    />
                                    modification
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="discourse"
                                        aria-label="discourse"
                                        placeholder="정답"
                                    />
                                    modification
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="명확한 발음"
                                        aria-label="명확한 발음"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="반복적"
                                        aria-label="반복적"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="천천히"
                                        aria-label="천천히"
                                        placeholder="정답"
                                    />
                                </li>

                                <li class="inline-item">
                                    <input
                                        class="fit-answer"
                                        data-answer="non-verbal communication aids"
                                        aria-label="non-verbal communication aids"
                                        placeholder="정답"
                                        style="min-width: 26ch"
                                    />
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">질문</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    교사가 답을 알고 있는가?

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            (O):
                                            <input
                                                class="fit-answer"
                                                data-answer="display question"
                                                aria-label="display question"
                                                placeholder="정답"
                                                style="min-width: 20ch"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            (X):
                                            <input
                                                class="fit-answer"
                                                data-answer="referential question"
                                                aria-label="referential question"
                                                placeholder="정답"
                                                style="min-width: 20ch"
                                            />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    질문의 답이 정해져 있는가?

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            (O):
                                            <input
                                                class="fit-answer"
                                                data-answer="closed question"
                                                aria-label="closed question"
                                                placeholder="정답"
                                                style="min-width: 18ch"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            (X):
                                            <input
                                                class="fit-answer"
                                                data-answer="open question"
                                                aria-label="open question"
                                                placeholder="정답"
                                                style="min-width: 18ch"
                                            />
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">TEE</div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="assessment-list">
                                <li>
                                    뜻:
                                    <input
                                        class="fit-answer"
                                        data-answer="Teaching English in English"
                                        aria-label="Teaching English in English"
                                        placeholder="정답"
                                        style="min-width: 26ch"
                                    />
                                </li>

                                <li>
                                    필요성

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="input"
                                                aria-label="input"
                                                placeholder="정답"
                                            />↑
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="output"
                                                aria-label="output"
                                                placeholder="정답"
                                            />↑
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    전략

                                    <ul class="sub-list">
                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="routine"
                                                aria-label="routine"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="시각 자료"
                                                aria-label="시각 자료"
                                                placeholder="정답"
                                            />,
                                            <input
                                                class="fit-answer"
                                                data-answer="제스처"
                                                aria-label="제스처"
                                                placeholder="정답"
                                            />
                                        </li>

                                        <li class="inline-item">
                                            <input
                                                class="fit-answer"
                                                data-answer="modeling"
                                                aria-label="modeling"
                                                placeholder="정답"
                                            />
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
