<section id="exercise-lite" class="active">
    <h2>운동</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년</div>

            <table>
                <tbody>
                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="긍정적 신체 인식"
                                aria-label="긍정적 신체 인식"
                                placeholder="정답"
                            /><input
                                data-answer="운동 및 건강에 관한 관심"
                                aria-label="운동 및 건강에 관한 관심"
                                placeholder="정답"
                            /><input
                                data-answer="운동 및 건강 습관 실천 의지"
                                aria-label="운동 및 건강 습관 실천 의지"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년</div>

            <table>
                <tbody>
                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="체력 운동 참여의 근면성"
                                aria-label="체력 운동 참여의 근면성"
                                placeholder="정답"
                            /><input
                                data-answer="체력 증진을 위한 끈기"
                                aria-label="체력 증진을 위한 끈기"
                                placeholder="정답"
                            /><input
                                data-answer="성장 발달의 차이 공감"
                                aria-label="성장 발달의 차이 공감"
                                placeholder="정답"
                            /><input
                                data-answer="안전사고에서의 침착성"
                                aria-label="안전사고에서의 침착성"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
