<section id="grammar">
    <h2>문법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>

                        <td>
                            <input
                                data-answer="언어의 본질과 맥락"
                                aria-label="언어의 본질과 맥락"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="언어 단위"
                                aria-label="언어 단위"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="한글의 기초와 국어 규범"
                                aria-label="한글의 기초와 국어 규범"
                                placeholder="하위 범주"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>

                        <td>
                            <input
                                data-answer="국어의 분석과 활용"
                                aria-label="국어의 분석과 활용"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="국어 실천의 성찰과 비판"
                                aria-label="국어 실천의 성찰과 비판"
                                placeholder="하위 범주"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치⋅태도</th>

                        <td>
                            <input
                                data-answer="한글에 대한 호기심"
                                aria-label="한글에 대한 호기심"
                                placeholder="1~2학년 내용요소"
                            />

                            <input
                                data-answer="국어의 소중함 인식"
                                aria-label="국어의 소중함 인식"
                                placeholder="3~4학년 내용요소"
                            />

                            <input
                                data-answer="국어생활에 대한 민감성"
                                aria-label="국어생활에 대한 민감성"
                                placeholder="5~6학년 내용요소"
                            />

                            <input
                                data-answer="집단⋅사회의 언어와 나의 언어의 관계 인식"
                                aria-label="집단⋅사회의 언어와 나의 언어의 관계 인식"
                                placeholder="5~6학년 내용요소"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
