<section id="listening-speaking" class="active">
    <h2>듣기·말하기</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>

                        <td>
                            <input
                                data-answer="듣기·말하기 맥락"
                                aria-label="듣기·말하기 맥락"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="담화 유형"
                                aria-label="담화 유형"
                                placeholder="하위 범주"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>

                        <td>
                            <input
                                data-answer="내용 확인·추론·평가"
                                aria-label="내용 확인·추론·평가"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="내용 생성·조직·표현과 전달"
                                aria-label="내용 생성·조직·표현과 전달"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="상호 작용"
                                aria-label="상호 작용"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="점검과 조정"
                                aria-label="점검과 조정"
                                placeholder="하위 범주"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치⋅태도</th>

                        <td>
                            <input
                                data-answer="듣기⋅말하기에 대한 흥미"
                                aria-label="듣기⋅말하기에 대한 흥미"
                                placeholder="1~2학년 내용요소"
                            />

                            <input
                                data-answer="듣기⋅말하기 효능감"
                                aria-label="듣기⋅말하기 효능감"
                                placeholder="3~4학년 내용요소"
                            />

                            <input
                                data-answer="듣기⋅말하기에 적극적 참여"
                                aria-label="듣기⋅말하기에 적극적 참여"
                                placeholder="5~6학년 내용요소"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
