<section id="literature">
    <h2>문학</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>

                        <td>
                            <input
                                data-answer="갈래"
                                aria-label="갈래"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="맥락"
                                aria-label="맥락"
                                placeholder="하위 범주"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>

                        <td>
                            <input
                                data-answer="작품 읽기와 이해"
                                aria-label="작품 읽기와 이해"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="해석과 감상"
                                aria-label="해석과 감상"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="비평"
                                aria-label="비평"
                                placeholder="하위 범주"
                            />

                            <input
                                data-answer="창작"
                                aria-label="창작"
                                placeholder="하위 범주"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치⋅태도</th>

                        <td>
                            <input
                                data-answer="문학에 대한 흥미"
                                aria-label="문학에 대한 흥미"
                                placeholder="1~2학년 내용요소"
                            />

                            <input
                                data-answer="작품 감상의 즐거움"
                                aria-label="작품 감상의 즐거움"
                                placeholder="3~4학년 내용요소"
                            />

                            <input
                                data-answer="문학을 통한 자아 성찰"
                                aria-label="문학을 통한 자아 성찰"
                                placeholder="5~6학년 내용요소"
                            />

                            <input
                                data-answer="문학 소통의 즐거움"
                                aria-label="문학 소통의 즐거움"
                                placeholder="5~6학년 내용요소"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
