<div class="integrated-sections">
    <section id="integrated">
        <h2>통합</h2>

        <div class="grade-container">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <th>역량</th>
                            <td class="two-col-answers">
                                <input
                                    data-answer="지금-여기-우리 삶"
                                    data-accept="지금 여기 우리 삶"
                                    aria-label="지금-여기-우리 삶"
                                    placeholder="정답"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
