<section id="moral">
    <h2>도덕</h2>

    <div class="moral-wrapper">
        <div class="moral-block">
            <div class="grade-container">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <th>역량</th>
                                <td class="two-col-answers">
                                    <input
                                        data-answer="비판적·배려적 사고력"
                                        aria-label="비판적·배려적 사고력"
                                        placeholder="정답"
                                    /><input
                                        data-answer="도덕적 상상력"
                                        aria-label="도덕적 상상력"
                                        placeholder="정답"
                                    /><input
                                        data-answer="도덕 판단 능력"
                                        aria-label="도덕 판단 능력"
                                        placeholder="정답"
                                    /><input
                                        data-answer="인공 지능 및 디지털 윤리"
                                        aria-label="인공 지능 및 디지털 윤리"
                                        placeholder="정답"
                                    /><input
                                        data-answer="도덕 공동체 의식"
                                        aria-label="도덕 공동체 의식"
                                        placeholder="정답"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
