<section id="social">
    <h2>사회</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>역량</th>
                        <td class="two-col-answers">
                            <input
                                data-answer="창의적 사고력"
                                aria-label="창의적 사고력"
                                placeholder="정답"
                            /><input
                                data-answer="문제해결력 및 의사결정력"
                                aria-label="문제해결력 및 의사결정력"
                                placeholder="정답"
                            /><input
                                data-answer="의사소통 및 협업능력"
                                aria-label="의사소통 및 협업능력"
                                placeholder="정답"
                            /><input
                                data-answer="정보 활용 능력"
                                aria-label="정보 활용 능력"
                                placeholder="정답"
                            /><input
                                data-answer="비판적 사고력"
                                aria-label="비판적 사고력"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
