<section id="music-character">
    <h2>성격 및 목표</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#성격 및 목표</div>

                                <div class="overview-question">
                                    초등학교에서는 생활 속 음악의 기초 지식,
                                    기능, 태도를 바탕으로 음악을 학습하고 스스로
                                    즐길 수 있는 능력을 개발하여 음악
                                    <input
                                        data-answer="학습자"
                                        aria-label="학습자"
                                        placeholder="정답"
                                    />
                                    겸
                                    <input
                                        data-answer="향유자"
                                        aria-label="향유자"
                                        placeholder="정답"
                                    />로 성장하도록 하는 데에 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    초등학교와 중학교의 &lt;음악&gt; 과목은
                                    음악의 핵심적 지식⋅이해, 과정⋅기능,
                                    가치⋅태도를 포괄하는 다양한 음악 활동을
                                    통하여
                                    <input
                                        data-answer="감성"
                                        aria-label="감성"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="창의성"
                                        aria-label="창의성"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="자기주도성"
                                        aria-label="자기주도성"
                                        placeholder="정답"
                                    />을 기르고, 일상생활 속 다양한
                                    <input
                                        data-answer="공동체"
                                        aria-label="공동체"
                                        placeholder="정답"
                                    />
                                    안에서
                                    <input
                                        data-answer="소통"
                                        aria-label="소통"
                                        placeholder="정답"
                                    />할 수 있는 인간 육성을 목표로 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
