<section id="changing-eras">
    <h2>달라지는 시대, 변화하는 생활 모습</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사05-01] 조선 시대 사람들의 생각과
                                        생활에
                                        <input
                                            data-answer="유교"
                                            aria-label="유교"
                                            placeholder="정답"
                                        />
                                        문화가 미친 영향을 파악한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사05-01]은
                                        <input
                                            data-answer="유교"
                                            aria-label="유교"
                                            placeholder="정답"
                                        />
                                        문화가 정착되는 과정에서 조선 시대
                                        사람들의 생각과 생활이 어떻게
                                        달라졌는지를 여러 분야에서 파악하도록
                                        설정한 것이다.
                                        <input
                                            data-answer="유교"
                                            aria-label="유교"
                                            placeholder="정답"
                                        />
                                        문화가 조선 사회에 미친 영향을 다양한
                                        사례를 중심으로 탐구하는 데 초점을 둔다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사05-01]은 조선 전기부터 조선
                                        후기까지
                                        <input
                                            data-answer="유교"
                                            aria-label="유교"
                                            placeholder="정답"
                                        />
                                        문화가 조선 사회에 미친 영향을 파악하는
                                        데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사05-02] 조선 후기
                                        <input
                                            data-answer="사회⋅문화적"
                                            aria-label="사회⋅문화적"
                                            placeholder="정답"
                                        />
                                        변화와 개항기
                                        <input
                                            data-answer="근대 문물 수용"
                                            aria-label="근대 문물 수용"
                                            placeholder="정답"
                                        />
                                        과정에서 달라진 사람들의 생활을
                                        이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사05-02]는 조선 후기
                                        <input
                                            data-answer="사회⋅문화적"
                                            aria-label="사회⋅문화적"
                                            placeholder="정답"
                                        />
                                        변화 양상과 개항 이후
                                        <input
                                            data-answer="근대 문물 수용"
                                            aria-label="근대 문물 수용"
                                            placeholder="정답"
                                        />으로 달라진 생활 모습을 이해하도록
                                        설정한 것이다. 조선 후기 새로운
                                        <input
                                            data-answer="문화 주체"
                                            aria-label="문화 주체"
                                            placeholder="정답"
                                        />로 등장한 사람들의 활동을 살펴보고
                                        개항 이후
                                        <input
                                            data-answer="근대 문물"
                                            aria-label="근대 문물"
                                            placeholder="정답"
                                        />의 수용, 변형 등을 파악한다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="유교"
                                        aria-label="유교"
                                        placeholder="정답"
                                    />
                                    문화, 조선 후기
                                    <input
                                        data-answer="사회⋅문화적"
                                        aria-label="사회⋅문화적"
                                        placeholder="정답"
                                    />
                                    변화 및 개항기
                                    <input
                                        data-answer="근대 문물 수용"
                                        aria-label="근대 문물 수용"
                                        placeholder="정답"
                                    />
                                    과정과 관련 있는 내용 중에서 당시 사람들의
                                    생각과 생활을 보여주는 주제를 선택하여
                                    살펴본다.
                                </div>

                                <div class="overview-question">
                                    • 조선 후기
                                    <input
                                        data-answer="사회⋅문화적"
                                        aria-label="사회⋅문화적"
                                        placeholder="정답"
                                    />
                                    변화와
                                    <input
                                        data-answer="근대 문물의 수용"
                                        aria-label="근대 문물의 수용"
                                        placeholder="정답"
                                    />
                                    과정에서 사람들의 생각과 생활이 변화되었음을
                                    다양한 자료를 통해 파악한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="유교"
                                        aria-label="유교"
                                        placeholder="정답"
                                    />
                                    문화가 조선 시대 사람들의 생각과 생활에 미친
                                    영향과 조선 후기
                                    <input
                                        data-answer="사회⋅문화적"
                                        aria-label="사회⋅문화적"
                                        placeholder="정답"
                                    />
                                    변화 및
                                    <input
                                        data-answer="근대 문물 수용"
                                        aria-label="근대 문물 수용"
                                        placeholder="정답"
                                    />
                                    과정에서 달라진 생활 모습을 설명할 수 있는지
                                    평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
