<section id="colonial-resistance-war">
    <h2>식민 통치와 저항, 전쟁이 바꾼 사회와 생활</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사06-01] 일제의
                                        <input
                                            data-answer="식민 통치"
                                            aria-label="식민 통치"
                                            placeholder="정답"
                                        />와 이에 대한
                                        <input
                                            data-answer="저항"
                                            aria-label="저항"
                                            placeholder="정답"
                                        />이 사회와 생활에 미친 영향을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사06-01]은 일제
                                        <input
                                            data-answer="식민 통치"
                                            aria-label="식민 통치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="국권 회복"
                                            aria-label="국권 회복"
                                            placeholder="정답"
                                        />을 위한
                                        <input
                                            data-answer="저항"
                                            aria-label="저항"
                                            placeholder="정답"
                                        />으로 달라진 사회와 식민 통치하에
                                        사람들의 생활 모습을 알아보도록 설정한
                                        것이다.
                                        <input
                                            data-answer="3⋅1 운동"
                                            aria-label="3⋅1 운동"
                                            placeholder="정답"
                                        />
                                        등 일제에 대한 저항을 알아보고, 이로
                                        인해 달라진 사회 변화와 사람들의 생활을
                                        사례를 중심으로 살펴본다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사06-02]
                                        <input
                                            data-answer="8⋅15 광복"
                                            aria-label="8⋅15 광복"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="6⋅25 전쟁"
                                            aria-label="6⋅25 전쟁"
                                            placeholder="정답"
                                        />이 사회와 생활에 미친 영향을 파악한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사06-02]는
                                        <input
                                            data-answer="8⋅15 광복"
                                            aria-label="8⋅15 광복"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="6⋅25 전쟁"
                                            aria-label="6⋅25 전쟁"
                                            placeholder="정답"
                                        />이 사회와 사람들의 생활에 가져온
                                        변화를 살펴보도록 설정한 것이다.
                                        <input
                                            data-answer="8⋅15 광복"
                                            aria-label="8⋅15 광복"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="6⋅25 전쟁"
                                            aria-label="6⋅25 전쟁"
                                            placeholder="정답"
                                        />을 알아보고, 성별, 연령, 계층 등
                                        사람들의 생활과 사회 전반에 미친 영향을
                                        구체적 사례로 파악한 후 오늘날까지
                                        영향을 미치고 있음을 이해한다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 일제에 저항한 사건들을
                                    <input
                                        data-answer="시간 순서대로"
                                        aria-label="시간 순서대로"
                                        placeholder="정답"
                                    />
                                    나열하여 다루기보다,
                                    <input
                                        data-answer="구체적인 사례"
                                        aria-label="구체적인 사례"
                                        placeholder="정답"
                                    />로 당시 사회와 사람들의 생활을 깊이 있게
                                    탐구하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 일제가 식민 통치에
                                    <input
                                        data-answer="근대 문물"
                                        aria-label="근대 문물"
                                        placeholder="정답"
                                    />을 어떻게 활용하였는지 살펴봄으로써 식민
                                    통치라는 제약 속에서
                                    <input
                                        data-answer="근대 문물"
                                        aria-label="근대 문물"
                                        placeholder="정답"
                                    />이 어떻게 해석⋅변형되었는지 알아본다.
                                </div>

                                <div class="overview-question">
                                    • 6⋅25 전쟁을 학습할 때 전쟁의 원인 등 당시
                                    상황을 파악할 수 있는 사진이나 영상, 기록 등
                                    학생
                                    <input
                                        data-answer="수준"
                                        aria-label="수준"
                                        placeholder="정답"
                                    />에 적절한 자료를 선정하여 살펴본다.
                                </div>

                                <div class="overview-question">
                                    • 8⋅15 광복부터 6⋅25 전쟁에 이르는 역사
                                    사건들을
                                    <input
                                        data-answer="연대기 순서대로"
                                        aria-label="연대기 순서대로"
                                        placeholder="정답"
                                    />
                                    나열하여 다루기보다 광복과 전쟁이 당시
                                    사회와 생활에 미친 영향을 탐색하는 데 중점을
                                    두고 이를 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
