<section id="earth-continents-nations">
    <h2>지구, 대륙 그리고 국가들</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사09-01] 세계를 표현하는 다양한
                                        <input
                                            data-answer="공간 자료"
                                            aria-label="공간 자료"
                                            placeholder="정답"
                                        />의 특징을 이해하고,
                                        <input
                                            data-answer="지구본"
                                            aria-label="지구본"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="세계지도"
                                            aria-label="세계지도"
                                            placeholder="정답"
                                        />에서 위치를 표현하는 방법을 익힌다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사09-01]은
                                        <input
                                            data-answer="지구본"
                                            aria-label="지구본"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="세계지도"
                                            aria-label="세계지도"
                                            placeholder="정답"
                                        />뿐만 아니라 디지털 공간 영상 정보 등
                                        다양한
                                        <input
                                            data-answer="공간 자료"
                                            aria-label="공간 자료"
                                            placeholder="정답"
                                        />의 특성을 이해하고 이를 활용하여
                                        세계에 대한 기초적인
                                        <input
                                            data-answer="지리 정보"
                                            aria-label="지리 정보"
                                            placeholder="정답"
                                        />를 획득하려고 설정한 것이다. 여기서는
                                        <input
                                            data-answer="경⋅위도"
                                            aria-label="경⋅위도"
                                            placeholder="정답"
                                        />의 의미를 이해하고, 이를 활용하여
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />를 표현하는 방법을 익히도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사09-02] 세계 주요
                                        <input
                                            data-answer="대륙"
                                            aria-label="대륙"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="대양"
                                            aria-label="대양"
                                            placeholder="정답"
                                        />을 파악하고, 우리나라 및 세계 여러
                                        국가의
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="영토"
                                            aria-label="영토"
                                            placeholder="정답"
                                        />의 특징을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사09-02]는
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />가 갖는 중요성을 인식하여
                                        <input
                                            data-answer="지구본"
                                            aria-label="지구본"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="세계지도"
                                            aria-label="세계지도"
                                            placeholder="정답"
                                        />에서 세계의
                                        <input
                                            data-answer="대륙"
                                            aria-label="대륙"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="대양"
                                            aria-label="대양"
                                            placeholder="정답"
                                        />의 위치를 파악하도록 설정한 것이다.
                                        세계 여러 국가의
                                        <input
                                            data-answer="위치"
                                            aria-label="위치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="영토"
                                            aria-label="영토"
                                            placeholder="정답"
                                        />의 형상 등 기초적인
                                        <input
                                            data-answer="지리 정보"
                                            aria-label="지리 정보"
                                            placeholder="정답"
                                        />를 획득하는 데 주안점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 디지털 공간 영상 정보를 활용하여
                                    <input
                                        data-answer="세계지도"
                                        aria-label="세계지도"
                                        placeholder="정답"
                                    />(평면)와
                                    <input
                                        data-answer="지구본"
                                        aria-label="지구본"
                                        placeholder="정답"
                                    />(입체)의 차이를 이해함으로써 세계에 대한
                                    인식의
                                    <input
                                        data-answer="왜곡"
                                        aria-label="왜곡"
                                        placeholder="정답"
                                    />을 줄이도록 유의한다. 대륙과 대양 및 여러
                                    국가의 영토 특징을 파악할 때
                                    <input
                                        data-answer="평면적"
                                        aria-label="평면적"
                                        placeholder="정답"
                                    />
                                    공간 도구뿐만 아니라
                                    <input
                                        data-answer="입체적"
                                        aria-label="입체적"
                                        placeholder="정답"
                                    />
                                    공간 도구를 활용하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 세계지리 학습에서는 세계에 대한
                                    <input
                                        data-answer="지식"
                                        aria-label="지식"
                                        placeholder="정답"
                                    />
                                    이외에도
                                    <input
                                        data-answer="도해력"
                                        aria-label="도해력"
                                        placeholder="정답"
                                    />을 포함한 다양한 지리적
                                    <input
                                        data-answer="기능"
                                        aria-label="기능"
                                        placeholder="정답"
                                    />(지구본에서
                                    <input
                                        data-answer="경도"
                                        aria-label="경도"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="위도"
                                        aria-label="위도"
                                        placeholder="정답"
                                    />
                                    특성 알아내기, 세계
                                    <input
                                        data-answer="백지도"
                                        aria-label="백지도"
                                        placeholder="정답"
                                    />
                                    완성하기, 지도 퍼즐 맞추기 등)의 학습 기회를
                                    제공한다.
                                </div>

                                <div class="overview-question">
                                    • 위도와 경도를 이해하기 위해 사례를
                                    중심으로 탐구한다. 경도와 관련하여 단순히
                                    <input
                                        data-answer="시차 계산"
                                        aria-label="시차 계산"
                                        placeholder="정답"
                                    />보다는 대중매체, 문학작품, 여행 경험 등
                                    생활 주변 소재를 중심으로 시차의 의미를
                                    파악하며,
                                    <input
                                        data-answer="표준경선"
                                        aria-label="표준경선"
                                        placeholder="정답"
                                    />의 역할, 시차를 이용한 지역 간
                                    <input
                                        data-answer="교류"
                                        aria-label="교류"
                                        placeholder="정답"
                                    />
                                    등을 논의할 수 있다. 위도별 기후 분포는
                                    [6사10-02]에서 본격적으로 학습하고, 여기서는
                                    위도(<input
                                        data-answer="저위도"
                                        aria-label="저위도"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="고위도"
                                        aria-label="고위도"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="중위도"
                                        aria-label="중위도"
                                        placeholder="정답"
                                    />)에 따른
                                    <input
                                        data-answer="일사량"
                                        aria-label="일사량"
                                        placeholder="정답"
                                    />의 차이(<input
                                        data-answer="밤낮"
                                        aria-label="밤낮"
                                        placeholder="정답"
                                    />의 길이), 북반구와 남반구의
                                    <input
                                        data-answer="계절"
                                        aria-label="계절"
                                        placeholder="정답"
                                    />
                                    차이 정도를 파악하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 세계 여러 나라 중에서 국제적인 위상,
                                    우리나라와의
                                    <input
                                        data-answer="관계"
                                        aria-label="관계"
                                        placeholder="정답"
                                    />
                                    등을 고려하여 우리나라와
                                    정치⋅경제⋅문화면에서 밀접한 관계를 맺고 있는
                                    국가들을 사례로 선정할 수 있으며, 그
                                    국가들의 위치와 영토를 파악하여 기초적인
                                    <input
                                        data-answer="지리 정보"
                                        aria-label="지리 정보"
                                        placeholder="정답"
                                    />를 이해하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 생소한 지명들을 열거하고 이를
                                    암기하기보다는 세계의 대륙과 대양, 여러 국가
                                    등을 다양한 공간 도구를 통해 파악하도록
                                    하며, 이를 통해 다양한 지도 읽기, 위치 표현
                                    방법 등의
                                    <input
                                        data-answer="도해력"
                                        aria-label="도해력"
                                        placeholder="정답"
                                    />을 평가할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
