<section id="law-human-rights">
    <h2>법과 인권의 보장</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사03-01] 일상 사례에서 법의
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="역할"
                                            aria-label="역할"
                                            placeholder="정답"
                                        />을 이해하고,
                                        <input
                                            data-answer="헌법"
                                            aria-label="헌법"
                                            placeholder="정답"
                                        />에 규정된
                                        <input
                                            data-answer="인권"
                                            aria-label="인권"
                                            placeholder="정답"
                                        />이 일상생활에서 구현되는 사례를
                                        조사하여
                                        <input
                                            data-answer="인권 친화적"
                                            aria-label="인권 친화적"
                                            placeholder="정답"
                                        />
                                        태도를 기른다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사03-01]은 우리 생활에 영향을 미치는
                                        법의
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="역할"
                                            aria-label="역할"
                                            placeholder="정답"
                                        />을 일상 사례를 통해 이해하고,
                                        <input
                                            data-answer="헌법"
                                            aria-label="헌법"
                                            placeholder="정답"
                                        />에 규정된
                                        <input
                                            data-answer="인권"
                                            aria-label="인권"
                                            placeholder="정답"
                                        />을 보장하는 다양한 사례를 조사하도록
                                        설정한 것이다. 이를 통해
                                        <input
                                            data-answer="준법 태도"
                                            aria-label="준법 태도"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="인권 의식"
                                            aria-label="인권 의식"
                                            placeholder="정답"
                                        />을 기르는 데 초점을 맞춘다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사03-02] 일상생활에서
                                        <input
                                            data-answer="인권"
                                            aria-label="인권"
                                            placeholder="정답"
                                        />이 침해되는 사례를 찾아 그 해결 방안을
                                        탐색하고,
                                        <input
                                            data-answer="인권"
                                            aria-label="인권"
                                            placeholder="정답"
                                        />을 보호하는 활동에 참여한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사03-02]는 일상생활에서 발생하는
                                        <input
                                            data-answer="인권 침해"
                                            aria-label="인권 침해"
                                            placeholder="정답"
                                        />
                                        문제의 해결 방안을 제시할 수 있는 능력을
                                        기르도록 설정한 것이다. 인권 문제 해결과
                                        관련된 토론 및 문제 해결의 과정을 통해
                                        <input
                                            data-answer="인권 보호"
                                            aria-label="인권 보호"
                                            placeholder="정답"
                                        />
                                        활동에 참여하는 능력과 태도를 함양하는
                                        데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 학생이 경험하는 일상 사례를 통하여 법이
                                    우리의 행동과 삶에 미치는 영향력을 이해하고,
                                    <input
                                        data-answer="권리 보장"
                                        aria-label="권리 보장"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="사회 질서 유지"
                                        aria-label="사회 질서 유지"
                                        placeholder="정답"
                                    />
                                    같은 법의 역할을 인식함으로써
                                    <input
                                        data-answer="준법 태도"
                                        aria-label="준법 태도"
                                        placeholder="정답"
                                    />를 형성하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="헌법"
                                        aria-label="헌법"
                                        placeholder="정답"
                                    />에 규정된 기본적
                                    <input
                                        data-answer="인권"
                                        aria-label="인권"
                                        placeholder="정답"
                                    />의 개념과 조항을 나열하지 않고
                                    <input
                                        data-answer="자유"
                                        aria-label="자유"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="평등"
                                        aria-label="평등"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="정치 참여"
                                        aria-label="정치 참여"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="사회 복지"
                                        aria-label="사회 복지"
                                        placeholder="정답"
                                    />
                                    등 실제 생활에서 보장되는 인권의 사례들을
                                    조사하여 인권 보장이 인간다운 삶을 위해
                                    중요하다는 사실을 인식하도록 한다. 또한 나와
                                    타인의 인권을 존중하고 보호하는
                                    <input
                                        data-answer="인권 의식"
                                        aria-label="인권 의식"
                                        placeholder="정답"
                                    />을 함양하는 데 초점을 맞춘다.
                                </div>

                                <div class="overview-question">
                                    • 최근 우리 사회에서 발생하는
                                    <input
                                        data-answer="인권 침해 사례"
                                        aria-label="인권 침해 사례"
                                        placeholder="정답"
                                    />를 제시하고, 토론을 통해 문제를 해결하는
                                    능력을 함양한다. 또한 인권을 존중하고
                                    보호하는 활동에 참여하는 기회를 제공함으로써
                                    <input
                                        data-answer="인권 친화적"
                                        aria-label="인권 친화적"
                                        placeholder="정답"
                                    />
                                    태도를 함양하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 인권 침해 문제의 해결 방안을 토의하는
                                    과정에서 자신의 주장을 뒷받침하기 위한
                                    합리적 근거, 이유, 사례 등을 제시하는지
                                    평가하고,
                                    <input
                                        data-answer="인권 친화적"
                                        aria-label="인권 친화적"
                                        placeholder="정답"
                                    />
                                    태도를 형성하였는지 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
