<section id="market-economy-trade">
    <h2>시장경제와 국가 간 거래</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사11-01] 시장경제에서
                                        <input
                                            data-answer="가계"
                                            aria-label="가계"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="기업"
                                            aria-label="기업"
                                            placeholder="정답"
                                        />의 역할을 이해하고,
                                        <input
                                            data-answer="근로자"
                                            aria-label="근로자"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="권리"
                                            aria-label="권리"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="기업"
                                            aria-label="기업"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="자유"
                                            aria-label="자유"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="사회적 책임"
                                            aria-label="사회적 책임"
                                            placeholder="정답"
                                        />을 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사11-01]은 시장경제의 특징에 대한
                                        이해를 바탕으로
                                        <input
                                            data-answer="가계"
                                            aria-label="가계"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="기업"
                                            aria-label="기업"
                                            placeholder="정답"
                                        />의 역할 및
                                        <input
                                            data-answer="상호 의존"
                                            aria-label="상호 의존"
                                            placeholder="정답"
                                        />
                                        관계를 파악하고,
                                        <input
                                            data-answer="근로자"
                                            aria-label="근로자"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="권리"
                                            aria-label="권리"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="기업"
                                            aria-label="기업"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="자유로운"
                                            aria-label="자유로운"
                                            placeholder="정답"
                                        />
                                        경제활동 및
                                        <input
                                            data-answer="사회적 책임"
                                            aria-label="사회적 책임"
                                            placeholder="정답"
                                        />을 탐색하도록 설정한 것이다. 이를
                                        바탕으로
                                        <input
                                            data-answer="근로자"
                                            aria-label="근로자"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="권리"
                                            aria-label="권리"
                                            placeholder="정답"
                                        />를 보호하고
                                        <input
                                            data-answer="기업"
                                            aria-label="기업"
                                            placeholder="정답"
                                        />이
                                        <input
                                            data-answer="자유로운"
                                            aria-label="자유로운"
                                            placeholder="정답"
                                        />
                                        경제활동과
                                        <input
                                            data-answer="이윤"
                                            aria-label="이윤"
                                            placeholder="정답"
                                        />을 추구하면서
                                        <input
                                            data-answer="사회적 책임"
                                            aria-label="사회적 책임"
                                            placeholder="정답"
                                        />을 이행하는 것의 중요성을 인식하는 데
                                        초점을 맞춘다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사11-02]
                                        <input
                                            data-answer="경제성장"
                                            aria-label="경제성장"
                                            placeholder="정답"
                                        />이 우리 생활에 미치는 영향을 파악하고,
                                        <input
                                            data-answer="빠른 경제성장"
                                            aria-label="빠른 경제성장"
                                            placeholder="정답"
                                        />으로 발생한 문제의 해결 방안을
                                        탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사11-02]는 우리나라의 경제성장이
                                        우리 생활에 미친 긍정적⋅부정적 영향을
                                        <input
                                            data-answer="통계"
                                            aria-label="통계"
                                            placeholder="정답"
                                        />
                                        자료를 통해 파악하고 빠른 경제성장으로
                                        발생한 문제의 해결 방안을 찾도록 설정한
                                        것이다. 또한, 토론을 통해 빠른
                                        경제성장으로 발생하는 문제를 합리적으로
                                        해결하는 방안을 찾는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사11-03] 사례를 통해
                                        <input
                                            data-answer="무역"
                                            aria-label="무역"
                                            placeholder="정답"
                                        />의 의미를 이해하고,
                                        <input
                                            data-answer="국가"
                                            aria-label="국가"
                                            placeholder="정답"
                                        />
                                        간
                                        <input
                                            data-answer="무역"
                                            aria-label="무역"
                                            placeholder="정답"
                                        />이 발생하는 이유를 탐구한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사11-03]은 학생이 접할 수 있는
                                        <input
                                            data-answer="수입"
                                            aria-label="수입"
                                            placeholder="정답"
                                        />⋅<input
                                            data-answer="수출"
                                            aria-label="수출"
                                            placeholder="정답"
                                        />
                                        상품의 사례에서 무역의 의미와 중요성을
                                        파악하고 세계 여러 나라 간 무역이
                                        발생하는 이유를 탐구하도록 설정한
                                        것이다. 이를 바탕으로 오늘날 여러 나라가
                                        무역을 통해
                                        <input
                                            data-answer="경쟁"
                                            aria-label="경쟁"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="상호 의존"
                                            aria-label="상호 의존"
                                            placeholder="정답"
                                        />
                                        관계에 있음을 파악하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 사례를 통해 시장경제에서
                                    <input
                                        data-answer="가계"
                                        aria-label="가계"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="기업"
                                        aria-label="기업"
                                        placeholder="정답"
                                    />의 자유로운 경제활동이
                                    <input
                                        data-answer="상호 관계"
                                        aria-label="상호 관계"
                                        placeholder="정답"
                                    />를 맺고 서로 영향을 주고받는다는 사실을
                                    파악한다. 이에 기초해
                                    <input
                                        data-answer="공정한 시장"
                                        aria-label="공정한 시장"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="지속가능한 발전"
                                        aria-label="지속가능한 발전"
                                        placeholder="정답"
                                    />을 위해서
                                    <input
                                        data-answer="근로자"
                                        aria-label="근로자"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />를 보호하고
                                    <input
                                        data-answer="기업"
                                        aria-label="기업"
                                        placeholder="정답"
                                    />이
                                    <input
                                        data-answer="자유로운"
                                        aria-label="자유로운"
                                        placeholder="정답"
                                    />
                                    경제활동 및
                                    <input
                                        data-answer="사회적 책임"
                                        aria-label="사회적 책임"
                                        placeholder="정답"
                                    />(<input
                                        data-answer="ESG"
                                        aria-label="ESG"
                                        placeholder="정답"
                                    />
                                    등)을 이행하는 것의 중요성을 인식하는 데
                                    초점을 맞춘다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="통계"
                                        aria-label="통계"
                                        placeholder="정답"
                                    />
                                    자료를 활용하여
                                    <input
                                        data-answer="경제성장"
                                        aria-label="경제성장"
                                        placeholder="정답"
                                    />이 우리 생활에 가져온 긍정적⋅부정적 영향을
                                    파악한다. 또한 토론을 통해
                                    <input
                                        data-answer="저임금"
                                        aria-label="저임금"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="노사 갈등"
                                        aria-label="노사 갈등"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="불평등"
                                        aria-label="불평등"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="빈부격차"
                                        aria-label="빈부격차"
                                        placeholder="정답"
                                    />의 심화,
                                    <input
                                        data-answer="과소비"
                                        aria-label="과소비"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="자원 낭비"
                                        aria-label="자원 낭비"
                                        placeholder="정답"
                                    />
                                    같은 경제문제의 해결 방안을
                                    <input
                                        data-answer="정부"
                                        aria-label="정부"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="기업"
                                        aria-label="기업"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="시민단체"
                                        aria-label="시민단체"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="개인"
                                        aria-label="개인"
                                        placeholder="정답"
                                    />
                                    등 여러 차원에서 찾는 능력을 기르는 데
                                    중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="세계화"
                                        aria-label="세계화"
                                        placeholder="정답"
                                    />
                                    시대에
                                    <input
                                        data-answer="무역"
                                        aria-label="무역"
                                        placeholder="정답"
                                    />의 중요성을 파악하고, 무역 관련 통계
                                    자료나 시사 자료를 활용하여 세계 여러 나라가
                                    무역을 통해
                                    <input
                                        data-answer="경쟁"
                                        aria-label="경쟁"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="상호 의존 관계"
                                        aria-label="상호 의존 관계"
                                        placeholder="정답"
                                    />에 있음을 파악하는 데 초점을 맞춘다.
                                </div>

                                <div class="overview-question">
                                    • 우리나라의 빠른 경제성장 과정에서 발생한
                                    문제의 해결 방안을 토론하는 과정에서 객관적
                                    자료와 근거를 바탕으로 합리적인 해결 방안을
                                    제시하는 능력과 상대방의 주장을 경청하는
                                    태도 등을 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
