<section id="relics-ancient-life">
    <h2>유적과 유물로 살펴본 옛 사람들의 생활</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사04-01] 선사 시대와 고조선의
                                        <input
                                            data-answer="유적"
                                            aria-label="유적"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="유물"
                                            aria-label="유물"
                                            placeholder="정답"
                                        />을 활용하여 당시 사람들의
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />을 추론한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사04-01]은 선사 시대와 고조선의
                                        <input
                                            data-answer="유적"
                                            aria-label="유적"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="유물"
                                            aria-label="유물"
                                            placeholder="정답"
                                        />을 활용하여 당시 사람들의 생활 모습을
                                        <input
                                            data-answer="추론"
                                            aria-label="추론"
                                            placeholder="정답"
                                        />하도록 설정한 것이다. 당시 사람들의
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />을 추론하는 데 적절한 유적과 유물 등을
                                        선정하여 탐구 과정을 경험하도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사04-02]
                                        <input
                                            data-answer="역사 기록"
                                            aria-label="역사 기록"
                                            placeholder="정답"
                                        />이나
                                        <input
                                            data-answer="유적"
                                            aria-label="유적"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="유물"
                                            aria-label="유물"
                                            placeholder="정답"
                                        />에 나타난 고대 사람들의
                                        <input
                                            data-answer="생각"
                                            aria-label="생각"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />을 추론한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사04-02]는 고대의 역사 기록이나
                                        유적과 유물을 활용하여 당시 사람들의
                                        생각이나 생활 모습을 추론하기 위해
                                        설정한 것이다.
                                        <input
                                            data-answer="삼국사기"
                                            aria-label="삼국사기"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="삼국유사"
                                            aria-label="삼국유사"
                                            placeholder="정답"
                                        />
                                        등
                                        <input
                                            data-answer="역사 기록"
                                            aria-label="역사 기록"
                                            placeholder="정답"
                                        />이나 삼국⋅가야⋅통일신라⋅발해 사람들의
                                        <input
                                            data-answer="생각"
                                            aria-label="생각"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />
                                        모습이 드러난
                                        <input
                                            data-answer="유적"
                                            aria-label="유적"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="유물"
                                            aria-label="유물"
                                            placeholder="정답"
                                        />을 탐구하여 고대 사회의 여러 면모를
                                        알아본다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사04-03] 다양한
                                        <input
                                            data-answer="역사 자료"
                                            aria-label="역사 자료"
                                            placeholder="정답"
                                        />를 활용하여 고려 시대
                                        <input
                                            data-answer="사회 모습"
                                            aria-label="사회 모습"
                                            placeholder="정답"
                                        />과 사람들의
                                        <input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />을 추론한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사04-03]은 유적과 유물, 역사 기록 등
                                        여러 자료를 활용하여 고려 시대 사회
                                        모습과 사람들의 생활을 탐구하도록 설정한
                                        것이다. 종교, 성별, 신분, 교류 등과
                                        관련된 내용 중에서 고려 시대
                                        <input
                                            data-answer="사회 모습"
                                            aria-label="사회 모습"
                                            placeholder="정답"
                                        />과 사람들의<input
                                            data-answer="생활"
                                            aria-label="생활"
                                            placeholder="정답"
                                        />을 보여주는 주제를 선택하여 살펴본다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 유적과 유물, 역사 기록을 활용한 탐구
                                    과정을 경험하며 당시
                                    <input
                                        data-answer="사회 모습"
                                        aria-label="사회 모습"
                                        placeholder="정답"
                                    />과 사람들의
                                    <input
                                        data-answer="생활 모습"
                                        aria-label="생활 모습"
                                        placeholder="정답"
                                    />을 파악하는 데 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    • 학생들이 역사 지식에 대해
                                    <input
                                        data-answer="질문"
                                        aria-label="질문"
                                        placeholder="정답"
                                    />을 하고 답을 찾아가는 과정을 경험하도록
                                    학습 주제에 따라 적절한 역사 탐구 방법을
                                    안내한다. 이 과정에서
                                    <input
                                        data-answer="역사적 관점"
                                        aria-label="역사적 관점"
                                        placeholder="정답"
                                    />에 따라 당시 모습을 다르게 해석할 수
                                    있음을 파악하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 종교, 성별, 신분, 교류 등과 관련 있는
                                    자료를 탐구하며 당시
                                    <input
                                        data-answer="사회 모습"
                                        aria-label="사회 모습"
                                        placeholder="정답"
                                    />과 사람들의 생활을
                                    <input
                                        data-answer="시대적 맥락"
                                        aria-label="시대적 맥락"
                                        placeholder="정답"
                                    />에 맞게 파악하는지 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
