<section id="world-natural-environment">
    <h2>세계의 자연환경</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사10-01] 세계의 여러 지역의
                                        <input
                                            data-answer="지형 경관"
                                            aria-label="지형 경관"
                                            placeholder="정답"
                                        />을 살펴보고, 이를 통해 다양한 삶의
                                        모습을 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사10-01]은 세계적으로 유명한 산지,
                                        하천, 해안 지역 등의 경관 특징과
                                        그곳에서 살아가는 사람들의 생활 모습에서
                                        세계 여러 지역의
                                        <input
                                            data-answer="다양성"
                                            aria-label="다양성"
                                            placeholder="정답"
                                        />을 이해하도록 설정한 것이다. 여기서는
                                        우리와 다른 지역의 생활 모습에 관심을
                                        갖는 데 주안점을 둔다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6사10-02] 세계의 다양한
                                        <input
                                            data-answer="기후"
                                            aria-label="기후"
                                            placeholder="정답"
                                        />를 알아보고
                                        <input
                                            data-answer="기후"
                                            aria-label="기후"
                                            placeholder="정답"
                                        />
                                        환경과
                                        <input
                                            data-answer="인간생활"
                                            aria-label="인간생활"
                                            placeholder="정답"
                                        />
                                        간의 관계를 탐구한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6사10-02]는
                                        <input
                                            data-answer="기온"
                                            aria-label="기온"
                                            placeholder="정답"
                                        />
                                        및
                                        <input
                                            data-answer="강수량"
                                            aria-label="강수량"
                                            placeholder="정답"
                                        />을 나타낸 기후 그래프, 지도, 사진 자료
                                        등을 활용하여 세계 주요 기후의
                                        <input
                                            data-answer="분포"
                                            aria-label="분포"
                                            placeholder="정답"
                                        />를 파악하도록 설정한 것이다. 여기서는
                                        <input
                                            data-answer="기후"
                                            aria-label="기후"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="인간 생활"
                                            aria-label="인간 생활"
                                            placeholder="정답"
                                        />을 관련지어 이해하는 데 중점을 둔다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 광활하고 경이로운
                                    <input
                                        data-answer="지형 경관"
                                        aria-label="지형 경관"
                                        placeholder="정답"
                                    />이 나타나는 사례 지역을 중심으로
                                    <input
                                        data-answer="관광산업"
                                        aria-label="관광산업"
                                        placeholder="정답"
                                    />의 발달과 이에 따른 긍정적⋅부정적 영향을
                                    균형적 시각으로 학습하도록 유의한다.
                                </div>

                                <div class="overview-question">
                                    • 세계적으로 유명하거나 학생이 가보고 싶은
                                    <input
                                        data-answer="지형 경관"
                                        aria-label="지형 경관"
                                        placeholder="정답"
                                    />
                                    학습을 위해 텍스트 자료뿐만 아니라 지도나
                                    시청각 자료(사진, 영상 등)의 활용도를
                                    높임으로써 직접 경험하지 않은 곳에 대한
                                    감각을 기를 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 학생들의 사고력 수준을 고려하여 기후
                                    지역을 지나치게 세분하여 가르치지 않도록
                                    주의한다. 기후 지역은 1차적으로
                                    <input
                                        data-answer="열대"
                                        aria-label="열대"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="건조"
                                        aria-label="건조"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="온대"
                                        aria-label="온대"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="냉대"
                                        aria-label="냉대"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="한대"
                                        aria-label="한대"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="고산"
                                        aria-label="고산"
                                        placeholder="정답"
                                    />
                                    기후로 구분할 수 있다. 다만, 강수 패턴의
                                    다양성으로 세분하는 열대 기후와 온대 기후는
                                    각각
                                    <input
                                        data-answer="열대 우림"
                                        aria-label="열대 우림"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="열대 사바나"
                                        aria-label="열대 사바나"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="서안 해양성"
                                        aria-label="서안 해양성"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="지중해성"
                                        aria-label="지중해성"
                                        placeholder="정답"
                                    />
                                    기후를 추가로 제시할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 각종 이미지를 활용하여 기후 지역별 특징
                                    표현하기, 기후 지역별 전형적인 경관 사진을
                                    <input
                                        data-answer="적도"
                                        aria-label="적도"
                                        placeholder="정답"
                                    />에서
                                    <input
                                        data-answer="극지방"
                                        aria-label="극지방"
                                        placeholder="정답"
                                    />
                                    순서로 배열하기 등의 활동으로 기후에 대한
                                    이해를 평가할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 사람들의
                                    <input
                                        data-answer="생활양식"
                                        aria-label="생활양식"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="기후"
                                        aria-label="기후"
                                        placeholder="정답"
                                    />
                                    조건과 연결 지어 생각함으로써, 우리와 다른
                                    기후 환경에 적응하고, 이를 극복하면서
                                    살아가는 사람들의 다양한 생활양식을 이해하는
                                    데 중점을 둔다. 또한, 같은 기후 환경에서도
                                    다양한 인간의 삶이 있다는 것을 파악하여
                                    <input
                                        data-answer="인간"
                                        aria-label="인간"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="자연"
                                        aria-label="자연"
                                        placeholder="정답"
                                    />과의
                                    <input
                                        data-answer="관계"
                                        aria-label="관계"
                                        placeholder="정답"
                                    />를 다각적으로 인식하도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
