<section id="gilligan">
    <h2>◎ 배려와 책임의 도덕 심리학 – 길리건</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    이상 살펴본 콜버그의 도덕 발달 및 도덕
                                    교육론에 여성학자 길리건이 이의를 제기하고
                                    나섰다. 그녀는 그동안
                                    <input
                                        data-answer="남성"
                                        aria-label="남성"
                                        placeholder="정답"
                                    />들 위주로 연구된 도덕 발달론 외에
                                    <input
                                        data-answer="여성"
                                        aria-label="여성"
                                        placeholder="정답"
                                    />적 관점의 접근에 기반을 둔 도덕 발달론이
                                    있을 수 있다는 점과 기존의 심리학 이론
                                    구성에서 누락되었던 여성들의 삶과 경험에
                                    관한 연구로 양성의 도덕적 삶에 관한 좀 더
                                    포괄적이고도 새로운 관점의 심리학 이론이
                                    제공될 수 있다는 점을 주장하였다.
                                </div>

                                <div class="overview-question">
                                    그리고 이러한 관점에 더하여 콜버그가
                                    제기했던
                                    <input
                                        data-answer="하인즈 딜레마"
                                        aria-label="하인즈 딜레마"
                                        placeholder="정답"
                                    />에 대한, 같은 나이인 11세의 제이크와
                                    에이미의 반응을 다른 각도에서 해석했다.
                                    하인즈 딜레마에 대한 반응 중 제이크는 그
                                    문제를 인간관계에서 일종의 수학적 문제와
                                    같은 것으로 보고 논리의 힘에 준거하여 이성에
                                    따라 합리적으로 해결 방법을 도출해 내고자
                                    하였다. 이에 비해, 에이미의 반응은 재산과
                                    법보다는 하인즈와 그의 아내의 관계에 미칠
                                    영향을 고려한 것이었다. 말하자면 그 도덕적
                                    딜레마가 하인즈와 그의 아내 그리고 약사라는
                                    인간 사이의
                                    <input
                                        data-answer="관계의 맥락"
                                        aria-label="관계의 맥락"
                                        placeholder="정답"
                                    />에서 파악되었으며, 문제의 본질은 약사의
                                    권리 주장으로부터 비롯되는 것이 아니라,
                                    하인즈와 그 아내에 대한 반응의 실패에 있는
                                    것으로 간주했던 것이다.
                                </div>

                                <div class="overview-question">
                                    제이크의 도덕 세계가
                                    <input
                                        data-answer="논리"
                                        aria-label="논리"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="법"
                                        aria-label="법"
                                        placeholder="정답"
                                    />의 체계 그리고
                                    <input
                                        data-answer="비인격성"
                                        aria-label="비인격성"
                                        placeholder="정답"
                                    />의 세계로 구성되어 있다면 에이미의 그것은
                                    <input
                                        data-answer="상호 관계"
                                        aria-label="상호 관계"
                                        placeholder="정답"
                                    />와 그 속에서의
                                    <input
                                        data-answer="의사소통"
                                        aria-label="의사소통"
                                        placeholder="정답"
                                    />
                                    그리고
                                    <input
                                        data-answer="개별적"
                                        aria-label="개별적"
                                        placeholder="정답"
                                    />이고
                                    <input
                                        data-answer="구체적"
                                        aria-label="구체적"
                                        placeholder="정답"
                                    />인
                                    <input
                                        data-answer="인격성"
                                        aria-label="인격성"
                                        placeholder="정답"
                                    />의 세계로 나타난다. 제이크에게 도덕적
                                    갈등은
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="이익"
                                        aria-label="이익"
                                        placeholder="정답"
                                    />의 다툼이요, 그 해결이
                                    <input
                                        data-answer="정의"
                                        aria-label="정의"
                                        placeholder="정답"
                                    />의 원리에 따른
                                    <input
                                        data-answer="논리적 추론"
                                        aria-label="논리적 추론"
                                        placeholder="정답"
                                    />으로 이루어지는 것이었다면, 에이미에게
                                    도덕적 갈등은
                                    <input
                                        data-answer="상호 관계"
                                        aria-label="상호 관계"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="단절"
                                        aria-label="단절"
                                        placeholder="정답"
                                    />로부터 발생하는 것이요, 이는 타인에 대한
                                    온정적
                                    <input
                                        data-answer="배려"
                                        aria-label="배려"
                                        placeholder="정답"
                                    />와 그의 복지에 대한
                                    <input
                                        data-answer="책임"
                                        aria-label="책임"
                                        placeholder="정답"
                                    />
                                    그리고
                                    <input
                                        data-answer="의사소통"
                                        aria-label="의사소통"
                                        placeholder="정답"
                                    />으로 해결되는 것이었다.
                                </div>

                                <div class="overview-question">
                                    여기서 남성적 도덕과 여성적 도덕 사이에
                                    차이가 대두된다. 도덕 영역의 개념에서 남성의
                                    도덕은
                                    <input
                                        data-answer="정의"
                                        aria-label="정의"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />의 언어로 구성되는 데 비해, 여성의 그것은
                                    <input
                                        data-answer="따뜻한 배려"
                                        aria-label="따뜻한 배려"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="책임"
                                        aria-label="책임"
                                        placeholder="정답"
                                    />의 언어로 나타난다. 또한 도덕적 갈등의
                                    해결 양식에서 남성은 위계화된 기준과 논리적
                                    연역, 대안들의 서열화 그리고
                                    <input
                                        data-answer="분리적·독립적"
                                        aria-label="분리적·독립적"
                                        placeholder="정답"
                                    />
                                    개인의 숙고에 바탕을 두는 데 비해, 여성의
                                    그것은 온정과 의사소통,
                                    <input
                                        data-answer="상호 연계성"
                                        aria-label="상호 연계성"
                                        placeholder="정답"
                                    />의 인간관계에 기초하여 이루어진다.
                                </div>

                                <div class="overview-question">
                                    나아가, 길리건은 다양한 인종적 배경과 사회
                                    계층에 속해 있는 15~33세의 임신 3개월 이내인
                                    여성 29명을 대상으로 임신 중절 결정 연구를
                                    수행하였다. 이 연구에서는 구체적으로
                                    여성들이 도덕 문제를 어떻게 구성하며 갈등에
                                    어떻게 대응하고 어떤 대안들을 고려하며
                                    어떻게 문제를 해결하는지 등을 중심으로
                                    탐구하였다. 연구 결과 배려의 도덕성은 대체로
                                    <input
                                        data-answer="3수준 2과도기"
                                        aria-label="3수준 2과도기"
                                        placeholder="정답"
                                    />를 거쳐 발달하는 것으로 파악되었다.
                                    제1수준:
                                    <input
                                        data-answer="자기 생존과 이기성"
                                        aria-label="자기 생존과 이기성"
                                        placeholder="정답"
                                    />-제1과도기:
                                    <input
                                        data-answer="이기심에서 책임감으로의 이행"
                                        aria-label="이기심에서 책임감으로의 이행"
                                        placeholder="정답"
                                    />-제2수준:
                                    <input
                                        data-answer="책임과 자기희생"
                                        aria-label="책임과 자기희생"
                                        placeholder="정답"
                                    />-제2과도기:
                                    <input
                                        data-answer="동조에서 새로운 내적 판단으로의 이행"
                                        aria-label="동조에서 새로운 내적 판단으로의 이행"
                                        placeholder="정답"
                                    />-제3수준:
                                    <input
                                        data-answer="비폭력적 배려와 책임"
                                        aria-label="비폭력적 배려와 책임"
                                        placeholder="정답"
                                    />이 그것이다.
                                </div>

                                <div class="overview-question">
                                    이러한 연구를 바탕으로 길리건은 여성들은
                                    인간관계와의 관련 속에서 자신들을 규정지을
                                    뿐만 아니라 다른 사람들을 돌보는 능력과의
                                    관련 속에서 자신들을 판단한다는 점, 여성의
                                    도덕성은
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />보다는
                                    <input
                                        data-answer="책임"
                                        aria-label="책임"
                                        placeholder="정답"
                                    />을 강조하며
                                    <input
                                        data-answer="분리"
                                        aria-label="분리"
                                        placeholder="정답"
                                    />보다는
                                    <input
                                        data-answer="연결"
                                        aria-label="연결"
                                        placeholder="정답"
                                    />을, 개개인의
                                    <input
                                        data-answer="독립"
                                        aria-label="독립"
                                        placeholder="정답"
                                    />보다는
                                    <input
                                        data-answer="상호 관계"
                                        aria-label="상호 관계"
                                        placeholder="정답"
                                    />를 우선한다는 점, 여성들의 관점에서 볼 때
                                    도덕 문제는
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />
                                    사이의 충돌이라기보다는
                                    <input
                                        data-answer="책임"
                                        aria-label="책임"
                                        placeholder="정답"
                                    />들 사이의 갈등으로부터 비롯되는 것이며,
                                    이를 해결하려면
                                    <input
                                        data-answer="형식적"
                                        aria-label="형식적"
                                        placeholder="정답"
                                    />이고
                                    <input
                                        data-answer="추상적"
                                        aria-label="추상적"
                                        placeholder="정답"
                                    />이기보다는
                                    <input
                                        data-answer="맥락적"
                                        aria-label="맥락적"
                                        placeholder="정답"
                                    />이고
                                    <input
                                        data-answer="대화적"
                                        aria-label="대화적"
                                        placeholder="정답"
                                    />인 사고 양식이 필요하다는 점 그리고 남성의
                                    도덕성 발달에서는
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="규칙"
                                        aria-label="규칙"
                                        placeholder="정답"
                                    />에 대한 이해를 중심으로 하는
                                    <input
                                        data-answer="공정성"
                                        aria-label="공정성"
                                        placeholder="정답"
                                    />의 관계가 핵심이 되는 데 비해, 여성의
                                    도덕성 발달에서는
                                    <input
                                        data-answer="책임"
                                        aria-label="책임"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="인간관계"
                                        aria-label="인간관계"
                                        placeholder="정답"
                                    />에 대한 이해를 중심으로 하는
                                    <input
                                        data-answer="배려"
                                        aria-label="배려"
                                        placeholder="정답"
                                    />가 핵심이 된다는 점 등을 강조하였다.
                                </div>

                                <div class="overview-question">
                                    결국, 길리건은 도덕의 영역에는 남성의
                                    도덕으로 이름할 수 있는
                                    <input
                                        data-answer="정의"
                                        aria-label="정의"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="권리"
                                        aria-label="권리"
                                        placeholder="정답"
                                    />의 도덕 외에 여성의 도덕이라 할 수 있는
                                    <input
                                        data-answer="따뜻한 배려"
                                        aria-label="따뜻한 배려"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="책임"
                                        aria-label="책임"
                                        placeholder="정답"
                                    />의 도덕이 존재함을 밝혀냈다. 그리고 이를
                                    바탕으로 이러한
                                    <input
                                        data-answer="정의"
                                        aria-label="정의"
                                        placeholder="정답"
                                    />
                                    지향적 도덕성과
                                    <input
                                        data-answer="배려"
                                        aria-label="배려"
                                        placeholder="정답"
                                    />
                                    지향적 도덕성은
                                    <input
                                        data-answer="상호 보완적"
                                        aria-label="상호 보완적"
                                        placeholder="정답"
                                    />이고 또 그렇게 접근되어야 함을 강조하는
                                    한편, 이러한 현상과 관점들이 기존의 윤리학과
                                    도덕 심리학, 도덕 발달론 그리고 도덕
                                    교육에서 고려 또는 보완되어야 한다는 점을
                                    역설하였다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
