<section id="piaget">
    <h2>◎ 인지 발달론적 도덕 심리학 - 피아제</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    피아제의 도덕성 발달 이론은 기본적으로 도덕
                                    발달을
                                    <input
                                        data-answer="지적"
                                        aria-label="지적"
                                        placeholder="정답"
                                    />
                                    발달과 연관 지어 탐구하는 태도에서
                                    출발하였다. 그는 도덕성을
                                    <input
                                        data-answer="도덕적 판단 능력"
                                        aria-label="도덕적 판단 능력"
                                        placeholder="정답"
                                    />으로 보고 도덕성 발달을 그의
                                    <input
                                        data-answer="지적"
                                        aria-label="지적"
                                        placeholder="정답"
                                    />
                                    발달 이론의 한 부분으로 취급했다. 그는
                                    도덕은
                                    <input
                                        data-answer="규칙의 체계"
                                        aria-label="규칙의 체계"
                                        placeholder="정답"
                                    />로 구성되어 있으며 도덕성은 인간의 정신이
                                    이
                                    <input
                                        data-answer="규칙"
                                        aria-label="규칙"
                                        placeholder="정답"
                                    />들을 어떻게
                                    <input
                                        data-answer="존중"
                                        aria-label="존중"
                                        placeholder="정답"
                                    />하게 되는지를 설명함으로써 이해할 수
                                    있다고 전제하고, 아동들의 도덕 발달 양상을
                                    <input
                                        data-answer="규칙"
                                        aria-label="규칙"
                                        placeholder="정답"
                                    />에 대한 아동들의 의식 또는 태도를
                                    분석함으로써 밝혀내고자 하였다. 그리하여
                                    아동들의
                                    <input
                                        data-answer="규칙"
                                        aria-label="규칙"
                                        placeholder="정답"
                                    />에 대한 생각과 태도, 도덕적 책임감, 그리고
                                    공정성이나 정의에 대해 일련의 연구를 수행한
                                    후 그 결과를 바탕으로 아동들의 도덕성은
                                    <input
                                        data-answer="타율적 도덕성"
                                        aria-label="타율적 도덕성"
                                        placeholder="정답"
                                    />에서
                                    <input
                                        data-answer="자율적 도덕성"
                                        aria-label="자율적 도덕성"
                                        placeholder="정답"
                                    />으로 발전한다고 보았다.
                                </div>

                                <div class="overview-question">
                                    이때 타율적 도덕성은
                                    <input
                                        data-answer="자기중심적 도덕 단계"
                                        aria-label="자기중심적 도덕 단계"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="권위주의적 도덕 단계"
                                        aria-label="권위주의적 도덕 단계"
                                        placeholder="정답"
                                    />로, 자율적 도덕성은
                                    <input
                                        data-answer="상호성의 도덕 단계"
                                        aria-label="상호성의 도덕 단계"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="공정의 도덕 단계"
                                        aria-label="공정의 도덕 단계"
                                        placeholder="정답"
                                    />로 다시 구분할 수 있다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="자기중심적 도덕 단계"
                                        aria-label="자기중심적 도덕 단계"
                                        placeholder="정답"
                                    />의 아동은
                                    <input
                                        data-answer="가역적 인식 능력"
                                        aria-label="가역적 인식 능력"
                                        placeholder="정답"
                                    />이 매우 제한되어
                                    <input
                                        data-answer="자신"
                                        aria-label="자신"
                                        placeholder="정답"
                                    />의 견해와
                                    <input
                                        data-answer="타인"
                                        aria-label="타인"
                                        placeholder="정답"
                                    />의 견해를 잘 구분하지 못하며,
                                    <input
                                        data-answer="가치"
                                        aria-label="가치"
                                        placeholder="정답"
                                    />
                                    세계의
                                    <input
                                        data-answer="도덕"
                                        aria-label="도덕"
                                        placeholder="정답"
                                    />
                                    법칙과
                                    <input
                                        data-answer="사실"
                                        aria-label="사실"
                                        placeholder="정답"
                                    />
                                    세계의
                                    <input
                                        data-answer="자연"
                                        aria-label="자연"
                                        placeholder="정답"
                                    />법칙을 혼동하는 동시에 도덕 법칙이 외부의
                                    사물처럼
                                    <input
                                        data-answer="실재"
                                        aria-label="실재"
                                        placeholder="정답"
                                    />한다고 보는 등
                                    <input
                                        data-answer="도덕적 사실주의"
                                        aria-label="도덕적 사실주의"
                                        placeholder="정답"
                                    />의 정향을 나타낸다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="권위주의적 도덕 단계"
                                        aria-label="권위주의적 도덕 단계"
                                        placeholder="정답"
                                    />의 아동은
                                    <input
                                        data-answer="권위"
                                        aria-label="권위"
                                        placeholder="정답"
                                    />에 의존하여 도덕 판단을 하므로 모든 규칙과
                                    규제를 자신의
                                    <input
                                        data-answer="외부"
                                        aria-label="외부"
                                        placeholder="정답"
                                    />에서 부과되는 것으로 인식하며, 그러한
                                    규칙과 규제를 부여하는 어떤 절대적인 권위적
                                    힘이 존재한다고 믿는다. 그리고 이 단계에서는
                                    권위에 대한
                                    <input
                                        data-answer="일방적"
                                        aria-label="일방적"
                                        placeholder="정답"
                                    />인
                                    <input
                                        data-answer="존중"
                                        aria-label="존중"
                                        placeholder="정답"
                                    />이 두드러지게 나타난다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="상호성의 도덕 단계"
                                        aria-label="상호성의 도덕 단계"
                                        placeholder="정답"
                                    />는 인간 사이의
                                    <input
                                        data-answer="협력"
                                        aria-label="협력"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="조화로운"
                                        aria-label="조화로운"
                                        placeholder="정답"
                                    />
                                    삶을 영위하는 방향으로 아동들의 도덕 판단이
                                    이루어지는 특징이 나타난다. 즉, 도덕 규칙은
                                    <input
                                        data-answer="사회"
                                        aria-label="사회"
                                        placeholder="정답"
                                    />에서 만들어지는 것이며, 그것을 존중해야
                                    하는 이유가 사회의
                                    <input
                                        data-answer="안전"
                                        aria-label="안전"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="조화로운"
                                        aria-label="조화로운"
                                        placeholder="정답"
                                    />
                                    삶을 위한 데 있음을 이해한다. 이 단계의
                                    아동들은
                                    <input
                                        data-answer="조작적 사고 능력"
                                        aria-label="조작적 사고 능력"
                                        placeholder="정답"
                                    />을 갖추게 되는데, 이러한 사고 능력은
                                    도덕적 삶의 세계에도 적용되어 도덕 규칙을
                                    모든 사람을
                                    <input
                                        data-answer="동등"
                                        aria-label="동등"
                                        placeholder="정답"
                                    />하게 대우하려는
                                    <input
                                        data-answer="상호성"
                                        aria-label="상호성"
                                        placeholder="정답"
                                    />의 표현으로 보게 한다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="공정의 도덕 단계"
                                        aria-label="공정의 도덕 단계"
                                        placeholder="정답"
                                    />에서는 이타성과 사회애를 중심으로 하는
                                    인간 사이의 진정한
                                    <input
                                        data-answer="평등"
                                        aria-label="평등"
                                        placeholder="정답"
                                    />의 추구라는 관점에서 도덕 판단이
                                    이루어지는 특징이 있다. 상호성의 도덕
                                    단계에서
                                    <input
                                        data-answer="평등"
                                        aria-label="평등"
                                        placeholder="정답"
                                    />은 정의나 공정을 기반으로 하는
                                    <input
                                        data-answer="법적"
                                        aria-label="법적"
                                        placeholder="정답"
                                    />
                                    관계의 성격이 강했지만, 공정의 도덕 단계에서
                                    <input
                                        data-answer="평등"
                                        aria-label="평등"
                                        placeholder="정답"
                                    />은
                                    <input
                                        data-answer="공감적 연민"
                                        aria-label="공감적 연민"
                                        placeholder="정답"
                                    />을 바탕으로 하는 도덕적 관계로서 나타나는
                                    면이 강하다. 따라서 평등을
                                    <input
                                        data-answer="획일적"
                                        aria-label="획일적"
                                        placeholder="정답"
                                    />으로 추구하기보다는 개인이 처한
                                    <input
                                        data-answer="특수한 상황"
                                        aria-label="특수한 상황"
                                        placeholder="정답"
                                    />을 고려하면서 파악하고자 한다. 이러한 도덕
                                    판단의 태도는 도덕적 자율성과 함께
                                    <input
                                        data-answer="도덕적 창의성"
                                        aria-label="도덕적 창의성"
                                        placeholder="정답"
                                    />으로 연결된다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
