<section id="wise-what">
    <h2>우리는 무엇을 하며 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="생활 도구의 모양과 기능"
                                aria-label="생활 도구의 모양과 기능"
                                placeholder="정답"
                            /><input
                                data-answer="다양한 매체와 재료"
                                aria-label="다양한 매체와 재료"
                                placeholder="정답"
                            /><input
                                data-answer="관심 주제"
                                aria-label="관심 주제"
                                placeholder="정답"
                            /><input
                                data-answer="배운 것과 배울 것"
                                aria-label="배운 것과 배울 것"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="바꾸기"
                                aria-label="바꾸기"
                                placeholder="정답"
                            /><input
                                data-answer="매체 활용하기"
                                aria-label="매체 활용하기"
                                placeholder="정답"
                            /><input
                                data-answer="상상하여 구현하기"
                                aria-label="상상하여 구현하기"
                                placeholder="정답"
                            /><input
                                data-answer="조사하기"
                                aria-label="조사하기"
                                placeholder="정답"
                            /><input
                                data-answer="연결하기"
                                aria-label="연결하기"
                                placeholder="정답"
                            /><input
                                data-answer="탐색하기"
                                aria-label="탐색하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="창의성"
                                aria-label="창의성"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
