<section id="wise-who" class="active">
    <h2>우리는 누구로 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="학교 안팎의 모습과 생활"
                                aria-label="학교 안팎의 모습과 생활"
                                placeholder="정답"
                            /><input
                                data-answer="자아인식"
                                aria-label="자아인식"
                                placeholder="정답"
                            /><input
                                data-answer="가족과 주변 사람"
                                aria-label="가족과 주변 사람"
                                placeholder="정답"
                            /><input
                                data-answer="사람·자연·동식물"
                                aria-label="사람·자연·동식물"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="탐색하기"
                                aria-label="탐색하기"
                                placeholder="정답"
                            /><input
                                data-answer="설명하기"
                                aria-label="설명하기"
                                placeholder="정답"
                            /><input
                                data-answer="탐구하기"
                                aria-label="탐구하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="안전한 학교생활"
                                aria-label="안전한 학교생활"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
