<section id="cooperative-pe">
    <h2>협동학습모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="서로를 위해 서로 함께 배우기"
                                aria-label="서로를 위해 서로 함께 배우기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습영역</th>
                        <td>
                            <input
                                data-answer="정의"
                                aria-label="정의"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>기본 개념</th>
                        <td>
                            <input
                                data-answer="개인의 책무성"
                                aria-label="개인의 책무성"
                                placeholder="정답"
                            />

                            <input
                                data-answer="팀 보상"
                                aria-label="팀 보상"
                                placeholder="정답"
                            />

                            <input
                                data-answer="학습 성공에 대한 평등한 기회 제공"
                                aria-label="학습 성공에 대한 평등한 기회 제공"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ 팀 내
                                <input
                                    data-answer="이질"
                                    aria-label="이질"
                                    placeholder="정답"
                                    style="width: 60px"
                                />, 팀 간
                                <input
                                    data-answer="동질"
                                    aria-label="동질"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>필수요소</th>
                        <td>
                            <input
                                data-answer="개인의 책무성"
                                aria-label="개인의 책무성"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ ⑴ 과제를
                                <input
                                    data-answer="분업화"
                                    aria-label="분업화"
                                    placeholder="정답"
                                    style="width: 80px"
                                />하는 방법 (<input
                                    data-answer="Jigsaw"
                                    aria-label="Jigsaw"
                                    placeholder="정답"
                                    style="width: 80px"
                                />)
                            </div>
                            <div class="overview-question">
                                ㄴ ⑵ 개인 점수를
                                <input
                                    data-answer="집단"
                                    aria-label="집단"
                                    placeholder="정답"
                                    style="width: 80px"
                                />에 반영하는 방법 (<input
                                    data-answer="STAD"
                                    aria-label="STAD"
                                    placeholder="정답"
                                    style="width: 80px"
                                />)
                            </div>

                            <input
                                data-answer="팀원간의 긍정적인 상호 의존"
                                aria-label="팀원간의 긍정적인 상호 의존"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ 구성원 간
                                <input
                                    data-answer="이질성"
                                    aria-label="이질성"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                            </div>

                            <input
                                data-answer="일대일의 발전적인 상호 작용"
                                aria-label="일대일의 발전적인 상호 작용"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="심리적인 일체감"
                                    aria-label="심리적인 일체감"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                            </div>

                            <input
                                data-answer="대인관계와 소집단 인간관계 기술"
                                aria-label="대인관계와 소집단 인간관계 기술"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="협동기술"
                                    aria-label="협동기술"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>

                            <input
                                data-answer="팀 반성"
                                aria-label="팀 반성"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>수업 전략</th>
                        <td>
                            <input
                                data-answer="STAD (학생 팀-성취 배분)"
                                aria-label="STAD (학생 팀-성취 배분)"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ 모든 팀원의
                                <input
                                    data-answer="향상도"
                                    aria-label="향상도"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                합산 = 팀점수
                            </div>
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="개인별 점수"
                                    aria-label="개인별 점수"
                                    placeholder="정답"
                                    style="width: 150px"
                                />는 발표 X, 팀 점수만 발표 -> 팀 내
                                <input
                                    data-answer="협동"
                                    aria-label="협동"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                유발
                            </div>

                            <input
                                data-answer="TGT (팀 게임 토너먼트)"
                                aria-label="TGT (팀 게임 토너먼트)"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="같은 등위"
                                    aria-label="같은 등위"
                                    placeholder="정답"
                                    style="width: 100px"
                                />끼리
                                <input
                                    data-answer="점수 비교"
                                    aria-label="점수 비교"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="운동 기능"
                                    aria-label="운동 기능"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                낮은 학생도 팀에 기여가능 →
                                <input
                                    data-answer="자신감"
                                    aria-label="자신감"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>

                            <input
                                data-answer="TAI (팀-보조 수업)"
                                aria-label="TAI (팀-보조 수업)"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="개별화"
                                    aria-label="개별화"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                학습 +
                                <input
                                    data-answer="협동"
                                    aria-label="협동"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                학습
                            </div>
                            <div class="overview-question">
                                ㄴ 다른 팀원이
                                <input
                                    data-answer="과제 수행 여부"
                                    aria-label="과제 수행 여부"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                                체크
                            </div>

                            <input
                                data-answer="Jigsaw (직소)"
                                aria-label="Jigsaw (직소)"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ ①
                                <input
                                    data-answer="팀별"
                                    aria-label="팀별"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                협동학습 (<input
                                    data-answer="각 팀별"
                                    aria-label="각 팀별"
                                    placeholder="정답"
                                    style="width: 100px"
                                />로 할당된 과제 – 다른 팀에게 가르치기)
                            </div>
                            <div class="overview-question">
                                ㄴ ②
                                <input
                                    data-answer="팀내"
                                    aria-label="팀내"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                협동학습 (<input
                                    data-answer="개인별"
                                    aria-label="개인별"
                                    placeholder="정답"
                                    style="width: 100px"
                                />로 할당된 과제 –
                                <input
                                    data-answer="전문가 집단"
                                    aria-label="전문가 집단"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                - 다른 팀원 가르치기)
                            </div>

                            <input
                                data-answer="GI (집단 연구)"
                                aria-label="GI (집단 연구)"
                                placeholder="정답"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="집단 프로젝트"
                                    aria-label="집단 프로젝트"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                                수행
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
