<section id="direct-instruction-pe">
    <h2>직접교수모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="리더로서의 교사"
                                aria-label="리더로서의 교사"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습영역</th>
                        <td>
                            <input
                                data-answer="심동 > 인지 > 정의"
                                aria-label="심동 > 인지 > 정의"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 학생들이 과제 연습에
                                <input
                                    data-answer="높은 비율"
                                    aria-label="높은 비율"
                                    placeholder="정답"
                                    style="width: 100px"
                                />로 참여하도록 수업 시간과 자원들을
                                <input
                                    data-answer="효율적"
                                    aria-label="효율적"
                                    placeholder="정답"
                                    style="width: 100px"
                                />으로 이용
                            </div>
                            <div class="overview-question">
                                - 학생들의
                                <input
                                    data-answer="학습 목표 도달 정도"
                                    aria-label="학습 목표 도달 정도"
                                    placeholder="정답"
                                    style="width: 250px"
                                />가 높다
                            </div>
                            <div class="overview-question">
                                - 학생들의
                                <input
                                    data-answer="ALT-PE(체육 실제학습시간)"
                                    aria-label="ALT-PE(체육 실제학습시간)"
                                    placeholder="정답"
                                    style="width: 250px"
                                />가 높다
                            </div>
                            <div class="overview-question">
                                - 교사로부터 다양한
                                <input
                                    data-answer="피드백"
                                    aria-label="피드백"
                                    placeholder="정답"
                                    style="width: 100px"
                                />을 제공받는다
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="전시 과제 복습"
                                aria-label="전시 과제 복습"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="새로운 과제 제시"
                                aria-label="새로운 과제 제시"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="설명"
                                    aria-label="설명"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                및
                                <input
                                    data-answer="시범"
                                    aria-label="시범"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                by
                                <input
                                    data-answer="교사"
                                    aria-label="교사"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                            </div>

                            <input
                                data-answer="초기 과제 연습"
                                aria-label="초기 과제 연습"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="지속적 관찰"
                                    aria-label="지속적 관찰"
                                    placeholder="정답"
                                    style="width: 130px"
                                />
                                for
                                <input
                                    data-answer="교정적 피드백"
                                    aria-label="교정적 피드백"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                            </div>

                            <input
                                data-answer="피드백 및 교정"
                                aria-label="피드백 및 교정"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="긍정적"
                                    aria-label="긍정적"
                                    placeholder="정답"
                                    style="width: 80px"
                                />,
                                <input
                                    data-answer="교정적"
                                    aria-label="교정적"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                피드백
                            </div>

                            <input
                                data-answer="독자적인 연습"
                                aria-label="독자적인 연습"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 학생
                                <input
                                    data-answer="독립적"
                                    aria-label="독립적"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                            </div>

                            <input
                                data-answer="본시 학습 복습"
                                aria-label="본시 학습 복습"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
