<section id="individualized-pe">
    <h2>개별화수업모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="수업 진도는 학생이 결정한다. 가능한 빨리, 필요한 만큼 천천히"
                                aria-label="수업 진도는 학생이 결정한다. 가능한 빨리, 필요한 만큼 천천히"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습영역</th>
                        <td>
                            <input
                                data-answer="심동 > 인지 > 정의"
                                aria-label="심동 > 인지 > 정의"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="개별학습지(유인물)"
                                    aria-label="개별학습지(유인물)"
                                    placeholder="정답"
                                    style="width: 150px"
                                />,
                                <input
                                    data-answer="비디오테이프"
                                    aria-label="비디오테이프"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                제시
                            </div>
                            <div class="overview-question">
                                - 과제 제시에 대한
                                <input
                                    data-answer="정보 제시 시간"
                                    aria-label="정보 제시 시간"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                절약 –> 학생과의 교수학습
                                <input
                                    data-answer="상호작용"
                                    aria-label="상호작용"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                증진
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
