<section id="peer-teaching-pe">
    <h2>동료교수모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="나는 너를 가르치고, 너는 나를 가르친다"
                                aria-label="나는 너를 가르치고, 너는 나를 가르친다"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습영역</th>
                        <td>
                            <input
                                data-answer="학습자: 심동 > 인지 > 정의"
                                aria-label="학습자: 심동 > 인지 > 정의"
                                placeholder="정답"
                            />

                            <input
                                data-answer="동료교사: 인지 > 정의 > 심동"
                                aria-label="동료교사: 인지 > 정의 > 심동"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 등장 배경: 교사의
                                <input
                                    data-answer="관찰"
                                    aria-label="관찰"
                                    placeholder="정답"
                                    style="width: 90px"
                                />
                                부족, 교사로부터 받는
                                <input
                                    data-answer="피드백"
                                    aria-label="피드백"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                제한
                            </div>
                            <div class="overview-question">
                                - 필수 단계:
                                <input
                                    data-answer="역할 바꾸기"
                                    aria-label="역할 바꾸기"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                            </div>
                            <div class="overview-question">
                                - 단점:
                                <input
                                    data-answer="경쟁심"
                                    aria-label="경쟁심"
                                    placeholder="정답"
                                    style="width: 100px"
                                />이 많이 유발되는
                                <input
                                    data-answer="팀경기"
                                    aria-label="팀경기"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                적용 불합리 (<input
                                    data-answer="상호교류"
                                    aria-label="상호교류"
                                    placeholder="정답"
                                    style="width: 100px"
                                />적음)
                            </div>
                            <div class="overview-question">
                                - 짝:
                                <input
                                    data-answer="동성"
                                    aria-label="동성"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="기능 비슷"
                                    aria-label="기능 비슷"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="갈등X"
                                    aria-label="갈등X"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
