<section id="psr-pe">
    <h2>개인적⋅사회적 책임감 지도 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="전이, 통합, 권한위임, 교사-학생 관계"
                                aria-label="전이, 통합, 권한위임, 교사-학생 관계"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>목적</th>
                        <td>
                            <div class="overview-question">
                                스포츠와 신체활동을 통해
                                <input
                                    data-answer="개인적 사회적 책임"
                                    aria-label="개인적 사회적 책임"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                                의식 형성 및
                                <input
                                    data-answer="삶의 안녕"
                                    aria-label="삶의 안녕"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                추구
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>책임감 수준</th>
                        <td>
                            <input
                                data-answer="무책임"
                                aria-label="무책임"
                                placeholder="0단계"
                            />

                            <input
                                data-answer="타인의 권리와 감정 존중"
                                aria-label="타인의 권리와 감정 존중"
                                placeholder="1단계"
                            />

                            <input
                                data-answer="참여와 노력"
                                aria-label="참여와 노력"
                                placeholder="2단계"
                            />

                            <input
                                data-answer="자기 책임"
                                aria-label="자기 책임"
                                placeholder="3단계"
                            />

                            <input
                                data-answer="배려 (타인을 배려하고 돕기)"
                                aria-label="배려 (타인을 배려하고 돕기)"
                                placeholder="4단계"
                            />

                            <input
                                data-answer="전이 (체육 수업 밖으로의 전이)"
                                aria-label="전이 (체육 수업 밖으로의 전이)"
                                placeholder="5단계"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>수업 구조<br />키워드</th>
                        <td>
                            <input
                                data-answer="상담"
                                aria-label="상담"
                                placeholder="정답"
                            />

                            <input
                                data-answer="대화"
                                aria-label="대화"
                                placeholder="정답"
                            />

                            <input
                                data-answer="반성"
                                aria-label="반성"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
