<section id="sport-education-pe">
    <h2>스포츠교육모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="박식하고 유능하며 열정적인 스포츠인으로 성장하기"
                                aria-label="박식하고 유능하며 열정적인 스포츠인으로 성장하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습영역</th>
                        <td>
                            <input
                                data-answer="선수: 심동 > 인지 > 정의"
                                aria-label="선수: 심동 > 인지 > 정의"
                                placeholder="정답"
                            />

                            <input
                                data-answer="코치: 인지 > 정의 > 심동"
                                aria-label="코치: 인지 > 정의 > 심동"
                                placeholder="정답"
                            />

                            <input
                                data-answer="팀원: 정의 > 인지 > 심동"
                                aria-label="팀원: 정의 > 인지 > 심동"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>모형의 요소</th>
                        <td>
                            <input
                                data-answer="축제화"
                                aria-label="축제화"
                                placeholder="정답"
                            />

                            <input
                                data-answer="시즌"
                                aria-label="시즌"
                                placeholder="정답"
                            />

                            <input
                                data-answer="팀 소속"
                                aria-label="팀 소속"
                                placeholder="정답"
                            />

                            <input
                                data-answer="공식 경기"
                                aria-label="공식 경기"
                                placeholder="정답"
                            />

                            <input
                                data-answer="결승전 행사"
                                aria-label="결승전 행사"
                                placeholder="정답"
                            />

                            <input
                                data-answer="기록 보존"
                                aria-label="기록 보존"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 장점:
                                <input
                                    data-answer="협동심"
                                    aria-label="협동심"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="사회성"
                                    aria-label="사회성"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                신장
                            </div>
                            <div class="overview-question">
                                - 단점:
                                <input
                                    data-answer="지나친 경쟁"
                                    aria-label="지나친 경쟁"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                강조
                            </div>
                            <div class="overview-question">
                                - 학생은 정해진
                                <input
                                    data-answer="역할"
                                    aria-label="역할"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                배정받아 번갈아(<input
                                    data-answer="선수"
                                    aria-label="선수"
                                    placeholder="정답"
                                    style="width: 80px"
                                />,
                                <input
                                    data-answer="코치"
                                    aria-label="코치"
                                    placeholder="정답"
                                    style="width: 80px"
                                />,
                                <input
                                    data-answer="팀원"
                                    aria-label="팀원"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                등)
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
