<section id="tgfu-pe">
    <h2>이해중심게임수업모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>주제</th>
                        <td>
                            <input
                                data-answer="이해 중심 게임 지도"
                                aria-label="이해 중심 게임 지도"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>학습영역</th>
                        <td>
                            <input
                                data-answer="인지 > 심동"
                                aria-label="인지 > 심동"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="게임 소개"
                                aria-label="게임 소개"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="게임 성격"
                                    aria-label="게임 성격"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                이해
                            </div>

                            <input
                                data-answer="게임 이해"
                                aria-label="게임 이해"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="게임 규칙"
                                    aria-label="게임 규칙"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                이해
                            </div>

                            <input
                                data-answer="전술 이해"
                                aria-label="전술 이해"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="단순한"
                                    aria-label="단순한"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                형태 게임① - 게임을 실제로 해보기
                            </div>

                            <input
                                data-answer="의사 결정"
                                aria-label="의사 결정"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="무엇(전술적 지식을)"
                                    aria-label="무엇(전술적 지식을)"
                                    placeholder="정답"
                                    style="width: 200px"
                                />을,
                                <input
                                    data-answer="언제(시기)"
                                    aria-label="언제(시기)"
                                    placeholder="정답"
                                    style="width: 150px"
                                />,
                                <input
                                    data-answer="어떻게(방법)"
                                    aria-label="어떻게(방법)"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                할 것인지 의사결정
                            </div>

                            <input
                                data-answer="기능 연습"
                                aria-label="기능 연습"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="실제 게임 수행"
                                aria-label="실제 게임 수행"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 게임② -
                                <input
                                    data-answer="전략"
                                    aria-label="전략"
                                    placeholder="정답"
                                    style="width: 80px"
                                />과
                                <input
                                    data-answer="기술"
                                    aria-label="기술"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                적용
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>요약 단계</th>
                        <td>
                            <input
                                data-answer="게임(변형된 형태)"
                                aria-label="게임(변형된 형태)"
                                placeholder="정답"
                            />

                            <input
                                data-answer="기능"
                                aria-label="기능"
                                placeholder="정답"
                            />

                            <input
                                data-answer="게임(완성된 형태)"
                                aria-label="게임(완성된 형태)"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="기능"
                                    aria-label="기능"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                중심 게임 지도(선
                                <input
                                    data-answer="기능"
                                    aria-label="기능"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                후
                                <input
                                    data-answer="게임"
                                    aria-label="게임"
                                    placeholder="정답"
                                    style="width: 80px"
                                />)의 대안
                            </div>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="기술"
                                    aria-label="기능"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                <
                                <input
                                    data-answer="전술"
                                    aria-label="전술"
                                    placeholder="정답"
                                    style="width: 80px"
                                />,
                                <input
                                    data-answer="어떻게"
                                    aria-label="어떻게"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                <
                                <input
                                    data-answer="왜"
                                    aria-label="왜"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                우선시
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th>장점</th>
                        <td>
                            <div class="overview-question">
                                ① 게임
                                <input
                                    data-answer="참여"
                                    aria-label="참여"
                                    placeholder="정답"
                                    style="width: 80px"
                                />와
                                <input
                                    data-answer="흥미"
                                    aria-label="흥미"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                증대
                            </div>
                            <div class="overview-question">
                                ②
                                <input
                                    data-answer="기능 연습"
                                    aria-label="기능 연습"
                                    placeholder="정답"
                                    style="width: 100px"
                                />의 필요성 인식
                            </div>
                            <div class="overview-question">
                                ③
                                <input
                                    data-answer="전이 효과"
                                    aria-label="전이 효과"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                (<input
                                    data-answer="범주화"
                                    aria-label="범주화"
                                    placeholder="정답"
                                    style="width: 100px"
                                />
                                방식)
                            </div>
                            <div class="overview-question">
                                ④
                                <input
                                    data-answer="실제적"
                                    aria-label="실제적"
                                    placeholder="정답"
                                    style="width: 80px"
                                />인 게임 상황에서 지도 (<input
                                    data-answer="체험적"
                                    aria-label="체험적"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                지도)
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
