<section id="concept-formation-math">
    <h2>개념 학습 모형 (개념 형성)</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="범례 제시 및 범례 분류하기"
                                aria-label="범례 제시 및 범례 분류하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="범례"
                                    aria-label="범례"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                (<input
                                    data-answer="정례"
                                    aria-label="정례"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                +
                                <input
                                    data-answer="비례"
                                    aria-label="비례"
                                    placeholder="정답"
                                    style="width: 60px"
                                />) 제시 ->
                                <input
                                    data-answer="속성"
                                    aria-label="속성"
                                    placeholder="정답"
                                    style="width: 60px"
                                />에 따라 분류
                            </div>

                            <input
                                data-answer="공통의 성질 추상화하기"
                                aria-label="공통의 성질 추상화하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="개념 정의하기"
                                aria-label="개념 정의하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="개념 익히기"
                                aria-label="개념 익히기"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
