<section id="math-title" class="active">
    <h2>타이틀</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>모형명</th>
                        <td class="two-col-answers" data-group="math-title">
                            <input
                                data-answer="개념 형성 모형 (개념 학습 모형)"
                                aria-label="개념 형성 모형 (개념 학습 모형)"
                                placeholder="정답"
                            />

                            <input
                                data-answer="속성 모형 (개념 학습 모형)"
                                aria-label="속성 모형 (개념 학습 모형)"
                                placeholder="정답"
                            />

                            <input
                                data-answer="귀납 추론 학습 모형"
                                aria-label="귀납 추론 학습 모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="문제해결학습 모형"
                                aria-label="문제해결학습 모형"
                                placeholder="정답"
                            />

                            <input
                                data-answer="원리 탐구 학습 모형"
                                aria-label="원리 탐구 학습 모형"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="model-next-action">
        <button id="math-title-next-btn" class="btn">다음으로</button>
    </div>
</section>
