<section id="problem-solving-math">
    <h2>문제 해결 학습</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제의 이해"
                                aria-label="문제의 이해"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="구하려는 것"
                                    aria-label="구하려는 것"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="조건"
                                    aria-label="조건"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                            </div>

                            <input
                                data-answer="해결 계획의 수립"
                                aria-label="해결 계획의 수립"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 전에
                                <input
                                    data-answer="유사한 문제"
                                    aria-label="유사한 문제"
                                    placeholder="정답"
                                    style="width: 100px"
                                />를 풀어 본 적 있는 지 생각 (<input
                                    data-answer="유추적 사고"
                                    aria-label="유추적 사고"
                                    placeholder="정답"
                                    style="width: 100px"
                                />)
                            </div>
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="문제 해결 전략"
                                    aria-label="문제 해결 전략"
                                    placeholder="정답"
                                    style="width: 130px"
                                />
                                (<input
                                    data-answer="단순화하기"
                                    aria-label="단순화하기"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="거꾸로 풀기"
                                    aria-label="거꾸로 풀기"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="예상과 확인"
                                    aria-label="예상과 확인"
                                    placeholder="정답"
                                    style="width: 100px"
                                />,
                                <input
                                    data-answer="논리적 추론"
                                    aria-label="논리적 추론"
                                    placeholder="정답"
                                    style="width: 100px"
                                />)
                            </div>

                            <input
                                data-answer="해결 계획의 실행"
                                aria-label="해결 계획의 실행"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="반성"
                                aria-label="반성"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="해결 과정 검토하기"
                                aria-label="해결 과정 검토하기"
                                placeholder="세부 단계"
                            />

                            <input
                                data-answer="해결 방법 일반화하기"
                                aria-label="해결 방법 일반화하기"
                                placeholder="세부 단계"
                            />

                            <input
                                data-answer="다른 해결 방법 탐색하기"
                                aria-label="다른 해결 방법 탐색하기"
                                placeholder="세부 단계"
                            />

                            <input
                                data-answer="조건을 변경해 새로운 문제 만들기"
                                aria-label="조건을 변경해 새로운 문제 만들기"
                                placeholder="세부 단계"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
