<section id="basic-geometry" class="active">
    <h2>도형의 기초</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#선</div>

                                <div class="overview-question">
                                    선분:
                                    <input
                                        data-answer="두 점"
                                        aria-label="두 점"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="곧게 이은"
                                        aria-label="곧게 이은"
                                        placeholder="정답"
                                    />
                                    선
                                </div>

                                <div class="overview-question">
                                    직선:
                                    <input
                                        data-answer="선분"
                                        aria-label="선분"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="양쪽으로 끝없이"
                                        aria-label="양쪽으로 끝없이"
                                        placeholder="정답"
                                    />
                                    늘인
                                    <input
                                        data-answer="곧은"
                                        aria-label="곧은"
                                        placeholder="정답"
                                    />
                                    선
                                </div>

                                <div class="overview-question">
                                    반직선:
                                    <input
                                        data-answer="한 점"
                                        aria-label="한 점"
                                        placeholder="정답"
                                    />에서 시작하여
                                    <input
                                        data-answer="한쪽으로 끝없이"
                                        aria-label="한쪽으로 끝없이"
                                        placeholder="정답"
                                    />
                                    늘인
                                    <input
                                        data-answer="곧은"
                                        aria-label="곧은"
                                        placeholder="정답"
                                    />
                                    선
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#각</div>

                                <div class="overview-question">
                                    각:
                                    <input
                                        data-answer="한 점"
                                        aria-label="한 점"
                                        placeholder="정답"
                                    />에서 그은
                                    <input
                                        data-answer="두 반직선"
                                        aria-label="두 반직선"
                                        placeholder="정답"
                                    />으로 이루어진
                                    <input
                                        data-answer="도형"
                                        aria-label="도형"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    각 구성요소:
                                    <input
                                        data-answer="변"
                                        aria-label="변"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="꼭짓점"
                                        aria-label="꼭짓점"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    평면각_학문:
                                    <input
                                        data-answer="한 평면 위"
                                        aria-label="한 평면 위"
                                        placeholder="정답"
                                    />에서
                                    <input
                                        data-answer="서로 만나"
                                        aria-label="서로 만나"
                                        placeholder="정답"
                                    />고
                                    <input
                                        data-answer="일직선이 되지 않는"
                                        aria-label="일직선이 되지 않는"
                                        placeholder="정답"
                                    />
                                    두 선 사이의
                                    <input
                                        data-answer="기울기"
                                        aria-label="기울기"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    직선각_학문:
                                    <input
                                        data-answer="평면각"
                                        aria-label="평면각"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="특수한"
                                        aria-label="특수한"
                                        placeholder="정답"
                                    />
                                    경우로 각을 품은 선들이
                                    <input
                                        data-answer="직선"
                                        aria-label="직선"
                                        placeholder="정답"
                                    />일 때
                                </div>

                                <div class="overview-question">
                                    직각:
                                    <input
                                        data-answer="종이"
                                        aria-label="종이"
                                        placeholder="정답"
                                    />를
                                    <input
                                        data-answer="반듯"
                                        aria-label="반듯"
                                        placeholder="정답"
                                    />하게
                                    <input
                                        data-answer="두 번 접었을"
                                        aria-label="두 번 접었을"
                                        placeholder="정답"
                                    />
                                    때 생기는 각
                                </div>

                                <div class="overview-question">
                                    직각_학문:
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />이 만나서 생기는
                                    <input
                                        data-answer="서로 이웃한"
                                        aria-label="서로 이웃한"
                                        placeholder="정답"
                                    />
                                    각이
                                    <input
                                        data-answer="서로 같을"
                                        aria-label="서로 같을"
                                        placeholder="정답"
                                    />
                                    때 같게 되는 이 각
                                </div>

                                <div class="overview-question">
                                    예각: 각도가
                                    <input
                                        data-answer="0도"
                                        aria-label="0도"
                                        placeholder="정답"
                                    />보다 크고
                                    <input
                                        data-answer="직각"
                                        aria-label="직각"
                                        placeholder="정답"
                                    />보다 작은 각
                                </div>

                                <div class="overview-question">
                                    둔각: 각도가
                                    <input
                                        data-answer="직각"
                                        aria-label="직각"
                                        placeholder="정답"
                                    />보다 크고
                                    <input
                                        data-answer="180도"
                                        aria-label="180도"
                                        placeholder="정답"
                                    />보다 작은 각
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #두 직선 사이의 관계
                                </div>

                                <div class="overview-question">
                                    수직:
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />이 만나서 이루어지는 각이
                                    <input
                                        data-answer="직각"
                                        aria-label="직각"
                                        placeholder="정답"
                                    />일 때,
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />은 서로
                                    <input
                                        data-answer="수직"
                                        aria-label="수직"
                                        placeholder="정답"
                                    />이라고 함.
                                </div>

                                <div class="overview-question">
                                    수선:
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />이 서로
                                    <input
                                        data-answer="수직"
                                        aria-label="수직"
                                        placeholder="정답"
                                    />일 때,
                                    <input
                                        data-answer="한 직선"
                                        aria-label="한 직선"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="다른 직선"
                                        aria-label="다른 직선"
                                        placeholder="정답"
                                    />에 대한
                                    <input
                                        data-answer="수선"
                                        aria-label="수선"
                                        placeholder="정답"
                                    />이라고 함.
                                </div>

                                <div class="overview-question">
                                    평행:<input
                                        data-answer="한 직선"
                                        aria-label="한 직선"
                                        placeholder="정답"
                                    />에
                                    <input
                                        data-answer="수직"
                                        aria-label="수직"
                                        placeholder="정답"
                                    />인
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />을 그었을 때,
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />은
                                    <input
                                        data-answer="서로 만나지 않"
                                        aria-label="서로 만나지 않"
                                        placeholder="정답"
                                    />음.
                                    <input
                                        data-answer="서로 만나지 않"
                                        aria-label="서로 만나지 않"
                                        placeholder="정답"
                                    />는
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />을
                                    <input
                                        data-answer="평행"
                                        aria-label="평행"
                                        placeholder="정답"
                                    />하다고 함.
                                </div>

                                <div class="overview-question">
                                    평행선:
                                    <input
                                        data-answer="평행"
                                        aria-label="평행"
                                        placeholder="정답"
                                    />한
                                    <input
                                        data-answer="두 직선"
                                        aria-label="두 직선"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    평행선 사이의 거리:
                                    <input
                                        data-answer="평행선"
                                        aria-label="평행선"
                                        placeholder="정답"
                                    />
                                    사이에
                                    <input
                                        data-answer="수직"
                                        aria-label="수직"
                                        placeholder="정답"
                                    />인
                                    <input
                                        data-answer="선분"
                                        aria-label="선분"
                                        placeholder="정답"
                                    />의 길이
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
