<section id="plane-figures">
    <h2>평면도형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">
                                    #평면도형과 그 구성 요소
                                </div>

                                <div class="overview-question">
                                    삼각형 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="변"
                                            aria-label="변"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="꼭짓점"
                                            aria-label="꼭짓점"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    사각형 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="변"
                                            aria-label="변"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="꼭짓점"
                                            aria-label="꼭짓점"
                                            placeholder="정답"
                                    /></span>
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #여러 가지 삼각형
                                </div>

                                <div class="overview-question">
                                    이등변삼각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 변의 길이"
                                            aria-label="두 변의 길이"
                                            placeholder="정답" /></span
                                    >가 같은 삼각형
                                </div>

                                <div class="overview-question">
                                    이등변삼각형의 성질:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="길이가 같은 두 변"
                                            aria-label="길이가 같은 두 변"
                                            placeholder="정답" /></span
                                    >에 있는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 각의 크기"
                                            aria-label="두 각의 크기"
                                            placeholder="정답" /></span
                                    >가 같다.
                                </div>

                                <div class="overview-question">
                                    정삼각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="세 변의 길이"
                                            aria-label="세 변의 길이"
                                            placeholder="정답" /></span
                                    >가 같은 삼각형
                                </div>

                                <div class="overview-question">
                                    정삼각형의 성질: 모든 각의 크기가
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="60도"
                                            aria-label="60도"
                                            placeholder="정답" /></span
                                    >로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="세 각의 크기"
                                            aria-label="세 각의 크기"
                                            placeholder="정답" /></span
                                    >가 같다.
                                </div>

                                <div class="overview-question">
                                    직각삼각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 각"
                                            aria-label="한 각"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="직각"
                                            aria-label="직각"
                                            placeholder="정답" /></span
                                    >인 삼각형
                                </div>

                                <div class="overview-question">
                                    예각삼각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="세 각"
                                            aria-label="세 각"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모두 예각"
                                            aria-label="모두 예각"
                                            placeholder="정답" /></span
                                    >인 삼각형
                                </div>

                                <div class="overview-question">
                                    둔각삼각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 각"
                                            aria-label="한 각"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="둔각"
                                            aria-label="둔각"
                                            placeholder="정답" /></span
                                    >인 삼각형
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #여러 가지 사각형
                                </div>

                                <div class="overview-question">
                                    사다리꼴:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평행한 변"
                                            aria-label="평행한 변"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 쌍"
                                            aria-label="한 쌍"
                                            placeholder="정답" /></span
                                    >이라도 있는 사각형
                                </div>

                                <div class="overview-question">
                                    평행사변형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="마주 보는 두 쌍"
                                            aria-label="마주 보는 두 쌍"
                                            placeholder="정답" /></span
                                    >의 변이 서로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평행"
                                            aria-label="평행"
                                            placeholder="정답" /></span
                                    >한 사각형
                                </div>

                                <div class="overview-question">
                                    마름모:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="네 변의 길이"
                                            aria-label="네 변의 길이"
                                            placeholder="정답" /></span
                                    >가
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모두 같은"
                                            aria-label="모두 같은"
                                            placeholder="정답"
                                    /></span>
                                    사각형
                                </div>

                                <div class="overview-question">
                                    직사각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="네 각"
                                            aria-label="네 각"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모두 직각"
                                            aria-label="모두 직각"
                                            placeholder="정답" /></span
                                    >인 사각형
                                </div>

                                <div class="overview-question">
                                    정사각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="네 각"
                                            aria-label="네 각"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모두 직각"
                                            aria-label="모두 직각"
                                            placeholder="정답" /></span
                                    >이고
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="네 변의 길이"
                                            aria-label="네 변의 길이"
                                            placeholder="정답" /></span
                                    >가
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모두 같은"
                                            aria-label="모두 같은"
                                            placeholder="정답"
                                    /></span>
                                    사각형
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#다각형</div>

                                <div class="overview-question">
                                    다각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답" /></span
                                    >으로만
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="둘러싸인"
                                            aria-label="둘러싸인"
                                            placeholder="정답"
                                    /></span>
                                    도형
                                </div>

                                <div class="overview-question">
                                    다각형 분류:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="변의 수"
                                            aria-label="변의 수"
                                            placeholder="정답" /></span
                                    >에 따라 다각형 분류하기
                                </div>

                                <div class="overview-question">
                                    정다각형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="변의 길이"
                                            aria-label="변의 길이"
                                            placeholder="정답" /></span
                                    >가 모두 같고,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="각의 크기"
                                            aria-label="각의 크기"
                                            placeholder="정답" /></span
                                    >가 모두 같은 다각형
                                </div>

                                <div class="overview-question">
                                    대각선: 다각형에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="서로 이웃하지 않"
                                            aria-label="서로 이웃하지 않"
                                            placeholder="정답" /></span
                                    >는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 꼭짓점"
                                            aria-label="두 꼭짓점"
                                            placeholder="정답" /></span
                                    >을 이은
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#원</div>

                                <div class="overview-question">
                                    원_학문:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평면"
                                            aria-label="평면"
                                            placeholder="정답"
                                    /></span>
                                    위의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 점"
                                            aria-label="한 점"
                                            placeholder="정답" /></span
                                    >으로부터
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="같은 거리"
                                            aria-label="같은 거리"
                                            placeholder="정답" /></span
                                    >에 있는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="점들의 집합"
                                            aria-label="점들의 집합"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    원 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 중심"
                                            aria-label="원의 중심"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="반지름"
                                            aria-label="반지름"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="지름"
                                            aria-label="지름"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="outline-title">
                                    [방법1] 누름 못과 띠종이를 이용하여 원
                                    그리기
                                </div>

                                <div class="overview-question">
                                    ① 원의 중심: 원을 그릴 때
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="누름 못"
                                            aria-label="누름 못"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="꽂혔던 점"
                                            aria-label="꽂혔던 점"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    ② 반지름:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 중심"
                                            aria-label="원의 중심"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원 위의 한 점"
                                            aria-label="원 위의 한 점"
                                            placeholder="정답" /></span
                                    >을 이은
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    ③ 지름:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 중심"
                                            aria-label="원의 중심"
                                            placeholder="정답" /></span
                                    >을 지나도록
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원 위의 두 점"
                                            aria-label="원 위의 두 점"
                                            placeholder="정답" /></span
                                    >을 이은
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="outline-title">
                                    [방법2] 원 모양의 종이접기
                                </div>

                                <div class="overview-question">
                                    ① 지름: 원을
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="완전히 포개지"
                                            aria-label="완전히 포개지"
                                            placeholder="정답" /></span
                                    >도록
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="반"
                                            aria-label="반"
                                            placeholder="정답" /></span
                                    >으로 접어서 생기는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    ② 원의 중심:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 지름"
                                            aria-label="두 지름"
                                            placeholder="정답" /></span
                                    >이 만나는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="점"
                                            aria-label="점"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    ③ 반지름:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 중심"
                                            aria-label="원의 중심"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원 위의 한 점"
                                            aria-label="원 위의 한 점"
                                            placeholder="정답" /></span
                                    >을 이은
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="outline-title">[학문 수학]</div>

                                <div class="overview-question">
                                    ① 원의 중심:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원 위의 모든 점"
                                            aria-label="원 위의 모든 점"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="같은 거리"
                                            aria-label="같은 거리"
                                            placeholder="정답" /></span
                                    >에 있는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 점"
                                            aria-label="한 점"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    ② 지름:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원 위의 두 점"
                                            aria-label="원 위의 두 점"
                                            placeholder="정답" /></span
                                    >을
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="양 끝점"
                                            aria-label="양 끝점"
                                            placeholder="정답" /></span
                                    >으로 하고
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 중심"
                                            aria-label="원의 중심"
                                            placeholder="정답" /></span
                                    >을 지나는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    ③ 반지름:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 중심"
                                            aria-label="원의 중심"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원 위의 한 점"
                                            aria-label="원 위의 한 점"
                                            placeholder="정답" /></span
                                    >에 이르는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답"
                                    /></span>
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#합동과 대칭</div>

                                <div class="overview-question">
                                    합동:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모양"
                                            aria-label="모양"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="크기"
                                            aria-label="크기"
                                            placeholder="정답" /></span
                                    >가 같아서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="포개었을"
                                            aria-label="포개었을"
                                            placeholder="정답"
                                    /></span>
                                    때
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="완전히 겹쳐지는"
                                            aria-label="완전히 겹쳐지는"
                                            placeholder="정답"
                                    /></span>
                                    두 도형
                                </div>

                                <div class="overview-question">
                                    합동인 도형 성질: 각각의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대응변"
                                            aria-label="대응변"
                                            placeholder="정답" /></span
                                    >의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="길이"
                                            aria-label="길이"
                                            placeholder="정답" /></span
                                    >는 서로 같다. 각각의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대응각"
                                            aria-label="대응각"
                                            placeholder="정답" /></span
                                    >의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="크기"
                                            aria-label="크기"
                                            placeholder="정답" /></span
                                    >는 서로 같다.
                                </div>

                                <div class="overview-question">
                                    선대칭도형:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 직선"
                                            aria-label="한 직선"
                                            placeholder="정답" /></span
                                    >을 따라
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="접어"
                                            aria-label="접어"
                                            placeholder="정답" /></span
                                    >서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="완전히 겹쳐지는"
                                            aria-label="완전히 겹쳐지는"
                                            placeholder="정답"
                                    /></span>
                                    도형
                                </div>

                                <div class="overview-question">
                                    선대칭 도형의 성질:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대응점"
                                            aria-label="대응점"
                                            placeholder="정답" /></span
                                    >끼리 이은
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대칭축"
                                            aria-label="대칭축"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="수직"
                                            aria-label="수직"
                                            placeholder="정답" /></span
                                    >이며, 각각의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대응점"
                                            aria-label="대응점"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대칭축"
                                            aria-label="대칭축"
                                            placeholder="정답" /></span
                                    >까지의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="거리"
                                            aria-label="거리"
                                            placeholder="정답" /></span
                                    >가 서로 같다
                                </div>

                                <div class="overview-question">
                                    점대칭도형: 한 도형을
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="어떤 점"
                                            aria-label="어떤 점"
                                            placeholder="정답" /></span
                                    >을 중심으로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="180도 돌렸을"
                                            aria-label="180도 돌렸을"
                                            placeholder="정답"
                                    /></span>
                                    때, 처음 도형과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="완전히 겹치는"
                                            aria-label="완전히 겹치는"
                                            placeholder="정답"
                                    /></span>
                                    도형
                                </div>

                                <div class="overview-question">
                                    점대칭 도형의 성질:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대칭의 중심"
                                            aria-label="대칭의 중심"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="대응점"
                                            aria-label="대응점"
                                            placeholder="정답" /></span
                                    >까지의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="거리"
                                            aria-label="거리"
                                            placeholder="정답" /></span
                                    >는 각각 같다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
