<section id="solid-figures">
    <h2>입체도형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">
                                    #직육면체와 정육면체
                                </div>

                                <div class="overview-question">
                                    직육면체:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="직사각형 6개"
                                            aria-label="직사각형 6개"
                                            placeholder="정답" /></span
                                    >로 둘러싸인 도형
                                </div>

                                <div class="overview-question">
                                    직육면체 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="옆면"
                                            aria-label="옆면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="꼭짓점"
                                            aria-label="꼭짓점"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답" /></span
                                    >으로 둘러싸인 부분
                                </div>

                                <div class="overview-question">
                                    모서리:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="면"
                                            aria-label="면"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="면"
                                            aria-label="면"
                                            placeholder="정답" /></span
                                    >이 만나는 선분
                                </div>

                                <div class="overview-question">
                                    꼭짓점:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >와
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >가 만나는 점
                                </div>

                                <div class="overview-question">
                                    밑면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="계속 늘여"
                                            aria-label="계속 늘여"
                                            placeholder="정답" /></span
                                    >도
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="만나지 않"
                                            aria-label="만나지 않"
                                            placeholder="정답" /></span
                                    >는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="서로 평행"
                                            aria-label="서로 평행"
                                            placeholder="정답" /></span
                                    >한
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 면"
                                            aria-label="두 면"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    옆면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="수직"
                                            aria-label="수직"
                                            placeholder="정답" /></span
                                    >인 면
                                </div>

                                <div class="overview-question">
                                    정육면체:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="정사각형 6개"
                                            aria-label="정사각형 6개"
                                            placeholder="정답" /></span
                                    >로 둘러싸인 도형
                                </div>

                                <div class="overview-question">
                                    겨냥도 그리기:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="보이는 모서리"
                                            aria-label="보이는 모서리"
                                            placeholder="정답" /></span
                                    >는 실선으로,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="보이지 않는 모서리"
                                            aria-label="보이지 않는 모서리"
                                            placeholder="정답" /></span
                                    >는 점선으로 그리기
                                </div>

                                <div class="overview-question">
                                    전개도 그리기:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="잘린 모서리"
                                            aria-label="잘린 모서리"
                                            placeholder="정답" /></span
                                    >는 실선으로,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="잘리지 않은 모서리"
                                            aria-label="잘리지 않은 모서리"
                                            placeholder="정답" /></span
                                    >는 점선으로 그리기
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#각기둥</div>

                                <div class="overview-question">
                                    각기둥:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 면"
                                            aria-label="두 면"
                                            placeholder="정답" /></span
                                    >이 서로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평행"
                                            aria-label="평행"
                                            placeholder="정답" /></span
                                    >하고
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="합동"
                                            aria-label="합동"
                                            placeholder="정답" /></span
                                    >인
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="다각형"
                                            aria-label="다각형"
                                            placeholder="정답" /></span
                                    >으로 이루어진 입체도형
                                </div>

                                <div class="overview-question">
                                    각기둥 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="옆면"
                                            aria-label="옆면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="꼭짓점"
                                            aria-label="꼭짓점"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="높이"
                                            aria-label="높이"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    밑면: 서로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평행"
                                            aria-label="평행"
                                            placeholder="정답" /></span
                                    >하고
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="합동"
                                            aria-label="합동"
                                            placeholder="정답" /></span
                                    >인 두 면
                                </div>

                                <div class="overview-question">
                                    옆면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 밑면"
                                            aria-label="두 밑면"
                                            placeholder="정답" /></span
                                    >과 만나는 면
                                </div>

                                <div class="overview-question">
                                    모서리:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="면"
                                            aria-label="면"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="면"
                                            aria-label="면"
                                            placeholder="정답" /></span
                                    >이 만나는 선분
                                </div>

                                <div class="overview-question">
                                    꼭짓점:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >와
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >가 만나는 점
                                </div>

                                <div class="overview-question">
                                    높이:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 밑면"
                                            aria-label="두 밑면"
                                            placeholder="정답"
                                    /></span>
                                    사이의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="거리"
                                            aria-label="거리"
                                            placeholder="정답"
                                    /></span>
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#각뿔</div>

                                <div class="overview-question">
                                    각뿔:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="바닥"
                                            aria-label="바닥"
                                            placeholder="정답" /></span
                                    >에 놓인 면이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="다각형"
                                            aria-label="다각형"
                                            placeholder="정답" /></span
                                    >이고, 나머지 모든 면이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="삼각형"
                                            aria-label="삼각형"
                                            placeholder="정답" /></span
                                    >이면서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 점"
                                            aria-label="한 점"
                                            placeholder="정답" /></span
                                    >에서 만나는 입체도형
                                </div>

                                <div class="overview-question">
                                    각뿔 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="옆면"
                                            aria-label="옆면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="꼭짓점"
                                            aria-label="꼭짓점"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="각뿔의 꼭짓점"
                                            aria-label="각뿔의 꼭짓점"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="높이"
                                            aria-label="높이"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    밑면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="바닥"
                                            aria-label="바닥"
                                            placeholder="정답" /></span
                                    >에 놓인 면
                                </div>

                                <div class="overview-question">
                                    옆면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >과 만나는 면
                                </div>

                                <div class="overview-question">
                                    모서리:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="면"
                                            aria-label="면"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="면"
                                            aria-label="면"
                                            placeholder="정답" /></span
                                    >이 만나는 선분
                                </div>

                                <div class="overview-question">
                                    꼭짓점:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >와
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모서리"
                                            aria-label="모서리"
                                            placeholder="정답" /></span
                                    >가 만나는 점
                                </div>

                                <div class="overview-question">
                                    각뿔의 꼭짓점: 꼭짓점 중에서도
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="옆면"
                                            aria-label="옆면"
                                            placeholder="정답" /></span
                                    >이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모두"
                                            aria-label="모두"
                                            placeholder="정답"
                                    /></span>
                                    만나는 점
                                </div>

                                <div class="overview-question">
                                    높이:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="각뿔의 꼭짓점"
                                            aria-label="각뿔의 꼭짓점"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >까지
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="수직"
                                            aria-label="수직"
                                            placeholder="정답" /></span
                                    >으로 연결한 선분의 길이
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#원기둥</div>

                                <div class="overview-question">
                                    원기둥: 서로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평행"
                                            aria-label="평행"
                                            placeholder="정답" /></span
                                    >하고
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="합동"
                                            aria-label="합동"
                                            placeholder="정답" /></span
                                    >인
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 원"
                                            aria-label="두 원"
                                            placeholder="정답" /></span
                                    >을 면으로 하는 입체도형
                                </div>

                                <div class="overview-question">
                                    원기둥 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="옆면"
                                            aria-label="옆면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="높이"
                                            aria-label="높이"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    밑면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평행"
                                            aria-label="평행"
                                            placeholder="정답" /></span
                                    >하고 서로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="합동"
                                            aria-label="합동"
                                            placeholder="정답" /></span
                                    >인 두 면
                                </div>

                                <div class="overview-question">
                                    옆면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 밑면"
                                            aria-label="두 밑면"
                                            placeholder="정답" /></span
                                    >과 만나는 면
                                </div>

                                <div class="overview-question">
                                    높이:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 밑면"
                                            aria-label="두 밑면"
                                            placeholder="정답" /></span
                                    >에
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="수직"
                                            aria-label="수직"
                                            placeholder="정답" /></span
                                    >인 선분의 길이
                                </div>

                                <div class="overview-question">
                                    원기둥의 전개도: 원기둥의
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="두 밑면"
                                            aria-label="두 밑면"
                                            placeholder="정답" /></span
                                    >에
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="수직"
                                            aria-label="수직"
                                            placeholder="정답" /></span
                                    >인
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="선분"
                                            aria-label="선분"
                                            placeholder="정답" /></span
                                    >을 잘라서 평면 위에 펼친 그림
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#원뿔</div>

                                <div class="overview-question">
                                    원뿔: 한 면이
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원"
                                            aria-label="원"
                                            placeholder="정답" /></span
                                    >인
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="뿔"
                                            aria-label="뿔"
                                            placeholder="정답"
                                    /></span>
                                    모양의 입체도형
                                </div>

                                <div class="overview-question">
                                    원뿔 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="옆면"
                                            aria-label="옆면"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원뿔의 꼭짓점"
                                            aria-label="원뿔의 꼭짓점"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="모선"
                                            aria-label="모선"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="높이"
                                            aria-label="높이"
                                            placeholder="정답"
                                    /></span>
                                </div>

                                <div class="overview-question">
                                    밑면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="평평"
                                            aria-label="평평"
                                            placeholder="정답" /></span
                                    >한 면
                                </div>

                                <div class="overview-question">
                                    옆면:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >과 만나는
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="굽은"
                                            aria-label="굽은"
                                            placeholder="정답"
                                    /></span>
                                    면
                                </div>

                                <div class="overview-question">
                                    원뿔의 꼭짓점:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="뾰족한"
                                            aria-label="뾰족한"
                                            placeholder="정답"
                                    /></span>
                                    부분의 점
                                </div>

                                <div class="overview-question">
                                    모선:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원뿔의 꼭짓점"
                                            aria-label="원뿔의 꼭짓점"
                                            placeholder="정답" /></span
                                    >과
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >인
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원의 둘레의 한 점"
                                            aria-label="원의 둘레의 한 점"
                                            placeholder="정답" /></span
                                    >을 이은 선분
                                </div>

                                <div class="overview-question">
                                    높이:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원뿔의 꼭짓점"
                                            aria-label="원뿔의 꼭짓점"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답" /></span
                                    >에
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="수직인 직선"
                                            aria-label="수직인 직선"
                                            placeholder="정답" /></span
                                    >을 그었을 때
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="원뿔의 꼭짓점"
                                            aria-label="원뿔의 꼭짓점"
                                            placeholder="정답" /></span
                                    >에서
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="밑면"
                                            aria-label="밑면"
                                            placeholder="정답"
                                    /></span>
                                    사이의 거리
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">#구</div>

                                <div class="overview-question">
                                    구:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="반원"
                                            aria-label="반원"
                                            placeholder="정답" /></span
                                    >을
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="지름"
                                            aria-label="지름"
                                            placeholder="정답" /></span
                                    >을 기준으로
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="한 바퀴 돌려서"
                                            aria-label="한 바퀴 돌려서"
                                            placeholder="정답"
                                    /></span>
                                    만든 입체도형
                                </div>

                                <div class="overview-question">
                                    구 구성요소:
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="구의 중심"
                                            aria-label="구의 중심"
                                            placeholder="정답" /></span
                                    >,
                                    <span class="reveal-wrapper"
                                        ><input
                                            data-answer="구의 반지름"
                                            aria-label="구의 반지름"
                                            placeholder="정답"
                                    /></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
