<section id="moral-character">
    <h2>성격</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#성격</div>

                                <div class="overview-question">
                                    도덕 교과는 학생들이
                                    <input
                                        data-answer="도덕성"
                                        aria-label="도덕성"
                                        placeholder="정답"
                                    />을 함양하도록 함으로써 보다 나은 삶과
                                    사회를 지향하게 하는데 도움을 주기 위한
                                    교과이다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="도덕성"
                                        aria-label="도덕성"
                                        placeholder="정답"
                                    />은
                                    <input
                                        data-answer="사회 규범"
                                        aria-label="사회 규범"
                                        placeholder="정답"
                                    />으로서 도덕과
                                    <input
                                        data-answer="각 개인의 내면"
                                        aria-label="각 개인의 내면"
                                        placeholder="정답"
                                    />에서 작동하는 도덕성 사이의 긴장과 갈등,
                                    조화의 과정과 결과로 구체화된다.
                                </div>

                                <div class="overview-question">
                                    따라서 도덕성 함양을 위해서는
                                    <input
                                        data-answer="도덕 현상에 관한 탐구"
                                        aria-label="도덕 현상에 관한 탐구"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="내면의 도덕성에 관한 성찰"
                                        aria-label="내면의 도덕성에 관한 성찰"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="일상의 실천"
                                        aria-label="일상의 실천"
                                        placeholder="정답"
                                    />이라는
                                    <input
                                        data-answer="도덕적 지식과 실천의 연계 과정"
                                        aria-label="도덕적 지식과 실천의 연계 과정"
                                        placeholder="정답"
                                    />이 지니는 세 구성요소가 교육과정의 주요
                                    내용으로 포함되어야 한다.
                                </div>

                                <div class="overview-question">
                                    이때
                                    <input
                                        data-answer="도덕적 지식과 실천의 연계 과정"
                                        aria-label="도덕적 지식과 실천의 연계 과정"
                                        placeholder="정답"
                                    />은 인간으로서 지향해야 하는
                                    <input
                                        data-answer="가치"
                                        aria-label="가치"
                                        placeholder="정답"
                                    />로서의
                                    <input
                                        data-answer="도"
                                        aria-label="도"
                                        placeholder="정답"
                                    />와 그 도에 이르고자 하는
                                    <input
                                        data-answer="실천 역량"
                                        aria-label="실천 역량"
                                        placeholder="정답"
                                    />으로서
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />을 기반으로 삼아, 도덕적 탐구와 윤리적
                                    성찰, 일상의 실천이 몸과 마음에 새겨져
                                    도덕적 행동으로 연결될 수 있는 가능성을
                                    높이고자 하는 과정을 지칭하는 개념이기도
                                    하다.
                                </div>

                                <div class="overview-question">
                                    우리 학교 상황 속에서 도덕 교과는 특히
                                    <input
                                        data-answer="인성 교육"
                                        aria-label="인성 교육"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="시민교육"
                                        aria-label="시민교육"
                                        placeholder="정답"
                                    />에서 중요한 역할을 감당해주어야 한다는
                                    요청을 받고 있다. 도덕 교과는
                                    <input
                                        data-answer="바람직한 인성"
                                        aria-label="바람직한 인성"
                                        placeholder="정답"
                                    />을 함양하기 위한 핵심 교과임과 동시에,
                                    <input
                                        data-answer="시민"
                                        aria-label="시민"
                                        placeholder="정답"
                                    />의 도덕성과 역량을 길러주기 위한 학교
                                    <input
                                        data-answer="시민교육"
                                        aria-label="시민교육"
                                        placeholder="정답"
                                    />의 주요 교과 중 하나라는 위상과 역할을
                                    부여받고 있다. 시민사회에서 개인의 바람직한
                                    인성은 시민으로서 갖추고 있어야 할 도덕성과
                                    기본 역량의 토대이고 시민의 역량 또한
                                    도덕성을 기반으로 삼아 정치⋅경제적 역량
                                    등으로 확장될 수 있기 때문에, 도덕 교과는 타
                                    교과와의 긴밀한 연계와 협조를 전제로
                                    시민교육을 담당하는 주요 교과로서
                                    <input
                                        data-answer="교과통합적"
                                        aria-label="교과통합적"
                                        placeholder="정답"
                                    />
                                    기능도 수행한다.
                                </div>

                                <div class="overview-question">
                                    이런 필요에 부응하기 위하여 도덕과는
                                    <input
                                        data-answer="도덕적인 인간"
                                        aria-label="도덕적인 인간"
                                        placeholder="정답"
                                    />을 토대로 그가 살아가야 할
                                    <input
                                        data-answer="정의로운 사회"
                                        aria-label="정의로운 사회"
                                        placeholder="정답"
                                    />를 연속적인 지향점으로 설정하고자 한다.
                                    <input
                                        data-answer="도덕적인 인간"
                                        aria-label="도덕적인 인간"
                                        placeholder="정답"
                                    />은 개인적인 삶의 영역에서
                                    <input
                                        data-answer="도덕성"
                                        aria-label="도덕성"
                                        placeholder="정답"
                                    />을 핵심 지향으로 삼는 인간이고, 그 도덕적
                                    인간의 시민사회적 외연은 자연스럽게
                                    <input
                                        data-answer="정의로운 시민"
                                        aria-label="정의로운 시민"
                                        placeholder="정답"
                                    />으로 확장된다. 이러한 교육적 인간상을 통해
                                    도덕 교과는 학교 시민교육의 주요 교과 중
                                    하나로서의 성격을 보다 적극적으로 천명할 수
                                    있게 될 뿐만 아니라, 인성 교육과 시민교육
                                    사이의 접점을 적극적으로 모색하는 교과로서의
                                    성격도 지닐 수 있게 된다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
