<section id="moral-teaching">
    <h2>교수⋅학습 방법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#교수⋅학습 방법</div>

                                <div class="overview-question">
                                    <input
                                        data-answer="역할교환"
                                        aria-label="역할교환"
                                        placeholder="빈칸"
                                    />,
                                    <input
                                        data-answer="관점 채택"
                                        aria-label="관점 채택"
                                        placeholder="빈칸"
                                    />
                                    등을 통해 서로의 생각과 감정을 이해하고
                                    공감하며 민주적으로 소통하는 허용적인 학습
                                    분위기를 조성하여 학생들이 교수⋅학습 과정에
                                    자기주도적으로 참여할 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    초등학교 도덕과 교수⋅학습은
                                    <input
                                        data-answer="학생의 발달 수준"
                                        aria-label="학생의 발달 수준"
                                        placeholder="빈칸"
                                    />에 맞게 도덕적 행위의 실천을 위한 가치나
                                    태도를 강화하는 방향으로 나아가야 하며, 이를
                                    위해 3~4학년군은 적절한
                                    <input
                                        data-answer="강화기제"
                                        aria-label="강화기제"
                                        placeholder="빈칸"
                                    />
                                    활용을 통한 도덕적 가치⋅규범의
                                    <input
                                        data-answer="모방"
                                        aria-label="모방"
                                        placeholder="빈칸"
                                    />
                                    및
                                    <input
                                        data-answer="수용"
                                        aria-label="수용"
                                        placeholder="빈칸"
                                    />에, 5~6학년군은 도덕적 가치⋅규범의
                                    <input
                                        data-answer="자율적"
                                        aria-label="자율적"
                                        placeholder="빈칸"
                                    />이고
                                    <input
                                        data-answer="합리적"
                                        aria-label="합리적"
                                        placeholder="빈칸"
                                    />인
                                    <input
                                        data-answer="이해"
                                        aria-label="이해"
                                        placeholder="빈칸"
                                    />에 역점을 둔다. 아울러, 과정⋅기능에 기반한
                                    도덕과 교수⋅학습 방법에서 3~4학년군은
                                    <input
                                        data-answer="단일한"
                                        aria-label="단일한"
                                        placeholder="빈칸"
                                    />
                                    과정⋅기능에, 5~6학년군은
                                    <input
                                        data-answer="복합적인"
                                        aria-label="복합적인"
                                        placeholder="빈칸"
                                    />
                                    과정⋅기능에 역점을 두어 지도한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
