<section id="art-assessment">
    <h2>평가</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#평가</div>

                                <div class="overview-question">
                                    • 내용 체계와의 관련성을 고려하여
                                    <input
                                        data-answer="학습자의 태도"
                                        aria-label="학습자의 태도"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="학습 과정"
                                        aria-label="학습 과정"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="학습 결과"
                                        aria-label="학습 결과"
                                        placeholder="정답"
                                    />를 고루 평가하며, 지식⋅이해, 과정⋅기능,
                                    가치⋅태도 세 범주의 내용이 균형 있게
                                    평가되도록 계획하고 실행한다.
                                </div>

                                <div class="overview-question">
                                    • 디지털 기반의
                                    <input
                                        data-answer="학습관리 시스템"
                                        aria-label="학습관리 시스템"
                                        placeholder="정답"
                                    />을 활용하여 온오프라인 연계 수업 상황에서
                                    미적 체험, 표현, 감상 과정의 산출물을 기록
                                    및 관리하고, 디지털 도구를 활용한 실시간
                                    피드백과 학생 간 상호 평가가 이루어질 수
                                    있도록 한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="서술형"
                                        aria-label="서술형"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="논술형"
                                        aria-label="논술형"
                                        placeholder="정답"
                                    />
                                    평가와
                                    <input
                                        data-answer="발표"
                                        aria-label="발표"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="토의⋅토론법"
                                        aria-label="토의⋅토론법"
                                        placeholder="정답"
                                    />
                                    등을 활용하여 미술 지식을 바탕으로 자기의
                                    관점, 의견, 주장을 논리적이고 설득력 있게
                                    말과 글로 다른 사람과 소통하는 능력을 파악할
                                    수 있다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="포트폴리오법"
                                        aria-label="포트폴리오법"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="프로세스폴리오법"
                                        aria-label="프로세스폴리오법"
                                        placeholder="정답"
                                    />을 활용하여 미술 활동 과정에서의
                                    <input
                                        data-answer="성찰"
                                        aria-label="성찰"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="변화"
                                        aria-label="변화"
                                        placeholder="정답"
                                    />를 파악하고 학습자의 성장 정도를 평가할 수
                                    있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
