<section id="art-character">
    <h2>성격</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#성격</div>

                                <div class="overview-question">
                                    특히
                                    <input
                                        data-answer="가상공간"
                                        aria-label="가상공간"
                                        placeholder="정답"
                                    />까지 미술의 범위를 확대하고, 표현과 소통의
                                    도구로
                                    <input
                                        data-answer="디지털 매체"
                                        aria-label="디지털 매체"
                                        placeholder="정답"
                                    />를 적극적으로 활용함으로써 학생들은 신체와
                                    사고, 시간과 공간의 경험을
                                    <input
                                        data-answer="확장"
                                        aria-label="확장"
                                        placeholder="정답"
                                    />하며
                                    <input
                                        data-answer="디지털 시대"
                                        aria-label="디지털 시대"
                                        placeholder="정답"
                                    />에 필요한 소양을 기를 수 있다.
                                </div>

                                <div class="overview-question">
                                    이를 바탕으로 학생들은 개인의 문제를 넘어
                                    주변과 세계에서 일어나고 있는 다양한 문제에
                                    새로운 질문을 던지고 함께 해결하면서
                                    <input
                                        data-answer="사람"
                                        aria-label="사람"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="환경"
                                        aria-label="환경"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="공존"
                                        aria-label="공존"
                                        placeholder="정답"
                                    />을 위한
                                    <input
                                        data-answer="생태 전환적"
                                        aria-label="생태 전환적"
                                        placeholder="정답"
                                    />
                                    가치를 함양하여
                                    <input
                                        data-answer="공동체"
                                        aria-label="공동체"
                                        placeholder="정답"
                                    />의 발전에 참여하는
                                    <input
                                        data-answer="시민"
                                        aria-label="시민"
                                        placeholder="정답"
                                    />으로 성장할 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
