<section id="practical-overview" class="active">
    <h2>교육과정 설계의 개요</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">
                                    #‘인간 발달과 주도적 삶’, ‘생활환경과
                                    지속가능한 선택’
                                </div>

                                <div class="overview-question">
                                    교과 주제:
                                    <input
                                        data-answer="인간"
                                        aria-label="인간"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="생활환경"
                                        aria-label="생활환경"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    총론의 방향성:
                                    <input
                                        data-answer="자기주도성"
                                        aria-label="자기주도성"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="지속가능성"
                                        aria-label="지속가능성"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #‘인간 발달과 주도적 삶’
                                </div>

                                <div class="overview-question">
                                    ‘인간 발달과 주도적 삶’ 영역에서는 나의
                                    발달과 관계 형성을 목표로 자신과 타인을
                                    이해하고 존중하면서 가정생활의 일상성을
                                    인식하고 가족은 물론 생활문화공동체로서 함께
                                    살아가기 위한
                                    <input
                                        data-answer="공동체 역량"
                                        aria-label="공동체 역량"
                                        placeholder="정답"
                                    />을 길러주고자 하였다.
                                </div>

                                <div class="overview-question">
                                    핵심개념:
                                    <input
                                        data-answer="발달"
                                        aria-label="발달"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="관계"
                                        aria-label="관계"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #‘생활환경과 지속가능한 선택’
                                </div>

                                <div class="overview-question">
                                    ‘생활환경과 지속가능한 선택’ 영역은 생활자원
                                    관리와 환경과의 공존을 목표로 의식주
                                    생활환경에서 발생할 수 있는 실천적인 문제를
                                    정의하고, 문제 해결의 과정과 결과를 통찰하여
                                    <input
                                        data-answer="문제 해결 역량"
                                        aria-label="문제 해결 역량"
                                        placeholder="정답"
                                    />을 기르며, 자신의 생활환경 변화를 위해
                                    요구되는
                                    <input
                                        data-answer="소비자 시민성"
                                        aria-label="소비자 시민성"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="자립역량"
                                        aria-label="자립역량"
                                        placeholder="정답"
                                    />을 기를 수 있도록 설계하였다.
                                </div>

                                <div class="overview-question">
                                    핵심개념:
                                    <input
                                        data-answer="관리"
                                        aria-label="관리"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="선택"
                                        aria-label="선택"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #‘기술적 문제해결과 혁신’, ‘지속 가능한
                                    기술과 융합’
                                </div>

                                <div class="overview-question">
                                    교과 주제:
                                    <input
                                        data-answer="기술적 소양"
                                        aria-label="기술적 소양"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="문제해결"
                                        aria-label="문제해결"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    총론의 방향성:
                                    <input
                                        data-answer="창의 혁신"
                                        aria-label="창의 혁신"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="지속가능"
                                        aria-label="지속가능"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    특히 초등학교 실과와 중학교 기술 영역 분야의
                                    <input
                                        data-answer="연계성"
                                        aria-label="연계성"
                                        placeholder="정답"
                                    />을 강화하고, 최신의 미래 기술 동향을
                                    지향하면서도 학습 내용이 적정하도록
                                    교육과정을 설계하였다.
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #‘지속 가능한 기술과 융합’
                                </div>

                                <div class="overview-question">
                                    핵심 개념:
                                    <input
                                        data-answer="구조물과 건설"
                                        aria-label="구조물과 건설"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="로봇과 제어"
                                        aria-label="로봇과 제어"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="정보통신과 인공지능"
                                        aria-label="정보통신과 인공지능"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="지속가능한 생명기술"
                                        aria-label="지속가능한 생명기술"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="기술과 윤리"
                                        aria-label="기술과 윤리"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
