<section id="practical-character">
    <h2>성격</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#기술</div>

                                <div class="overview-question">
                                    <input
                                        data-answer="학문 구조"
                                        aria-label="학문 구조"
                                        placeholder="정답"
                                    />
                                    측면 ->
                                    <input
                                        data-answer="기술학적 지식"
                                        aria-label="기술학적 지식"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="교육 목표"
                                        aria-label="교육 목표"
                                        placeholder="정답"
                                    />
                                    측면 ->
                                    <input
                                        data-answer="기술적 소양"
                                        aria-label="기술적 소양"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="교육 방법"
                                        aria-label="교육 방법"
                                        placeholder="정답"
                                    />
                                    측면 ->
                                    <input
                                        data-answer="기술적 문제해결"
                                        aria-label="기술적 문제해결"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="진로 교육"
                                        aria-label="진로 교육"
                                        placeholder="정답"
                                    />
                                    측면 ->
                                    <input
                                        data-answer="기술 진로 탐색"
                                        aria-label="기술 진로 탐색"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>

                            <div class="creative-block">
                                <div class="outline-title">
                                    #‘디지털 사회와 인공지능’ 영역
                                </div>

                                <div class="overview-question">
                                    중학교 1~3학년 정보 교과와 연계되어 변화하는
                                    세상을 인식하고
                                    <input
                                        data-answer="컴퓨팅 사고"
                                        aria-label="컴퓨팅 사고"
                                        placeholder="정답"
                                    />를 바탕으로
                                    <input
                                        data-answer="인공지능"
                                        aria-label="인공지능"
                                        placeholder="정답"
                                    />을 활용한
                                    <input
                                        data-answer="실생활 문제 해결 역량"
                                        aria-label="실생활 문제 해결 역량"
                                        placeholder="정답"
                                    />
                                    함양을 지향한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
