<section id="how-we-live" class="hidden">
    <h2>우리는 지금 어떻게 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바03-01] 하루의 가치를 느끼며 지금을
                                        소중히 여긴다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바03-01] 사람들은 나름의
                                        <input
                                            data-answer="주기"
                                            aria-label="주기"
                                            placeholder="정답"
                                        />(흐름, 리듬, 패턴)에 따라 생활한다.
                                        따라서 변화, 성장, 발달을 의식하며
                                        일상의 삶에 자신만의
                                        <input
                                            data-answer="주기"
                                            aria-label="주기"
                                            placeholder="정답"
                                        />를 형성하게 할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바03-02] 계절의 변화에 대응하며
                                        생활한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바03-02] 계절이나 날씨의 특징 등을
                                        다루면서 범교과 주제인
                                        <input
                                            data-answer="환경⋅지속가능발전"
                                            aria-label="환경⋅지속가능발전"
                                            placeholder="정답"
                                        />
                                        교육을 연계할 수 있고
                                        <input
                                            data-answer="생태전환"
                                            aria-label="생태전환"
                                            placeholder="정답"
                                        />
                                        교육도 고려할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바03-03] 여러 인물의 삶을 통해
                                        <input
                                            data-answer="공동체성"
                                            aria-label="공동체성"
                                            placeholder="정답"
                                        />을 기른다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바03-03]에서 '<input
                                            data-answer="공동체성"
                                            aria-label="공동체성"
                                            placeholder="정답"
                                        />'은 함께 사는 삶을 위해 발휘하고
                                        실천해야 할
                                        <input
                                            data-answer="행동 양식"
                                            aria-label="행동 양식"
                                            placeholder="정답"
                                        />을 의미한다. 또한 여기서의 '인물'은
                                        과거에 살았거나 현재 살고 있는 사람
                                        중에서도 특히
                                        <input
                                            data-answer="공동체성"
                                            aria-label="공동체성"
                                            placeholder="정답"
                                        />을 발휘한 위인, 의인, 봉사하는 사람
                                        등을 이른다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바03-03] 과거 현재를 구분하지 않고
                                        <input
                                            data-answer="공동체성"
                                            aria-label="공동체성"
                                            placeholder="정답"
                                        />을 발휘한 여러 인물을 다룰 수 있다.
                                        이러한 인물이 한 일을 통해서 함께 사는
                                        삶을 위해 우리가 지금 해야 할 일, 할 수
                                        있는 일을 찾아 실천할 수 있도록 한다.
                                        여기에
                                        <input
                                            data-answer="인성"
                                            aria-label="인성"
                                            placeholder="정답"
                                        />
                                        교육을 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바03-04] 공동체 속에서
                                        <input
                                            data-answer="지속가능성"
                                            aria-label="지속가능성"
                                            placeholder="정답"
                                        />을 위한 삶의 방식을 찾아 실천한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바03-04]의 '<input
                                            data-answer="지속가능성"
                                            aria-label="지속가능성"
                                            placeholder="정답"
                                        />을 위한 삶의 방식을 찾아 실천한다'는
                                        것은
                                        <input
                                            data-answer="범지구적"
                                            aria-label="범지구적"
                                            placeholder="정답"
                                        />인 관점에서 상생에 필요한 생활 방식을
                                        이야기하고 지금 실천할 수 있는 일을
                                        다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바03-04] 범지구적인 문제들(기후변화,
                                        먹을거리, 소비, 에너지, 자원순환, 생물
                                        다양성, 지진, 태풍, 가뭄, 홍수, 감염병,
                                        미세먼지, 전쟁)이 현재와 미래 우리 삶에
                                        미치는 영향을 생각해 보는 기회로 삼을 수
                                        있다. 이와 관련하여 지금, 여기의
                                        교수⋅학습 상황을 고려하여 학생과 교사가
                                        구체적인 활동을 선정할 수 있으며
                                        범지구적인 재난과 관련한
                                        <input
                                            data-answer="안전"
                                            aria-label="안전"
                                            placeholder="정답"
                                        />
                                        교육,
                                        <input
                                            data-answer="민주시민"
                                            aria-label="민주시민"
                                            placeholder="정답"
                                        />
                                        교육,
                                        <input
                                            data-answer="생태전환"
                                            aria-label="생태전환"
                                            placeholder="정답"
                                        />
                                        교육과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 안전 교육에서는
                                    <input
                                        data-answer="습관화"
                                        aria-label="습관화"
                                        placeholder="정답"
                                    />가 중요하다. 이 영역의 모든 성취기준을
                                    적용할 때 학생의 일상적 삶과 밀접한 보행자
                                    안전, 자전거⋅자동차 안전, 도구와 전기 사용
                                    안전, 화재 예방, 학교폭력 예방, 계절별
                                    감염병 예방 등을 꾸준히 다룸으로써 학생이
                                    일상생활에서
                                    <input
                                        data-answer="안전 수칙"
                                        aria-label="안전 수칙"
                                        placeholder="정답"
                                    />을 지킬 수 있도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
