<section id="what-we-do" class="hidden">
    <h2>우리는 무엇을 하며 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바04-01]
                                        <input
                                            data-answer="모두를 위한 생활환경"
                                            aria-label="모두를 위한 생활환경"
                                            placeholder="정답"
                                        />을 만드는 데 참여한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바04-01]에서 '<input
                                            data-answer="모두를 위한 생활환경"
                                            aria-label="모두를 위한 생활환경"
                                            placeholder="정답"
                                        />'은
                                        <input
                                            data-answer="보편적 설계"
                                            aria-label="보편적 설계"
                                            placeholder="정답"
                                        />를 풀어쓴 용어로 연령, 성별, 국적,
                                        장애의 유무 등과 관계없이
                                        <input
                                            data-answer="누구나"
                                            aria-label="누구나"
                                            placeholder="정답"
                                        />
                                        불편 없이 이용하고 편안하게 생활할 수
                                        있는 환경을 의미한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바04-01] 우리 사회에서 간과하기 쉬운
                                        불편함을 찾아 모두를 이롭게 하는
                                        환경으로 구축하는 경험을 할 수 있다.
                                        여기에 더불어 살아가는 태도를 기르는
                                        <input
                                            data-answer="민주시민"
                                            aria-label="민주시민"
                                            placeholder="정답"
                                        />
                                        교육,
                                        <input
                                            data-answer="인권"
                                            aria-label="인권"
                                            placeholder="정답"
                                        />
                                        교육과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바04-02] 다양한 생각이나 의견에 대해
                                        개방적인 태도를 형성한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바04-02] 다양한 아이디어 발산 장면을
                                        통해 서로 소통할 때 상대의 의도를 충실히
                                        파악하고 다른 사람의 의견을 경청하며
                                        <input
                                            data-answer="호혜적"
                                            aria-label="호혜적"
                                            placeholder="정답"
                                        />으로 해석하는 기회로 삼을 수 있다.
                                        이를 통해
                                        <input
                                            data-answer="민주시민"
                                            aria-label="민주시민"
                                            placeholder="정답"
                                        />의 소양을 형성할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바04-03] 여럿이 하는 활동에 관심을
                                        갖고 자발적으로 협력한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바04-03]
                                        <input
                                            data-answer="경쟁적"
                                            aria-label="경쟁적"
                                            placeholder="정답"
                                        />
                                        삶의 방식과
                                        <input
                                            data-answer="협력적"
                                            aria-label="협력적"
                                            placeholder="정답"
                                        />
                                        삶의 방식의 예시를 찾아보고 나는 지금
                                        어떠한 삶을 살아가고 있는지 생각해 볼 수
                                        있다. 또한 자신이 실천할 수 있는
                                        <input
                                            data-answer="협력적"
                                            aria-label="협력적"
                                            placeholder="정답"
                                        />
                                        삶의 방식을 다루며
                                        <input
                                            data-answer="인성"
                                            aria-label="인성"
                                            placeholder="정답"
                                        />
                                        교육,
                                        <input
                                            data-answer="민주시민"
                                            aria-label="민주시민"
                                            placeholder="정답"
                                        />
                                        교육과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바04-04] 지금까지의 생활 습관과 학습
                                        습관을 되돌아본다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바04-04] 1~2학년군에서 배운 것을
                                        친구들과 되돌아보며
                                        <input
                                            data-answer="3학년 이후 교과 교육"
                                            aria-label="3학년 이후 교과 교육"
                                            placeholder="정답"
                                        />과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 이 영역의 모든 성취기준을 적용할 때는 여러
                                    사람이 모여 함께 활동할 때 필요한
                                    <input
                                        data-answer="안전 교육"
                                        aria-label="안전 교육"
                                        placeholder="정답"
                                    />을 할 수 있다. 특히 학생의 질병 감염을
                                    최소화하고 건강을 유지하기 위해 필수적인 손
                                    씻기, 위생용품 사용하기 등을 다룰 수 있다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
