<section id="where-we-live" class="hidden">
    <h2>우리는 어디서 살아갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바02-01]
                                        <input
                                            data-answer="공동체"
                                            aria-label="공동체"
                                            placeholder="정답"
                                        />에서 내가 할 수 있는 일을 찾아보고
                                        실천한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바02-01]에서 '<input
                                            data-answer="공동체"
                                            aria-label="공동체"
                                            placeholder="정답"
                                        />'의 범위는 나와
                                        <input
                                            data-answer="관련"
                                            aria-label="관련"
                                            placeholder="정답"
                                        />
                                        있거나 내가
                                        <input
                                            data-answer="참여"
                                            aria-label="참여"
                                            placeholder="정답"
                                        />하는 공동체이다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바02-01] 공동체에 대한 관심을
                                        학교에서 마을로 확대하며
                                        <input
                                            data-answer="민주시민"
                                            aria-label="민주시민"
                                            placeholder="정답"
                                        />
                                        교육에 활용할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바02-02] 우리나라의 소중함을 알고
                                        사랑하는 마음을 기른다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바02-03]
                                        <input
                                            data-answer="차이"
                                            aria-label="차이"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="다양성"
                                            aria-label="다양성"
                                            placeholder="정답"
                                        />을 서로 존중하면서 생활한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바02-03]에서 '<input
                                            data-answer="차이"
                                            aria-label="차이"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="다양성"
                                            aria-label="다양성"
                                            placeholder="정답"
                                        />
                                        존중'은 공동체마다 언어, 의상, 음식,
                                        놀이 등이 어우러진
                                        <input
                                            data-answer="문화"
                                            aria-label="문화"
                                            placeholder="정답"
                                        />를 형성하며 살아간다는 것을 이해한다는
                                        의미이다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바02-02]
                                        <input
                                            data-answer="우월적"
                                            aria-label="우월적"
                                            placeholder="정답"
                                        />⋅<input
                                            data-answer="배타적"
                                            aria-label="배타적"
                                            placeholder="정답"
                                        />
                                        <input
                                            data-answer="민족주의"
                                            aria-label="민족주의"
                                            placeholder="정답"
                                        />
                                        관점으로 접근하지 않도록 유의한다. 3학년
                                        도덕과의
                                        <input
                                            data-answer="통일"
                                            aria-label="통일"
                                            placeholder="정답"
                                        />
                                        교육,
                                        <input
                                            data-answer="독도"
                                            aria-label="독도"
                                            placeholder="정답"
                                        />
                                        교육과 연계하여 적용할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2바02-04]
                                        <input
                                            data-answer="새로운 활동"
                                            aria-label="새로운 활동"
                                            placeholder="정답"
                                        />에 호기심을 갖고 도전한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바02-04]의 '<input
                                            data-answer="새로운 활동"
                                            aria-label="새로운 활동"
                                            placeholder="정답"
                                        />'은 일상적인 삶의 공간에서 학생들이
                                        <input
                                            data-answer="호기심"
                                            aria-label="호기심"
                                            placeholder="정답"
                                        />을 갖고 새롭게 도전하거나 시도해 볼
                                        가치가 있는 활동이다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2바02-04] 새로운 활동에 대한 도전과
                                        관련하여 자기 인식과 자신감, 자기주도성,
                                        위험 감수, 비판적 사고, 창의성, 문제
                                        해결력 등을 다룰 수 있다. 또한 다양한
                                        매체를 활용하면서
                                        <input
                                            data-answer="디지털"
                                            aria-label="디지털"
                                            placeholder="정답"
                                        />
                                        소양과 연계할 수 있다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 타인과의 관계에서 발생하는 문제에 대한
                                    올바른 인식 및 실천에 필요한 역량을 함양하여
                                    원만한 인간관계를 형성할 수 있도록 한다. 이
                                    영역의 모든 성취기준을 적용할 때 가정, 마을
                                    등 학생이 접하는 공간에서 안전하게 생활하는
                                    데 필요한 안전 수칙을 다루며
                                    <input
                                        data-answer="가정"
                                        aria-label="가정"
                                        placeholder="정답"
                                    />과 연계하여
                                    <input
                                        data-answer="습관화"
                                        aria-label="습관화"
                                        placeholder="정답"
                                    />하도록 한다. 특히 가정, 마을에 있는 다양한
                                    도구와 시설을 안전하게 사용하는 방법을
                                    다루도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
