<section id="aesthetic-experience-56">
    <h2>미적체험 56</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title"># 성취기준</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미01-01] 다양한
                                        <input
                                            data-answer="감각"
                                            aria-label="감각"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="매체"
                                            aria-label="매체"
                                            placeholder="정답"
                                        />를 활용하여
                                        <input
                                            data-answer="자신"
                                            aria-label="자신"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="대상"
                                            aria-label="대상"
                                            placeholder="정답"
                                        />을 탐색할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미01-02] 자신이나 주변 환경에서 찾은
                                        <input
                                            data-answer="감각적 특징"
                                            aria-label="감각적 특징"
                                            placeholder="정답"
                                        />, 느낌, 생각 등을 관련지어 나타낼 수
                                        있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6미01-02] 성취기준은 자신이나 대상,
                                        그리고 시시각각 변화하는 현상 등 주변
                                        환경을 탐색하며 예민하게 찾은
                                        <input
                                            data-answer="감각적 특징"
                                            aria-label="감각적 특징"
                                            placeholder="정답"
                                        />과 체험 과정에서 떠오른 느낌과 생각을
                                        관련지어 보는 경험에 중점을 둔다. 미술의
                                        특성상
                                        <input
                                            data-answer="시각적"
                                            aria-label="시각적"
                                            placeholder="정답"
                                        />
                                        특징을 우선 다루게 되지만, 보이지 않아도
                                        느낄 수 있는 특징이나 느낌과 상상이
                                        반영된 색, 형, 이미지, 문구, 소리,
                                        움직임 등을 자유롭게 활용한다. 이를 통해
                                        감각이 사고에 미치는 영향뿐만 아니라
                                        <input
                                            data-answer="자신"
                                            aria-label="자신"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="환경"
                                            aria-label="환경"
                                            placeholder="정답"
                                        />
                                        사이의 관계를 이해한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미01-03] 주변 환경에 대한 민감한
                                        태도로 대상과 상호 작용하며 새로운
                                        의미를 발견할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6미01-03] 성취기준은 주변 환경 속
                                        대상과 민감하게 상호 작용하며 경험한
                                        느낌과 생각을 바탕으로 대상에 이름
                                        붙이기, 자신을 닮은 대상 찾기, 대상을
                                        연결하여 이야기 만들기 등 대상에
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />를 부여하는 활동에 중점을 둔다. 보는
                                        사람, 시간과 장소, 분위기 등에 따라
                                        대상과 다양하게 교감하며 그 과정에서
                                        생성되는 의미를
                                        <input
                                            data-answer="성찰"
                                            aria-label="성찰"
                                            placeholder="정답"
                                        />할 수 있도록 한다. 이를 통해 예술적
                                        사고를 이끄는 대상의 가치를 이해하고
                                        자신과 환경과의
                                        <input
                                            data-answer="생태 전환적"
                                            aria-label="생태 전환적"
                                            placeholder="정답"
                                        />
                                        관계를 인식한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미01-04] 이미지가 나타내는 의미를
                                        <input
                                            data-answer="비판적"
                                            aria-label="비판적"
                                            placeholder="정답"
                                        />으로 이해하고 느낌과 생각을 전달하는
                                        데 활용할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 5, 6학년의 미적 체험은 3, 4학년에서의
                                    <input
                                        data-answer="대상"
                                        aria-label="대상"
                                        placeholder="정답"
                                    />에 대한 탐색에서 나아가
                                    <input
                                        data-answer="자신"
                                        aria-label="자신"
                                        placeholder="정답"
                                    />에 대한 탐색까지 다루도록 한다. 자신의
                                    <input
                                        data-answer="외적"
                                        aria-label="외적"
                                        placeholder="정답"
                                    />
                                    특징뿐만 아니라 관심, 취향, 성격 등
                                    <input
                                        data-answer="내면적"
                                        aria-label="내면적"
                                        placeholder="정답"
                                    />
                                    특징을 민감하게 찾아보도록 한다. 자신도
                                    모르게 이끌리는 것, 자신에게 의미 있는 것
                                    등을 주의 깊게 지각하며
                                    <input
                                        data-answer="정체성"
                                        aria-label="정체성"
                                        placeholder="정답"
                                    />을 발견하는 기회가 되도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 자신이나 대상을 다양한 방법으로 탐색할 수
                                    있도록 고려한다. 3, 4학년에서 경험한 몸의
                                    감각적 체험과 더불어 사진, 영상,
                                    <input
                                        data-answer="증강현실"
                                        aria-label="증강현실"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="가상현실"
                                        aria-label="가상현실"
                                        placeholder="정답"
                                    />
                                    기기 등
                                    <input
                                        data-answer="디지털 매체"
                                        aria-label="디지털 매체"
                                        placeholder="정답"
                                    />를 포함한 다양한 매체를 활용하여 탐색하고
                                    새로운 특징을 지각하도록 한다. 이를 통해
                                    학습자가
                                    <input
                                        data-answer="감각의 확장"
                                        aria-label="감각의 확장"
                                        placeholder="정답"
                                    />을 경험할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 미적 체험은 주변 환경의 특징을 지각하는 데
                                    그치는 것이 아니라
                                    <input
                                        data-answer="감각"
                                        aria-label="감각"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="사고"
                                        aria-label="사고"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="연결"
                                        aria-label="연결"
                                        placeholder="정답"
                                    />을 경험하는 활동까지 연계되도록 한다. 주변
                                    환경에서 찾은 감각적 특징과 자신이 떠올린
                                    감정, 느낌, 생각을 관련지어 통합적으로
                                    나타내는 경험을 통해 감정, 느낌이 사고에
                                    미치는 영향을 성찰하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 광고, 게임, 만화, 영화, 포스터, 픽토그램,
                                    표지판 등 학습자에게 친근한 생활 속
                                    <input
                                        data-answer="시각 문화"
                                        aria-label="시각 문화"
                                        placeholder="정답"
                                    />를 탐색하고 이미지에 담긴 의미를
                                    <input
                                        data-answer="비판적"
                                        aria-label="비판적"
                                        placeholder="정답"
                                    />으로 해석함으로써
                                    <input
                                        data-answer="시각적 문해력"
                                        aria-label="시각적 문해력"
                                        placeholder="정답"
                                    />을 기르도록 한다. 시각 문화가 만들어진
                                    맥락과 의도, 속성을 탐색하며 이미지를
                                    주도적으로 이해하고 활용하는 능력을 기르는
                                    데 중점을 둔다. 학생들이 토의, 토론, 게임,
                                    퀴즈 등을 통해 이미지의 의미를 흥미 있게
                                    탐구하고 소통할 수 있도록 고려한다.
                                </div>

                                <div class="overview-question">
                                    • 미적 체험은 무심코 보던 대상을 감각적으로
                                    탐색하고 지각함으로써 세계에 대한 인식과
                                    소통의 범위를 확장하는 활동으로 사람과 사람,
                                    사람과 주변 대상, 대상과 대상과의 관계를
                                    포함한다. 미적 체험을 통해 학습자가 시야를
                                    넓히고 타인과 대상에 대한 심미적 감성을
                                    함양할 수 있도록 고려한다. 나아가
                                    <input
                                        data-answer="인간 중심"
                                        aria-label="인간 중심"
                                        placeholder="정답"
                                    />의 사고에서 벗어나 대상에 대한
                                    <input
                                        data-answer="생태 감수성"
                                        aria-label="생태 감수성"
                                        placeholder="정답"
                                    />을 풍부하게 하고 사람과 자연의 공존에 대한
                                    <input
                                        data-answer="생태 전환적"
                                        aria-label="생태 전환적"
                                        placeholder="정답"
                                    />
                                    가치를 내면화하도록 지원한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
