<section id="aesthetic-experience-34">
    <h2>미적체험 34</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title"># 성취기준</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4미01-01] 자연물과 인공물을 탐색하는 데
                                        <input
                                            data-answer="다양한 감각"
                                            aria-label="다양한 감각"
                                            placeholder="정답"
                                        />을 활용할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4미01-02] 주변 대상을 체험하며 떠오른
                                        느낌과 생각을 다양한 방법으로 나타낼 수
                                        있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4미01-03] 미적 탐색에 호기심을 갖고
                                        참여하며
                                        <input
                                            data-answer="자신의 감각"
                                            aria-label="자신의 감각"
                                            placeholder="정답"
                                        />으로 대상의 특징을 이해할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4미01-03] 성취기준은 객관적 지식을
                                        적용하거나 고정 관념에 따라 대상을
                                        이해하는 방식에서 벗어나 몸의 다양한
                                        감각으로 직접 대상을 탐색하는 데
                                        호기심을 갖고 참여하며
                                        <input
                                            data-answer="자신의 감각"
                                            aria-label="자신의 감각"
                                            placeholder="정답"
                                        />을 바탕으로 대상의 특징을 이해하는 데
                                        중점을 둔다. 같은 대상이라도 지각하고
                                        반응하는 방식은 학생마다 다를 수 있다.
                                        대상을 지각하며 자연스럽게 떠올린 자신의
                                        감정, 느낌, 생각 등을 나타내고 친구들의
                                        다양한 반응을 접하며 자신만의 고유한
                                        감각을 통해 대상이 지닌 다채로운 특징을
                                        이해한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4미01-04] 생활 속에서 활용되는 미술에
                                        <input
                                            data-answer="관심"
                                            aria-label="관심"
                                            placeholder="정답"
                                        />을 가지고 미술의 특징과
                                        <input
                                            data-answer="역할"
                                            aria-label="역할"
                                            placeholder="정답"
                                        />을 발견할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 미적 체험은 학생들이 자신의 감각으로 주변
                                    대상을 생동감 있게 탐색하고 지각하는 활동을
                                    통해 감각적 인식이 주는
                                    <input
                                        data-answer="새로움"
                                        aria-label="새로움"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="다양성"
                                        aria-label="다양성"
                                        placeholder="정답"
                                    />을 경험하는 데 수업의 주안점을 둔다. 미적
                                    체험에서는 시각을 비롯한 촉각, 청각, 후각,
                                    미각 등 몸의
                                    <input
                                        data-answer="다양한 감각"
                                        aria-label="다양한 감각"
                                        placeholder="정답"
                                    />을 활용한다.
                                    <input
                                        data-answer="직접"
                                        aria-label="직접"
                                        placeholder="정답"
                                    />
                                    체험이 좋지만, 환경적 여건이 어려울 때는
                                    사진, 영상, 멀티미디어 자료 등을 활용한
                                    <input
                                        data-answer="간접"
                                        aria-label="간접"
                                        placeholder="정답"
                                    />
                                    체험을 활용하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 미적 탐색은 대상을 지각하는 체험뿐만
                                    아니라 대상에 반응하며 떠오르는 자신의 감정,
                                    느낌, 생각 등을 글, 그림, 사진, 동영상,
                                    음악, 움직임 등을 통해 자유롭게 표현하는
                                    활동으로까지 이어지도록 한다. 이로써 자신의
                                    감각을 통해 대상을
                                    <input
                                        data-answer="지각"
                                        aria-label="지각"
                                        placeholder="정답"
                                    />하고 반응하는 방식을
                                    <input
                                        data-answer="성찰"
                                        aria-label="성찰"
                                        placeholder="정답"
                                    />할 수 있다. 작품 표현 활동이 아니므로
                                    <input
                                        data-answer="시각적 표현"
                                        aria-label="시각적 표현"
                                        placeholder="정답"
                                    />을 지나치게 강요하지 않도록 유의한다.
                                </div>

                                <div class="overview-question">
                                    • 생활 속 미술의 범위는 순수 미술, 응용 미술
                                    및 시각 문화 전반을 포괄한다. 학습자가
                                    주변의 생활용품이나 영상물, 건축 및 생활공간
                                    등에서 미술과 관련된 것들을
                                    조사⋅수집⋅분류하고
                                    <input
                                        data-answer="소통"
                                        aria-label="소통"
                                        placeholder="정답"
                                    />하는 과정에서 미술이 삶과 밀접하게
                                    연관되어 있음을 이해하도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
