<section id="areas" class="active">
    <h2>영역별</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title">#미적체험</div>

                                <div class="overview-question">
                                    개념:
                                    <input
                                        data-answer="지각"
                                        aria-label="지각"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="성찰"
                                        aria-label="성찰"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="소통"
                                        aria-label="소통"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    범교과:
                                    <input
                                        data-answer="생태 전환 교육"
                                        aria-label="생태 전환 교육"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    연결:
                                    <input
                                        data-answer="다양한 소통, 공감"
                                        aria-label="다양한 소통, 공감"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">#표현</div>

                                <div class="overview-question">
                                    개념:
                                    <input
                                        data-answer="발상"
                                        aria-label="발상"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="매체 탐색"
                                        aria-label="매체 탐색"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="제작"
                                        aria-label="제작"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    범교과:
                                    <input
                                        data-answer="디지털 소양 교육"
                                        aria-label="디지털 소양 교육"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    연결:
                                    <input
                                        data-answer="타분야와의 융합"
                                        aria-label="타분야와의 융합"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">#감상</div>

                                <div class="overview-question">
                                    개념:
                                    <input
                                        data-answer="이해"
                                        aria-label="이해"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="비평"
                                        aria-label="비평"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="생활화"
                                        aria-label="생활화"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    범교과:
                                    <input
                                        data-answer="민주시민 교육"
                                        aria-label="민주시민 교육"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    연결:
                                    <input
                                        data-answer="삶의 문화"
                                        aria-label="삶의 문화"
                                        placeholder="정답"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
