<section id="expression-56">
    <h2>표현 56</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title"># 성취기준</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미02-01] 다양한 방법으로 아이디어를
                                        연결하여 확장된
                                        <input
                                            data-answer="표현 주제"
                                            aria-label="표현 주제"
                                            placeholder="정답"
                                        />로 발전시킬 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미02-02]
                                        <input
                                            data-answer="디지털 매체"
                                            aria-label="디지털 매체"
                                            placeholder="정답"
                                        />
                                        등 다양한 표현 재료와 용구를 탐색하여
                                        작품 제작에 활용할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6미02-02] 성취기준은 하나의 표현
                                        주제에도 다양한 표현 방식이 있음을
                                        이해하고 학생들이 자신의 의도에 따라
                                        표현 재료와 방법을 선택하여 작품을
                                        제작하는 데 중점을 둔다. 표현 주제에
                                        적합한 표현 재료와 용구의 쓰임을 학생
                                        스스로 탐색하고 습득하여 주제가 잘
                                        드러날 수 있도록 적용하게 한다. 특히,
                                        <input
                                            data-answer="디지털 매체"
                                            aria-label="디지털 매체"
                                            placeholder="정답"
                                        />는 신체적 감각과 지각을
                                        <input
                                            data-answer="확장"
                                            aria-label="확장"
                                            placeholder="정답"
                                        />하는 표현의 도구로써 디지털 매체의
                                        특징과 사용법을 익혀 작품 제작에
                                        효과적으로 활용하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미02-03] 조형 요소의 어울림을 통해
                                        <input
                                            data-answer="조형 원리"
                                            aria-label="조형 원리"
                                            placeholder="정답"
                                        />를 이해하고 주제 표현에 연결할 수
                                        있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미02-04] 주제 표현에
                                        <input
                                            data-answer="의지"
                                            aria-label="의지"
                                            placeholder="정답"
                                        />를 갖고 표현 과정을 돌아보며 작품을
                                        발전시킬 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6미02-04] 성취기준은 계획 단계를
                                        비롯한 작품 완성의 전 과정에서 주제
                                        표현에
                                        <input
                                            data-answer="의지"
                                            aria-label="의지"
                                            placeholder="정답"
                                        />를 갖고 표현 방법과 절차를 재고하는
                                        <input
                                            data-answer="성찰"
                                            aria-label="성찰"
                                            placeholder="정답"
                                        />의 태도를 기르는 데 중점을 둔다. 주제
                                        표현의
                                        <input
                                            data-answer="의지"
                                            aria-label="의지"
                                            placeholder="정답"
                                        />를 갖는 것은 표현 주제를 나타내기 위해
                                        다양한 표현 재료와 용구, 조형 요소와
                                        원리를 작품에 활용하는 일련의 과정을
                                        이끈다. 또한 작품을 주도적으로 돌아보고
                                        보완하며 발전시키는 경험을 통해 학생들은
                                        작품 완성의 기준을 스스로 설정하고
                                        창작에 대한
                                        <input
                                            data-answer="상위 인지"
                                            aria-label="상위 인지"
                                            placeholder="정답"
                                        />를 활성화한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6미02-05] 미술과 타 교과의
                                        <input
                                            data-answer="내용"
                                            aria-label="내용"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="방법"
                                            aria-label="방법"
                                            placeholder="정답"
                                        />을
                                        <input
                                            data-answer="융합"
                                            aria-label="융합"
                                            placeholder="정답"
                                        />하는 활동을 자유롭게 시도할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 학생들의 표현 주제는 생활 속 경험, 타 교과
                                    학습 경험 등 다양한 경험을 바탕으로 한다.
                                    주변 대상과 현상을 자세히 관찰 및 조사하거나
                                    다양한 소재의 작품을 접하면서 떠오르는
                                    생각을 연결하여 아이디어를 발전시키도록
                                    한다. 또한
                                    <input
                                        data-answer="연상"
                                        aria-label="연상"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="상상"
                                        aria-label="상상"
                                        placeholder="정답"
                                    />을 바탕으로 대상과 현상을 새롭게
                                    바라보거나 변화시키는 다양한 발상의 과정을
                                    안내하여 표현 주제를 확장할 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 작품 제작을 위한
                                    <input
                                        data-answer="조형 요소"
                                        aria-label="조형 요소"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="조형 원리"
                                        aria-label="조형 원리"
                                        placeholder="정답"
                                    />의 이해는
                                    <input
                                        data-answer="감상"
                                        aria-label="감상"
                                        placeholder="정답"
                                    />
                                    활동과 연계할 수 있다. 주제 표현을 위해 조형
                                    요소와 원리를 효과적으로 적용한 작품 사례를
                                    살펴보고 조형 요소의
                                    <input
                                        data-answer="어울림"
                                        aria-label="어울림"
                                        placeholder="정답"
                                    />으로 조형 원리를 이해할 수 있도록 한다.
                                    학생들이 조형 요소와 원리를 다양하게
                                    적용해보면서 그 차이를 경험하고 의도에 따라
                                    주제 표현에 활용하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 남과 다른 자신만의 표현 방식을 존중받는
                                    분위기 속에서 표현 재료와 용구를 확장하여
                                    디지털 매체를 포함한 생활 주변의 다양한
                                    매체와 방법을 활용하여 작품을 제작할 수
                                    있도록 한다. 사용하고자 하는 표현 재료와
                                    용구의 활용 방법을 조사하고 익힐 수 있는
                                    수업 환경을 마련하고 온라인 수업과 연계한
                                    혼합 수업도 계획할 수 있다. 특정 표현 재료와
                                    용구에 따라
                                    <input
                                        data-answer="환기"
                                        aria-label="환기"
                                        placeholder="정답"
                                    />가 잘 되는 수업 환경 유지를 위해 유해성
                                    물감, 분진, 금속, 플라스틱, 섬유 등의 사용에
                                    주의하고 학생들이 안전사고 예방과 사고 발생
                                    시 행동 요령을 숙지하도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 교사는 학생들이 자신의 느낌과 생각, 경험을
                                    작품을 통해 나타내고 발표하는 모든 과정에서
                                    <input
                                        data-answer="자기주도성"
                                        aria-label="자기주도성"
                                        placeholder="정답"
                                    />을 가질 수 있도록 협력한다. 학생들의
                                    개인차에 따라 다양한 전략으로 접근하여 학습
                                    부진 학생, 느린 학습자, 장애가 있는 학생,
                                    다문화 가정 학생 등 모든 학생이 소외되지
                                    않고 깊이 있는 학습을 경험할 수 있도록
                                    돕는다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
