<section id="integrated">
    <h2>통합</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>영역</th>
                        <td
                            class="two-col-answers"
                            data-group="integrated-area"
                        >
                            <input
                                data-answer="우리는 누구로 살아갈까"
                                aria-label="우리는 누구로 살아갈까"
                                placeholder="정답"
                            /><input
                                data-answer="우리는 어디서 살아갈까"
                                aria-label="우리는 어디서 살아갈까"
                                placeholder="정답"
                            /><input
                                data-answer="우리는 지금 어떻게 살아갈까"
                                aria-label="우리는 지금 어떻게 살아갈까"
                                placeholder="정답"
                            /><input
                                data-answer="우리는 무엇을 하며 살아갈까"
                                aria-label="우리는 무엇을 하며 살아갈까"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
