<section id="integrated">
    <h2>통합</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>바른 생활, 슬기로운 생활</th>
                        <td
                            class="two-col-answers"
                            data-group="integrated-area"
                        >
                            <input
                                data-answer="우리는 누구로 살아갈까"
                                aria-label="우리는 누구로 살아갈까"
                                placeholder="정답"
                            /><input
                                data-answer="우리는 어디서 살아갈까"
                                aria-label="우리는 어디서 살아갈까"
                                placeholder="정답"
                            /><input
                                data-answer="우리는 지금 어떻게 살아갈까"
                                aria-label="우리는 지금 어떻게 살아갈까"
                                placeholder="정답"
                            /><input
                                data-answer="우리는 무엇을 하며 살아갈까"
                                aria-label="우리는 무엇을 하며 살아갈까"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>건강한 생활</th>
                        <td
                            class="two-col-answers"
                            data-group="integrated-health"
                        >
                            <input
                                data-answer="건강한 몸"
                                aria-label="건강한 몸"
                                placeholder="정답"
                            /><input
                                data-answer="활기찬 움직임"
                                aria-label="활기찬 움직임"
                                placeholder="정답"
                            /><input
                                data-answer="창의적 표현"
                                aria-label="창의적 표현"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>즐거운 생활</th>
                        <td class="two-col-answers" data-group="integrated-joy">
                            <input
                                data-answer="체험"
                                aria-label="체험"
                                placeholder="정답"
                            /><input
                                data-answer="표현"
                                aria-label="표현"
                                placeholder="정답"
                            /><input
                                data-answer="감상"
                                aria-label="감상"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
