<section id="pe">
    <h2>체육</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>영역</th>
                        <td class="two-col-answers">
                            <input
                                data-answer="운동"
                                aria-label="운동"
                                placeholder="정답"
                            /><input
                                data-answer="스포츠"
                                aria-label="스포츠"
                                placeholder="정답"
                            /><input
                                data-answer="표현"
                                aria-label="표현"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
