<section id="social">
    <h2>사회</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>영역</th>
                        <td class="two-col-answers">
                            <input
                                data-answer="지리인식"
                                aria-label="지리인식"
                                placeholder="정답"
                            /><input
                                data-answer="자연환경과 인간생활"
                                aria-label="자연환경과 인간생활"
                                placeholder="정답"
                            /><input
                                data-answer="인문환경과 인간생활"
                                aria-label="인문환경과 인간생활"
                                placeholder="정답"
                            /><input
                                data-answer="지속가능한 세계"
                                aria-label="지속가능한 세계"
                                placeholder="정답"
                            /><input
                                data-answer="정치"
                                aria-label="정치"
                                placeholder="정답"
                            /><input
                                data-answer="법"
                                aria-label="법"
                                placeholder="정답"
                            /><input
                                data-answer="경제"
                                aria-label="경제"
                                placeholder="정답"
                            /><input
                                data-answer="사회문화"
                                aria-label="사회문화"
                                placeholder="정답"
                            /><input
                                data-answer="역사일반"
                                aria-label="역사일반"
                                placeholder="정답"
                            /><input
                                data-answer="지역사"
                                aria-label="지역사"
                                placeholder="정답"
                            /><input
                                data-answer="한국사"
                                aria-label="한국사"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
