<section id="aristotle">
    <h2>◎ 아리스토텔레스</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="유덕한 인격인"
                                        aria-label="유덕한 인격인"
                                        placeholder="정답"
                                    />의 육성
                                </div>

                                <div class="overview-question">
                                    아리스토텔레스는 그의 저서 『니코마코스
                                    윤리학』의 첫머리에서 "모든 기술과 탐구,
                                    모든 행동과 추구는 어떤 선을 목적으로
                                    한다."라고 했다. 이 명제에는 적어도 두
                                    가지의 중요한 의미가 담겨 있으니 하나는
                                    <input
                                        data-answer="목적론"
                                        aria-label="목적론"
                                        placeholder="정답"
                                    />적 관념이고 다른 하나는
                                    <input
                                        data-answer="선"
                                        aria-label="선"
                                        placeholder="정답"
                                    />의 관념이다. 즉, 인간 존재와 그 활동은
                                    어떤 목적을 지향하며, 그 목적은 인간에게
                                    좋고 옳은 것으로서의 선을 실현하는 데 있다는
                                    것이다. 이때 인간이 추구하는 목적이 다양한데
                                    이중에서도 좀 더 좋고 훌륭한 것으로서 사람들
                                    모두가 공통으로 추구하는 최고의 궁극적인
                                    목적과 선이 있을 수 있으며, 이를 그는
                                    '<input
                                        data-answer="행복"
                                        aria-label="행복"
                                        placeholder="정답"
                                    />'이라고 보았다.
                                </div>

                                <div class="overview-question">
                                    그렇다면, 인간은 어떻게 해야 행복할 수
                                    있는가? 이에 대해 그는 사람이 덕을 지닌
                                    도덕적 존재가 됨으로써, 즉
                                    <input
                                        data-answer="유덕한 인격인"
                                        aria-label="유덕한 인격인"
                                        placeholder="정답"
                                    />이 됨으로써 가능하다고 답한다. 이 점을
                                    설명하려고 우선 그는 최고선을 얻는 일을
                                    기능이나 활동과 연관 지어 고찰한다. 악기
                                    연주가, 조각가 등의 예술가나 목수, 피혁공
                                    등의 경우를 볼 때 그들이 최고의 선을
                                    산출하려면 각각의 기능이 최고도로 발휘해야
                                    한다. 마찬가지로 인간이 최고선으로 삼는
                                    행복도 인간이 지니고 있는 고유의 기능이나
                                    활동이 최고로 실현할 때 얻게 되는 것은
                                    두말할 필요가 없다.
                                </div>

                                <div class="overview-question">
                                    그런데 여기서 주목해야 할 점은 이렇듯 인간이
                                    그 고유한 기능과 능력 그리고 잠재 가능성을
                                    실현하고 그럼으로써 자기완성으로 행복에
                                    이르는 일에
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />이 필수적으로 관련된다는 점이다. 원래
                                    덕이란 그리스어
                                    <input
                                        data-answer="아레테"
                                        aria-label="아레테"
                                        placeholder="정답"
                                    />에서 온 말로서 인간을 포함하여 모든 존재가
                                    그 기능과 목적 면에서 탁월성을 지님을
                                    가리키는 데 사용되었다. 예컨대, 칼은 그것이
                                    물건을 베거나 자르는 데 탁월함을 지니고 있을
                                    경우 칼에 덕이 있다고 본 것이다. 따라서
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />이란 어떤 사물이나 존재를 훌륭하고 좋게
                                    만들어 주는 속성, 즉 그것의 고유한 기능을
                                    가장 잘 수행하게 해 주거나 그것의 목적 또는
                                    선을 증진하는 데 가장 잘 공헌하는 특성을
                                    가리키는 것이다.
                                </div>

                                <div class="overview-question">
                                    이러한 덕의 관념은 그대로 사람에게도
                                    적용된다. 그리하여 인간이 자기실현과
                                    자기완성을 도모하고 행복해지려면 그러한
                                    목적을 추구하는 데 가장 잘 봉사하고 자신의
                                    기능을 최고도로 발휘하게 해 주는 덕들을
                                    발달시켜야 한다. 바로 이러한 이유에서
                                    아리스토텔레스는 인간의 행복 실현에
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />이 필수 불가결하다고 보았던 것이다.
                                </div>

                                <div class="overview-question">
                                    아리스토텔레스에 따르면 인간의 정신은 크게
                                    <input
                                        data-answer="이성적"
                                        aria-label="이성적"
                                        placeholder="정답"
                                    />인 부분과
                                    <input
                                        data-answer="비이성적"
                                        aria-label="비이성적"
                                        placeholder="정답"
                                    />인 부분으로 되어 있는데, 전자는 다시
                                    <input
                                        data-answer="인식적"
                                        aria-label="인식적"
                                        placeholder="정답"
                                    />
                                    부분과
                                    <input
                                        data-answer="사량적"
                                        aria-label="사량적"
                                        placeholder="정답"
                                    />
                                    부분으로 이루어지고, 후자는 본질적으로
                                    <input
                                        data-answer="비이성적"
                                        aria-label="비이성적"
                                        placeholder="정답"
                                    />인 부분이지만
                                    <input
                                        data-answer="이성적"
                                        aria-label="이성적"
                                        placeholder="정답"
                                    />인 것을 어느 정도 지닌 부분과 완전히
                                    <input
                                        data-answer="비이성적"
                                        aria-label="비이성적"
                                        placeholder="정답"
                                    />인 부분으로 구성된다. 인간에게 중요한 덕은
                                    <input
                                        data-answer="이성적"
                                        aria-label="이성적"
                                        placeholder="정답"
                                    />인 부분에 관련되는 덕과 본질은
                                    <input
                                        data-answer="비이성적"
                                        aria-label="비이성적"
                                        placeholder="정답"
                                    />이지만
                                    <input
                                        data-answer="이성적"
                                        aria-label="이성적"
                                        placeholder="정답"
                                    />인 것을 어느 정도 지닌 부분에 관련되는
                                    덕으로 구성된다. 이때 전자와 연관되는 덕이
                                    <input
                                        data-answer="지적 덕"
                                        aria-label="지적 덕"
                                        placeholder="정답"
                                    />이고 후자와 관련되는 덕이
                                    <input
                                        data-answer="도덕적 덕"
                                        aria-label="도덕적 덕"
                                        placeholder="정답"
                                    />이다. 그리고
                                    <input
                                        data-answer="지적 덕"
                                        aria-label="지적 덕"
                                        placeholder="정답"
                                    />
                                    중에서 존재가 애당초
                                    <input
                                        data-answer="가변적"
                                        aria-label="가변적"
                                        placeholder="정답"
                                    />인 것, 즉 다른 방식으로 존재가 가능한 것에
                                    관해 숙고하는 덕으로서
                                    <input
                                        data-answer="실천적 지혜"
                                        aria-label="실천적 지혜"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="도덕적 지혜"
                                        aria-label="도덕적 지혜"
                                        placeholder="정답"
                                    />의 덕이 있고, 후자에 관련되는 덕으로서
                                    절제, 용기, 정의, 배려 등의 덕이 있는
                                    것이다.
                                </div>

                                <div class="overview-question">
                                    아리스토텔레스의 관점에서 볼 때
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />은 정신의 각 부분이 최선의 상태에 있는 것,
                                    즉 그 고유한 기능을 탁월하고도 훌륭하게
                                    수행하는 상태에 있음을 의미하며,
                                    <input
                                        data-answer="행복"
                                        aria-label="행복"
                                        placeholder="정답"
                                    />은 인간이 이러한 덕을 길러 유덕한 인격을
                                    성숙시켜 갈 때 비로소 얻을 수 있다.
                                    아리스토텔레스는 사람이 이러한 덕과 인격을
                                    갖추려면 옳고 좋은 것을 잘 헤아려 바르게
                                    선택할 수 있는 이성 능력과 올바른 정념을
                                    갖추는 일 그리고 바람직한 삶을 실제 행동으로
                                    실천하는 자질과 품성을 기르는 일이 필요함을
                                    지적한다. 또한 그는 덕이
                                    <input
                                        data-answer="중용"
                                        aria-label="중용"
                                        placeholder="정답"
                                    />을 선택하는 인격의 상태임을 지적하면서,
                                    이러한
                                    <input
                                        data-answer="중용"
                                        aria-label="중용"
                                        placeholder="정답"
                                    />
                                    선택의 도덕적 덕이 제대로 이루어지려면
                                    실천적 지혜와 이성적 원리에 따라 행위를
                                    결정하는 성품을 길러 가야 함을 강조하였다.
                                </div>

                                <div class="overview-question">
                                    아리스토텔레스의 도덕 교육론에서 지향하는
                                    도덕적 인간은 순수한 자연인이 아니라 정치
                                    사회적 공동체의 바람직한 한 시민으로서의
                                    <input
                                        data-answer="유덕한 인격인"
                                        aria-label="유덕한 인격인"
                                        placeholder="정답"
                                    />을 의미하는 것이었다. 이는
                                    아리스토텔레스가 진정으로 추구한 것이
                                    공동체의 삶에 현명하고도 책임감 있게
                                    참여하면서, 개인적으로 자신을 완성하고,
                                    공동체의 복지 실현에 기여하는 정치적, 도덕적
                                    존재를 길러 내는 것이었다는 사실로 알 수
                                    있다. 따라서 아리스토텔레스의 도덕 교육론을
                                    제대로 추구해 가려면 개인의 수준에서 바른
                                    인격을 형성하는 데 중점을 두는
                                    <input
                                        data-answer="개인"
                                        aria-label="개인"
                                        placeholder="정답"
                                    />
                                    윤리적 접근과 사회 구조나 제도 등의 사회
                                    환경적 구조 측면의 도덕성을 높이려는
                                    <input
                                        data-answer="사회"
                                        aria-label="사회"
                                        placeholder="정답"
                                    />
                                    윤리적 접근을 조화롭게 추구해야 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
