<section id="durkheim">
    <h2>◎ 뒤르켐</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="도덕 사회화"
                                        aria-label="도덕 사회화"
                                        placeholder="정답"
                                    />로서의
                                    <input
                                        data-answer="도덕 교육"
                                        aria-label="도덕 교육"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    뒤르켐은 인간에게
                                    <input
                                        data-answer="개인적"
                                        aria-label="개인적"
                                        placeholder="정답"
                                    />
                                    존재와
                                    <input
                                        data-answer="사회적"
                                        aria-label="사회적"
                                        placeholder="정답"
                                    />
                                    존재의 두 측면이 있는데, 교육은
                                    <input
                                        data-answer="개인적"
                                        aria-label="개인적"
                                        placeholder="정답"
                                    />
                                    존재인 인간을
                                    <input
                                        data-answer="사회적"
                                        aria-label="사회적"
                                        placeholder="정답"
                                    />
                                    존재가 되게 하는 데 본질이 있는 것으로
                                    보았다. 그는 개인적 존재를 사회적 존재가
                                    되게 하는 과정을
                                    <input
                                        data-answer="사회화"
                                        aria-label="사회화"
                                        placeholder="정답"
                                    />라 지칭하였는데, 그에게 교육은 바로
                                    <input
                                        data-answer="사회화"
                                        aria-label="사회화"
                                        placeholder="정답"
                                    />였다. 그의 도덕 교육론은 이러한 사회학적
                                    교육 사상의 연장선상에서 이루어지고 있다.
                                    뒤르켐은 도덕적 인격의 시작을 도덕 사회화로
                                    파악하면서 인간의 도덕성 발달이
                                    <input
                                        data-answer="규율 정신"
                                        aria-label="규율 정신"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="사회 집단에 대한 애착"
                                        aria-label="사회 집단에 대한 애착"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="자율성"
                                        aria-label="자율성"
                                        placeholder="정답"
                                    />으로 발전해 간다고 보았다. 도덕적 인격은
                                    궁극적으로
                                    <input
                                        data-answer="자율성"
                                        aria-label="자율성"
                                        placeholder="정답"
                                    />을 획득할 때 완성되지만 이를 위해서는 그
                                    이전에
                                    <input
                                        data-answer="규율 정신"
                                        aria-label="규율 정신"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="사회 집단에 대한 애착"
                                        aria-label="사회 집단에 대한 애착"
                                        placeholder="정답"
                                    />이 선행되어야 한다는 것이 그의 주장이다.
                                </div>

                                <div class="overview-question">
                                    <strong>규율 정신</strong>은 도덕적
                                    <input
                                        data-answer="습관"
                                        aria-label="습관"
                                        placeholder="정답"
                                    />과 연결되며
                                    <strong>사회 집단에 대한 애착</strong>은
                                    도덕적
                                    <input
                                        data-answer="정서"
                                        aria-label="정서"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="의지"
                                        aria-label="의지"
                                        placeholder="정답"
                                    />, 그리고 <strong>자율성</strong>은 도덕적
                                    <input
                                        data-answer="이성"
                                        aria-label="이성"
                                        placeholder="정답"
                                    />과 관련된다.
                                </div>

                                <div class="overview-question">
                                    먼저, 규율 정신은 도덕적
                                    <input
                                        data-answer="습관"
                                        aria-label="습관"
                                        placeholder="정답"
                                    />에 대한 교육이 필요함을 의미한다. 규율
                                    정신은
                                    <input
                                        data-answer="규칙성"
                                        aria-label="규칙성"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="권위"
                                        aria-label="권위"
                                        placeholder="정답"
                                    />에 대한
                                    <input
                                        data-answer="존중심"
                                        aria-label="존중심"
                                        placeholder="정답"
                                    />이라는 두 가지 요소를 내용으로 하여
                                    성립되는데, 이때 전자는 도덕규범을 일관되게
                                    준수하는 성향을 말하며 후자는 도덕규범이
                                    명하는 바를 존중하고 의무로 받아들여
                                    실천하는 것을 말한다.
                                </div>

                                <div class="overview-question">
                                    사회 집단에 대한 애착은 도덕적
                                    <input
                                        data-answer="정서"
                                        aria-label="정서"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="의지"
                                        aria-label="의지"
                                        placeholder="정답"
                                    />의 교육이 필요함을 뜻한다. 사회 집단에
                                    대한 애착은 일차적으로 인간이 같은 인간에게
                                    느끼는 애착의 감정을 기반으로 하며 선에 대한
                                    <input
                                        data-answer="사랑"
                                        aria-label="사랑"
                                        placeholder="정답"
                                    />과 그 실현에 대한
                                    <input
                                        data-answer="의지"
                                        aria-label="의지"
                                        placeholder="정답"
                                    />를 내포한다. 그리고 이러한 것들을 기반으로
                                    하여 타인에 대한 애타적 감정과 동정심, 공감,
                                    공동체 정신 등으로 나타나게 된다.
                                </div>

                                <div class="overview-question">
                                    자율성은 도덕적
                                    <input
                                        data-answer="이성"
                                        aria-label="이성"
                                        placeholder="정답"
                                    />을 계발하려는 노력이 필요함을 의미한다.
                                    자율성은 의지의 자율을 뜻하는데 이것이
                                    가능하려면 도덕 행위의 의미와 이유에 대한
                                    합리적 이해가 선행되어야 한다.
                                </div>

                                <div class="overview-question">
                                    이런 의미에서 규율 정신이
                                    <input
                                        data-answer="의무"
                                        aria-label="의무"
                                        placeholder="정답"
                                    />의 도덕을, 사회 집단에의 애착이
                                    <input
                                        data-answer="선"
                                        aria-label="선"
                                        placeholder="정답"
                                    />의 도덕을 표상한다면, 자율성은
                                    <input
                                        data-answer="합리적"
                                        aria-label="합리적"
                                        placeholder="정답"
                                    />
                                    도덕을 표상하는 것이며 이는 결국 도덕적
                                    이성의 계발, 지성의 연마와 관련되는 것이다.
                                </div>

                                <div class="overview-question">
                                    뒤르켐은 인간의 도덕성과 그 발달을 이렇게
                                    규율 정신, 사회 집단에 대한 애착, 자율성 세
                                    가지로 설명하면서 이러한 도덕성을 기르는
                                    도덕 교육과 관련하여 가장 적합한 기관과
                                    교육의 원리, 접근 방법론 등도 제시한 바
                                    있다. 특히, 그는 도덕 교육을 가장 잘 시행할
                                    수 있는 기관으로서
                                    <input
                                        data-answer="학교"
                                        aria-label="학교"
                                        placeholder="정답"
                                    />, 그중에서도
                                    <input
                                        data-answer="초등학교"
                                        aria-label="초등학교"
                                        placeholder="정답"
                                    />를 제일 적합하고도 우선적인 곳, 가장
                                    근본적이고도 중요한 기관으로 역설하였다.
                                </div>

                                <div class="overview-question">
                                    아동의 도덕 교육은
                                    <input
                                        data-answer="가정"
                                        aria-label="가정"
                                        placeholder="정답"
                                    />에서 시작되지만, 사적 유대와 혈연 및
                                    온정적 관계를 기반으로 하는 가정에서 정치
                                    사회의 공적 시민으로서 자질과 도덕적 품성을
                                    길러 내는 데는 한계가 있다고 보았다.
                                    그리하여 그는 가정보다 공적 요소를 더
                                    지니면서도 본격적인 시민 사회는 아니지만
                                    공적 시민 사회의 구성원으로서의 자질과
                                    사회생활 양식의 습득을 도모할 수 있는 가장
                                    적합한 기관으로서, 그리고 가정과 사회를
                                    연계하는 하나의 훌륭한 가교로서
                                    <input
                                        data-answer="학교"
                                        aria-label="학교"
                                        placeholder="정답"
                                    />를 중시하였다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
