<section id="frankenna">
    <h2>◎ 프랑케나</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="의무 윤리 교육"
                                        aria-label="의무 윤리 교육"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="덕 윤리 교육"
                                        aria-label="덕 윤리 교육"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="상보적 추구"
                                        aria-label="상보적 추구"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    프랑케나는 현대적 도덕 개념의 본질을
                                    <input
                                        data-answer="비이기성"
                                        aria-label="비이기성"
                                        placeholder="정답"
                                    />으로 파악하면서 자신의 윤리학적 견해를
                                    <input
                                        data-answer="의무 윤리학"
                                        aria-label="의무 윤리학"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="덕 윤리학"
                                        aria-label="덕 윤리학"
                                        placeholder="정답"
                                    />의 종합을 추구하는 것으로 설정했다. 윤리학
                                    또는 도덕 철학을 도덕 및 도덕적 삶, 도덕
                                    판단에 대해 철학적으로 성찰하는 것이라고 본
                                    그는 그러한 성찰을 도덕적 책임 판단 혹은
                                    도덕적 의무 판단과 도덕적 가치 판단 혹은
                                    덕성 판단으로 구분했다. 이때 전자가 의무의
                                    윤리학과 관련된다면 후자는 덕 윤리학과
                                    연관되는데,
                                    <input
                                        data-answer="성품"
                                        aria-label="성품"
                                        placeholder="정답"
                                    />
                                    없는
                                    <input
                                        data-answer="원리"
                                        aria-label="원리"
                                        placeholder="정답"
                                    />는
                                    <input
                                        data-answer="무력"
                                        aria-label="무력"
                                        placeholder="정답"
                                    />하며
                                    <input
                                        data-answer="원리"
                                        aria-label="원리"
                                        placeholder="정답"
                                    />
                                    없는
                                    <input
                                        data-answer="성품"
                                        aria-label="성품"
                                        placeholder="정답"
                                    />은
                                    <input
                                        data-answer="맹목적"
                                        aria-label="맹목적"
                                        placeholder="정답"
                                    />인 것이기 때문에 양자는
                                    <input
                                        data-answer="상보적"
                                        aria-label="상보적"
                                        placeholder="정답"
                                    />으로 종합되어야 한다고 본 것이다.
                                </div>

                                <div class="overview-question">
                                    프랑케나의 이러한 윤리학적 입장은 그대로
                                    그의 도덕 교육론으로 연결된다. 그가 지향하는
                                    도덕 교육의 본질은 합리적이고 자율적인
                                    도덕인을 길러 내는 데 있는데, 이를 위해서는
                                    의무 윤리학에 기반을 둔
                                    <input
                                        data-answer="원리"
                                        aria-label="원리"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="규칙"
                                        aria-label="규칙"
                                        placeholder="정답"
                                    />
                                    중심의 도덕 교육과 덕 윤리학에 토대를 둔
                                    <input
                                        data-answer="품성"
                                        aria-label="품성"
                                        placeholder="정답"
                                    />
                                    중심의 도덕 교육이 통합적으로 이루어져야
                                    한다고 본다. 이때 전자의 도덕 교육을
                                    <input
                                        data-answer="MEX"
                                        aria-label="MEX"
                                        placeholder="정답"
                                    />라고 한다면 후자의 도덕 교육은
                                    <input
                                        data-answer="MEY"
                                        aria-label="MEY"
                                        placeholder="정답"
                                    />라고 할 수 있는데,
                                    <input
                                        data-answer="MEX"
                                        aria-label="MEX"
                                        placeholder="정답"
                                    />는 선악에 관한 지식을 갖게 하는 것 또는
                                    어떻게 행위해야 할지를 사고하고 판단하게
                                    하는 것을 과제로 하며,
                                    <input
                                        data-answer="MEY"
                                        aria-label="MEY"
                                        placeholder="정답"
                                    />는 자라나는 우리 학생들의 행위가 그 지식과
                                    사고·판단에 따라 이루어지도록 품성과 실천을
                                    보장하는 것을 말한다.
                                </div>

                                <div class="overview-question">
                                    의무의 윤리에 기반을 두고 이루어지는 도덕
                                    교육에서 프랑케나는 선악에 관한 지식과
                                    우리의 행위를 안내하고 지도해 줄 어떤 원리
                                    또는 목적들을 알게 하고 그 도덕적 명령의
                                    근거를 이해하게 하는 일, 도덕 원리를
                                    적용하거나 목적을 실현하는 데 필요한 지식을
                                    제공하고 또 그러한 지식을 스스로 획득할 수
                                    있는 능력을 갖추게 하면서 도덕적 의사 결정의
                                    힘과 잘 단련된 지력을 기르도록 하는 일,
                                    의무가 충돌하거나 갈등을 일으킬 때 원리를
                                    결정하는 능력과 그것을 수정하는 능력을 길러
                                    주는 일, 도덕적 삶의 전통과 역사적 흐름의
                                    맥락에서 파악되는 어떤 거시적인 방향감 또는
                                    <input
                                        data-answer="도덕의 길"
                                        aria-label="도덕의 길"
                                        placeholder="정답"
                                    />을 가르치는 일 등이 이루어져야 한다고
                                    보았다.
                                </div>

                                <div class="overview-question">
                                    한편, 덕 윤리에 기반을 두고 이루어지는 도덕
                                    교육에서 프랑케나는 선악에 관한 지식에
                                    일치하는 행위 성향과 의지, 습관 등을
                                    형성하는 일, 학생들이 습득해야야 할 덕을
                                    명료히 설정해 놓고 이를 집중적으로 추구하는
                                    것, 즉 인격적 특성을 나타내는 제일차적
                                    덕들로서 도덕 생활의 특정 측면에 적용되는
                                    정직, 성실과 같은 덕들과 제이차적 덕들로서
                                    도덕 생활 전체에 관련되는 양심, 통합성,
                                    도덕적 민감성, 선의지, 도덕적 자율성 등과
                                    같은 덕들을 분명하게 설정해 놓고 이를 함양해
                                    가도록 하는 일, 거시적인 도덕적 방향감과
                                    객관적 도덕 의식, 바람직한 도덕적 삶의 길을
                                    따라 살아가려는 성향을 기르는 일, 그리고
                                    덕스럽고 훌륭한 인간의 존재 모습을 따라
                                    배우면서 어떤 종류의 훌륭한 존재가 되기를
                                    지향하도록 하는 것, 이름하여
                                    <input
                                        data-answer="도덕적 이상"
                                        aria-label="도덕적 이상"
                                        placeholder="정답"
                                    />에 대한 학습과 경험의 기회를 제공하는 일
                                    등이 중요함을 강조하였다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
