<section id="kant">
    <h2>◎ 칸트</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="자율적 도덕인"
                                        aria-label="자율적 도덕인"
                                        placeholder="정답"
                                    />의 육성
                                </div>

                                <div class="overview-question">
                                    칸트는 인간이 도덕적인 존재가 되고자 하는
                                    한, 타당한
                                    <input
                                        data-answer="도덕 법칙"
                                        aria-label="도덕 법칙"
                                        placeholder="정답"
                                    />이 명령하는 바를 존중하고 그것에 따라야
                                    한다고 말한다. 사람은
                                    <input
                                        data-answer="도덕 법칙"
                                        aria-label="도덕 법칙"
                                        placeholder="정답"
                                    />을 존중하고 따를 때 비로소 인간다운 인간이
                                    될 수 있으며, 그런 만큼 인간이 도덕 법칙을
                                    준수하는 것은 하나의 필연적인
                                    <input
                                        data-answer="의무"
                                        aria-label="의무"
                                        placeholder="정답"
                                    />라고 보는 것이다. 이렇게 볼 때 타당한
                                    <input
                                        data-answer="도덕 법칙"
                                        aria-label="도덕 법칙"
                                        placeholder="정답"
                                    />으로부터 주어지는
                                    <input
                                        data-answer="의무"
                                        aria-label="의무"
                                        placeholder="정답"
                                    />를 존중하고 준수하는 것이 칸트 윤리설의 한
                                    핵심이라고 할 수 있으며, 여기서 칸트의
                                    윤리학이
                                    <input
                                        data-answer="의무의 윤리학"
                                        aria-label="의무의 윤리학"
                                        placeholder="정답"
                                    />이라고 불리는 이유를 알 수 있다. 그리고
                                    이런 연유로 칸트의 관점을 따르는 도덕 교육은
                                    도덕 법칙에 대한 의무감을 갖고 도덕적 행동을
                                    실천하는 인간을 기르는 일을 중시하는
                                    방향으로 나아간다.
                                </div>

                                <div class="overview-question">
                                    칸트는 도덕 법칙의 근원을 인간의
                                    <input
                                        data-answer="이성"
                                        aria-label="이성"
                                        placeholder="정답"
                                    />에서 찾는다. 즉, 도덕 법칙은 감성과
                                    오성에서 얻은 경험적 인식을 토대로 하면서
                                    동시에 그것을 넘어 예지계의 자유, 영혼 불멸,
                                    신의 존재의 필연성 등 인간 삶의 이념을
                                    인식하는
                                    <input
                                        data-answer="실천 이성"
                                        aria-label="실천 이성"
                                        placeholder="정답"
                                    />에 근원을 두고 있다. 칸트의 관점에서 볼 때
                                    실천 이성이 명령하는 인간 행동과 사회적 삶의
                                    최고의 도덕 법칙은
                                    <input
                                        data-answer="정언 명령"
                                        aria-label="정언 명령"
                                        placeholder="정답"
                                    />이다. 그의 관점에서 볼 때 도덕 법칙을
                                    따르는 내적 동기는
                                    <input
                                        data-answer="선의지"
                                        aria-label="선의지"
                                        placeholder="정답"
                                    />로부터 나온다.
                                    <input
                                        data-answer="선의지"
                                        aria-label="선의지"
                                        placeholder="정답"
                                    />는 오직 그것이 옳다는 이유만으로
                                    실천하려는 의지를 지칭한다. 즉, 칸트의
                                    관점에서 볼 때 어떤 행위가 도덕적인 것이
                                    되려면
                                    <input
                                        data-answer="선의지"
                                        aria-label="선의지"
                                        placeholder="정답"
                                    />에 입각한 것이어야 한다. 따라서 도덕
                                    법칙이 도덕적 행동을 성립하는
                                    <input
                                        data-answer="객관적"
                                        aria-label="객관적"
                                        placeholder="정답"
                                    />
                                    조건이라면 선의지는
                                    <input
                                        data-answer="주관적"
                                        aria-label="주관적"
                                        placeholder="정답"
                                    />
                                    조건에 해당하는 것으로서 인간의 도덕적 삶의
                                    관점에서 볼 때 동기의 엄격성을 표상하는 것이
                                    된다. 칸트의 윤리설에는 인간 존엄과 목적의
                                    왕국 그리고 덕과 행복을 통한 최고선의 관념이
                                    자리 잡고 있다. 그의 윤리설은 궁극적으로
                                    <input
                                        data-answer="인간 존엄성"
                                        aria-label="인간 존엄성"
                                        placeholder="정답"
                                    />을 고양하고 인간을
                                    <input
                                        data-answer="수단"
                                        aria-label="수단"
                                        placeholder="정답"
                                    />이 아닌
                                    <input
                                        data-answer="목적"
                                        aria-label="목적"
                                        placeholder="정답"
                                    />으로 대우하는 도덕적 공동체의 형성을
                                    지향한다.
                                </div>

                                <div class="overview-question">
                                    칸트에게 도덕 교육은 바람직한 인간성과
                                    건전한 인격을 형성하려는 것으로서 그가 보는
                                    모든 교육 활동에서 가장 핵심적인 것으로
                                    여겼다. 이때 그가 말하는 건전한 인격이란
                                    격률에 따라 행동할 수 있는 자질이 갖추어진
                                    것을 뜻한다. 칸트는 인간이 연령에 따라
                                    <input
                                        data-answer="유아기"
                                        aria-label="유아기"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="아동기"
                                        aria-label="아동기"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="학생기"
                                        aria-label="학생기"
                                        placeholder="정답"
                                    />로 발달해 간다고 보고, 각각에 맞는 교육적
                                    접근으로
                                    <input
                                        data-answer="양육"
                                        aria-label="양육"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="훈육"
                                        aria-label="훈육"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="도야"
                                        aria-label="도야"
                                        placeholder="정답"
                                    />
                                    세 가지로 설정했는데 이 중에서 도덕 교육은
                                    특히
                                    <input
                                        data-answer="훈육"
                                        aria-label="훈육"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="도야"
                                        aria-label="도야"
                                        placeholder="정답"
                                    />와 관련된다.
                                    <input
                                        data-answer="양육"
                                        aria-label="양육"
                                        placeholder="정답"
                                    />은 양호 또는 부양을 말하는 것으로서 아동의
                                    자연적 성장이 원만하게 이루어지도록 하는
                                    것인 데 반해,
                                    <input
                                        data-answer="훈육"
                                        aria-label="훈육"
                                        placeholder="정답"
                                    />은 인간의 동물적인 본성을 인간성으로
                                    바꾸는 교육적 작용을 말하는 것이다. 칸트는
                                    이러한 훈육이 어렸을 때부터 이루어져야 함을
                                    강조하는데, 인간의 좋지 못한 욕망과 인간이
                                    제멋대로 무질서하게 행동하는 것을 억제하고
                                    훈련으로 바람직한 행위 양식의 습득과 규칙
                                    준수의
                                    <input
                                        data-answer="습관화"
                                        aria-label="습관화"
                                        placeholder="정답"
                                    />를 도모해야 한다고 본 것이다.
                                </div>

                                <div class="overview-question">
                                    칸트의
                                    <input
                                        data-answer="도야"
                                        aria-label="도야"
                                        placeholder="정답"
                                    />
                                    개념을 한마디로 말하기 어려우나 대체로
                                    <input
                                        data-answer="도야"
                                        aria-label="도야"
                                        placeholder="정답"
                                    />란 삶의 이치와 도리를 깨우치고 그의 소질과
                                    능력을 갈고닦아 바람직한 인간을 형성하도록
                                    하는 교육적 작용을 말한다. 이러한 도야에는
                                    <input
                                        data-answer="기능·능력"
                                        aria-label="기능·능력"
                                        placeholder="정답"
                                    />의 도야와
                                    <input
                                        data-answer="사회·문화생활"
                                        aria-label="사회·문화생활"
                                        placeholder="정답"
                                    />의 도야, 그리고
                                    <input
                                        data-answer="도덕적"
                                        aria-label="도덕적"
                                        placeholder="정답"
                                    />
                                    도야가 포함되는데, 특히
                                    <input
                                        data-answer="도덕적"
                                        aria-label="도덕적"
                                        placeholder="정답"
                                    />
                                    도야는 격률에 따라 사고하고 행동하는 도덕적
                                    품성과 인격을 형성하는 도덕 교육을 말한다.
                                    칸트는 이러한 도덕적 도야의 방법으로서
                                    이성에 입각한 이해와 사고, 소크라테스식의
                                    방법, 실제적인 경험 등을 강조하였다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
