<section id="socrates-plato" class="active">
    <h2>◎ 소크라테스 · 플라톤</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question title-highlight">
                                    Title:
                                    <input
                                        data-answer="선"
                                        aria-label="선"
                                        placeholder="정답"
                                    />에 대한
                                    <input
                                        data-answer="참 지식"
                                        aria-label="참 지식"
                                        placeholder="정답"
                                    />으로서의
                                    <input
                                        data-answer="덕성 계발"
                                        aria-label="덕성 계발"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    소크라테스는 인간이 무엇인가를 열망하고
                                    욕구한다는 사실 그 자체와 진정으로 추구해야
                                    할 가치 사이에는 분명한 구별이 있어야 함을
                                    강조하였다. 예컨대, 심한 상처를 입은
                                    환자에게 고통을 수반하는 치료가 필요할 때 그
                                    환자는 이를 바라지 않겠지만, 그의 욕구나
                                    바람에 관계없이 고통을 가져다주더라도 상처를
                                    치료하는 일은 바람직한 것이다. 따라서 참된
                                    선과 가치는 인간의 감각적 경험이나
                                    욕망으로부터 오는 것이 아니라, 진정한 선과
                                    가치가 무엇인지 그것의 본질과 의미를
                                    합리적이고
                                    <input
                                        data-answer="이성적"
                                        aria-label="이성적"
                                        placeholder="정답"
                                    />으로
                                    <input
                                        data-answer="숙고"
                                        aria-label="숙고"
                                        placeholder="정답"
                                    />해야만 얻을 수 있는 것이다.
                                </div>

                                <div class="overview-question">
                                    소크라테스의 관점에서 볼 때 인간에게 진정
                                    필요한 것은
                                    <input
                                        data-answer="이성적 숙고"
                                        aria-label="이성적 숙고"
                                        placeholder="정답"
                                    />로 그의 진정한 선과 가치를 아는
                                    <input
                                        data-answer="참된 지식"
                                        aria-label="참된 지식"
                                        placeholder="정답"
                                    />이며, 인간이 이를 획득할 때
                                    <input
                                        data-answer="덕"
                                        aria-label="덕"
                                        placeholder="정답"
                                    />을 지니게 되는 것이다. 그러므로
                                    소크라테스의 관점에서 볼 때 덕은
                                    <input
                                        data-answer="지식"
                                        aria-label="지식"
                                        placeholder="정답"
                                    />이라 할 수 있다.
                                </div>

                                <div class="overview-question">
                                    문제는 그러한 덕을 가르칠 수 있느냐 하는
                                    점이다. 사실 메논이 소크라테스에게 달려와
                                    덕은 가르침으로 얻을 수 있는지 아니면 그
                                    밖의 다른 방법으로 얻을 수 있는지 물었을 때,
                                    그의 대답과 논변과 태도는 여러 가지 해석을
                                    낳을 수 있다. 그러나 전체적으로 볼 때 그의
                                    견해는 덕이 선에 관한 참으로 깨달아 아는
                                    지식을 말하는 한, 그것은 바로 그러한 참다운
                                    깨달음을 얻을 때 가르칠 수 있는 것으로 볼 수
                                    있다. 소크라테스는 메논에게
                                    <input
                                        data-answer="문답"
                                        aria-label="문답"
                                        placeholder="정답"
                                    />
                                    형태의 산파법이나 회상법으로 기하학의 원리를
                                    터득하게 함으로써 깨달음의 과정을 직접 보여
                                    주었다.
                                </div>

                                <div class="overview-question">
                                    이러한 관점의 연속선상에서 플라톤은 사물과
                                    현상의 본질을 초감각적 실재에 대한
                                    <input
                                        data-answer="이성적 숙고"
                                        aria-label="이성적 숙고"
                                        placeholder="정답"
                                    />로만 파악할 수 있는 것으로 보았다. 우리가
                                    추구해야 할 마땅한 선과 가치는 감각과 경험이
                                    아닌 순수한
                                    <input
                                        data-answer="이성"
                                        aria-label="이성"
                                        placeholder="정답"
                                    />에 기초해 합리적으로 탐구함으로써 파악할
                                    수 있다는 것이다. 예컨대, 우리가 감각과
                                    경험으로 어떤 사과를 지각하여 그것이 둥글고
                                    빨갛다고 말하는 경우를 생각해 보자. 이때
                                    그것이 진정 둥글고 붉은 사과이기 때문에 그리
                                    말하는 것인가? 아니다. 단지 우리는 다소
                                    울퉁불퉁하고 연두색이나 노란색이 섞여
                                    있음에도 그 사과를 둥글고 빨간 사과라고
                                    인식하여 적당히 그렇게 표현하는 것이다.
                                    따라서 온전한 둥긂과 참된 붉음은 감각적
                                    경험으로는 파악할 수 없다. 오히려 그것은
                                    그러한 경험과 감각을 초월하여 이성의 작용과
                                    지성적 추론을 바탕으로 합리적이고도
                                    반성적·비판적으로 숙고할 때만 가능해진다.
                                </div>

                                <div class="overview-question">
                                    그러므로 플라톤에게 실재의 본질에 대한
                                    인식은 그러한 경험적 감각으로부터 독립해
                                    있는 인간 이성이 그것들로부터 방해받지 않고
                                    온전히 작동할 때 가능해지는 것이었다.
                                    말하자면, 플라톤은 사물과 현상의 본질은
                                    초감각적 실재에 대한
                                    <input
                                        data-answer="이성적 숙고"
                                        aria-label="이성적 숙고"
                                        placeholder="정답"
                                    />로만 진정으로 파악할 수 있는 것으로 보았던
                                    것이다. 플라톤이
                                    <input
                                        data-answer="형상론"
                                        aria-label="형상론"
                                        placeholder="정답"
                                    />을 통해 말하고자 한 바가 바로 이것이었다.
                                    사람이 사슬을 끊고 동굴 밖으로 나와 사물의
                                    진정한 모습을 깨닫게 하는 일을 가능하게 하는
                                    것이 바로 무지에 대한 깨달음과 높은 수준의
                                    단련된 지성인 것이다. 따라서 플라톤에게 덕을
                                    이루는 지식은 특별한 종류의 고상한 지식이
                                    되며, 덕은 바로 이러한 이성의 수련과
                                    실천으로 선에 대한 참된 지식이 있을 때 얻을
                                    수 있는 것이다. 플라톤은 바로 이러한
                                    관점에서 그의 『국가론』에서 이성의 단련과
                                    높은 수준의 지혜로 참된 지식을 형성하고
                                    그럼으로써 덕을 구유하게 되는 도덕 교육론을
                                    전개하였다.
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="이데아계"
                                        aria-label="이데아계"
                                        placeholder="정답"
                                    />: 이성에 의해서 파악되는 완전한 세계
                                </div>

                                <div class="overview-question">
                                    <input
                                        data-answer="현상계"
                                        aria-label="현상계"
                                        placeholder="정답"
                                    />: 이데아계를 모방한 불완전한 세계
                                </div>

                                <div class="overview-question">
                                    소크라테스와 플라톤이 진정으로 말하고자 했던
                                    것은 도덕적 덕을 거부하는 것은 행복을
                                    가져오는 것이 아니라 궁극적으로는 불행에
                                    빠지는 길이요, 따라서 진정한 인간의 행복과
                                    자기실현, 자유의 성취는 자기 통제와 건전한
                                    삶, 타인에 대한 관심과 배려 등을 포함하는
                                    <input
                                        data-answer="지혜"
                                        aria-label="지혜"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="용기"
                                        aria-label="용기"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="절제"
                                        aria-label="절제"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="정의"
                                        aria-label="정의"
                                        placeholder="정답"
                                    />와 같은 덕성을 지닌 삶의 맥락에서 얻을 수
                                    있다는 것이다. 그러므로 인간의 진정한 행복은
                                    무분별하고 절제되지 않은 욕구나 열망의 추구
                                    또는 검토되지 않은 인습이나 일반 사람들의
                                    의견에 무조건 동조함으로써 얻는 것이 아니라,
                                    무엇이 인간의 삶에서 추구할 만한 선과 진정한
                                    이익이 되는 것인지 이성에 기초해 합리적으로
                                    숙고함으로써 참지식으로서의 도덕적 덕을
                                    획득하는 것이다.
                                </div>

                                <div class="overview-question">
                                    결국, 소크라테스와 플라톤에게 도덕 교육은
                                    <input
                                        data-answer="도덕적 이성"
                                        aria-label="도덕적 이성"
                                        placeholder="정답"
                                    />을 기르고 비판적 지성과 바른 판단력을
                                    갖추게 하는 일을 중심으로 한다. 그리고
                                    그러한 노력으로 인간이 추구해야 할 선과 참된
                                    가치에 대한 올바른 지식을 지니고, 또
                                    그럼으로써 바람직한 도덕적 덕을 형성하는 데
                                    기여하는 것을 본질로 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
