<section id="science-teaching">
    <h2>교수⋅학습 방법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="실험⋅실습"
                                        aria-label="실험⋅실습"
                                        placeholder="정답"
                                    />에서 지속적인 관찰이 요구되는 내용을
                                    지도할 때는
                                    <input
                                        data-answer="자료 준비"
                                        aria-label="자료 준비"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="관찰자"
                                        aria-label="관찰자"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="관찰 내용"
                                        aria-label="관찰 내용"
                                        placeholder="정답"
                                    />
                                    등에 관한 세부 계획을 미리 세운다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="융합적 사고"
                                        aria-label="융합적 사고"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="과학적 창의성"
                                        aria-label="과학적 창의성"
                                        placeholder="정답"
                                    />을 계발하기 위해 내용 연계성을 고려하여
                                    과목 내 영역이나 수학, 기술, 공학, 예술 등
                                    다른 교과와 통합 및 연계하여 지도할 수
                                    있도록 계획한다.
                                </div>

                                <div class="overview-question">
                                    • 학생의 지적 호기심과 학습 동기를 유발할 수
                                    있도록 발문하고,
                                    <input
                                        data-answer="개방형 질문"
                                        aria-label="개방형 질문"
                                        placeholder="정답"
                                    />을 적극적으로 활용한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="교사 중심"
                                        aria-label="교사 중심"
                                        placeholder="정답"
                                    />의 실험보다
                                    <input
                                        data-answer="학생 중심"
                                        aria-label="학생 중심"
                                        placeholder="정답"
                                    />의 탐구 활동을 설계하고, 동료들과의 협업을
                                    통해 과제를 해결하는 과정에서 상호 협력이
                                    중요함을 인식하도록 지도한다.
                                </div>

                                <div class="overview-question">
                                    • 모형을 사용할 때는
                                    <input
                                        data-answer="모형"
                                        aria-label="모형"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="실제 자연 현상"
                                        aria-label="실제 자연 현상"
                                        placeholder="정답"
                                    />
                                    사이에
                                    <input
                                        data-answer="차이"
                                        aria-label="차이"
                                        placeholder="정답"
                                    />가 있음을 이해할 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    • ‘과학’ 학습에 대한 학생의 이해를 돕고
                                    흥미를 유발하며 구체적 조작 경험과 활동을
                                    제공하기 위해 모형이나 시청각 자료,
                                    <input
                                        data-answer="가상 현실"
                                        aria-label="가상 현실"
                                        placeholder="정답"
                                    />이나
                                    <input
                                        data-answer="증강 현실"
                                        aria-label="증강 현실"
                                        placeholder="정답"
                                    />
                                    자료, 소프트웨어, 컴퓨터 및 스마트 기기,
                                    인터넷 등의 최신 정보 통신 기술과 기기 등을
                                    실험과 탐구에 적절히 활용한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="지능정보기술"
                                        aria-label="지능정보기술"
                                        placeholder="정답"
                                    />
                                    등 첨단 과학기술 기반의 과학 교육이 이루어질
                                    수 있도록
                                    <input
                                        data-answer="지능형 과학실"
                                        aria-label="지능형 과학실"
                                        placeholder="정답"
                                    />을 활용한 탐구 실험⋅실습 중심의 교수⋅학습
                                    활동 계획을 수립하여 실행한다.
                                </div>

                                <div class="overview-question">
                                    • ‘과학’ 관련 탐구 활동에서 다양한 센서나
                                    기기 등
                                    <input
                                        data-answer="디지털 탐구 도구"
                                        aria-label="디지털 탐구 도구"
                                        placeholder="정답"
                                    />를 활용하여 실시간으로 자료를 측정하거나
                                    기상청 등 공공기관에서 제공한 자료를
                                    활용하여 자료를 수집하고 처리하는 기회를
                                    제공한다.
                                </div>

                                <div class="overview-question">
                                    • 학교의 지역적 특성을 고려하여 지역의 자연
                                    환경, 지역 명소, 박물관, 과학관 등
                                    <input
                                        data-answer="지역별 과학 교육 자원"
                                        aria-label="지역별 과학 교육 자원"
                                        placeholder="정답"
                                    />을 적극적으로 활용한다.
                                </div>

                                <div class="overview-question">
                                    • 야외 탐구 활동 및 현장 학습 시에는
                                    <input
                                        data-answer="사전 답사"
                                        aria-label="사전 답사"
                                        placeholder="정답"
                                    />를 하거나 관련 자료를 조사하여 안전한
                                    활동을 실행한다.
                                </div>

                                <div class="overview-question">
                                    • 범교과 학습, 생태전환교육,
                                    <input
                                        data-answer="디지털⋅인공지능 기초 소양"
                                        aria-label="디지털⋅인공지능 기초 소양"
                                        placeholder="정답"
                                    />
                                    함양과 관련한 교육내용 중 해당 주제와
                                    연계하여 지도할 수 있는 내용을 선정하여 함께
                                    학습할 수 있도록 지도한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
