<section id="science-character">
    <h2>성격</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    ‘과학’은 ‘<input
                                        data-answer="과학적 소양을 갖추고 더불어 살아가는 창의적인 사람"
                                        aria-label="과학적 소양을 갖추고 더불어 살아가는 창의적인 사람"
                                        placeholder="정답"
                                    />’을 육성하기 위한 교과이다. ‘과학’
                                    교과에서는 모든 학생이 과학의
                                    <input
                                        data-answer="기본 개념"
                                        aria-label="기본 개념"
                                        placeholder="정답"
                                    />을 익히고,
                                    <input
                                        data-answer="과학 탐구 능력"
                                        aria-label="과학 탐구 능력"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="태도"
                                        aria-label="태도"
                                        placeholder="정답"
                                    />를 길러, 자연과 일상생활에서 접하는 현상을
                                    과학적으로 이해하고, 민주 시민으로서 개인과
                                    사회 문제를 과학적으로 해결하고
                                    참여⋅실천하는 역량 함양에 중점을 둔다.
                                </div>

                                <div class="overview-question">
                                    ‘과학’에서는 다양한 탐구 중심의 학습을 통해
                                    ‘과학’의 5개 영역과 관련된 지식⋅이해,
                                    과정⋅기능, 가치⋅태도의 세 차원을
                                    상호보완적으로 함양함으로써 영역별 핵심
                                    아이디어를 습득하고, 행위 주체로서 갖추어야
                                    할
                                    <input
                                        data-answer="과학적 소양"
                                        aria-label="과학적 소양"
                                        placeholder="정답"
                                    />을 기를 수 있을 것이다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
