<section id="social-character" class="active">
    <h2>성격</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    사회과는 학생들이 사회생활에 필요한
                                    <input
                                        data-answer="지식"
                                        aria-label="지식"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="기능"
                                        aria-label="기능"
                                        placeholder="정답"
                                    />을 익혀 이를 토대로 시⋅공간 속의 인간과
                                    사회현상을 인식하고, 민주 사회의 구성원에게
                                    요구되는
                                    <input
                                        data-answer="가치와 태도"
                                        aria-label="가치와 태도"
                                        placeholder="정답"
                                    />를 지님으로써
                                    <input
                                        data-answer="시민으로서의 자질"
                                        aria-label="시민으로서의 자질"
                                        placeholder="정답"
                                    />을 갖추도록 하는 교과이다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
