<section id="social-sub-goal">
    <h2>하위 목표-과정⋅기능</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    인간과 사회현상을 파악하는 데 필요한
                                    <input
                                        data-answer="지식과 정보를 획득, 분석, 조직, 활용하는 능력"
                                        aria-label="지식과 정보를 획득, 분석, 조직, 활용하는 능력"
                                        placeholder="정답"
                                    />을 기르며, 공동체 생활과 관련된 여러
                                    문제를 합리적으로 해결하기 위한
                                    <input
                                        data-answer="탐구 능력"
                                        aria-label="탐구 능력"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="의사 결정 능력"
                                        aria-label="의사 결정 능력"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="사회 참여 능력"
                                        aria-label="사회 참여 능력"
                                        placeholder="정답"
                                    />을 기른다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
