<section id="social-method">
    <h2>교수⋅학습 방법</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    - 학습자의 유형, 성취수준, 학습 속도, 흥미,
                                    경험, 요구 등을 고려하고 교육 현장에 적합한
                                    <input
                                        data-answer="주제"
                                        aria-label="주제"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="문제"
                                        aria-label="문제"
                                        placeholder="정답"
                                    />를 중심으로 단원을 구성하여 효과적인
                                    수업이 이루어질 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    - 협동 학습을 통해 민주시민의 중요한
                                    자질이라 할 수 있는 공동체 구성원으로서의
                                    책무성, 참여 의식, 타인에 대한
                                    <input
                                        data-answer="존중"
                                        aria-label="존중"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="배려"
                                        aria-label="배려"
                                        placeholder="정답"
                                    />, 의사소통 능력, 협업 능력을 함양한다.
                                </div>

                                <div class="overview-question">
                                    -
                                    <input
                                        data-answer="역할 놀이"
                                        aria-label="역할 놀이"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="시뮬레이션 게임"
                                        aria-label="시뮬레이션 게임"
                                        placeholder="정답"
                                    />, 모의<input
                                        data-answer="재판"
                                        aria-label="재판"
                                        placeholder="정답"
                                    />과 모의<input
                                        data-answer="국회"
                                        aria-label="국회"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="사회 참여"
                                        aria-label="사회 참여"
                                        placeholder="정답"
                                    />
                                    활동,
                                    <input
                                        data-answer="사료"
                                        aria-label="사료"
                                        placeholder="정답"
                                    />
                                    학습,
                                    <input
                                        data-answer="제작"
                                        aria-label="제작"
                                        placeholder="정답"
                                    />
                                    학습,
                                    <input
                                        data-answer="추체험"
                                        aria-label="추체험"
                                        placeholder="정답"
                                    />
                                    학습, 야외답사 등의 다양한 학습 방법을
                                    적절하게 활용한다.
                                </div>

                                <div class="overview-question">
                                    - 각종 디지털 기술과 정보 매체를 활용할 수
                                    있도록 교실 환경을 조성하고,
                                    <input
                                        data-answer="지리정보시스템"
                                        aria-label="지리정보시스템"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="미디어 활용 교육"
                                        aria-label="미디어 활용 교육"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="디지털 기반 학습"
                                        aria-label="디지털 기반 학습"
                                        placeholder="정답"
                                    />을 활용한다.
                                </div>

                                <div class="overview-question">
                                    - 학습자가 스스로 사회문제나 쟁점을
                                    <input
                                        data-answer="탐구"
                                        aria-label="탐구"
                                        placeholder="정답"
                                    />하거나
                                    <input
                                        data-answer="가치"
                                        aria-label="가치"
                                        placeholder="정답"
                                    />를 분석하는 기회를 갖도록 각종 사회문제에
                                    대한
                                    <input
                                        data-answer="시사"
                                        aria-label="시사"
                                        placeholder="정답"
                                    />
                                    자료와
                                    <input
                                        data-answer="지역사회"
                                        aria-label="지역사회"
                                        placeholder="정답"
                                    />
                                    자료를 활용한다.
                                </div>

                                <div class="overview-question">
                                    - 현대 사회의 다양한 현상을
                                    <input
                                        data-answer="경험적"
                                        aria-label="경험적"
                                        placeholder="정답"
                                    />
                                    자료에 근거하여 분석하고, 일상생활에서 흔히
                                    접할 수 있는 다양한 문제 및 갈등을 이해와
                                    공감을 바탕으로 합리적으로 해결할 수 있도록
                                    지도한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
