<section id="social-direction">
    <h2>교수⋅학습의 방향</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    - 고차 사고력:
                                    <input
                                        data-answer="창의적 사고력"
                                        aria-label="창의적 사고력"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="비판적 사고력"
                                        aria-label="비판적 사고력"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="문제 해결력"
                                        aria-label="문제 해결력"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="의사 결정력"
                                        aria-label="의사 결정력"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="메타 인지"
                                        aria-label="메타 인지"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="overview-question">
                                    - 개인적, 사회적 문제나 쟁점에 대한 관심을
                                    가지고, 가치명료화나 가치 분석을 통한 가치
                                    탐구 및 의사 결정 능력, 가치 갈등과 문제
                                    상황에서의 타인에 대한
                                    <input
                                        data-answer="공감"
                                        aria-label="공감"
                                        placeholder="정답"
                                    />
                                    능력, 갈등 해결 및
                                    <input
                                        data-answer="친사회적 행동 실천"
                                        aria-label="친사회적 행동 실천"
                                        placeholder="정답"
                                    />
                                    능력 등을 신장시킬 수 있도록 학습을
                                    전개한다.
                                </div>

                                <div class="overview-question">
                                    - 범교과 학습 주제와
                                    <input
                                        data-answer="디지털 소양 교육"
                                        aria-label="디지털 소양 교육"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="민주시민 교육"
                                        aria-label="민주시민 교육"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="생태전환 교육"
                                        aria-label="생태전환 교육"
                                        placeholder="정답"
                                    />
                                    등 국가⋅사회적 요구를 반영하여 학생들에게
                                    다양한 교육 경험을 제공한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
