<section id="others-lite">
    <h2>타인과의 관계</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년군</div>

            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="가족의 행복을 위해 무엇을 해야 할까?"
                                aria-label="가족의 행복을 위해 무엇을 해야 할까?"
                                placeholder="정답"
                            /><input
                                data-answer="친구끼리 배려해야 하는 이유는 무엇일까?"
                                aria-label="친구끼리 배려해야 하는 이유는 무엇일까?"
                                placeholder="정답"
                            /><input
                                data-answer="타인에 대한 공감은 왜 필요할까?"
                                aria-label="타인에 대한 공감은 왜 필요할까?"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년군</div>

            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="타인을 왜 도와야 하며, 어떻게 도울 수 있을까?"
                                aria-label="타인을 왜 도와야 하며, 어떻게 도울 수 있을까?"
                                placeholder="정답"
                            /><input
                                data-answer="서로의 다름을 존중해야 하는 이유는 무엇일까?"
                                aria-label="서로의 다름을 존중해야 하는 이유는 무엇일까?"
                                placeholder="정답"
                            /><input
                                data-answer="인공지능 로봇과 친구가 될 수 있을까?"
                                aria-label="인공지능 로봇과 친구가 될 수 있을까?"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
