<section id="self-lite" class="active">
    <h2>자신과의 관계</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년군</div>

            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="나는 왜 소중한 사람인가?"
                                aria-label="나는 왜 소중한 사람인가?"
                                placeholder="정답"
                            /><input
                                data-answer="어떤 사람을 정직한 사람이라고 하는가?"
                                aria-label="어떤 사람을 정직한 사람이라고 하는가?"
                                placeholder="정답"
                            /><input
                                data-answer="자신에게 정성을 다하는 삶을 살아야 하는 이유는 무엇인가?"
                                aria-label="자신에게 정성을 다하는 삶을 살아야 하는 이유는 무엇인가?"
                                placeholder="정답"
                            /><input
                                data-answer="도덕적으로 행동하는 일은 왜 필요할까?"
                                aria-label="도덕적으로 행동하는 일은 왜 필요할까?"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년군</div>

            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="자주적으로 살아야 하는 이유는 무엇일까?"
                                aria-label="자주적으로 살아야 하는 이유는 무엇일까?"
                                placeholder="정답"
                            /><input
                                data-answer="자신의 생활을 반성하는 일은 왜 중요할까?"
                                aria-label="자신의 생활을 반성하는 일은 왜 중요할까?"
                                placeholder="정답"
                            /><input
                                data-answer="자신이 하고 싶은 일을 선택할 때 어떤 것을 고려해야 할까?"
                                aria-label="자신이 하고 싶은 일을 선택할 때 어떤 것을 고려해야 할까?"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
