<section id="society-lite">
    <h2>사회⋅공동체와의 관계</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년군</div>

            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="공정한 사회를 위해서 내가 할 일은 무엇일까?"
                                aria-label="공정한 사회를 위해서 내가 할 일은 무엇일까?"
                                placeholder="정답"
                            /><input
                                data-answer="디지털 사회에서 발생하는 문제를 어떻게 해결할까?"
                                aria-label="디지털 사회에서 발생하는 문제를 어떻게 해결할까?"
                                placeholder="정답"
                            /><input
                                data-answer="통일은 왜 필요할까?"
                                aria-label="통일은 왜 필요할까?"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년군</div>

            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="인권을 존중해야 하는 이유는 무엇일까?"
                                aria-label="인권을 존중해야 하는 이유는 무엇일까?"
                                placeholder="정답"
                            /><input
                                data-answer="정의로운 공동체를 위해 어떻게 행동해야 하는가?"
                                aria-label="정의로운 공동체를 위해 어떻게 행동해야 하는가?"
                                placeholder="정답"
                            /><input
                                data-answer="통일과정과 통일 이후 사회는 어떤 모습이어야 할까?"
                                aria-label="통일과정과 통일 이후 사회는 어떤 모습이어야 할까?"
                                placeholder="정답"
                            /><input
                                data-answer="다른 나라의 사람들까지 사랑해야 하는 이유는 무엇일까?"
                                aria-label="다른 나라의 사람들까지 사랑해야 하는 이유는 무엇일까?"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
