<section id="math-intro" class="active">
    <h2>앞교</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="overview-question">
                                    핵심 아이디어는 수학 학습 과정에서
                                    <input
                                        data-answer="전이가가 높은"
                                        aria-label="전이가가 높은"
                                        placeholder="정답"
                                    />
                                    내용을 담은 문장으로 기술하였다.
                                </div>

                                <div class="overview-question">
                                    (1) 수학적 지식을 이해하고 활용하여
                                    적극적이고 자신감 있게 여러 가지
                                    <input
                                        data-answer="문제"
                                        aria-label="문제"
                                        placeholder="정답"
                                    />를
                                    <input
                                        data-answer="해결"
                                        aria-label="해결"
                                        placeholder="정답"
                                    />한다.
                                </div>

                                <div class="overview-question">
                                    (2) 수학적 사실에 대해 흥미와 관심을 갖고
                                    <input
                                        data-answer="추측"
                                        aria-label="추측"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="정당화"
                                        aria-label="정당화"
                                        placeholder="정답"
                                    />를 통해
                                    <input
                                        data-answer="추론"
                                        aria-label="추론"
                                        placeholder="정답"
                                    />한다.
                                </div>

                                <div class="overview-question">
                                    (3) 수학적 사고와 전략에 대해
                                    <input
                                        data-answer="의사소통"
                                        aria-label="의사소통"
                                        placeholder="정답"
                                    />하고
                                    <input
                                        data-answer="수학적 표현"
                                        aria-label="수학적 표현"
                                        placeholder="정답"
                                    />의
                                    <input
                                        data-answer="편리함"
                                        aria-label="편리함"
                                        placeholder="정답"
                                    />을 인식한다.
                                </div>

                                <div class="overview-question">
                                    (4) 수학의 개념, 원리, 법칙 간의
                                    <input
                                        data-answer="관련성"
                                        aria-label="관련성"
                                        placeholder="정답"
                                    />을 탐구하고
                                    <input
                                        data-answer="실생활"
                                        aria-label="실생활"
                                        placeholder="정답"
                                    />이나
                                    <input
                                        data-answer="타 교과"
                                        aria-label="타 교과"
                                        placeholder="정답"
                                    />에 수학을 적용하여 수학의
                                    <input
                                        data-answer="유용성"
                                        aria-label="유용성"
                                        placeholder="정답"
                                    />을 인식한다.
                                </div>

                                <div class="overview-question">
                                    (5) 목적에 맞게
                                    <input
                                        data-answer="교구"
                                        aria-label="교구"
                                        placeholder="정답"
                                    />나
                                    <input
                                        data-answer="공학 도구"
                                        aria-label="공학 도구"
                                        placeholder="정답"
                                    />를 활용하며 자료를 수집하고 처리하여
                                    정보에 근거한 합리적 의사 결정을 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
