<section id="how">
    <h2>우리는 지금 어떻게 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="인물의 삶"
                                aria-label="인물의 삶"
                                placeholder="정답"
                            /><input
                                data-answer="지속가능한 삶의 방식"
                                aria-label="지속가능한 삶의 방식"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="하루 생활 관리하기"
                                aria-label="하루 생활 관리하기"
                                placeholder="정답"
                            /><input
                                data-answer="변화에 대응하기"
                                aria-label="변화에 대응하기"
                                placeholder="정답"
                            /><input
                                data-answer="실천하기"
                                aria-label="실천하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="시간의 가치"
                                aria-label="시간의 가치"
                                placeholder="정답"
                            /><input
                                data-answer="적절성"
                                aria-label="적절성"
                                placeholder="정답"
                            /><input
                                data-answer="공동체성"
                                aria-label="공동체성"
                                placeholder="정답"
                            /><input
                                data-answer="지속가능성"
                                aria-label="지속가능성"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
