<section id="what">
    <h2>우리는 무엇을 하며 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="모두를 위한 생활 환경"
                                aria-label="모두를 위한 생활 환경"
                                placeholder="정답"
                            /><input
                                data-answer="학습 습관"
                                aria-label="학습 습관"
                                placeholder="정답"
                            /><input
                                data-answer="생활 습관"
                                aria-label="생활 습관"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="참여하기"
                                aria-label="참여하기"
                                placeholder="정답"
                            /><input
                                data-answer="생각이나 의견 나누기"
                                aria-label="생각이나 의견 나누기"
                                placeholder="정답"
                            /><input
                                data-answer="협력하기"
                                aria-label="협력하기"
                                placeholder="정답"
                            /><input
                                data-answer="되돌아보기"
                                aria-label="되돌아보기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="모두를 위한 마음"
                                aria-label="모두를 위한 마음"
                                placeholder="정답"
                            /><input
                                data-answer="개방성"
                                aria-label="개방성"
                                placeholder="정답"
                            /><input
                                data-answer="자발성"
                                aria-label="자발성"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
