<section id="where">
    <h2>우리는 어디서 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="공동체 생활 모습"
                                aria-label="공동체 생활 모습"
                                placeholder="정답"
                            /><input
                                data-answer="우리나라의 소중함"
                                aria-label="우리나라의 소중함"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="실천하기"
                                aria-label="실천하기"
                                placeholder="정답"
                            /><input
                                data-answer="호기심 갖기"
                                aria-label="호기심 갖기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="나라 사랑"
                                aria-label="나라 사랑"
                                placeholder="정답"
                            /><input
                                data-answer="다양성 존중"
                                aria-label="다양성 존중"
                                placeholder="정답"
                            /><input
                                data-answer="적극성과 도전의식"
                                aria-label="적극성과 도전의식"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
