<section id="who" class="active">
    <h2>우리는 누구로 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="학교 생활 습관과 학습 습관"
                                aria-label="학교 생활 습관과 학습 습관"
                                placeholder="정답"
                            /><input
                                data-answer="자기 이해"
                                aria-label="자기 이해"
                                placeholder="정답"
                            /><input
                                data-answer="생태환경"
                                aria-label="생태환경"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="습관 형성하기"
                                aria-label="습관 형성하기"
                                placeholder="정답"
                            /><input
                                data-answer="관계 맺기"
                                aria-label="관계 맺기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="안전하고 건강한 생활"
                                aria-label="안전하고 건강한 생활"
                                placeholder="정답"
                            /><input
                                data-answer="자기 존중"
                                aria-label="자기 존중"
                                placeholder="정답"
                            /><input
                                data-answer="배려"
                                aria-label="배려"
                                placeholder="정답"
                            /><input
                                data-answer="더불어 사는 삶"
                                aria-label="더불어 사는 삶"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
