<section id="growth" class="active">
    <h2>인간 발달과 주도적 삶</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-01] 아동기의
                                        <input
                                            data-answer="발달 특징"
                                            aria-label="발달 특징"
                                            placeholder="정답"
                                        />을 이해하고
                                        <input
                                            data-answer="성장발달"
                                            aria-label="성장발달"
                                            placeholder="정답"
                                        />에 필요한
                                        <input
                                            data-answer="조건"
                                            aria-label="조건"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="방법"
                                            aria-label="방법"
                                            placeholder="정답"
                                        />을 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실01-01] 이 성취기준은 아동기의
                                        <input
                                            data-answer="신체"
                                            aria-label="신체"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="사회⋅정서"
                                            aria-label="사회⋅정서"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="성"
                                            aria-label="성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="진로"
                                            aria-label="진로"
                                            placeholder="정답"
                                        />
                                        발달의 특징을 이해하여 자신이 여러
                                        영역에서 발달과정에 있다는 것과
                                        <input
                                            data-answer="발달의 개인차"
                                            aria-label="발달의 개인차"
                                            placeholder="정답"
                                        />가 있다는 것을 인식하도록 한다. 또한
                                        건강하게 발달하기 위해서는 가족이나
                                        어른들의
                                        <input
                                            data-answer="도움"
                                            aria-label="도움"
                                            placeholder="정답"
                                        />만이 아니라 자신의 다양한
                                        <input
                                            data-answer="노력"
                                            aria-label="노력"
                                            placeholder="정답"
                                        />이 필요함을 이해하여 이를 실천한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 아동기의 발달 단계에 근거하여 성장
                                        발달에 요구되는 핵심 조건과 이를
                                        충족하는 방법 탐색에 초점을 둔다. 특히
                                        <input
                                            data-answer="개인차"
                                            aria-label="개인차"
                                            placeholder="정답"
                                        />로 인해 영역마다 발달의 차이가 있을 수
                                        있음을 이해하여 다른 친구들의 발달을
                                        <input
                                            data-answer="존중"
                                            aria-label="존중"
                                            placeholder="정답"
                                        />하도록 지도한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-02] 건강한 발달을 위한
                                        <input
                                            data-answer="자기 관리 방법"
                                            aria-label="자기 관리 방법"
                                            placeholder="정답"
                                        />을 탐색하고, 일상생활 속에서 올바른
                                        생활습관과 태도를 갖도록 계획하여
                                        실천한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-03] 건강한 가정생활을 위해 가족원
                                        모두에게 다양한
                                        <input
                                            data-answer="요구"
                                            aria-label="요구"
                                            placeholder="정답"
                                        />가 있음을 이해하여 서로에 대한
                                        <input
                                            data-answer="배려"
                                            aria-label="배려"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="돌봄"
                                            aria-label="돌봄"
                                            placeholder="정답"
                                        />을 실천한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실01-03] 이 성취기준은 삶의 기본적
                                        조건인 의식주생활을 충족시키는 가족의
                                        <input
                                            data-answer="역할"
                                            aria-label="역할"
                                            placeholder="정답"
                                        />은 가족이 처한
                                        <input
                                            data-answer="상황"
                                            aria-label="상황"
                                            placeholder="정답"
                                        />이나
                                        <input
                                            data-answer="조건"
                                            aria-label="조건"
                                            placeholder="정답"
                                        />에 따라
                                        <input
                                            data-answer="다양"
                                            aria-label="다양"
                                            placeholder="정답"
                                        />할 수 있음을 알도록 하며, 이 과정에서
                                        가정생활의 중요성과 가정일에 있어서
                                        <input
                                            data-answer="협력적 소통"
                                            aria-label="협력적 소통"
                                            placeholder="정답"
                                        />에 기반한 가족의
                                        <input
                                            data-answer="역할 분담"
                                            aria-label="역할 분담"
                                            placeholder="정답"
                                        />에 대해 이해하고 실천하도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-04]
                                        <input
                                            data-answer="균형 잡힌 식사"
                                            aria-label="균형 잡힌 식사"
                                            placeholder="정답"
                                        />의 중요성과 조건을 탐색하여 자신의
                                        식습관을
                                        <input
                                            data-answer="검토"
                                            aria-label="검토"
                                            placeholder="정답"
                                        />해 보고 건강한 식습관 형성에 적용한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        <input
                                            data-answer="다양한 음식"
                                            aria-label="다양한 음식"
                                            placeholder="정답"
                                        />을 통해 우리 몸에 필요한
                                        <input
                                            data-answer="영양소"
                                            aria-label="영양소"
                                            placeholder="정답"
                                        />를
                                        <input
                                            data-answer="제때"
                                            aria-label="제때"
                                            placeholder="정답"
                                        />
                                        <input
                                            data-answer="적절한 양"
                                            aria-label="적절한 양"
                                            placeholder="정답"
                                        />만큼
                                        <input
                                            data-answer="고르게"
                                            aria-label="고르게"
                                            placeholder="정답"
                                        />
                                        섭취하는 식사
                                        <br />
                                        구분:
                                        <input
                                            data-answer="균형성"
                                            aria-label="균형성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="적절성"
                                            aria-label="적절성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="다양성"
                                            aria-label="다양성"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        6대 영양소: <br />
                                        <input
                                            data-answer="탄수화물"
                                            aria-label="탄수화물"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="단백질"
                                            aria-label="단백질"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="지방"
                                            aria-label="지방"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="비타민"
                                            aria-label="비타민"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="무기질"
                                            aria-label="무기질"
                                            placeholder="정답"
                                        />(
                                        <input
                                            data-answer="철"
                                            aria-label="철"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="칼슘"
                                            aria-label="칼슘"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="나트륨"
                                            aria-label="나트륨"
                                            placeholder="정답"
                                        />
                                        ),
                                        <input
                                            data-answer="물"
                                            aria-label="물"
                                            placeholder="정답"
                                        />
                                        <br />
                                        cf. 채소류와 과일류:
                                        <input
                                            data-answer="식이섬유"
                                            aria-label="식이섬유"
                                            placeholder="정답"
                                        />
                                        <br /><br />
                                        기능<br />
                                        1.
                                        <input
                                            data-answer="열량"
                                            aria-label="열량"
                                            placeholder="정답"
                                        />
                                        영양소 (<input
                                            data-answer="에너지"
                                            aria-label="에너지"
                                            placeholder="정답"
                                        />):
                                        <input
                                            data-answer="탄수화물"
                                            aria-label="탄수화물"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="단백질"
                                            aria-label="단백질"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="지방"
                                            aria-label="지방"
                                            placeholder="정답"
                                        /><br />
                                        2.
                                        <input
                                            data-answer="구성"
                                            aria-label="구성"
                                            placeholder="정답"
                                        />
                                        영양소 (<input
                                            data-answer="몸 구성"
                                            aria-label="몸 구성"
                                            placeholder="정답"
                                        />):
                                        <input
                                            data-answer="단백질"
                                            aria-label="단백질"
                                            placeholder="정답"
                                        />, <br />
                                        <input
                                            data-answer="무기질"
                                            aria-label="무기질"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="지방"
                                            aria-label="지방"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="물"
                                            aria-label="물"
                                            placeholder="정답"
                                        /><br />
                                        3.
                                        <input
                                            data-answer="조절"
                                            aria-label="조절"
                                            placeholder="정답"
                                        />
                                        영양소 (<input
                                            data-answer="기능 조절"
                                            aria-label="기능 조절"
                                            placeholder="정답"
                                        />):
                                        <input
                                            data-answer="단백질"
                                            aria-label="단백질"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="무기질"
                                            aria-label="무기질"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="비타민"
                                            aria-label="비타민"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="물"
                                            aria-label="물"
                                            placeholder="정답"
                                        />
                                        <br /><br />
                                        #식품 구성 자전거<br />
                                        앞바퀴:
                                        <input
                                            data-answer="수분 섭취"
                                            aria-label="수분 섭취"
                                            placeholder="정답"
                                        />를 강조<br />
                                        뒷바퀴:
                                        <input
                                            data-answer="하루"
                                            aria-label="하루"
                                            placeholder="정답"
                                        />에 먹어야 할 식품군의 상대적인 양을
                                        자전거 뒷바퀴의
                                        <input
                                            data-answer="면적"
                                            aria-label="면적"
                                            placeholder="정답"
                                        />으로<br />
                                        자전거: 적절한
                                        <input
                                            data-answer="운동"
                                            aria-label="운동"
                                            placeholder="정답"
                                        />의 중요성 강조 <br /><br />
                                        뒷바퀴 면적순<br />:
                                        <input
                                            data-answer="곡류"
                                            aria-label="곡류"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="채소류"
                                            aria-label="채소류"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="고기·생선·달걀·콩류"
                                            aria-label="고기·생선·달걀·콩류"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="과일류"
                                            aria-label="과일류"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="우유·유제품류"
                                            aria-label="우유·유제품류"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="유지·당류"
                                            aria-label="유지·당류"
                                            placeholder="정답"
                                        />
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-05]
                                        <input
                                            data-answer="옷의 기능"
                                            aria-label="옷의 기능"
                                            placeholder="정답"
                                        />을 이해하여 평소 자신의 옷차림을
                                        살펴보고 건강하고 적절한 옷 입기를
                                        실천한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실01-05] 이 성취기준은 옷이 자기
                                        몸을
                                        <input
                                            data-answer="보호"
                                            aria-label="보호"
                                            placeholder="정답"
                                        />하고 활동을 편하게 하면서 자신을
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />하는 수단임을 이해하도록 하여
                                        <input
                                            data-answer="때"
                                            aria-label="때"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="장소"
                                            aria-label="장소"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="상황"
                                            aria-label="상황"
                                            placeholder="정답"
                                        />에 따라
                                        <input
                                            data-answer="건강"
                                            aria-label="건강"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="안전"
                                            aria-label="안전"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="위생"
                                            aria-label="위생"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="예절"
                                            aria-label="예절"
                                            placeholder="정답"
                                        />을 고려한 옷차림을 영위하는 능력과
                                        태도를 기르도록 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        1.
                                        <input
                                            data-answer="보호"
                                            aria-label="보호"
                                            placeholder="정답"
                                        />의 기능:
                                        <input
                                            data-answer="신체"
                                            aria-label="신체"
                                            placeholder="정답"
                                        />
                                        보호,
                                        <input
                                            data-answer="청결"
                                            aria-label="청결"
                                            placeholder="정답"
                                        />
                                        유지,
                                        <input
                                            data-answer="체온"
                                            aria-label="체온"
                                            placeholder="정답"
                                        />
                                        유지,
                                        <input
                                            data-answer="능률"
                                            aria-label="능률"
                                            placeholder="정답"
                                        />
                                        향상 <br />
                                        2.
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />의 기능:
                                        <input
                                            data-answer="직업"
                                            aria-label="직업"
                                            placeholder="정답"
                                        />
                                        표현,
                                        <input
                                            data-answer="개성"
                                            aria-label="개성"
                                            placeholder="정답"
                                        />
                                        표현,
                                        <input
                                            data-answer="예의"
                                            aria-label="예의"
                                            placeholder="정답"
                                        />
                                        표현
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-06] 가정일을 수행하는 과정에서
                                        일의
                                        <input
                                            data-answer="가치"
                                            aria-label="가치"
                                            placeholder="정답"
                                        />와
                                        <input
                                            data-answer="중요성"
                                            aria-label="중요성"
                                            placeholder="정답"
                                        />을 이해하고, 가정생활을 유지하는 데
                                        필요한 가정일의
                                        <input
                                            data-answer="종류"
                                            aria-label="종류"
                                            placeholder="정답"
                                        />를 탐색한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실01-07] 직업의
                                        <input
                                            data-answer="필요성"
                                            aria-label="필요성"
                                            placeholder="정답"
                                        />을 이해하고
                                        <input
                                            data-answer="적성"
                                            aria-label="적성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="성격"
                                            aria-label="성격"
                                            placeholder="정답"
                                        />에 따라 진로 발달 계획을 세우고
                                        주도적으로 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실01-07] 이 성취기준은
                                        <input
                                            data-answer="가정일"
                                            aria-label="가정일"
                                            placeholder="정답"
                                        />
                                        뿐 아니라
                                        <input
                                            data-answer="직업"
                                            aria-label="직업"
                                            placeholder="정답"
                                        />으로서
                                        <input
                                            data-answer="일"
                                            aria-label="일"
                                            placeholder="정답"
                                        />에 대한 필요성을 알고 다양한 직업
                                        중에서
                                        <input
                                            data-answer="적성"
                                            aria-label="적성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="성격"
                                            aria-label="성격"
                                            placeholder="정답"
                                        />
                                        등의 특성을 고려하여 진로 발달 계획을
                                        주도적으로 탐색하도록 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 학습자가 진로에 관해
                                        <input
                                            data-answer="고정관념"
                                            aria-label="고정관념"
                                            placeholder="정답"
                                        />이나
                                        <input
                                            data-answer="편견"
                                            aria-label="편견"
                                            placeholder="정답"
                                        />이 있지 않은지 주의 깊게 관찰하여 이에
                                        영향을 받지 않고 자신의 진로를 탐색할 수
                                        있도록 지도한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        직업 성립 요건:
                                        <input
                                            data-answer="경제성"
                                            aria-label="경제성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="계속성"
                                            aria-label="계속성"
                                            placeholder="정답"
                                        />
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 가족의 역할 수행에서
                                    <input
                                        data-answer="성역할 고정 관념"
                                        aria-label="성역할 고정 관념"
                                        placeholder="정답"
                                    />이나
                                    <input
                                        data-answer="편견"
                                        aria-label="편견"
                                        placeholder="정답"
                                    />이 형성되지 않도록 하며 생활 속에서 실천할
                                    수 있는
                                    <input
                                        data-answer="자기관리 방법"
                                        aria-label="자기관리 방법"
                                        placeholder="정답"
                                    />을 계획하여 실천하도록 지도한다.
                                </div>

                                <div class="overview-question">
                                    • 균형 잡힌 식사나 적절한 옷차림을 지도할
                                    때, 이것이 자신의
                                    <input
                                        data-answer="성장 발달"
                                        aria-label="성장 발달"
                                        placeholder="정답"
                                    />과 관련되는 구체적인 내용임을 인식하여
                                    실천할 수 있도록 지도한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
