<section id="info-education" class="hidden">
    <h2>[부록] 학교자율시간 등을 활용한 초등 '정보 교육' 내용</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-1] 생활 속에서
                                        <input
                                            data-answer="컴퓨터"
                                            aria-label="컴퓨터"
                                            placeholder="정답"
                                        />가 활용되는 사례를 찾아보는 활동을
                                        경험한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-2]
                                        <input
                                            data-answer="놀이"
                                            aria-label="놀이"
                                            placeholder="정답"
                                        />를 통해
                                        <input
                                            data-answer="알고리즘"
                                            aria-label="알고리즘"
                                            placeholder="정답"
                                        />의 다양한 사례를 체험하는 활동을
                                        수행한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [06자율-2] [6실05-01]과 연계하여, 생활
                                        속 문제를 해결하는 알고리즘의 다양한
                                        사례를
                                        <input
                                            data-answer="이야기"
                                            aria-label="이야기"
                                            placeholder="정답"
                                        />로 제시하거나
                                        <input
                                            data-answer="신체"
                                            aria-label="신체"
                                            placeholder="정답"
                                        />를 움직이고, 다양한 도구 및 학습지를
                                        활용하여
                                        <input
                                            data-answer="알고리즘"
                                            aria-label="알고리즘"
                                            placeholder="정답"
                                        />을 이해하며 필요성을 설명할 수 있어야
                                        한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-3]
                                        <input
                                            data-answer="프로그래밍"
                                            aria-label="프로그래밍"
                                            placeholder="정답"
                                        />으로 해결된 사례를 찾아보고, 나에게
                                        필요한
                                        <input
                                            data-answer="프로그램"
                                            aria-label="프로그램"
                                            placeholder="정답"
                                        />을 만드는 과정을 수행한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [06자율-3] [6실05-02]와 연계하여, 우리
                                        주변의 가까운 곳에서
                                        <input
                                            data-answer="프로그래밍"
                                            aria-label="프로그래밍"
                                            placeholder="정답"
                                        />으로 해결된 문제를 찾아 간단한
                                        프로그램을 작성하며 자료의
                                        <input
                                            data-answer="입⋅출력"
                                            aria-label="입⋅출력"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="변수"
                                            aria-label="변수"
                                            placeholder="정답"
                                        />를 이용하는 경험을 하고
                                        <input
                                            data-answer="순차"
                                            aria-label="순차"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="반복"
                                            aria-label="반복"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="선택"
                                            aria-label="선택"
                                            placeholder="정답"
                                        />
                                        과정을 이해할 수 있어야 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-4]
                                        <input
                                            data-answer="공유"
                                            aria-label="공유"
                                            placeholder="정답"
                                        />된 타인의 프로그램을 탐색해 보고
                                        수정하는 활동을 수행한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-5] 생활 속에서 접하는 다양한
                                        <input
                                            data-answer="데이터"
                                            aria-label="데이터"
                                            placeholder="정답"
                                        />가 서로 다른
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />를 갖고 있음을 파악하는 활동을
                                        경험한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [06자율-5] [6실05-04]와 연계하여, 생활
                                        속에는 많은
                                        <input
                                            data-answer="데이터"
                                            aria-label="데이터"
                                            placeholder="정답"
                                        />가 있으며, 그
                                        <input
                                            data-answer="데이터"
                                            aria-label="데이터"
                                            placeholder="정답"
                                        />들은 각각 사용되는
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />이 다르고
                                        <input
                                            data-answer="목적"
                                            aria-label="목적"
                                            placeholder="정답"
                                        />에 따라 다양한
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />를 갖고 있다는 것을 활동을 통해 이해할
                                        수 있어야 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-6]
                                        <input
                                            data-answer="인공지능"
                                            aria-label="인공지능"
                                            placeholder="정답"
                                        />이 데이터의
                                        <input
                                            data-answer="공통"
                                            aria-label="공통"
                                            placeholder="정답"
                                        />되는 부분을 찾아
                                        <input
                                            data-answer="분류"
                                            aria-label="분류"
                                            placeholder="정답"
                                        />하는 과정을 체험한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [06자율-6] [6실05-04]와 연계하여,
                                        인공지능이 우리에게 추천하는 다양한
                                        내용, 즉, 인터넷동영상 플랫폼에서 추천,
                                        서점에서 내가 좋아하는 책 종류 추천 등을
                                        할 때, 인공지능은 어떤
                                        <input
                                            data-answer="기준"
                                            aria-label="기준"
                                            placeholder="정답"
                                        />을 갖고 내가 선호하는 것을 알아서
                                        추천하는 지 등의 과정을 체험해서
                                        인공지능의
                                        <input
                                            data-answer="분류"
                                            aria-label="분류"
                                            placeholder="정답"
                                        />
                                        과정을 내면화 할 수 있어야 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [06자율-7] 사례를 중심으로 인공지능을
                                        <input
                                            data-answer="올바르게"
                                            aria-label="올바르게"
                                            placeholder="정답"
                                        />
                                        사용하는 방법을 토론하고 실천하는 활동을
                                        수행한다.
                                    </div>
                                </div>

                                <div class="outline-title">
                                    【 성취기준 적용 시 고려사항 -교수학습】
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="컴퓨팅 사고력"
                                        aria-label="컴퓨팅 사고력"
                                        placeholder="정답"
                                    />을 함양하기 위해
                                    <input
                                        data-answer="언플러그드"
                                        aria-label="언플러그드"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="문제기반학습"
                                        aria-label="문제기반학습"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="프로젝트학습"
                                        aria-label="프로젝트학습"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="디자인기반학습"
                                        aria-label="디자인기반학습"
                                        placeholder="정답"
                                    />
                                    등 각 영역의
                                    <input
                                        data-answer="핵심아이디어"
                                        aria-label="핵심아이디어"
                                        placeholder="정답"
                                    />를 습득하는데 적절한 교수⋅학습 방법을 각
                                    성취기준에서 달성하고자 하는 내용을 고려하여
                                    활용한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="알고리즘"
                                        aria-label="알고리즘"
                                        placeholder="정답"
                                    />을 체험하고 표현하는 활동 다양한 형태의
                                    <input
                                        data-answer="데이터"
                                        aria-label="데이터"
                                        placeholder="정답"
                                    />를 조작하는 활동 등에서
                                    <input
                                        data-answer="놀이"
                                        aria-label="놀이"
                                        placeholder="정답"
                                    />
                                    중심 언플러그드 활동을 실시하여 교수⋅학습에
                                    흥미와 재미를 갖도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 컴퓨터와 관련된 학습 목표를 효과적으로
                                    달성하기 위해 학급 내에서
                                    <input
                                        data-answer="개인차"
                                        aria-label="개인차"
                                        placeholder="정답"
                                    />를 고려한
                                    <input
                                        data-answer="소집단"
                                        aria-label="소집단"
                                        placeholder="정답"
                                    />을 구성하여 교수 학습을 전개할 수 있다.
                                </div>

                                <div class="overview-question">
                                    • 토의 및 토론, 역할 놀이, 실천 선언 등을
                                    통해 인공지능 활용의 올바른
                                    <input
                                        data-answer="가치"
                                        aria-label="가치"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="태도"
                                        aria-label="태도"
                                        placeholder="정답"
                                    />를 기를 수 있도록 한다.
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="모둠"
                                        aria-label="모둠"
                                        placeholder="정답"
                                    />별
                                    <input
                                        data-answer="협력"
                                        aria-label="협력"
                                        placeholder="정답"
                                    />
                                    활동을 통해 생활 속 문제를 해결할 수 있는
                                    기초적인 프로그램을 작성함으로써
                                    <input
                                        data-answer="문제해결력"
                                        aria-label="문제해결력"
                                        placeholder="정답"
                                    />을 함양할 수 있도록 한다.
                                </div>

                                <div class="outline-title">
                                    【 성취기준 적용 시 고려사항 -평가】
                                </div>

                                <div class="overview-question">
                                    •
                                    <input
                                        data-answer="컴퓨터"
                                        aria-label="컴퓨터"
                                        placeholder="정답"
                                    />로 해결 가능한 과제를 제시하고 문제해결을
                                    위한
                                    <input
                                        data-answer="절차"
                                        aria-label="절차"
                                        placeholder="정답"
                                    />를 글이나 그림 등으로 적합하게 표현했는지
                                    평가한다.
                                </div>

                                <div class="overview-question">
                                    • 성취기준을 분석하고
                                    <input
                                        data-answer="재구성"
                                        aria-label="재구성"
                                        placeholder="정답"
                                    />하여 관찰평가, 서술형평가, 수행평가 등을
                                    활용하며, 자기평가, 동료평가 등과 같은
                                    <input
                                        data-answer="다면적"
                                        aria-label="다면적"
                                        placeholder="정답"
                                    />
                                    평가를 실행하여, 학생 성장에 기여할 수 있는
                                    <input
                                        data-answer="디지털 평가 포트폴리오"
                                        aria-label="디지털 평가 포트폴리오"
                                        placeholder="정답"
                                    />를 계획한다.
                                </div>

                                <div class="overview-question">
                                    • 교수⋅학습 과정에서 다양한 디지털 플랫폼을
                                    활용하여 산출물을 만드는
                                    <input
                                        data-answer="과정"
                                        aria-label="과정"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="결과물"
                                        aria-label="결과물"
                                        placeholder="정답"
                                    />을 종합적으로 평가한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
