<section id="innovation">
    <h2>기술적 문제해결과 혁신</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실03-01]
                                        <input
                                            data-answer="발명"
                                            aria-label="발명"
                                            placeholder="정답"
                                        />의 의미를 이해하고, 일상생활을 바꾼
                                        발명품을 탐색하여
                                        <input
                                            data-answer="발명"
                                            aria-label="발명"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="기술"
                                            aria-label="기술"
                                            placeholder="정답"
                                        />에 대한 중요성과 가치를 인식한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실03-01] 이 성취기준은
                                        <input
                                            data-answer="발명"
                                            aria-label="발명"
                                            placeholder="정답"
                                        />의 의미를
                                        <input
                                            data-answer="발견"
                                            aria-label="발견"
                                            placeholder="정답"
                                        />과 비교하여 이해하도록 하고 일상생활에
                                        영향을 끼친 다양한 발명품 사례를
                                        탐색하도록 한다. 또한 발명품 중에서
                                        소외된 지역의 사람들에게 도움을 주는
                                        <input
                                            data-answer="적정기술"
                                            aria-label="적정기술"
                                            placeholder="정답"
                                        />
                                        사례를 찾아
                                        <input
                                            data-answer="나눔"
                                            aria-label="나눔"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="공유"
                                            aria-label="공유"
                                            placeholder="정답"
                                        />의 가치를 인식하도록 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        발견:
                                        <input
                                            data-answer="이미 존재"
                                            aria-label="이미 존재"
                                            placeholder="정답"
                                        />하는 것을
                                        <input
                                            data-answer="관찰"
                                            aria-label="관찰"
                                            placeholder="정답"
                                        />하여 찾아낸 것 <br />
                                        발명:
                                        <input
                                            data-answer="새로운"
                                            aria-label="새로운"
                                            placeholder="정답"
                                        />
                                        기술이나 물건을 만들거나 기존에 있던
                                        물건을
                                        <input
                                            data-answer="개선"
                                            aria-label="개선"
                                            placeholder="정답"
                                        />하는 것
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실03-02]
                                        <input
                                            data-answer="발명사고기법"
                                            aria-label="발명사고기법"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="기술적 문제 해결 과정"
                                            aria-label="기술적 문제 해결 과정"
                                            placeholder="정답"
                                        />을 이해하고, 다양한 재료를 활용하여
                                        생활 속 문제를 해결할 수 있는 창의적인
                                        제품을 구상하고 만들어 봄으로써 실천적
                                        태도를 갖는다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실03-02] 이 성취기준은 일상생활에서
                                        불편한 문제를 찾고 이를 해결하기 위하여
                                        다양한
                                        <input
                                            data-answer="발명 사고 기법"
                                            aria-label="발명 사고 기법"
                                            placeholder="정답"
                                        />을 적용하여 개선된 아이디어를 내도록
                                        한다. 이를 위해
                                        <input
                                            data-answer="기술적 문제 해결 과정"
                                            aria-label="기술적 문제 해결 과정"
                                            placeholder="정답"
                                        />(<input
                                            data-answer="문제 확인"
                                            aria-label="문제 확인"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="아이디어 탐색 및 구체화"
                                            aria-label="아이디어 탐색 및 구체화"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="실행"
                                            aria-label="실행"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="평가"
                                            aria-label="평가"
                                            placeholder="정답"
                                        />)에 따라 창의적인 물건을 구상하고
                                        만들어서
                                        <input
                                            data-answer="공유"
                                            aria-label="공유"
                                            placeholder="정답"
                                        />하는
                                        <input
                                            data-answer="메이커 활동"
                                            aria-label="메이커 활동"
                                            placeholder="정답"
                                        />으로 연결되도록 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실03-03]
                                        <input
                                            data-answer="발명"
                                            aria-label="발명"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="특허"
                                            aria-label="특허"
                                            placeholder="정답"
                                        />의 관계를 이해하고,
                                        <input
                                            data-answer="특허 침해 사례"
                                            aria-label="특허 침해 사례"
                                            placeholder="정답"
                                        />를 통하여
                                        <input
                                            data-answer="지식재산권"
                                            aria-label="지식재산권"
                                            placeholder="정답"
                                        />의 중요성을 인식하여 올바른 방법으로
                                        활용한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        특허의 3요건:
                                        <input
                                            data-answer="산업상 이용가능성"
                                            aria-label="산업상 이용가능성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="신규성"
                                            aria-label="신규성"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="진보성"
                                            aria-label="진보성"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        지식재산권<br />
                                        -
                                        <input
                                            data-answer="저작권"
                                            aria-label="저작권"
                                            placeholder="정답"
                                        /><br />
                                        -
                                        <input
                                            data-answer="산업재산권"
                                            aria-label="산업재산권"
                                            placeholder="정답"
                                        />:
                                        <input
                                            data-answer="특허권"
                                            aria-label="특허권"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="실용신안권"
                                            aria-label="실용신안권"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="디자인권"
                                            aria-label="디자인권"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="상표권"
                                            aria-label="상표권"
                                            placeholder="정답"
                                        /><br />
                                        -
                                        <input
                                            data-answer="신지식재산권"
                                            aria-label="신지식재산권"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        <input
                                            data-answer="선출원주의"
                                            aria-label="선출원주의"
                                            placeholder="정답"
                                        />: 발명이 이루어진 시기와 관계없이 먼저
                                        특허청에 출원한 발명에 권리를 부여한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실03-04]
                                        <input
                                            data-answer="수송"
                                            aria-label="수송"
                                            placeholder="정답"
                                        />의 의미와
                                        <input
                                            data-answer="수송 수단"
                                            aria-label="수송 수단"
                                            placeholder="정답"
                                        />의 발달과정에 대한 이해를 바탕으로
                                        생활 속 다양한
                                        <input
                                            data-answer="수송 수단"
                                            aria-label="수송 수단"
                                            placeholder="정답"
                                        />을 탐색한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        수송수단의 발달 과정<br />
                                        :
                                        <input
                                            data-answer="육상"
                                            aria-label="육상"
                                            placeholder="정답"
                                        />
                                        수송 수단 →
                                        <input
                                            data-answer="해상"
                                            aria-label="해상"
                                            placeholder="정답"
                                        />
                                        수송 수단 →
                                        <input
                                            data-answer="항공 우주"
                                            aria-label="항공 우주"
                                            placeholder="정답"
                                        />
                                        수송 수단
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6실03-05]
                                        <input
                                            data-answer="수송 수단"
                                            aria-label="수송 수단"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="구성 요소"
                                            aria-label="구성 요소"
                                            placeholder="정답"
                                        />를 이해하고,
                                        <input
                                            data-answer="친환경 에너지"
                                            aria-label="친환경 에너지"
                                            placeholder="정답"
                                        />를 적용한 다양한
                                        <input
                                            data-answer="수송 수단"
                                            aria-label="수송 수단"
                                            placeholder="정답"
                                        />의
                                        <input
                                            data-answer="시제품"
                                            aria-label="시제품"
                                            placeholder="정답"
                                        />을 만들어
                                        <input
                                            data-answer="수송기술"
                                            aria-label="수송기술"
                                            placeholder="정답"
                                        />의 가치를 인식한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6실03-05] 이 성취기준은 수송 수단의
                                        기본 요소가
                                        <input
                                            data-answer="구동장치"
                                            aria-label="구동장치"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="조향장치"
                                            aria-label="조향장치"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="제동장치"
                                            aria-label="제동장치"
                                            placeholder="정답"
                                        />
                                        등으로 구성되어 있음을 일상생활에서의
                                        <input
                                            data-answer="수송 수단"
                                            aria-label="수송 수단"
                                            placeholder="정답"
                                        />
                                        사례를 들어 설명하여 간단한
                                        <input
                                            data-answer="수송 수단"
                                            aria-label="수송 수단"
                                            placeholder="정답"
                                        />을 만들고
                                        <input
                                            data-answer="공유"
                                            aria-label="공유"
                                            placeholder="정답"
                                        />하는
                                        <input
                                            data-answer="메이커 활동"
                                            aria-label="메이커 활동"
                                            placeholder="정답"
                                        />으로 연결한다. 수송 수단의
                                        <input
                                            data-answer="구동장치"
                                            aria-label="구동장치"
                                            placeholder="정답"
                                        />를 작동시키기 위하여
                                        <input
                                            data-answer="태양광 전지"
                                            aria-label="태양광 전지"
                                            placeholder="정답"
                                        />와 같은
                                        <input
                                            data-answer="친환경 에너지"
                                            aria-label="친환경 에너지"
                                            placeholder="정답"
                                        />를 사용하여 수송 수단을 만들어 보면서
                                        수송기술의 중요성과 가치를 인식하도록
                                        한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        #자전거<br />
                                        구동장치:
                                        <input
                                            data-answer="페달"
                                            aria-label="페달"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="체인"
                                            aria-label="체인"
                                            placeholder="정답"
                                        /><br />
                                        조향장치:
                                        <input
                                            data-answer="핸들"
                                            aria-label="핸들"
                                            placeholder="정답"
                                        /><br />
                                        제동장치:
                                        <input
                                            data-answer="브레이크"
                                            aria-label="브레이크"
                                            placeholder="정답"
                                        />
                                    </div>

                                    <div
                                        class="overview-question achievement-notes"
                                    >
                                        #자동차<br />
                                        구동장치:
                                        <input
                                            data-answer="엔진"
                                            aria-label="엔진"
                                            placeholder="정답"
                                        /><br />
                                        조향장치:
                                        <input
                                            data-answer="핸들"
                                            aria-label="핸들"
                                            placeholder="정답"
                                        /><br />
                                        제동장치:
                                        <input
                                            data-answer="브레이크"
                                            aria-label="브레이크"
                                            placeholder="정답"
                                        />
                                    </div>
                                </div>

                                <div class="outline-title">
                                    (나) 성취기준 적용 시 고려 사항
                                </div>

                                <div class="overview-question">
                                    • 발명, 수송 등이 일상생활의 문제와 연결되어
                                    있음을 이해시키고 그것의 개념을 탐색하는
                                    과정에서
                                    <input
                                        data-answer="기술적 문제 해결"
                                        aria-label="기술적 문제 해결"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="발명"
                                        aria-label="발명"
                                        placeholder="정답"
                                    />
                                    개념을 강조한다.
                                </div>

                                <div class="overview-question">
                                    • 창의적인 발명 문제해결과 수송 수단을
                                    만드는 과정에서 자신과 연결된 문제들을
                                    <input
                                        data-answer="공유"
                                        aria-label="공유"
                                        placeholder="정답"
                                    />와
                                    <input
                                        data-answer="협업"
                                        aria-label="협업"
                                        placeholder="정답"
                                    />에 기반을 두고 실제로 해결하는
                                    <input
                                        data-answer="메이커 활동"
                                        aria-label="메이커 활동"
                                        placeholder="정답"
                                    />을 통해 건강한
                                    <input
                                        data-answer="시민"
                                        aria-label="시민"
                                        placeholder="정답"
                                    />으로서의 기본 소양을 갖추도록 한다.
                                </div>

                                <div class="overview-question">
                                    • 메이커 활동의 재료는 일상생활 속에서
                                    손쉽게 구할 수 있는 것을 활용하되 생활
                                    속에서 버려진 재료도
                                    <input
                                        data-answer="재활용"
                                        aria-label="재활용"
                                        placeholder="정답"
                                    />하여
                                    <input
                                        data-answer="생태전환"
                                        aria-label="생태전환"
                                        placeholder="정답"
                                    />
                                    측면에도 기여하도록 하고,
                                    <input
                                        data-answer="로봇"
                                        aria-label="로봇"
                                        placeholder="정답"
                                    />과 연계하여 교수⋅학습 내용이 영역 간
                                    내용이
                                    <input
                                        data-answer="융합"
                                        aria-label="융합"
                                        placeholder="정답"
                                    />되도록 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
