<section id="pe-back-teaching" class="active">
    <h2>교수⋅학습</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="pe-back-section">
                                    <div class="pe-back-section-title">
                                        <strong>방향</strong>
                                    </div>

                                    <div class="pe-back-section-content">
                                        <div class="pe-back-item">
                                            -
                                            <input
                                                data-answer="신체활동 역량 함양을 위한 교수⋅학습"
                                                aria-label="신체활동 역량 함양을 위한 교수⋅학습"
                                                placeholder="정답"
                                                class="pe-back-input"
                                            />
                                        </div>

                                        <div class="pe-back-item">
                                            -
                                            <input
                                                data-answer="움직임의 체계적 발달을 위한 교수⋅학습"
                                                aria-label="움직임의 체계적 발달을 위한 교수⋅학습"
                                                placeholder="정답"
                                                class="pe-back-input"
                                            />
                                        </div>

                                        <div class="pe-back-item">
                                            -
                                            <input
                                                data-answer="자기 주도적 학습을 위한 맞춤형 교수⋅학습"
                                                aria-label="자기 주도적 학습을 위한 맞춤형 교수⋅학습"
                                                placeholder="정답"
                                                class="pe-back-input"
                                            />
                                        </div>

                                        <div class="pe-back-item">
                                            -
                                            <input
                                                data-answer="신체활동의 시간적⋅공간적 확장을 위한 교수⋅학습"
                                                aria-label="신체활동의 시간적⋅공간적 확장을 위한 교수⋅학습"
                                                placeholder="정답"
                                                class="pe-back-input"
                                            />
                                        </div>

                                        <div class="pe-back-item">
                                            -
                                            <input
                                                data-answer="디지털 기술을 활용한 효율적 교수⋅학습"
                                                aria-label="디지털 기술을 활용한 효율적 교수⋅학습"
                                                placeholder="정답"
                                                class="pe-back-input"
                                            />
                                        </div>

                                        <div class="pe-back-item">
                                            -
                                            <input
                                                data-answer="창의성과 인성 함양을 위한 통합적 교수⋅학습"
                                                aria-label="창의성과 인성 함양을 위한 통합적 교수⋅학습"
                                                placeholder="정답"
                                                class="pe-back-input"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="pe-back-section">
                                    <div class="pe-back-section-title">
                                        <strong>방법</strong>
                                    </div>

                                    <div class="pe-back-section-content">
                                        <div class="pe-back-subsection">
                                            <div
                                                class="pe-back-item pe-back-main-item"
                                            >
                                                가
                                                <input
                                                    data-answer="교육과정의 운영"
                                                    aria-label="교육과정의 운영"
                                                    placeholder="정답"
                                                    class="pe-back-input"
                                                />
                                            </div>

                                            <div class="pe-back-sublist">
                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ①
                                                    <input
                                                        data-answer="학년군 단위 교육과정의 운영"
                                                        aria-label="학년군 단위 교육과정의 운영"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ②
                                                    <input
                                                        data-answer="연간 교육과정 운영"
                                                        aria-label="연간 교육과정 운영"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ③
                                                    <input
                                                        data-answer="온⋅오프라인 연계 교육과정의 운영"
                                                        aria-label="온⋅오프라인 연계 교육과정의 운영"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pe-back-subsection">
                                            <div
                                                class="pe-back-item pe-back-main-item"
                                            >
                                                나
                                                <input
                                                    data-answer="단원의 운영"
                                                    aria-label="단원의 운영"
                                                    placeholder="정답"
                                                    class="pe-back-input"
                                                />
                                            </div>

                                            <div class="pe-back-sublist">
                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ①
                                                    <input
                                                        data-answer="영역의 특성을 고려한 단원 목표와 학습 활동의 선정"
                                                        aria-label="영역의 특성을 고려한 단원 목표와 학습 활동의 선정"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ②
                                                    <input
                                                        data-answer="학습자 수준을 고려한 교수⋅학습 활동의 다양화"
                                                        aria-label="학습자 수준을 고려한 교수⋅학습 활동의 다양화"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ③
                                                    <input
                                                        data-answer="체육 시설 및 교육환경을 고려한 교수⋅학습"
                                                        aria-label="체육 시설 및 교육환경을 고려한 교수⋅학습"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ④
                                                    <input
                                                        data-answer="차시별 수업 내용의 엄선과 위계적 조직"
                                                        aria-label="차시별 수업 내용의 엄선과 위계적 조직"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pe-back-subsection">
                                            <div
                                                class="pe-back-item pe-back-main-item"
                                            >
                                                다
                                                <input
                                                    data-answer="수업의 운영"
                                                    aria-label="수업의 운영"
                                                    placeholder="정답"
                                                    class="pe-back-input"
                                                />
                                            </div>

                                            <div class="pe-back-sublist">
                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ①
                                                    <input
                                                        data-answer="학습 활동의 재구성"
                                                        aria-label="학습 활동의 재구성"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ②
                                                    <input
                                                        data-answer="학습 기회의 형평성 제고"
                                                        aria-label="학습 기회의 형평성 제고"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>

                                                <div
                                                    class="pe-back-item pe-back-sub-item"
                                                >
                                                    ③
                                                    <input
                                                        data-answer="학습자의 효율적 관리와 안전한 수업 분위기 조성"
                                                        aria-label="학습자의 효율적 관리와 안전한 수업 분위기 조성"
                                                        placeholder="정답"
                                                        class="pe-back-input"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
