<section id="grade3-4">
    <h2>3~4</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 다섯 자리 이상의 수
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-01]
                                        <input
                                            data-answer="큰 수"
                                            aria-label="큰 수"
                                            placeholder="정답"
                                        />의 필요성을 인식하면서
                                        <input
                                            data-answer="10000"
                                            aria-label="10000"
                                            placeholder="정답"
                                        />
                                        이상의 큰 수에 대한
                                        <input
                                            data-answer="자릿값"
                                            aria-label="자릿값"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="위치적 기수법"
                                            aria-label="위치적 기수법"
                                            placeholder="정답"
                                        />을 이해하고, 수를 읽고 쓸 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-02]
                                        <input
                                            data-answer="다섯 자리 이상"
                                            aria-label="다섯 자리 이상"
                                            placeholder="정답"
                                        />의 수의 범위에서 수의
                                        <input
                                            data-answer="계열"
                                            aria-label="계열"
                                            placeholder="정답"
                                        />을 이해하고, 수의 크기를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하며 그 방법을 설명할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 뉴스, 광고 등 여러 가지 매체를 활용해
                                        자료를 조사하는 활동을 통하여 실생활에서
                                        다섯 자리 이상의
                                        <input
                                            data-answer="큰 수"
                                            aria-label="큰 수"
                                            placeholder="정답"
                                        />가 쓰이는 경우를 찾아보게 한다. 조사한
                                        결과를 바탕으로
                                        <input
                                            data-answer="큰 수"
                                            aria-label="큰 수"
                                            placeholder="정답"
                                        />와 관련하여 이야기하는 활동을 통하여
                                        <input
                                            data-answer="큰 수"
                                            aria-label="큰 수"
                                            placeholder="정답"
                                        />에 대한 필요성을 인식하고
                                        <input
                                            data-answer="양감"
                                            aria-label="양감"
                                            placeholder="정답"
                                        />을 기르게 한다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 세 자리 수의 덧셈과 뺄셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-03]
                                        <input
                                            data-answer="세 자리 수"
                                            aria-label="세 자리 수"
                                            placeholder="정답"
                                        />의 덧셈과 뺄셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4수01-03] 덧셈은
                                        <input
                                            data-answer="세 자리 수"
                                            aria-label="세 자리 수"
                                            placeholder="정답"
                                        />의 범위에서 다루되, 합이
                                        <input
                                            data-answer="네 자리 수"
                                            aria-label="네 자리 수"
                                            placeholder="정답"
                                        />인 경우도 포함한다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 세 자리 수 범위의 곱셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-04] 곱하는 수가
                                        <input
                                            data-answer="한 자리 수"
                                            aria-label="한 자리 수"
                                            placeholder="정답"
                                        />
                                        또는
                                        <input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />인 곱셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4수01-04] 곱셈은 '<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />X<input
                                            data-answer="한 자리 수"
                                            aria-label="한 자리 수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="세 자리 수"
                                            aria-label="세 자리 수"
                                            placeholder="정답"
                                        />X<input
                                            data-answer="한 자리 수"
                                            aria-label="한 자리 수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />X<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="세 자리 수"
                                            aria-label="세 자리 수"
                                            placeholder="정답"
                                        />X<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />'를 다룬다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 세 자리 수 범위의 나눗셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-05] 나눗셈이 이루어지는
                                        <input
                                            data-answer="실생활 상황"
                                            aria-label="실생활 상황"
                                            placeholder="정답"
                                        />과 연결하여 나눗셈의
                                        <input
                                            data-answer="의미"
                                            aria-label="의미"
                                            placeholder="정답"
                                        />를 알고, 곱셈과 나눗셈의
                                        <input
                                            data-answer="관계"
                                            aria-label="관계"
                                            placeholder="정답"
                                        />를 이해한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 한 가지 상황을
                                        <input
                                            data-answer="곱셈식"
                                            aria-label="곱셈식"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="나눗셈식"
                                            aria-label="나눗셈식"
                                            placeholder="정답"
                                        />으로 나타내는 활동을 통하여 곱셈과
                                        나눗셈의
                                        <input
                                            data-answer="관계"
                                            aria-label="관계"
                                            placeholder="정답"
                                        />를 이해하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-06] 나누는 수가
                                        <input
                                            data-answer="한 자리 수"
                                            aria-label="한 자리 수"
                                            placeholder="정답"
                                        />인 나눗셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있으며, 나눗셈에서
                                        <input
                                            data-answer="몫"
                                            aria-label="몫"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="나머지"
                                            aria-label="나머지"
                                            placeholder="정답"
                                        />의 의미를 안다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4수01-06] 나눗셈에서 '<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="한 자리 수"
                                            aria-label="한 자리 수"
                                            placeholder="정답"
                                        />'는
                                        <input
                                            data-answer="나누어떨어지는"
                                            aria-label="나누어떨어지는"
                                            placeholder="정답"
                                        />
                                        경우와
                                        <input
                                            data-answer="나누어떨어지지 않는"
                                            aria-label="나누어떨어지지 않는"
                                            placeholder="정답"
                                        />
                                        경우를 포함하여
                                        <input
                                            data-answer="몫"
                                            aria-label="몫"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="나머지"
                                            aria-label="나머지"
                                            placeholder="정답"
                                        />를 이해하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-07] 나누는 수가
                                        <input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />인 나눗셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4수01-07] 나누는 수가
                                        <input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />인 나눗셈에서는 '<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="세 자리 수"
                                            aria-label="세 자리 수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />'를 다룬다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 자연수의 어림셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-08] 자연수의 덧셈, 뺄셈, 곱셈,
                                        나눗셈과 관련한 여러 가지 상황에서
                                        <input
                                            data-answer="어림셈"
                                            aria-label="어림셈"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 자연수의 덧셈, 뺄셈, 곱셈, 나눗셈을
                                        하기 전에 계산 결과를
                                        <input
                                            data-answer="어림"
                                            aria-label="어림"
                                            placeholder="정답"
                                        />하기,
                                        <input
                                            data-answer="어림한 값"
                                            aria-label="어림한 값"
                                            placeholder="정답"
                                        />을 이용하여 계산 결과가
                                        <input
                                            data-answer="타당"
                                            aria-label="타당"
                                            placeholder="정답"
                                        />한지 확인하기,
                                        <input
                                            data-answer="어림셈"
                                            aria-label="어림셈"
                                            placeholder="정답"
                                        />이 필요한 실생활 상황의 문제를
                                        해결하기 등을 다룰 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="계산 기능"
                                            aria-label="계산 기능"
                                            placeholder="정답"
                                        />을
                                        <input
                                            data-answer="숙달"
                                            aria-label="숙달"
                                            placeholder="정답"
                                        />하는 것이 목적이 아닌 경우에는
                                        <input
                                            data-answer="계산기"
                                            aria-label="계산기"
                                            placeholder="정답"
                                        />를 사용하게 할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title"># 분수</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-09]
                                        <input
                                            data-answer="양의 등분할"
                                            aria-label="양의 등분할"
                                            placeholder="정답"
                                        />을 통하여 분수의
                                        <input
                                            data-answer="필요성"
                                            aria-label="필요성"
                                            placeholder="정답"
                                        />을 인식하고, 분수를 이해하고 읽고 쓸
                                        수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4수01-09]
                                        <input
                                            data-answer="1보다 작은"
                                            aria-label="1보다 작은"
                                            placeholder="정답"
                                        />
                                        양을 나타내는 경우를 통하여 분수의
                                        필요성이나 그 표현의 편리함을 인식하게
                                        할 수 있다.
                                        <input
                                            data-answer="양의 등분할"
                                            aria-label="양의 등분할"
                                            placeholder="정답"
                                        />을 통하여 분수를 도입할 때
                                        <input
                                            data-answer="부분"
                                            aria-label="부분"
                                            placeholder="정답"
                                        />과
                                        <input
                                            data-answer="전체"
                                            aria-label="전체"
                                            placeholder="정답"
                                        />를 파악하게 하고, '<input
                                            data-answer="분모"
                                            aria-label="분모"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="분자"
                                            aria-label="분자"
                                            placeholder="정답"
                                        />'를 사용한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-10]
                                        <input
                                            data-answer="단위분수"
                                            aria-label="단위분수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="진분수"
                                            aria-label="진분수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="가분수"
                                            aria-label="가분수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="대분수"
                                            aria-label="대분수"
                                            placeholder="정답"
                                        />를 알고, 그
                                        <input
                                            data-answer="관계"
                                            aria-label="관계"
                                            placeholder="정답"
                                        />를 이해한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-11]
                                        <input
                                            data-answer="분모가 같은"
                                            aria-label="분모가 같은"
                                            placeholder="정답"
                                        />
                                        분수끼리,
                                        <input
                                            data-answer="단위"
                                            aria-label="단위"
                                            placeholder="정답"
                                        />분수끼리 크기를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하고 그 방법을 설명할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title"># 소수</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-12]
                                        <input
                                            data-answer="분모가 10인 진분수"
                                            aria-label="분모가 10인 진분수"
                                            placeholder="정답"
                                        />와 연결하여 소수
                                        <input
                                            data-answer="한 자리 수"
                                            aria-label="한 자리 수"
                                            placeholder="정답"
                                        />를 이해하고 읽고 쓸 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="실생활"
                                            aria-label="실생활"
                                            placeholder="정답"
                                        />에서 소수를 활용한 사례를 통해 소수의
                                        <input
                                            data-answer="필요성"
                                            aria-label="필요성"
                                            placeholder="정답"
                                        />을 인식하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-13]
                                        <input
                                            data-answer="자릿값의 원리"
                                            aria-label="자릿값의 원리"
                                            placeholder="정답"
                                        />를 바탕으로 소수
                                        <input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />와 소수
                                        <input
                                            data-answer="세 자리 수"
                                            aria-label="세 자리 수"
                                            placeholder="정답"
                                        />를 이해하고 읽고 쓸 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-14] 소수의 크기를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하고 그 방법을 설명할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 분수의 덧셈과 뺄셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-15]
                                        <input
                                            data-answer="분모가 같은"
                                            aria-label="분모가 같은"
                                            placeholder="정답"
                                        />
                                        분수의 덧셈과 뺄셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 소수의 덧셈과 뺄셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4수01-16] 소수
                                        <input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />의 범위에서 소수의 덧셈과 뺄셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 소수의 덧셈과 뺄셈은
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 이해할 수 있는 수준에서 간단히
                                        다룬다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
