<section id="grade5-6">
    <h2>5~6</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 자연수의 혼합 계산
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-01] 덧셈, 뺄셈, 곱셈, 나눗셈의
                                        혼합 계산에서
                                        <input
                                            data-answer="계산하는 순서"
                                            aria-label="계산하는 순서"
                                            placeholder="정답"
                                        />를 알고, 혼합 계산을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 자연수의 혼합 계산은
                                        <input
                                            data-answer="계산 순서"
                                            aria-label="계산 순서"
                                            placeholder="정답"
                                        />에 중점을 두고, 지나치게
                                        <input
                                            data-answer="복잡한"
                                            aria-label="복잡한"
                                            placeholder="정답"
                                        />
                                        혼합 계산은 다루지 않는다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 수의 범위와 올림, 버림, 반올림
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-02] 실생활과 연결하여
                                        <input
                                            data-answer="이상"
                                            aria-label="이상"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="이하"
                                            aria-label="이하"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="초과"
                                            aria-label="초과"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="미만"
                                            aria-label="미만"
                                            placeholder="정답"
                                        />의 의미와 쓰임을 알고, 이를 활용하여
                                        수의
                                        <input
                                            data-answer="범위"
                                            aria-label="범위"
                                            placeholder="정답"
                                        />를 나타낼 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-03]
                                        <input
                                            data-answer="어림값"
                                            aria-label="어림값"
                                            placeholder="정답"
                                        />을 구하기 위한 방법으로
                                        <input
                                            data-answer="올림"
                                            aria-label="올림"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="버림"
                                            aria-label="버림"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="반올림"
                                            aria-label="반올림"
                                            placeholder="정답"
                                        />의 의미와 필요성을 알고, 이를 실생활에
                                        활용함으로써 수학의
                                        <input
                                            data-answer="유용성"
                                            aria-label="유용성"
                                            placeholder="정답"
                                        />을 인식할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title"># 약수와 배수</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-04]
                                        <input
                                            data-answer="약수"
                                            aria-label="약수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="공약수"
                                            aria-label="공약수"
                                            aria-label="공약수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="최대공약수"
                                            aria-label="최대공약수"
                                            placeholder="정답"
                                        />를 이해하고 구할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 약수와 배수는 실생활에서 활용되는
                                        경우를 찾아
                                        <input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />
                                        범위에서 다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 약수와 배수를 학습하는 과정에서 약수와
                                        배수의
                                        <input
                                            data-answer="관계"
                                            aria-label="관계"
                                            placeholder="정답"
                                        />를 이해하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 최대공약수와 최소공배수는 두 수에
                                        대하여 약수와 배수를 각각
                                        <input
                                            data-answer="나열"
                                            aria-label="나열"
                                            placeholder="정답"
                                        />하여
                                        <input
                                            data-answer="공통된"
                                            aria-label="공통된"
                                            placeholder="정답"
                                        />
                                        약수와 배수를 찾는 방법으로 그 의미를
                                        이해하게 하고, 평가에서
                                        <input
                                            data-answer="소인수의 곱"
                                            aria-label="소인수의 곱"
                                            placeholder="정답"
                                        />으로 나타내어 구하는 방법은 다루지
                                        않는다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-05]
                                        <input
                                            data-answer="배수"
                                            aria-label="배수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="공배수"
                                            aria-label="공배수"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="최소공배수"
                                            aria-label="최소공배수"
                                            placeholder="정답"
                                        />를 이해하고 구할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 약수와 배수는 실생활에서 활용되는
                                        경우를 찾아
                                        <input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />
                                        범위에서 다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 약수와 배수를 학습하는 과정에서 약수와
                                        배수의
                                        <input
                                            data-answer="관계"
                                            aria-label="관계"
                                            placeholder="정답"
                                        />를 이해하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 최대공약수와 최소공배수는 두 수에
                                        대하여 약수와 배수를 각각
                                        <input
                                            data-answer="나열"
                                            aria-label="나열"
                                            placeholder="정답"
                                        />하여
                                        <input
                                            data-answer="공통된"
                                            aria-label="공통된"
                                            placeholder="정답"
                                        />
                                        약수와 배수를 찾는 방법으로 그 의미를
                                        이해하게 하고, 평가에서
                                        <input
                                            data-answer="소인수의 곱"
                                            aria-label="소인수의 곱"
                                            placeholder="정답"
                                        />으로 나타내어 구하는 방법은 다루지
                                        않는다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 분수의 덧셈과 뺄셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-06]
                                        <input
                                            data-answer="크기가 같은"
                                            aria-label="크기가 같은"
                                            placeholder="정답"
                                        />
                                        분수를 만드는 방법을 이해하고, 분수를
                                        <input
                                            data-answer="약분"
                                            aria-label="약분"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="통분"
                                            aria-label="통분"
                                            placeholder="정답"
                                        />할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 구체물이나 그림 등을 이용하여
                                        <input
                                            data-answer="크기가 같은"
                                            aria-label="크기가 같은"
                                            placeholder="정답"
                                        />
                                        분수를 만든 후
                                        <input
                                            data-answer="분모"
                                            aria-label="분모"
                                            placeholder="정답"
                                        />는
                                        <input
                                            data-answer="분모"
                                            aria-label="분모"
                                            placeholder="정답"
                                        />끼리,
                                        <input
                                            data-answer="분자"
                                            aria-label="분자"
                                            placeholder="정답"
                                        />는
                                        <input
                                            data-answer="분자"
                                            aria-label="분자"
                                            placeholder="정답"
                                        />끼리
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하는 활동을 통해 크기가 같은 분수를
                                        만드는 방법을 이해하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 분수를
                                        <input
                                            data-answer="통분"
                                            aria-label="통분"
                                            placeholder="정답"
                                        />할 때는 공통분모로
                                        <input
                                            data-answer="최소공배수"
                                            aria-label="최소공배수"
                                            placeholder="정답"
                                        />뿐만 아니라
                                        <input
                                            data-answer="분모의 곱"
                                            aria-label="분모의 곱"
                                            placeholder="정답"
                                        />과 같은
                                        <input
                                            data-answer="공배수"
                                            aria-label="공배수"
                                            placeholder="정답"
                                        />도 이용하게 할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-07]
                                        <input
                                            data-answer="분모가 다른"
                                            aria-label="분모가 다른"
                                            placeholder="정답"
                                        />
                                        분수의 크기를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하고 그 방법을 설명할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="분모가 다른"
                                            aria-label="분모가 다른"
                                            placeholder="정답"
                                        />
                                        분수의 크기를 비교할 때
                                        <input
                                            data-answer="수 감각"
                                            aria-label="수 감각"
                                            placeholder="정답"
                                        />을 이용하여 추론하고 토론하는 활동을
                                        하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-08]
                                        <input
                                            data-answer="분모가 다른"
                                            aria-label="분모가 다른"
                                            placeholder="정답"
                                        />
                                        분수의 덧셈과 뺄셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 탐구하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 분수의 곱셈과 나눗셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-09] 분수의 곱셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 탐구하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-10] '<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />'에서 나눗셈의 몫을
                                        <input
                                            data-answer="분수"
                                            aria-label="분수"
                                            placeholder="정답"
                                        />로 나타낼 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-11] 분수의 나눗셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 탐구하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6수01-11] 분수의 나눗셈은 '<input
                                            data-answer="분수"
                                            aria-label="분수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="분수"
                                            aria-label="분수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="분수"
                                            aria-label="분수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="분수"
                                            aria-label="분수"
                                            placeholder="정답"
                                        />'를 다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 분수의 사칙계산에서
                                        <input
                                            data-answer="기약분수"
                                            aria-label="기약분수"
                                            placeholder="정답"
                                        />로 나타낼 것을 요구하지 않을 경우,
                                        계산 결과를
                                        <input
                                            data-answer="기약분수"
                                            aria-label="기약분수"
                                            placeholder="정답"
                                        />가 아닌 분수로 나타내는 것도 허용한다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 분수와 소수의 관계
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-12] 분수와 소수의
                                        <input
                                            data-answer="관계"
                                            aria-label="관계"
                                            placeholder="정답"
                                        />를 이해하고 크기를
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />하며 그 방법을 설명할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 소수의 곱셈과 나눗셈
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-13] 소수의 곱셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 탐구하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-14] '<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />'에서 나눗셈의 몫을
                                        <input
                                            data-answer="소수"
                                            aria-label="소수"
                                            placeholder="정답"
                                        />로 나타낼 수 있다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [6수01-15] 소수의 나눗셈의
                                        <input
                                            data-answer="계산 원리"
                                            aria-label="계산 원리"
                                            placeholder="정답"
                                        />를 탐구하고 그
                                        <input
                                            data-answer="계산"
                                            aria-label="계산"
                                            placeholder="정답"
                                        />을 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [6수01-15] 소수의 나눗셈은 '<input
                                            data-answer="소수"
                                            aria-label="소수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="자연수"
                                            aria-label="자연수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="소수"
                                            aria-label="소수"
                                            placeholder="정답"
                                        />', '<input
                                            data-answer="소수"
                                            aria-label="소수"
                                            placeholder="정답"
                                        />/<input
                                            data-answer="소수"
                                            aria-label="소수"
                                            placeholder="정답"
                                        />'를 다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 소수의 곱셈과 나눗셈에서 복잡한 계산은
                                        <input
                                            data-answer="계산기"
                                            aria-label="계산기"
                                            placeholder="정답"
                                        />를 사용하게 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 소수의 곱셈과 나눗셈에서
                                        <input
                                            data-answer="계산 결과"
                                            aria-label="계산 결과"
                                            placeholder="정답"
                                        />를
                                        <input
                                            data-answer="어림"
                                            aria-label="어림"
                                            placeholder="정답"
                                        />할 필요가 있는 상황, 정확한 계산
                                        대신에
                                        <input
                                            data-answer="어림셈"
                                            aria-label="어림셈"
                                            placeholder="정답"
                                        />으로
                                        <input
                                            data-answer="비교"
                                            aria-label="비교"
                                            placeholder="정답"
                                        />가 가능한 상황 등
                                        <input
                                            data-answer="어림셈"
                                            aria-label="어림셈"
                                            placeholder="정답"
                                        />이 필요한 여러 가지 실생활 상황을
                                        제시하여
                                        <input
                                            data-answer="어림셈"
                                            aria-label="어림셈"
                                            placeholder="정답"
                                        />의 필요성과 유용성을 알게 한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
