<section id="creativity">
    <h2>창의성계발 학습모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 저학년 단계:
                                <input
                                    data-answer="다양한"
                                    aria-label="다양한"
                                    placeholder="정답"
                                    style="width: 70px"
                                />
                                아이디어 만들기
                            </div>

                            <div class="overview-question">
                                - 고학년 단계: 아이디어를
                                <input
                                    data-answer="검증하고 다듬기"
                                    aria-label="검증하고 다듬기"
                                    placeholder="정답"
                                    style="width: 180px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>창의성 구성 요소</th>
                        <td>
                            <div class="overview-question">
                                -
                                <input
                                    data-answer="유창성 (아이디어 개수)"
                                    aria-label="유창성 (아이디어 개수)"
                                    placeholder="정답"
                                    style="width: 250px"
                                />
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="독창성"
                                    aria-label="독창성"
                                    placeholder="정답"
                                    style="width: 250px"
                                />
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="융통성 (범주 전환 능력)"
                                    aria-label="융통성 (범주 전환 능력)"
                                    placeholder="정답"
                                    style="width: 250px"
                                />
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="다양성 (범주의 개수)"
                                    aria-label="다양성 (범주의 개수)"
                                    placeholder="정답"
                                    style="width: 250px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 발견하기"
                                aria-label="문제 발견하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="학습 과제 분석"
                                    aria-label="학습 과제 분석"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                            </div>

                            <input
                                data-answer="아이디어 생성하기"
                                aria-label="아이디어 생성하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="문제 해결"
                                    aria-label="문제 해결"
                                    placeholder="정답"
                                    style="width: 80px"
                                />을 위한 다양한
                                <input
                                    data-answer="아이디어 산출"
                                    aria-label="아이디어 산출"
                                    placeholder="정답"
                                    style="width: 200px"
                                />
                            </div>

                            <input
                                data-answer="아이디어 선택하기"
                                aria-label="아이디어 선택하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="아이디어 비교하기"
                                    aria-label="아이디어 비교하기"
                                    placeholder="정답"
                                    style="width: 240px"
                                />
                                ->
                                <input
                                    data-answer="최선의 아이디어 선택하기"
                                    aria-label="최선의 아이디어 선택하기"
                                    placeholder="정답"
                                    style="width: 240px"
                                />
                            </div>

                            <input
                                data-answer="아이디어 적용하기"
                                aria-label="아이디어 적용하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 교사:
                                <input
                                    data-answer="평가 관점"
                                    aria-label="평가 관점"
                                    placeholder="정답"
                                    style="width: 80px"
                                />을 명확히 제시하여 목표에 부합하는 결과물 평가
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
