<section id="knowledge-inquiry">
    <h2>지식 탐구 학습 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 구체적인 국어 사용
                                <input
                                    data-answer="사례"
                                    aria-label="사례"
                                    placeholder="정답"
                                    style="width: 60px"
                                />나
                                <input
                                    data-answer="자료"
                                    aria-label="자료"
                                    placeholder="정답"
                                    style="width: 60px"
                                />를 검토하여 국어 생활에
                                <input
                                    data-answer="일반화"
                                    aria-label="일반화"
                                    placeholder="정답"
                                    style="width: 70px"
                                />할 수 있는
                                <input
                                    data-answer="개념"
                                    aria-label="개념"
                                    placeholder="정답"
                                    style="width: 60px"
                                />이나
                                <input
                                    data-answer="규칙"
                                    aria-label="규칙"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                발견하는 데 초점
                            </div>

                            <div class="overview-question">
                                -
                                <input
                                    data-answer="문법"
                                    aria-label="문법"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                지식,
                                <input
                                    data-answer="문학"
                                    aria-label="문학"
                                    placeholder="정답"
                                    style="width: 60px"
                                />
                                지식을 습득하는 데 유용
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="문제 확인하기"
                                aria-label="문제 확인하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="자료 탐색하기"
                                aria-label="자료 탐색하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 학생: 기본 및 추가
                                <input
                                    data-answer="사례"
                                    aria-label="사례"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                또는
                                <input
                                    data-answer="자료"
                                    aria-label="자료"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                탐구
                            </div>
                            <div class="overview-question">
                                ㄴ 교사:
                                <input
                                    data-answer="적극적 비계"
                                    aria-label="적극적 비계"
                                    placeholder="정답"
                                    style="width: 150px"
                                />
                                제공
                            </div>

                            <input
                                data-answer="지식 발견하기"
                                aria-label="지식 발견하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 자료
                                <input
                                    data-answer="비교"
                                    aria-label="비교"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                -> 지식의
                                <input
                                    data-answer="발견"
                                    aria-label="발견"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                및
                                <input
                                    data-answer="정리"
                                    aria-label="정리"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                            </div>

                            <input
                                data-answer="지식 적용하기"
                                aria-label="지식 적용하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ 지식의
                                <input
                                    data-answer="적용"
                                    aria-label="적용"
                                    placeholder="정답"
                                    style="width: 80px"
                                />,
                                <input
                                    data-answer="일반화"
                                    aria-label="일반화"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
