<section id="role-performance">
    <h2>역할 수행 학습 모형</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>특징</th>
                        <td>
                            <div class="overview-question">
                                - 학습자는
                                <input
                                    data-answer="문제 상황"
                                    aria-label="문제 상황"
                                    placeholder="정답"
                                    style="width: 90px"
                                />을 생각하고, 상황 속
                                <input
                                    data-answer="인물"
                                    aria-label="인물"
                                    placeholder="정답"
                                    style="width: 60px"
                                />이 되어 보며, 그
                                <input
                                    data-answer="해결책"
                                    aria-label="해결책"
                                    placeholder="정답"
                                    style="width: 70px"
                                />을 제시하는 과정을 거쳐 자신이 부딪힌 문제를
                                좀 더 효과적으로
                                <input
                                    data-answer="해결하는"
                                    aria-label="해결하는"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                능력을 기를 수 있다.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>단계</th>
                        <td>
                            <input
                                data-answer="상황 설정하기"
                                aria-label="상황 설정하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="상황"
                                    aria-label="상황"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                분석 및 설정
                            </div>

                            <input
                                data-answer="준비 및 연습하기"
                                aria-label="준비 및 연습하기"
                                placeholder="단계명"
                            />
                            <div class="overview-question">
                                ㄴ
                                <input
                                    data-answer="역할"
                                    aria-label="역할"
                                    placeholder="정답"
                                    style="width: 80px"
                                />
                                분석 및 선정
                            </div>

                            <input
                                data-answer="실연하기"
                                aria-label="실연하기"
                                placeholder="단계명"
                            />

                            <input
                                data-answer="평가하기"
                                aria-label="평가하기"
                                placeholder="단계명"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
