<section id="cr-grade1-2" class="active">
    <h2>1~2</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title"># 규칙 찾기</div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2변02-01]
                                        <input
                                            data-answer="물체"
                                            aria-label="물체"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="무늬"
                                            aria-label="무늬"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수"
                                            aria-label="수"
                                            placeholder="정답"
                                        />
                                        등의 배열에서
                                        <input
                                            data-answer="규칙"
                                            aria-label="규칙"
                                            placeholder="정답"
                                        />을 찾아 여러 가지 방법으로 표현할 수
                                        있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [2변02-01]
                                        <input
                                            data-answer="물체"
                                            aria-label="물체"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="무늬"
                                            aria-label="무늬"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수"
                                            aria-label="수"
                                            placeholder="정답"
                                        />
                                        등의 배열을 관찰하여 일정하게
                                        <input
                                            data-answer="반복"
                                            aria-label="반복"
                                            placeholder="정답"
                                        />되거나
                                        <input
                                            data-answer="증가"
                                            aria-label="증가"
                                            placeholder="정답"
                                        />하는 규칙을 찾고 말, 수, 그림, 기호,
                                        구체물, 행동 등의 다양한 방법으로
                                        <input
                                            data-answer="표현"
                                            aria-label="표현"
                                            placeholder="정답"
                                        />하게 한다. 그리고 물체, 무늬, 수의
                                        배열에서 다음에 올 것이나 중간에 빠진
                                        것을
                                        <input
                                            data-answer="추측"
                                            aria-label="추측"
                                            placeholder="정답"
                                        />하게 한다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [2변02-02] 자신이 정한
                                        <input
                                            data-answer="규칙"
                                            aria-label="규칙"
                                            placeholder="정답"
                                        />에 따라
                                        <input
                                            data-answer="물체"
                                            aria-label="물체"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="무늬"
                                            aria-label="무늬"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="수"
                                            aria-label="수"
                                            placeholder="정답"
                                        />
                                        등을 배열할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 학생이
                                        <input
                                            data-answer="스스로"
                                            aria-label="스스로"
                                            placeholder="정답"
                                        />
                                        만든 규칙에 따라 물체, 무늬, 수 등을
                                        배열하는 활동을 통해 수학에 대한
                                        <input
                                            data-answer="흥미"
                                            aria-label="흥미"
                                            placeholder="정답"
                                        />를 느끼게 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        •
                                        <input
                                            data-answer="수의 배열"
                                            aria-label="수의 배열"
                                            placeholder="정답"
                                        />뿐만 아니라
                                        <input
                                            data-answer="수 배열표"
                                            aria-label="수 배열표"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="덧셈표"
                                            aria-label="덧셈표"
                                            placeholder="정답"
                                        />,
                                        <input
                                            data-answer="곱셈표"
                                            aria-label="곱셈표"
                                            placeholder="정답"
                                        />를 활용하여 수의 다양한 규칙을 찾게
                                        한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 물체, 무늬, 수 등의 배열에서는 크기,
                                        색깔, 위치, 순서 등에 대한
                                        <input
                                            data-answer="단순한"
                                            aria-label="단순한"
                                            placeholder="정답"
                                        />
                                        규칙을 다루고, 지나치게
                                        <input
                                            data-answer="복잡한"
                                            aria-label="복잡한"
                                            placeholder="정답"
                                        />
                                        배열에 대한 평가는 지양한다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
