<section id="cr-grade3-4">
    <h2>3~4</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 규칙을 수나 식으로 나타내기
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4변02-01] 다양한
                                        <input
                                            data-answer="변화 규칙"
                                            aria-label="변화 규칙"
                                            placeholder="정답"
                                        />을 찾아 설명하고, 그 규칙을
                                        <input
                                            data-answer="수"
                                            aria-label="수"
                                            placeholder="정답"
                                        />나
                                        <input
                                            data-answer="식"
                                            aria-label="식"
                                            placeholder="정답"
                                        />으로 나타낼 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 규칙을 식으로 나타낼 때
                                        <input
                                            data-answer="혼합 계산"
                                            aria-label="혼합 계산"
                                            placeholder="정답"
                                        />식,
                                        <input
                                            data-answer="일반항"
                                            aria-label="일반항"
                                            placeholder="정답"
                                        />을 나타낸 식 등을 이용해야 하는 복잡한
                                        문제는 다루지 않는다.
                                    </div>
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4변02-02] 계산식의 배열에서
                                        <input
                                            data-answer="규칙"
                                            aria-label="규칙"
                                            placeholder="정답"
                                        />을 찾고, 계산 결과를
                                        <input
                                            data-answer="추측"
                                            aria-label="추측"
                                            placeholder="정답"
                                        />할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4변02-02] 다양한
                                        <input
                                            data-answer="규칙"
                                            aria-label="규칙"
                                            placeholder="정답"
                                        />을 찾을 수 있는 계산식의 배열, 수의
                                        <input
                                            data-answer="성질"
                                            aria-label="성질"
                                            placeholder="정답"
                                        />을 탐구할 수 있는 계산식의 배열을
                                        다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 계산식의 배열에서 계산 결과의 규칙을
                                        찾는 활동을 할 때 필요에 따라
                                        <input
                                            data-answer="계산기"
                                            aria-label="계산기"
                                            placeholder="정답"
                                        />를 사용하게 할 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 자신이
                                        <input
                                            data-answer="추측"
                                            aria-label="추측"
                                            placeholder="정답"
                                        />한 규칙을 배열에 적용해 보는 등 다양한
                                        방법으로 규칙이 옳은지 스스로
                                        <input
                                            data-answer="검토"
                                            aria-label="검토"
                                            placeholder="정답"
                                        />하게 할 수 있다.
                                    </div>
                                </div>
                            </div>

                            <div class="achievement-block">
                                <div class="outline-title">
                                    # 등호와 동치 관계
                                </div>

                                <div class="achievement-pair">
                                    <div
                                        class="overview-question achievement-standard"
                                    >
                                        [4변02-03]
                                        <input
                                            data-answer="등호"
                                            aria-label="등호"
                                            placeholder="정답"
                                        />를 사용하여
                                        <input
                                            data-answer="크기가 같은"
                                            aria-label="크기가 같은"
                                            placeholder="정답"
                                        />
                                        두 양의 관계를 식으로 나타낼 수 있다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation"
                                    >
                                        • [4변02-03]
                                        <input
                                            data-answer="등호"
                                            aria-label="등호"
                                            placeholder="정답"
                                        />의 의미를 토대로 구체물, 그림 등을
                                        사용하여
                                        <input
                                            data-answer="주어진 식"
                                            aria-label="주어진 식"
                                            placeholder="정답"
                                        />이 옳은지
                                        <input
                                            data-answer="판단"
                                            aria-label="판단"
                                            placeholder="정답"
                                        />하는 활동,
                                        <input
                                            data-answer="크기"
                                            aria-label="크기"
                                            placeholder="정답"
                                        />가 같은
                                        <input
                                            data-answer="두 양"
                                            aria-label="두 양"
                                            placeholder="정답"
                                        />을 찾는 활동 등을 통해
                                        <input
                                            data-answer="동치 관계"
                                            aria-label="동치 관계"
                                            placeholder="정답"
                                        />를 이해하게 한다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 동치 관계는
                                        <input
                                            data-answer="두 자리 수"
                                            aria-label="두 자리 수"
                                            placeholder="정답"
                                        />의 범위에서 다룬다.
                                    </div>

                                    <div
                                        class="overview-question achievement-explanation consideration-item"
                                    >
                                        • 등호가 사용된 식이 옳은지 판단할 때는
                                        <input
                                            data-answer="수 감각"
                                            aria-label="수 감각"
                                            placeholder="정답"
                                        />이나 학생이 직관적으로 이해하고 있는
                                        <input
                                            data-answer="연산의 성질"
                                            aria-label="연산의 성질"
                                            placeholder="정답"
                                        />을 이용하여
                                        <input
                                            data-answer="두 양"
                                            aria-label="두 양"
                                            placeholder="정답"
                                        />이 서로 같은지 비교하게 할 수 있다.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
