<section id="physical-sports">
    <h2>스포츠</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년</div>

            <table>
                <tbody>
                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="기본 움직임의 기초 기술"
                                aria-label="기본 움직임의 기초 기술"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="이동 움직임"
                                    aria-label="이동 움직임"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="방향 전환 달리기"
                                    aria-label="방향 전환 달리기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="뛰기"
                                    aria-label="뛰기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="구르기"
                                    aria-label="구르기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="물에서 이동하기"
                                    aria-label="물에서 이동하기"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="비이동 움직임"
                                    aria-label="비이동 움직임"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="균형잡기"
                                    aria-label="균형잡기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="구부리기"
                                    aria-label="구부리기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="회전하기"
                                    aria-label="회전하기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="물에 뜨기"
                                    aria-label="물에 뜨기"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="조작 움직임"
                                    aria-label="조작 움직임"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="던지기"
                                    aria-label="던지기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="굴리기"
                                    aria-label="굴리기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="차기"
                                    aria-label="차기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="잡기"
                                    aria-label="잡기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="치기"
                                    aria-label="치기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="튀기기"
                                    aria-label="튀기기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="몰기"
                                    aria-label="몰기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="타기"
                                    aria-label="타기"
                                    placeholder="구체적 예시"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="스포츠 유형별 움직임 기술"
                                aria-label="스포츠 유형별 움직임 기술"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="기술형 스포츠 유형별 움직임"
                                    aria-label="기술형 스포츠 유형별 움직임"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="앞뒤 구르기"
                                    aria-label="앞뒤 구르기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="옆돌기"
                                    aria-label="옆돌기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="전력 달리기"
                                    aria-label="전력 달리기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="헤엄치기"
                                    aria-label="헤엄치기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="발차기"
                                    aria-label="발차기"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="전략형 스포츠 유형별 움직임"
                                    aria-label="전략형 스포츠 유형별 움직임"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="공던지기와 잡기"
                                    aria-label="공던지기와 잡기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="공몰기"
                                    aria-label="공몰기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="공차기와 멈추기"
                                    aria-label="공차기와 멈추기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="공치기와 받기"
                                    aria-label="공치기와 받기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="라켓으로 치기"
                                    aria-label="라켓으로 치기"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="생태형 스포츠 유형별 움직임"
                                    aria-label="생태형 스포츠 유형별 움직임"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="균형 잡고 이동하기"
                                    aria-label="균형 잡고 이동하기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="타고 버티기"
                                    aria-label="타고 버티기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="잡고 오르기"
                                    aria-label="잡고 오르기"
                                    placeholder="구체적 예시"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년</div>

            <table>
                <tbody>
                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="기술형 스포츠 유형별 활동"
                                aria-label="기술형 스포츠 유형별 활동"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="기록형"
                                    aria-label="기록형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="육상 활동"
                                    aria-label="육상 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="경영 활동"
                                    aria-label="경영 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="빙상 활동"
                                    aria-label="빙상 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="표적 활동"
                                    aria-label="표적 활동"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="동작형"
                                    aria-label="동작형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="매트 활동"
                                    aria-label="매트 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="뜀틀 활동"
                                    aria-label="뜀틀 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="평균대 활동"
                                    aria-label="평균대 활동"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="투기형"
                                    aria-label="투기형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="태권도 활동"
                                    aria-label="태권도 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="씨름 활동"
                                    aria-label="씨름 활동"
                                    placeholder="구체적 예시"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="전략형 스포츠 유형별 활동"
                                aria-label="전략형 스포츠 유형별 활동"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="영역형"
                                    aria-label="영역형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="축구형 게임"
                                    aria-label="축구형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="농구형 게임"
                                    aria-label="농구형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="핸드볼형 게임"
                                    aria-label="핸드볼형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="럭비형 게임"
                                    aria-label="럭비형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="하키형 게임"
                                    aria-label="하키형 게임"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="필드형"
                                    aria-label="필드형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="야구형 게임"
                                    aria-label="야구형 게임"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="네트형"
                                    aria-label="네트형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="배구형 게임"
                                    aria-label="배구형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="배드민턴형 게임"
                                    aria-label="배드민턴형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="족구형 게임"
                                    aria-label="족구형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="탁구형 게임"
                                    aria-label="탁구형 게임"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="테니스형 게임"
                                    aria-label="테니스형 게임"
                                    placeholder="구체적 예시"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="생태형 스포츠 유형별 활동"
                                aria-label="생태형 스포츠 유형별 활동"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="생활환경형"
                                    aria-label="생활환경형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="골프형 활동"
                                    aria-label="골프형 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="플라잉디스크형 활동"
                                    aria-label="플라잉디스크형 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="자전거타기형 활동"
                                    aria-label="자전거타기형 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="인라인스케이팅 활동"
                                    aria-label="인라인스케이팅 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="스포츠클라이밍 활동"
                                    aria-label="스포츠클라이밍 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="민속놀이"
                                    aria-label="민속놀이"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input"
                                    data-answer="자연환경형"
                                    aria-label="자연환경형"
                                    placeholder="신체활동 예시"
                                    class="activity-input-purple"
                                />

                                <input
                                    class="example-input"
                                    data-answer="오리엔티어링"
                                    aria-label="오리엔티어링"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="등산 활동"
                                    aria-label="등산 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="캠핑 활동"
                                    aria-label="캠핑 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="수상 활동"
                                    aria-label="수상 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="설상 활동"
                                    aria-label="설상 활동"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="승마 활동"
                                    aria-label="승마 활동"
                                    placeholder="구체적 예시"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
