<section id="physical-expression">
    <h2>표현</h2>

    <div class="grade-container">
        <div>
            <div class="grade-title">3~4학년</div>

            <table>
                <tbody>
                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="기본 움직임의 기초 표현"
                                aria-label="기본 움직임의 기초 표현"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="이동 움직임 표현"
                                    aria-label="이동 움직임 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="워킹"
                                    aria-label="워킹"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="점핑"
                                    aria-label="점핑"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="호핑"
                                    aria-label="호핑"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="스키핑"
                                    aria-label="스키핑"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="갤러핑"
                                    aria-label="갤러핑"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="리핑"
                                    aria-label="리핑"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="슬라이딩"
                                    aria-label="슬라이딩"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="비이동 움직임 표현"
                                    aria-label="비이동 움직임 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="펴기"
                                    aria-label="펴기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="접기"
                                    aria-label="접기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="비틀기"
                                    aria-label="비틀기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="제자리 돌기"
                                    aria-label="제자리 돌기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="털기"
                                    aria-label="털기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="흔들기"
                                    aria-label="흔들기"
                                    placeholder="구체적 예시"
                                />
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="조작 움직임 표현"
                                    aria-label="조작 움직임 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="들기"
                                    aria-label="들기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="돌리기"
                                    aria-label="돌리기"
                                    placeholder="구체적 예시"
                                />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="기본 움직임의 표현 방법"
                                aria-label="기본 움직임의 표현 방법"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="추상 표현"
                                    aria-label="추상 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="언어 표현"
                                    aria-label="언어 표현"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="느낌이나 생각 표현"
                                    aria-label="느낌이나 생각 표현"
                                    placeholder="구체적 예시"
                                />

                                하기
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="모방 표현"
                                    aria-label="모방 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="사물 표현"
                                    aria-label="사물 표현"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="인물 표현"
                                    aria-label="인물 표현"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="자연 현상 표현"
                                    aria-label="자연 현상 표현"
                                    placeholder="구체적 예시"
                                />

                                하기
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="리듬 표현"
                                    aria-label="리듬 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="박자"
                                    aria-label="박자"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="강약"
                                    aria-label="강약"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="빠르기"
                                    aria-label="빠르기"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="패턴"
                                    aria-label="패턴"
                                    placeholder="구체적 예시"
                                />

                                에 따라 표현하기
                            </div>

                            <div class="activity-group">
                                <input
                                    class="activity-input activity-input-purple"
                                    data-answer="도구 표현"
                                    aria-label="도구 표현"
                                    placeholder="신체활동 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="줄"
                                    aria-label="줄"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="공"
                                    aria-label="공"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="천"
                                    aria-label="천"
                                    placeholder="구체적 예시"
                                />

                                <input
                                    class="example-input"
                                    data-answer="훌라후프"
                                    aria-label="훌라후프"
                                    placeholder="구체적 예시"
                                />

                                등을 활용하여 표현하기
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="grade-title">5~6학년</div>

            <table>
                <tbody>
                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="스포츠 표현 활동"
                                aria-label="스포츠 표현 활동"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <input
                                class="example-input"
                                data-answer="창작체조 활동"
                                aria-label="창작체조 활동"
                                placeholder="구체적 예시"
                            />

                            <input
                                class="example-input"
                                data-answer="음악줄넘기 활동"
                                aria-label="음악줄넘기 활동"
                                placeholder="구체적 예시"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="전통 표현 활동"
                                aria-label="전통 표현 활동"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <input
                                class="example-input"
                                data-answer="우리나라의 민속무용 활동"
                                aria-label="우리나라의 민속무용 활동"
                                placeholder="구체적 예시"
                            />

                            <input
                                class="example-input"
                                data-answer="외국의 민속무용 활동"
                                aria-label="외국의 민속무용 활동"
                                placeholder="구체적 예시"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th class="sub-area-cell">
                            <input
                                class="sub-area-input"
                                data-answer="현대 표현 활동"
                                aria-label="현대 표현 활동"
                                placeholder="세부 영역"
                            />
                        </th>

                        <td>
                            <input
                                class="example-input"
                                data-answer="라인댄스 활동"
                                aria-label="라인댄스 활동"
                                placeholder="구체적 예시"
                            />

                            <input
                                class="example-input"
                                data-answer="댄스스포츠 활동"
                                aria-label="댄스스포츠 활동"
                                placeholder="구체적 예시"
                            />

                            <input
                                class="example-input"
                                data-answer="스트리트댄스 활동"
                                aria-label="스트리트댄스 활동"
                                placeholder="구체적 예시"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
