<section id="joy-who" class="active">
    <h2>우리는 누구로 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="건강과 안전"
                                aria-label="건강과 안전"
                                placeholder="정답"
                            /><input
                                data-answer="신체 인식과 감각"
                                aria-label="신체 인식과 감각"
                                placeholder="정답"
                            /><input
                                data-answer="자연의 아름다운 장면"
                                aria-label="자연의 아름다운 장면"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="놀이하기"
                                aria-label="놀이하기"
                                placeholder="정답"
                            /><input
                                data-answer="소통하기"
                                aria-label="소통하기"
                                placeholder="정답"
                            /><input
                                data-answer="감상하기"
                                aria-label="감상하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="어울림"
                                aria-label="어울림"
                                placeholder="정답"
                            /><input
                                data-answer="건강한 생활"
                                aria-label="건강한 생활"
                                placeholder="정답"
                            /><input
                                data-answer="안전한 생활"
                                aria-label="안전한 생활"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
