<section id="joy-how">
    <h2>우리는 지금 어떻게 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="자연의 변화"
                                aria-label="자연의 변화"
                                placeholder="정답"
                            /><input
                                data-answer="전통문화"
                                aria-label="전통문화"
                                placeholder="정답"
                            /><input
                                data-answer="아동권리"
                                aria-label="아동권리"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="자연에서 놀이하기"
                                aria-label="자연에서 놀이하기"
                                placeholder="정답"
                            /><input
                                data-answer="창의적으로 표현하기"
                                aria-label="창의적으로 표현하기"
                                placeholder="정답"
                            /><input
                                data-answer="권리 누리기"
                                aria-label="권리 누리기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="활기찬 생활"
                                aria-label="활기찬 생활"
                                placeholder="정답"
                            /><input
                                data-answer="전통의 소중함"
                                aria-label="전통의 소중함"
                                placeholder="정답"
                            /><input
                                data-answer="안전과 안녕"
                                aria-label="안전과 안녕"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
