<section id="joy-where">
    <h2>우리는 어디서 살아 갈까</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>지식 · 이해</th>
                        <td>
                            <input
                                data-answer="우리나라의 문화 예술"
                                aria-label="우리나라의 문화 예술"
                                placeholder="정답"
                            /><input
                                data-answer="다른 나라의 문화 예술"
                                aria-label="다른 나라의 문화 예술"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>과정 · 기능</th>
                        <td>
                            <input
                                data-answer="문화 예술 활동하기"
                                aria-label="문화 예술 활동하기"
                                placeholder="정답"
                            /><input
                                data-answer="표현하기"
                                aria-label="표현하기"
                                placeholder="정답"
                            /><input
                                data-answer="상상하기"
                                aria-label="상상하기"
                                placeholder="정답"
                            />
                        </td>
                    </tr>

                    <tr>
                        <th>가치 · 태도</th>
                        <td>
                            <input
                                data-answer="문화 예술 향유"
                                aria-label="문화 예술 향유"
                                placeholder="정답"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
