<section id="pe-character">
    <h2>성격 및 목표</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">#성격 및 목표</div>

                                <div class="overview-question">
                                    체육과는 신체활동의 학습을 통해
                                    <input
                                        data-answer="활동적이고 창의적인"
                                        aria-label="활동적이고 창의적인"
                                        placeholder="정답"
                                    />
                                    삶,
                                    <input
                                        data-answer="건강하고 주도적인"
                                        aria-label="건강하고 주도적인"
                                        placeholder="정답"
                                    />
                                    삶,
                                    <input
                                        data-answer="신체활동 문화를 향유하며 사회 속에서 바람직하고 더불어 사는"
                                        aria-label="신체활동 문화를 향유하며 사회 속에서 바람직하고 더불어 사는"
                                        placeholder="정답"
                                    />
                                    삶의 자질을 길러주는 교과이다. 신체활동은
                                    <input
                                        data-answer="놀이"
                                        aria-label="놀이"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="게임"
                                        aria-label="게임"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="운동"
                                        aria-label="운동"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="스포츠"
                                        aria-label="스포츠"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="표현"
                                        aria-label="표현"
                                        placeholder="정답"
                                    />
                                    등의 맥락에서 계획적, 의도적으로 수행되는
                                    <input
                                        data-answer="움직임"
                                        aria-label="움직임"
                                        placeholder="정답"
                                    />으로, 신체 능력과 건강을 증진하고, 다양한
                                    기술과 전략을 바탕으로 타인 및 환경과
                                    상호작용하는 과정에서 형성된 삶의 양식이다.
                                </div>

                                <div class="overview-question">
                                    또한 이러한 신체활동 역량을 운동, 스포츠,
                                    표현 맥락뿐만 아니라
                                    <input
                                        data-answer="일상생활"
                                        aria-label="일상생활"
                                        placeholder="정답"
                                    />과
                                    <input
                                        data-answer="직무"
                                        aria-label="직무"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="여가활동"
                                        aria-label="여가활동"
                                        placeholder="정답"
                                    />
                                    등에서 효과적이고 효율적으로 발휘할 수 있다.
                                </div>

                                <div class="overview-question">
                                    체육과는 활동적이고 창의적인 삶, 건강하고
                                    주도적인 삶, 신체활동 문화를 향유하며 사회
                                    속에서 바람직하고 더불어 사는 삶을 영위할 수
                                    있는
                                    <input
                                        data-answer="신체활동 역량"
                                        aria-label="신체활동 역량"
                                        placeholder="정답"
                                    />을 기르는 것을 목표로 한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
