<section id="pe-teaching">
    <h2>교수⋅학습의 방향</h2>

    <div class="grade-container">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="creative-block">
                                <div class="outline-title">
                                    # 신체활동 역량 함양을 위한 교수⋅학습
                                </div>

                                <div class="overview-question">
                                    신체활동 역량의 함양을 위해 영역별 내용
                                    요소를 깊이 있게 경험할 수 있는 다양한 수업
                                    주제와 교수⋅학습 활동을 선정하고 지도한다.
                                    신체활동을
                                    <input
                                        data-answer="위한"
                                        aria-label="위한"
                                        placeholder="정답"
                                    />
                                    학습을 통해 신체활동 형식의 움직임 기술,
                                    방법 등을 습득하며 신체활동을 효율적,
                                    심미적으로 수행하고, 신체활동에
                                    <input
                                        data-answer="관한"
                                        aria-label="관한"
                                        placeholder="정답"
                                    />
                                    학습을 통해 신체활동에 관한 이론적, 경험적
                                    지식을 이해하고 안목을 기르며, 신체활동을
                                    <input
                                        data-answer="통한"
                                        aria-label="통한"
                                        placeholder="정답"
                                    />
                                    학습에서 자신의 신체활동 경험을 성찰하며
                                    사회 속에서 자신과 타인의 관계를
                                    인식함으로써 신체활동의 의미 있는 가치와
                                    태도를 함양하도록 한다.
                                </div>

                                <div class="outline-title">
                                    # 움직임의 체계적 발달을 위한 교수⋅학습
                                </div>

                                <div class="overview-question">
                                    움직임 수행 역량은 신체활동 역량의 핵심으로,
                                    움직임의 개념적 요소와 기술, 전략을
                                    체계적으로 학습함으로써 발달한다. 이를 위해
                                    움직임
                                    <input
                                        data-answer="요소"
                                        aria-label="요소"
                                        placeholder="정답"
                                    />를 이해하고, 움직임의 원리를
                                    <input
                                        data-answer="기술"
                                        aria-label="기술"
                                        placeholder="정답"
                                    />
                                    수행에 적용하여, 다양한 신체활동 상황에서
                                    효과적인 의사결정과
                                    <input
                                        data-answer="전략"
                                        aria-label="전략"
                                        placeholder="정답"
                                    />을 발휘할 수 있도록 지도한다. 특히
                                    움직임의 지식⋅이해, 과정⋅기능, 가치⋅태도를
                                    학년군에 따라
                                    <input
                                        data-answer="계열적"
                                        aria-label="계열적"
                                        placeholder="정답"
                                    />으로 학습하도록 신체활동의 상황과 조건을
                                    발달 단계에 적합하게 조직하고 지도한다.
                                </div>

                                <div class="overview-question">
                                    움직임 요소:
                                    <input
                                        data-answer="노력"
                                        aria-label="노력"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="신체"
                                        aria-label="신체"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="공간"
                                        aria-label="공간"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="관계"
                                        aria-label="관계"
                                        placeholder="정답"
                                    />
                                    <br />
                                    움직임 기술:
                                    <input
                                        data-answer="이동 움직임"
                                        aria-label="이동 움직임"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="비이동 움직임"
                                        aria-label="비이동 움직임"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="조작 움직임"
                                        aria-label="조작 움직임"
                                        placeholder="정답"
                                    />
                                    <br />
                                    움직임 전략:
                                    <input
                                        data-answer="전술 인식"
                                        aria-label="전술 인식"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="의사결정"
                                        aria-label="의사결정"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="기술 적용"
                                        aria-label="기술 적용"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="전략 평가"
                                        aria-label="전략 평가"
                                        placeholder="정답"
                                    />
                                </div>

                                <div class="outline-title">
                                    # 자기 주도적 학습을 위한 맞춤형 교수⋅학습
                                </div>

                                <div class="overview-question">
                                    학습자의 자기 주도적 학습을 촉진하기
                                    위해서는 교사에 의해
                                    <input
                                        data-answer="안내"
                                        aria-label="안내"
                                        placeholder="정답"
                                    />된 학습과 학습자가 직접
                                    <input
                                        data-answer="설계"
                                        aria-label="설계"
                                        placeholder="정답"
                                    />한 학습을 병행하여 맞춤형 교수⋅학습이
                                    이루어지도록 한다. 이를 위해 학습자가 스스로
                                    학습 내용을 파악하고, 주어진 과제를
                                    적극적으로 해결할 수 있도록 교수⋅학습 환경을
                                    조성하며, 학습자의 관심과 특성을 고려한
                                    <input
                                        data-answer="수준별"
                                        aria-label="수준별"
                                        placeholder="정답"
                                    />
                                    과제 제시, 자신감을 높여주는
                                    <input
                                        data-answer="동기 유발 전략"
                                        aria-label="동기 유발 전략"
                                        placeholder="정답"
                                    />
                                    등을 마련한다. 학습자 스스로 문제를 해결하기
                                    위한
                                    <input
                                        data-answer="탐구적"
                                        aria-label="탐구적"
                                        placeholder="정답"
                                    />
                                    교수⋅학습 자료를 제공하고 신체활동의
                                    적극적인 연습과 교정이 이루어질 수 있도록
                                    학습 과제, 시설 및 기자재를 안전하고
                                    효율적으로 조직한다. 또한 영역과 활동의
                                    특성을 고려하여 적합한 수업 모형 및 전략을
                                    선정하거나 이를 창의적으로 변형함으로써
                                    교수⋅학습의 타당성을 높인다.
                                </div>

                                <div class="outline-title">
                                    # 신체활동의 시간적⋅공간적 확장을 위한
                                    교수⋅학습
                                </div>

                                <div class="overview-question">
                                    체육과 학습을 통해 습득한 신체활동의 지식,
                                    기능, 태도는 생애 전반에 걸쳐 건강하고
                                    행복한 삶의 토대가 된다. 따라서 학습자가
                                    학습한 내용을
                                    <input
                                        data-answer="학교"
                                        aria-label="학교"
                                        placeholder="정답"
                                    />뿐만 아니라
                                    <input
                                        data-answer="가정"
                                        aria-label="가정"
                                        placeholder="정답"
                                    />
                                    및 집 주변,
                                    <input
                                        data-answer="지역사회"
                                        aria-label="지역사회"
                                        placeholder="정답"
                                    />에서 실천할 수 있도록 자율성과 실천력을
                                    길러주고, 교⋅내외
                                    <input
                                        data-answer="체육대회"
                                        aria-label="체육대회"
                                        placeholder="정답"
                                    />,
                                    <input
                                        data-answer="학교스포츠클럽"
                                        aria-label="학교스포츠클럽"
                                        placeholder="정답"
                                    />
                                    활동,
                                    <input
                                        data-answer="자율 체육 활동"
                                        aria-label="자율 체육 활동"
                                        placeholder="정답"
                                    />에 적극적으로 참여할 수 있도록 지도한다.
                                    또한 학습자가 해당
                                    <input
                                        data-answer="학년군"
                                        aria-label="학년군"
                                        placeholder="정답"
                                    />뿐만 아니라
                                    <input
                                        data-answer="생애주기"
                                        aria-label="생애주기"
                                        placeholder="정답"
                                    />별로 지속해서 신체활동에 참여하며 다양한
                                    문화적 삶을 향유할 수 있도록 안내한다.
                                </div>

                                <div class="outline-title">
                                    # 디지털 기술을 활용한 효율적 교수⋅학습
                                </div>

                                <div class="overview-question">
                                    체육수업에서 디지털 도구, 매체, 소프트웨어,
                                    영상 자료 등의 기술은 교수⋅학습 및 평가에
                                    긍정적으로 활용될 수 있다. 예를 들어,
                                    신체활동
                                    <input
                                        data-answer="모니터"
                                        aria-label="모니터"
                                        placeholder="정답"
                                    />
                                    도구로 수집된 신체 활동 정보는 학습자가
                                    자신의 신체활동 수준을 확인하고, 운동 계획을
                                    수립하는 데 활용될 수 있으며, 신체활동 참여
                                    동기를 높이는 데 도움을 줄 수 있다. 모바일
                                    기기의
                                    <input
                                        data-answer="동작 인식"
                                        aria-label="동작 인식"
                                        placeholder="정답"
                                    />
                                    프로그램은 다양한 움직임과 기능 관련
                                    피드백을 효과적으로 제공할 수 있다. 또한
                                    <input
                                        data-answer="엑서게이밍"
                                        aria-label="엑서게이밍"
                                        placeholder="정답"
                                    />과 같이 가상현실, 증강현실, 인공지능
                                    기반의
                                    <input
                                        data-answer="실감형 콘텐츠"
                                        aria-label="실감형 콘텐츠"
                                        placeholder="정답"
                                    />를 활용한 학습은 학교에서 학습하기 어려운
                                    신체활동 체험을 가능하게 하거나 체험의 질을
                                    확장시켜 줄 수 있다. 특히 디지털 기술은
                                    체육수업 외의 신체활동
                                    <input
                                        data-answer="관리"
                                        aria-label="관리"
                                        placeholder="정답"
                                    />에 효과적으로 활용될 수 있다. 학습자는
                                    디지털 매체로 전달된 과제를 시⋅공간의
                                    제약에서 벗어나 확인할 수 있고, 교사는
                                    학습자의 활동 결과를 실시간으로 모니터링하고
                                    피드백할 수 있다. 따라서 학습 과정에서
                                    온⋅오프라인을 연계하거나 디지털 기술을
                                    활용함으로써 학습자의 신체활동 참여를
                                    촉진하고 효율적인 학습 자료 관리가
                                    이루어지도록 지도한다.
                                </div>

                                <div class="outline-title">
                                    # 창의성과 인성 함양을 위한 통합적 교수⋅학습
                                </div>

                                <div class="overview-question">
                                    체육과에서는 학습자의 창의성과 인성 함양을
                                    위해 두 가지 측면으로 통합적 교수⋅학습
                                    활동을 제공한다. 첫째, 학습자가 영역별
                                    내용을 깊이 있게 학습할 수 있도록
                                    <input
                                        data-answer="직접 체험"
                                        aria-label="직접 체험"
                                        placeholder="정답"
                                    />
                                    활동과 함께
                                    <input
                                        data-answer="간접 체험"
                                        aria-label="간접 체험"
                                        placeholder="정답"
                                    />
                                    활동을 제공하도록 한다. 즉 신체활동의 직접
                                    체험뿐만 아니라 신체활동과 관련된 다양한
                                    문화 자원을 탐색함으로써 새롭고 창의적인
                                    신체활동을 체험하고, 바람직한 삶의 가치를
                                    느끼고 성찰할 수 있도록 한다. 둘째,
                                    <input
                                        data-answer="타 교과"
                                        aria-label="타 교과"
                                        placeholder="정답"
                                    />
                                    및
                                    <input
                                        data-answer="범교과 학습 주제"
                                        aria-label="범교과 학습 주제"
                                        placeholder="정답"
                                    />, 예를 들어 문학 및 예술적 감수성, 과학 및
                                    수학적 분석력, 인성 및 민주시민 의식,
                                    생태전환과 지속 가능한 발전 등의 주제를
                                    체육과 학습 내용과 융합하여 학습함으로써
                                    학습자가 체육과의 학습 내용을 다양한 분야와
                                    연계하여 비판적으로 사고하고, 바람직한 가치
                                    판단과 공동체의 삶의 방식을 폭넓게 수용하고
                                    실천할 수 있도록 지도한다.
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
